@media (max-width: $screen-xs-max) {

  .slant-col {
    @include transform(skew(0deg));
    width: 100%;
    float: none;
    &:before {
      content: none;
    }
  }
  .slant-box {
    @include transform(skew(0deg));
    padding: 15px !important;
  }
  .slant-col+.slant-col {
    margin-top: 20px;
  }

}
