//*corporate starts*//
$brand-white:#fff !default;

.brand-white{
  color:$brand-white;
}

.capitalize{
  text-transform: capitalize;
}

.corporate{
  position: relative;
  .banner-info{
    position: absolute;
    top: 150px;
    right: 80px;
    width: 31%;
    .texts{
      font-size: 16px;
    }
    .fees{
      display: block;
      font-size: 16px;
      margin: 20px 0 35px 0;
    }
    .banner-buttons{
      .btn1{
        box-shadow: -3px 3px #000, -3px 0px #000;
        margin: 0 20px 0 10px;
        border:1px solid transparent!important;
          @include transform(skew(10deg));
          span{
            font-size: 20px;
            display: inline-block;
            padding: 2px 24px;
          @include transform(skew(-10deg));
          }
          &:hover{
            color:#000;
            background-color: $brand-green;
          }
      }
      .btn2{
        box-shadow: -3px 3px #000, -3px 0px #000;
        @include transform(skew(10deg));
        border:1px solid transparent!important;
          span{
            font-size: 20px;
            display: inline-block;
            padding: 2px 24px;
          @include transform(skew(-10deg));
          }
          &:hover{
            color:#000;
            background-color: $brand-purple;
          }
      }
    }
  }

}

//*corporate ends*//

//*order starts*//
.form-control{
  border-radius: 4px;
  border: 2px solid #000;
}
.form{
  margin-bottom: 40px;
  .btn1{
    box-shadow: -3px 3px #000, -3px 0px #000;
    border:1px solid transparent!important;
      @include transform(skew(10deg));
      span{
        font-size: 20px;
        display: inline-block;
        padding: 2px 24px;
      @include transform(skew(-10deg));
      }
      &:hover{
        color:#000;
        background-color: $brand-green;
      }
  }

}
//*order ends*//
