//*corporate starts*//
$brand-white:#fff !default;

.brand-white{
  color:$brand-white;
}
.center{
  text-align: center;
}
.capitalize{
  text-transform: capitalize;
}

.corporate{
  position: relative;
  .banner-info{
    position: absolute;
    top: 150px;
    right: 80px;
    width: 31%;
    .texts{
      font-size: 16px;
    }
    .fees{
      display: block;
      font-size: 16px;
      margin: 20px 0 35px 0;
    }
    .banner-buttons{
      .btn1{
        box-shadow: -3px 3px #000, -3px 0px #000;
        margin: 0 20px 0 10px;
        border:1px solid transparent!important;
          @include transform(skew(10deg));
          span{
            font-size: 20px;
            display: inline-block;
            padding: 2px 24px;
          @include transform(skew(-10deg));
          }
          &:hover{
            color:#000;
            background-color: $brand-green;
          }
      }
      .btn2{
        box-shadow: -3px 3px #000, -3px 0px #000;
        @include transform(skew(10deg));
        border:1px solid transparent!important;
          span{
            font-size: 20px;
            display: inline-block;
            padding: 2px 24px;
          @include transform(skew(-10deg));
          }
          &:hover{
            color:#000;
            background-color: $brand-purple;
          }
      }
    }
  }

}

//*corporate ends*//

//*order starts*//

.form{
  margin-bottom: 40px;
  .form-control{
    border-radius: 4px;
    border: 2px solid #000;
  }
  .btn1{
    box-shadow: -3px 3px #000, -3px 0px #000;
    border:1px solid transparent!important;
      @include transform(skew(10deg));
      span{
        font-size: 20px;
        display: inline-block;
        padding: 2px 24px;
      @include transform(skew(-10deg));
      }
      &:hover{
        color:#000;
        background-color: $brand-green;
      }
  }

}
//*order ends*//

//*menu starts*//

.smaaash-cities{
  width: 40%;
  height: auto;
  background-image: url(../img/nav/bgblue.png);
  background-size: cover;
  h2{
    text-shadow: 1px 1px black, -1px 0px black, 0px -1px black, -1px -1px black, 0px 1px black , 1px 0px black,-1px 1px black,1px -1px black;
    padding-top: 15px;
  }
  .city-types{
    padding: 10px 0 40px 0;
   }
   li{
     display: inline-block;
     list-style-type: none;
     margin: 10px;
    }
}



.list{ margin-left: 5px;}

.nav-name{
  padding: 25px;
  background-color: pink;
  a{
    text-shadow: 1px 1px black, -1px 0px black, 0px -1px black, -1px -1px black, 0px 1px black , 1px 0px black,-1px 1px black,1px -1px black;
    color: $brand-white;
    font-size: 20px;
    font-family: $body-font;
  }
}


//*menu ends*//
