//*corporate starts*//
$brand-white:#fff !default;

.brand-white{
  color:$brand-white;
}
.center{
  text-align: center;
}
.capitalize{
  text-transform: capitalize;
}

.brand-orange{
  background-color: #E62D09;
}
.brand-sachin{
  background-color: #008244;
}
.margin0{
  margin: 0;
}
.corporate{
  position: relative;
  margin-top: -40px;
  .banner-info{
    position: absolute;
    top: 150px;
    right: 80px;
    width: 31%;
    .texts{
      font-size: 16px;
    }
    .fees{
      display: block;
      font-size: 16px;
      margin: 20px 0 35px 0;
    }
    .banner-buttons{
      .btn1{
        box-shadow: -3px 3px #000, -3px 0px #000;
        margin: 0 20px 0 10px;
        border:1px solid transparent!important;
          @include transform(skew(10deg));
          span{
            font-size: 20px;
            display: inline-block;
            padding: 2px 24px;
          @include transform(skew(-10deg));
          }
          &:hover{
            color:#000;
            background-color: $brand-green;
          }
      }
      .btn2{
        box-shadow: -3px 3px #000, -3px 0px #000;
        @include transform(skew(10deg));
        border:1px solid transparent!important;
          span{
            font-size: 20px;
            display: inline-block;
            padding: 2px 24px;
          @include transform(skew(-10deg));
          }
          &:hover{
            color:#000;
            background-color: $brand-purple;
          }
      }
    }
  }

}

//*corporate ends*//

//*order starts*//

.form{
   margin-bottom: 40px;
  .form-control{
    border-radius: 8px;
    border: 2px solid #000;
    height: 40px;
  }
  .btn1{
    box-shadow: -3px 3px #000, -3px 0px #000;
    border:1px solid transparent!important;
      @include transform(skew(10deg));
      span{
        font-size: 20px;
        display: inline-block;
        padding: 2px 24px;
      @include transform(skew(-10deg));
      }
      &:hover{
        color:#000;
        background-color: $brand-green;
      }
  }

}

.slanting-row {
    overflow: hidden;
    margin-bottom: 20px;
  }
.slanting-col{
  position: relative;
  float: left;
}

.comic-pane{
  width: 600px;
  height: 220px;
  top: 60px;
  position: relative;
  margin: 0px auto;
  overflow: hidden;
}
.comic-image{
  width: 30%;
    height: 141px;
    position: absolute;
    left: 14px;
    transform: skew(10deg);
    background-color: #008443;
    border: 2px solid #000;
    z-index: 1;
}
.comic-image:before{
  content: "";
  dislay: block;
  position: absolute;
  height: 137px;
  width: 60px;
  left: -14px;
  top: 2px;
  transform: skew(-10deg);
  background: #008443;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
}
.cimg{
  display: block;
    transform: skew(-10deg);
    width: 135px;
    height: 135px;
    position: absolute;
    left: 0;
    bottom: 0;
  img{
    max-height: 100%;
  }
}
.text{
    width: 62%;
    height: 142px;
    right: 15px;
    top: 0;
    transform: skew(10deg);
    position: absolute;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
.info{
  transform: skew(-10deg);
}
  }
  .text:before{
    content: "";
    dislay: block;
    position: absolute;
    height: 142px;
    width: 60px;
    right: -14px;
    top: -2px;
    transform: skew(-10deg);
    border-right: 2px solid #000;
    border-top: 2px solid #000;
  }

.info{
  p{
    font-family: $head-font;
    font-weight: 600;
    font-size: 16px;
  }
}
.confirm-order{
  .comic-pane{
    width: 100%;
        height: 220px;
        top: 60px;
        position: relative;
        margin: 0px auto;
        overflow: hidden;
  }
}

//*order ends*//

//*menu starts*//

.smaaash-cities {
  width: 460px;
  height: auto;
  background-image:url(../img/nav/bgblue.png);
  background-size: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  @include transform(translate(-50%, -50%));

  h2{
    text-shadow: 1px 1px black, -1px 0px black, 0px -1px black, -1px -1px black, 0px 1px black , 1px 0px black,-1px 1px black,1px -1px black;
    padding-top: 15px;
  }
  .city-types{
    padding: 10px 0 15px 0;
   }
   li{
     display: inline-block;
     list-style-type: none;
     margin: 10px;
    }
}



.list {
  margin-left: 0;
  padding: 0;
  text-align: center;
}
.smaaash-menu{
  margin-top: -60px;
  a{
  display: block;
  }
}
.nav-name{
  padding: 25px;
  text-align: center;
  font-family: $body-font;
  background-image: -webkit-linear-gradient(#edef90 50%, #37d028);
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

//*menu ends*//

//*explore starts*//
.gaming,.smaaash-gaming{
  margin: 10px;
  transform: skew(-5deg);
  overflow: hidden;
  .anti-scew{
    transform: skew(5deg);
  }
  .straight{
    h2{
    margin: 15px 10px;
    height: 58px;
    overflow: hidden;
}
    }
  }

.gaming:before{
      content: "";
      width: 50px;
      height: 100%;
      position: absolute;
      left: -15px;
      transform: skew(5deg);
      background-color: $brand-blue;
    }
    .gaming{
      &.brand-red{
        &:before{
          background-color: $brand-red;
        }
      }
    }
    .gaming{
      &.brand-darkblue{
        &:before{
          background-color: $brand-darkblue;
        }
      }
    }
    .gaming{
      &.brand-red{
        &:before{
          background-color: $brand-red;
        }
      }
    }
    .gaming{
      &.brand-blue{
        &:before{
          background-color: $brand-blue;
        }
      }
    }

.smash-gaming{
  .gaming{
    margin: 10px;
    transform: skew(-5deg);
    overflow: hidden;
    .anti-scew{
      transform: skew(5deg);
    }
  }

  .gaming:before{
    content: "";
    width: 50px;
    height: 100%;
    position: absolute;
    left: 329px;
    transform: skew(5deg);
    background-color: #2a3890;

  }
  .gaming{
    &.brand-purple{
      &:before{
        background-color: $brand-purple;
      }
    }
  }

  .gaming{
    &.brand-green{
      &:before{
        background-color: $brand-green;
      }
    }
  }
}

//*explore ends*//

//* *//
.bg{
  background-image: url("../img/karting/kartingbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -40px;
}

.backg{
  background-image: url("../img/navbg/expole.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -40px;
}
//**//

//*menu*//

.smaash-menu,.smaaash-menu{ background-color: $brand-white; }

.bg-prop{
  background-repeat: no-repeat;
  background-size: contain;
}

.promotions{ background-image: url("../img/navbg/promotions.png"); }

.registration{ background-image: url("../img/navbg/Registration.png"); }

.buy{ background-image: url("../img/navbg/buy.png"); }

.cart{ background-image: url("../img/navbg/mycart.png"); }

.account{ background-image: url("../img/navbg/myaccount.png"); }

.log{ background-image: url("../img/navbg/login.png"); }

.exploring{ background-image: url("../img/navbg/explores.png"); }

.food{ background-image: url("../img/navbg/food.png"); }

.deals{ background-image: url("../img/navbg/deals.png"); }

.events{ background-image: url("../img/navbg/events.png"); }

.starts{background-image: url("../img/navbg/starts.png"); }

.host{ background-image: url("../img/navbg/host.png"); }

//*menu*//

//*karting*//
.kartings,.articles{
  .slant-row{
    margin-top: 15px;
    overflow: hidden;
  }
  .slant-col{
    transform: skew(-10deg);
    position: relative;
    width: 35%;
    float: left;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    &:before{
      content: "";
      transform: skew(10deg);
      width: 15%;
      height: 100%;
      position: absolute;
      left: 0px;
      top: -2px;
      border-left: 2px solid #000;
      border-top: 2px solid #000;
}

    }
  .full-height {
    height: 350px;
    overflow: hidden;
}
.slant-box{
  transform: skew(10deg);
   padding: 15px 15px 0;
   margin: 30px 0 0 20px;
}
}

.slant-column{
  transform: skew(-10deg);
    position: relative;
    width: 63%;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    border-top: 2px solid #000;
      .slant-box{
        transform: skew(10deg);
      }
      .half-height {
       height: 350px;
}
.slant-ins:before {
content: "";
transform: skew(10deg);
width: 15%;
height: 100%;
position: absolute;
right: 0;
top: 2px;
border-right: 2px solid #000;
border-bottom: 2px solid #000;
}
}

// .karting1{
//   .slant-row{
//     margin-top: 15px;
//     overflow: hidden;
//   }
//   .slant-col{
//     transform: skew(10deg);
//     position: relative;
//     width: 35%;
//     float: left;
//     border-bottom: 2px solid #000;
//     border-right: 2px solid #000;
//     border-top: 2px solid #000;
//     &:before{
//       content: "";
//       transform: skew(-10deg);
//       width: 15%;
//       height: 100%;
//       position: absolute;
//       left: 0px;
//       top: -2px;
//       border-left: 2px solid #000;
//       border-top: 2px solid #000;
// }
//
//     }
//   .full-height {
//     height: 350px;
//     overflow: hidden;
// }
// .slant-box{
//   transform: skew(-10deg);
//    padding: 15px 15px 0;
//    margin: 30px 0 0 20px;
// }
// }
//
// .slant-column{
//   transform: skew(10deg);
//     position: relative;
//     width: 63%;
//     border-bottom: 2px solid #000;
//     border-left: 2px solid #000;
//     border-top: 2px solid #000;
//       .slant-box{
//         transform: skew(-10deg);
//       }
//       .half-height {
//        height: 350px;
// }
// .slant-ins:before {
// content: "";
// transform: skew(-10deg);
// width: 15%;
// height: 100%;
// position: absolute;
// right: 0;
// top: 2px;
// border-right: 2px solid #000;
// border-bottom: 2px solid #000;
// }
// }


//*karting*//
