//*corporate starts*//
$brand-white:#fff !default;

.brand-white{
  color:$brand-white;
}
.center{
  text-align: center;
}
.capitalize{
  text-transform: capitalize;
}

.corporate{
  position: relative;
  .banner-info{
    position: absolute;
    top: 150px;
    right: 80px;
    width: 31%;
    .texts{
      font-size: 16px;
    }
    .fees{
      display: block;
      font-size: 16px;
      margin: 20px 0 35px 0;
    }
    .banner-buttons{
      .btn1{
        box-shadow: -3px 3px #000, -3px 0px #000;
        margin: 0 20px 0 10px;
        border:1px solid transparent!important;
          @include transform(skew(10deg));
          span{
            font-size: 20px;
            display: inline-block;
            padding: 2px 24px;
          @include transform(skew(-10deg));
          }
          &:hover{
            color:#000;
            background-color: $brand-green;
          }
      }
      .btn2{
        box-shadow: -3px 3px #000, -3px 0px #000;
        @include transform(skew(10deg));
        border:1px solid transparent!important;
          span{
            font-size: 20px;
            display: inline-block;
            padding: 2px 24px;
          @include transform(skew(-10deg));
          }
          &:hover{
            color:#000;
            background-color: $brand-purple;
          }
      }
    }
  }

}

//*corporate ends*//

//*order starts*//

.form{
   margin-bottom: 40px;
  .form-control{
    border-radius: 4px;
    border: 2px solid #000;
  }
  .btn1{
    box-shadow: -3px 3px #000, -3px 0px #000;
    border:1px solid transparent!important;
      @include transform(skew(10deg));
      span{
        font-size: 20px;
        display: inline-block;
        padding: 2px 24px;
      @include transform(skew(-10deg));
      }
      &:hover{
        color:#000;
        background-color: $brand-green;
      }
  }

}

.slanting-row {
    overflow: hidden;
    margin-bottom: 20px;
  }
.slanting-col{
  position: relative;
  float: left;
}

.comic-pane{
  width: 600px;
  height: 220px;
  top: 60px;
  position: relative;
  margin: 0px auto;
  overflow: hidden;
}
.comic-image{
    width: 161px;
    height: 130px;
    position: absolute;
    left: 37px;
    transform: skew(10deg);
    background-color: $brand-green;
    border: 2px solid #000;
    z-index: 1;
}
.comic-image:before{
    content: "";
    dislay: block;
    position: absolute;
    height: 126px;
    width: 60px;
    left: -13px;
    top: 2px;
    transform: skew(-10deg);
    background: #32b544;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
}
.cimg{
  background-image: url("../img/confirm/Sachingreen.png");
  background-size: cover;
  display: block;
  transform: skew(-10deg);
  width: 145px;
  height: 118px;
  position: absolute;
  left: -11px;
  background-repeat: no-repeat;
  bottom: 0;
}
.text{
    width: 290px;
    height: 133px;
    right: 100px;
    top: 0;
    transform: skew(10deg);
    position: absolute;
    background-color: pink;
    border: 2px solid #000;
.info{
  transform: skew(-10deg);
}
  }
  .text:before{
    content: "";
    dislay: block;
    position: absolute;
    height: 131px;
    width: 60px;
    right: -14px;
    top: -2px;
    transform: skew(-10deg);
    background: pink;
    border-right: 2px solid #000;
    border-top: 2px solid #000;
  }
//*order ends*//

//*menu starts*//

.smaaash-cities {
  width: 460px;
  height: auto;
  background-image:url(../img/nav/bgblue.png);
  background-size: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  @include transform(translate(-50%, -50%));

  h2{
    text-shadow: 1px 1px black, -1px 0px black, 0px -1px black, -1px -1px black, 0px 1px black , 1px 0px black,-1px 1px black,1px -1px black;
    padding-top: 15px;
  }
  .city-types{
    padding: 10px 0 15px 0;
   }
   li{
     display: inline-block;
     list-style-type: none;
     margin: 10px;
    }
}



.list {
  margin-left: 0;
  padding: 0;
  text-align: center;
}
.smaaash-menu{
  a{
  display: block;
  }
}
.nav-name{
  padding: 25px;
  font-family: $body-font;
  background-image: -webkit-linear-gradient(#edef90 50%, #37d028);
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

//*menu ends*//

//*explore starts*//
.gaming,.smaaash-gaming{
  margin: 10px;
  transform: skew(-5deg);
  overflow: hidden;
  .anti-scew{
    transform: skew(5deg);
  }
}
.gaming:before{
      content: "";
      width: 50px;
      height: 100%;
      position: absolute;
      left: -15px;
      transform: skew(5deg);
      background-color: $brand-blue;
    }
    .gaming{
      &.brand-red{
        &:before{
          background-color: $brand-red;
        }
      }
    }
    .gaming{
      &.brand-darkblue{
        &:before{
          background-color: $brand-darkblue;
        }
      }
    }
    .gaming{
      &.brand-red{
        &:before{
          background-color: $brand-red;
        }
      }
    }
    .gaming{
      &.brand-blue{
        &:before{
          background-color: $brand-blue;
        }
      }
    }

.smash-gaming{
  .gaming{
    margin: 10px;
    transform: skew(-5deg);
    overflow: hidden;
    .anti-scew{
      transform: skew(5deg);
    }
  }

  .gaming:before{
    content: "";
    width: 50px;
    height: 100%;
    position: absolute;
    left: 329px;
    transform: skew(5deg);
    background-color: #2a3890;

  }
  .gaming{
    &.brand-purple{
      &:before{
        background-color: $brand-purple;
      }
    }
  }

  .gaming{
    &.brand-green{
      &:before{
        background-color: $brand-green;
      }
    }
  }
}

//*explore ends*//

//*
