//*corporate starts*//
$brand-white:#fff !default;

.brand-white{
  color:$brand-white;
}
.center{
  text-align: center;
}
.capitalize{
  text-transform: capitalize;
}

.brand-orange{
  background-color: #E62D09;
}
.brand-sachin{
  background-color: #008244;
}

.brand-black{
  background-color: #000;
}

.margin0{
  margin: 0;
}
.margintop{
  margin-top: -15px;
}
.margin33{
  margin-top: 33px;
}
.corporate{
  position: relative;
  margin-top: -40px;
  .banner-info{
    position: absolute;
    top: 150px;
    right: 80px;
    width: 31%;
    .texts{
      font-size: 16px;
      letter-spacing: 1px;
    }
    .fees{
      display: block;
      font-size: 16px;
      margin: 20px 0 0 0;
    }
    .banner-buttons{
      margin-top: 35px;
      .btn1{
        box-shadow: -3px 3px #000, -3px 0px #000;
        margin: 0 20px 0 10px;
        border:1px solid transparent!important;
          @include transform(skew(10deg));
          span{
            font-size: 20px;
            display: inline-block;
            padding: 2px 24px;
          @include transform(skew(-10deg));
          }
          &:hover{
            color:#000;
            background-color: $brand-green;
            outline: 0;
          }
          &:active{
            color:#000;
            background-color: $brand-green;
              outline: 0;
          }
          &:focus{
            color:#000;
            background-color: $brand-green;
              outline: 0;
          }
          .fa{
            margin: 0 0px 0 10px;
          }
      }
      .btn2{
        box-shadow: -3px 3px #000, -3px 0px #000;
        @include transform(skew(10deg));
        border:1px solid transparent!important;
          span{
            font-size: 20px;
            display: inline-block;
            padding: 2px 24px;
          @include transform(skew(-10deg));
          }
          &:hover{
            color:#000;
            background-color: $brand-purple;
              outline: 0;
          }
          &:active{
            color:#000;
            background-color: $brand-purple;
              outline: 0;
          }
          &:focus{
            color:#000;
            background-color: $brand-purple;
              outline: 0;
          }
      }
      .fa{
        margin: 0 0px 0 10px;
      }

    }
  }

}

//*corporate ends*//
.pads20{
  padding: 20px 0 0;
}
.heigh{
height: 400px;
}
//kitty starts//
.prewedding,.birthday,.kitty{
  position: relative;
  margin-top: -40px;
  .banner-info{
    position: absolute;
    top: 150px;
    right: 80px;
    width: 31%;
    .texts{
      font-size: 16px;
      letter-spacing: 1px;
    }

    .banner-buttons{
       margin-top:35px;
      .btn1{
        box-shadow: -3px 3px #000, -3px 0px #000;
        margin: 0 20px 0 10px;
        border:1px solid transparent!important;
          @include transform(skew(10deg));
          span{
            font-size: 20px;
            display: inline-block;
            padding: 2px 24px;
          @include transform(skew(-10deg));
          }
          &:hover{
            color:#000;
            background-color: $brand-green;
            outline: 0;
          }
          &:active{
            color:#000;
            background-color: $brand-green;
              outline: 0;
          }
          &:focus{
            color:#000;
            background-color: $brand-green;
              outline: 0;
          }
              .fa{
                margin: 0 0px 0 10px;
              }
      }
      .btn2{
        box-shadow: -3px 3px #000, -3px 0px #000;
        @include transform(skew(10deg));
        border:1px solid transparent!important;
          span{
            font-size: 20px;
            display: inline-block;
            padding: 2px 24px;
          @include transform(skew(-10deg));
          }
          &:hover{
            color:#000;
            background-color: $brand-purple;
              outline: 0;
          }
          &:active{
            color:#000;
            background-color: $brand-purple;
              outline: 0;
          }
          &:focus{
            color:#000;
            background-color: $brand-purple;
              outline: 0;
          }
          .fa{
            margin: 0 0px 0 10px;
          }
      }
    }
  }

}

//kitty ends//
//host a aprty starts//
.hosting{
  .straight{
    .wedding{
      height: 79px;
      text-transform: uppercase;
    color: #fff;
    font-size: 38px;
    font-family: "American Purpose";
    }
  }
}
//host a aparty ends//
//*order starts*//

.form{
   margin-bottom: 40px;
  .form-control{
    border-radius: 8px;
    border: 2px solid #000;
    height: 40px;
  }
  .btn1{
    box-shadow: -3px 3px #000, -3px 0px #000;
    border:1px solid transparent!important;
      @include transform(skew(10deg));
      span{
        font-size: 20px;
        display: inline-block;
        padding: 2px 24px;
      @include transform(skew(-10deg));
      }
      &:hover{
        color:#000;
        background-color: $brand-green;
        outline: 0;
      }
      &:focus{
        color:#000;
        background-color: $brand-green;
              outline: 0;
      }
  }
.btn-default:active{
  color:#000;
  background-color: $brand-green;
        outline: 0;
}
}

.slanting-row {
    overflow: hidden;
    margin-bottom: 20px;
  }
.slanting-col{
  position: relative;
  float: left;
}

.comic-pane{
  width: 600px;
  height: 220px;
  top: 60px;
  position: relative;
  margin: 0px auto;
  overflow: hidden;
}
.comic-image{
  width: 30%;
    height: 141px;
    position: absolute;
    left: 14px;
    transform: skew(10deg);
    background-color: #008443;
    border: 2px solid #000;
    z-index: 1;
}
.comic-image:before{
  content: "";
  dislay: block;
  position: absolute;
  height: 137px;
  width: 60px;
  left: -14px;
  top: 2px;
  transform: skew(-10deg);
  background: #008443;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
}
.cimg{
  display: block;
    transform: skew(-10deg);
    width: 135px;
    height: 135px;
    position: absolute;
    left: 0;
    bottom: 0;
  img{
    bottom: 0;
max-height: 100%;
position: absolute;
  }
}
.text{
    width: 62%;
    height: 142px;
    right: 15px;
    top: 0;
    transform: skew(10deg);
    position: absolute;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
.info{
  transform: skew(-10deg);
}
  }
  .text:before{
    content: "";
    dislay: block;
    position: absolute;
    height: 142px;
    width: 60px;
    right: -14px;
    top: -2px;
    transform: skew(-10deg);
    border-right: 2px solid #000;
    border-top: 2px solid #000;
  }

.info{
  p{
    font-family: $head-font;
    font-weight: 600;
    font-size: 16px;
  }
}
.confirm-order{
  .comic-pane{
    width: 100%;
        height: 220px;
        top: 60px;
        position: relative;
        margin: 0px auto;
        overflow: hidden;
  }
}

//*order ends*//

//*menu starts*//

.smaaash-cities {
  width: 460px;
  height: auto;
  background-image:url(../img/nav/bgblue.png);
  background-size: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  @include transform(translate(-50%, -50%));

  h2{
    text-shadow: 1px 1px black, -1px 0px black, 0px -1px black, -1px -1px black, 0px 1px black , 1px 0px black,-1px 1px black,1px -1px black;
    padding-top: 15px;
  }
  .city-types{
    padding: 10px 0 15px 0;
   }
   li{
     display: inline-block;
     list-style-type: none;
     margin: 10px;
     position: relative;
    }
    .tick{
      position: absolute;
      right: 10px;
      top: 20px;
    }
}



.list {
  margin-left: 0;
  padding: 0;
  text-align: center;
}
.smaaash-menu{
  margin-top: -20px;
  a{
  display: block;
  }
}
.nav-name {
  margin: 0;
  padding: 25px;
  font-size: 36px;
  text-align: center;
  font-family: $body-font;
  margin: 0;
padding: 25px;
font-size: 36px;
text-align: center;
color: #edef90;
text-shadow: 2px 2px #000;
  @include text-stroke(2,#000);
}
.nav-names{
  padding: 15px;
}
.nav-naming {
  span { display: block;
   }
}
// .navi{
//   margin-right: 10px;
//   padding: 25px 0;
//   text-align: center;
//   font-family: $body-font;
//   background-image: -webkit-linear-gradient(#edef90 50%, #37d028);
//   -webkit-background-clip: text;
//   color: transparent;
//   -webkit-text-stroke-width: 1px;
//   -webkit-text-stroke-color: #000;
// }
//*menu ends*//

//*explore starts*//
.games{
  .margin60{
      margin-top: -60px;
  }
}

.play-butn{
  height: 40px;
    width: 40px;
    bottom: 25px;
    position: absolute;
    left: 60px;
}
.gaming,.smaaash-gaming{
  margin: 5px;
  transform: skew(-3deg);
  overflow: hidden;
  .anti-scew{
    transform: skew(3deg);
  }
  .straight{
    h2{
    margin: 15px 10px;
    height: 58px;
    overflow: hidden;
}
    }
  }

.gaming:before{
      content: "";
      width: 50px;
      height: 100%;
      position: absolute;
      left: -18px;
      transform: skew(3deg);
      background-color: $brand-blue;
    }
    .gaming{
      &.brand-red{
        &:before{
          background-color: $brand-red;
        }
      }
    }
    .gaming{
      &.brand-darkblue{
        &:before{
          background-color: $brand-darkblue;
        }
      }
    }
    .gaming{
      &.brand-red{
        &:before{
          background-color: $brand-red;
        }
      }
    }
    .gaming{
      &.brand-blue{
        &:before{
          background-color: $brand-blue;
        }
      }
    }

.smash-gaming{
  .gaming{
    margin: 5px;
    transform: skew(-3deg);
    overflow: hidden;
    .anti-scew{
      transform: skew(3deg);
    }
  }


  .gaming:before{
    content: "";
    width: 55px;
    height: 100%;
    position: absolute;
    left: 329px;
    transform: skew(3deg);
    background-color: #2a3890;

  }
  .gaming{
    &.brand-purple{
      &:before{
        background-color: $brand-purple;
      }
    }
  }

  .gaming{
    &.brand-green{
      &:before{
        background-color: $brand-green;
      }
    }
  }
}

//*explore ends*//

//* *//
.bg{
  background-image: url("../img/karting/kartingbg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: -8px;
  .nav-name{
    padding: 35px 0 0;
    font-size: 30px;
    height: 80px;
  }
}

.backg{
  background-image: url("../img/navbg/expole.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: -8px;
  .nav-name{
    padding: 35px 0 0;
    font-size: 30px;
    height: 80px;
  }
}
.kart-bg{
    background-image: url("../img/karting/kartingbg.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
    margin-top: 0px;
    height: 100px;
      margin-top: 0px;
  .nav-name{
    padding: 35px 0 0;
    font-size: 30px;
    height: 80px;
  }
}
//**//

//*menu*//

.smaash-menu {
  background-color: $brand-white;
  height: 0;
  overflow: hidden;
  @include transition(all 300ms ease);
}
.menu-opened {
  .smaash-menu {
    height: 250px;
  }
  .woman-menu {
    img {
      @include transform(rotate(180deg) scaleX(-1));
    }
  }
}
.bg-prop{
  background-repeat: no-repeat;
  background-size: cover;
  height: 120px;
}
.facebook{
  height: 460px;
    width: 100%;
    overflow: hidden;
}
.wdget{
  height: 400px;
  padding: 0 10px;
  overflow-y: scroll;
}
.landing-banner {
    position: relative;
    background-image: url("../img/home/landing-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .iner-banner {
        max-width: 1170px;
        @include position(absolute,20px 0 20px 0);
        background-image: url("../img/home/mbanner.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        margin: 0 auto;
    }
}
.margin5{
  margin-top: 5px;
}
.promotions{ background-image: url("../img/navbg/image2.png"); }

.registration{ background-image: url("../img/navbg/image1.png"); }

.buy{ background-image: url("../img/navbg/image9.png"); }

.cart{ background-image: url("../img/navbg/image7.png"); }

.account{ background-image: url("../img/navbg/image5.png"); }

.log{ background-image: url("../img/navbg/image3.png"); }

.exploring{ background-image: url("../img/navbg/image8.png"); }

.food{ background-image: url("../img/navbg/image4.png"); }

.deals{ background-image: url("../img/navbg/image6.png"); }

.events{ background-image: url("../img/navbg/image10.png"); }

.starts{background-image: url("../img/navbg/image11.png"); }

.host{ background-image: url("../img/navbg/image12.png"); }

//*menu*//

//*karting*,*about*//
.kartings,.articles{
  .slant-row{
    margin-top: 15px;
    overflow: hidden;
  }
  .slant-col{
    transform: skew(-10deg);
    position: relative;
    width: 35%;
    float: left;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    &:before{
      content: "";
      transform: skew(10deg);
      width: 34px;
      height: 235px;
      position: absolute;
      left: 0px;
      top: -2px;
      border-left: 2px solid #000;
      border-top: 2px solid #000;
}

    }
  .full-height {
    height: 203px;
    overflow: hidden;
}
.slant-box{
  transform: skew(10deg);
   padding: 15px 15px 0;
   margin: 30px 0 0 30px;

   h2{
     font-size: 18px;
   }
   p{
     font-size: 13px;
   }
   h3{
     font-size: 16px;
     margin: 0;
   }
}


.slant-column{
  transform: skew(-10deg);
    position: relative;
    width: 63%;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    border-top: 2px solid #000;
      .slant-box{
        transform: skew(10deg);
      }
      .half-height {
       height: 203px;
}
&:before {
  content: "";
      transform: skew(10deg);
      width: 34px;
      height: 235px;
      position: absolute;
      right: 0;
      top: 0;
      border-right: 2px solid #000;
      border-bottom: 2px solid #000;
}
}
}
.articles .slant-box {
    transform: skew(10deg);
    padding: 15px 30px 0;
    margin: 30px 0 0 30px;
}
.karting1{
  .slant-row{
    margin-top: 15px;
    overflow: hidden;
  }
  .slant-col{
    transform: skew(-10deg);
    position: relative;
    width: 63%;
    float: left;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    &:before{
      content: "";
      transform: skew(10deg);
      top: -2px;
      border-left: 2px solid #000;
      width: 35px;
      height: 237px;
      position: absolute;
      border-top: 2px solid #000;
      top: -2px;
      left: 0px;
}

    }
  .full-height {
    height: 203px;
    overflow: hidden;
}
.slant-box{
  transform: skew(10deg);
   padding: 0 15px 0;
   margin: 30px 0 0 30px;

   h2{
     font-size: 18px;
   }
   p{
     font-size: 13px;
   }
   h3{
     font-size: 16px;
     margin: 0;
   }
}
}
.slant-column{
  transform: skew(-10deg);
    position: relative;
    width: 35%;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    border-top: 2px solid #000;
      .slant-box{
        transform: skew(10deg);
      }
      .half-height {
       height: 203px;
}
&:before {
  content: "";
      transform: skew(10deg);
      width: 34px;
      height: 235px;
      position: absolute;
      right: 0;
      top: 0;
      border-right: 2px solid #000;
      border-bottom: 2px solid #000;
}
}
.slant-box{
  p{
    font-weight: 600;
    text-align: justify;
  }
  h3{
    margin: 10px 0 0 0;
  }
}

.gallery{
  border: 2px solid #000;
    margin-bottom: 15px;
  .slidings{
  margin: 60px 20px 0;
    .flex-control-nav,
    .flex-prev {
      display: none;
    }
    .flexslider{
       margin-bottom: 20px;
    }
    .flex-next{
      display: block;
      height: 50px;
      width: 50px;
    }
  .flex-direction-nav a.flex-next:before{
    content: "";
    @include square(100%);
    background: url("../img/home/arrow.png")no-repeat;
    background-size: contain;
  }
  }
}

//*karting,*about**//

.owner{
  height: 233px;
  margin-top: -27px;
  margin-left: -19px;
  background-image: url("../img/karting/About.png");
  // background-image: url("../img/karting/man.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f6e9fd;
  background-position: 0 -31px;
}

.purple-butn{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #662D91;
  position: absolute;
  bottom: 15px;
  left: 50%;
  text-align: center;
  line-height: 12px;
  padding-top: 15px;
  text-transform: uppercase;
  font-size: 12px;
  font-family: $body-font;
  cursor: pointer;
  box-shadow: 2px 2px 0px #340d51;
    span{
      color: #fff;
      .fa{
        display: block;
      }
    }
}
// .articles{
//   .slant-col:before{
//       background-color: #f6e9fd;
//   }
// }

.articles{
  .slant-col{
    &.brand-black{
    &:before{
      background-color: #000;
    }
  }
}
}

.articles{
  .slant-col{
    &.brand-orange{
    &:before{
      background-color: #E62D09;
    }
  }
}
}

.articles{
  .slant-col{
    &.brand-sachin{
    &:before{
      background-color: #008244;
    }
  }
}
}
.articles{
  .owners{
    margin-left: 4px;
    margin-right: 18px;
    margin-top: 28px;
  }
}


// .sach{
//   background-image: url("../img/karting/smile.png");
//   background-repeat: no-repeat;
//   background-size: cover;
// }
//
