@charset "UTF-8";
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
/* Bootstrap Variables Goes Here */
$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
$brand-purple: #9c1d62 !default;
$brand-blue: #29a8df!default;
$brand-green: #32b544!default;
$brand-pink: #ea2b7c!default;
$brand-red: #ea1c22!default;
$brand-darkblue: #2a3890!default;
$brand-yellow: #FFEF01!default;
$brand-orange:#fc5626!default;
$brand-purblu:#642c91!default;
$brand-greenblu:#01a69a !default;
$brand-purply:#662d91 !default;
$brand-bluey:#293685!default;
$brand-orangy:#fc5626 !default;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@font-face {
    font-family: "American Purpose";
    src: url("../fonts/AmericanPurpose.ttf");
}
@font-face {
    font-family: "Galano Grotesque";
    src: url("../fonts/GalanoGrotesque.otf");
}
@mixin text-stroke ($width, $color) {
  $negwidth: -$width;
  text-shadow: $negwidth+px $negwidth+px 0 $color, $width+px $negwidth+px 0 $color, $negwidth+px $width+px 0 $color, $width+px $width+px 0 $color;
}
$body-font: "American Purpose"!default;
$head-font: "Galano Grotesque"!default;
body {
    font-family: $head-font;
}
.fixed-pad {
    padding-top: 50px;
}
.fix-hidden {
  display: none;
}
.show-header {
  .fix-hidden {
    display: block;
  }
}
.title {
    font-family: $body-font;
}
.title-text {
    font-family: $head-font;
}
.uppercase {
    text-transform: uppercase;
}
.brand-green {
    background-color: $brand-green;
}
.brand-blue {
    background-color: $brand-blue;
}
.brand-orangy{
  background-color: $brand-orangy;
}
.brand-ortitle {
    color: #FB5627;
}
.cdsROW.narrow .cdsLocName {
    opacity: 0;
}
.tripadvisor-reviews{
  img{
    opacity: 1 !important;
  }

}
.brand-red {
    background-color: $brand-red;
}
.brand-pink {
    background-color: $brand-pink;
}
.brand-darkblue {
    background-color: $brand-darkblue;
}
.brand-purple {
    background-color: $brand-purple;
}
.brand-yellow {
    background-color: $brand-yellow;
}
.brand-purblu{
  background-color: $brand-purblu;
}
.brand-greenblu{
  background-color: $brand-greenblu;
}
.brand-purply{
  background-color: $brand-purply;
}
.relative {
    position: relative;
}
.inline-block {
    display: inline-block;
}

.greeny{
  color:$brand-green;
}

.mt10{
  margin-top: 10px;
}
.height80{
  height: 80px !important;
}
.he{
  height: 340px;
}
.heights{
  height: 190px;
}
.min-h{
  min-height: 60px;
}
img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}
img {
    opacity: 0;
    @include transition(all 300ms ease);
}
img.doneLoading {
    opacity: 1;
}
nav li:hover .dropdown-menu {
    display: block;
}
.resize {
    resize: none;
}
.btn,
a {
    cursor: pointer;
    text-decoration: none !important;
    @include transition(all ease 300ms);
}
//bootstrap forms
.btn,
.form-control,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn,
.input-lg {
    border-radius: 0;
    @include box-shadow(none);
}
.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    @include box-shadow(none);
}
//bootstrap forms
/* Start writing sass here */
//*main banner starts*//
.landing-banner {
    position: relative;
    background-image: url("../img/home/landing-bg.jpg");
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center;
    .inner-banner {
        max-width: 1170px;
        @include position(absolute,20px 0 20px 0);
        background-image: url("../img/home/virat.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        margin: 0 auto;
    }
}

//*main banner ends*//
//*slider starts *//
$menu-height: 80px !default;
.dropdowns {
    height: $menu-height;
    position: relative;
    background-image: url("../img/home/menu-bg.png");
    background-size: 100% 100%;
    z-index: 3;
    background-position: left;
    background-repeat: no-repeat;
    &.affix {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999;
    }
    .cities {
        background-color: $brand-purple;
        @include transform(skew(15deg));
        @include position(absolute,52px null null 5px);
        box-shadow: -3px 3px #000, -3px 0 #000;
        padding: 8px 25px;
        cursor: pointer;
        span {
            @include transform(skew(-15deg));
            display: block;
            font-family: $body-font;
            color: white;
            font-size: 16px;
            text-shadow: 1px 1px black, -1px 0 black, 0 -1px black, -1px -1px black, 0 1px black , 1px 0 black,-1px 1px black,1px -1px black;
        }
    }
    .menu {
        @include position(absolute,0 80px null null);
        cursor: pointer;
        img {
            height: $menu-height - 5px;
            width: auto;
        }
    }
    .woman-menu {
        @include position(absolute,0 0 null null);
        height: $menu-height - 5px;
        cursor: pointer;
        img {
            width: auto;
            height: 100%;
        }
    }
}
.smaash-drops {
    margin-bottom: 0;
    position: relative;
    .slidings {
        .custom-pagination {
            @include position(absolute,null 20px 32px null);
            margin: 0;
            li {
                float: left;
                padding: 10px;
                cursor: pointer;
                list-style: none;
                line-height: 1.42857;
                text-decoration: none;
                color: #000;
                font-weight: 700;
                background-color: #fff;
                box-shadow: 2px -2px #000, 2px -1px #000;
                @include transform(skew(-10deg));
                @include transition(all 300ms ease);
                margin: 0 5px;
                border-radius: 0;
                &.flex-active,
                &:active,
                &:hover {
                    background-color: $brand-red;
                    color: white;
                }
                &.flex-active {
                    padding: 12.5px 10px;
                    margin-top: -5px;
                    margin-bottom: -5px;
                }
            }
        }
        .flexslider {
            margin: 0;
            border: none;
        }
    }
}
.padding20 {
    padding: 20px;
}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
}
.backdroped {
    .cross {
        width: 30px;
        height: 30px;
        color: #fff;
        @include position(absolute,10px 0 null null);
        text-shadow: 1px 1px black, -1px 0 black, 0 -1px black, -1px -1px black, 0 1px black , 1px 0 black,-1px 1px black,1px -1px black;
    }
}
//*slider ends*//
//*slant1 row first starts*//
.slant1 {
    margin-bottom: 15px;
    .comic-pane {
        width: 578px;
        height: 417px;
        position: relative;
        margin: 0 auto;
        overflow: hidden;
    }
    .text {
        width: 524px;
        max-height: 507px;
        height: 419px;
        padding-right: 28px;
        @include position(absolute,null null null-2px);
        @include transform(skew(-15deg));
        box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
        z-index: 1;
        figure {
            @include transform(skew(15deg));
            margin-top: 8px;
        }
    }
    .text:before {
        content: "";
        width: 60px;
        height: 200px;
        border-left: 1px solid rgba(0,0,0,0.05);
        dislay: block;
        @include position(absolute,null null null-27px);
        @include transform(skew(15deg));
        background: $brand-green;
        -webkit-backface-visibility: hidden;
    }
    .text p {
        width: 260px;
        margin: 15px 0 0 -30px;
        @include transform(skew(15deg));
        color: #fff;
        font-size: 30px;
        line-height: 1.2em;
    }
    .comic-panes {
        width: 649px;
        height: 417px;
        margin: 0 auto;
        position: relative;
        left: -62px;
        overflow: hidden;
        @include transform(skew(-15deg));
    }
    .images {
        width: 50%;
    }
    .text1 {
        width: 510px;
        max-height: 507px;
        height: 208px;
        padding-right: 28px;
        @include position(absolute,null null null 29px);
        box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
        z-index: 1;
        figure {
            @include transform(skew(15deg));
            margin: -7% 0 0 12%;
        }
    }
    .text1 p {
        width: 260px;
        margin: 15px 0 0 16px;
        @include transform(skew(15deg));
        color: #fff;
        font-size: 30px;
        line-height: 1.2em;
    }
    .text1:before {
        content: "";
        width: 60px;
        height: 208px;
        border-left: 1px solid transparent!important;
        dislay: block;
        @include position(absolute,null-27px null null);
        @include transform(skew(15deg));
        background: $brand-blue;
        -webkit-backface-visibility: hidden;
    }
    .text2 {
        width: 570px;
        max-height: 507px;
        height: 208px;
        padding-right: 28px;
        @include position(absolute,55% null null 29px);
        box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
        z-index: 1;
        figure {
            @include transform(skew(15deg));
            margin: 0 0 0 25%;
        }
    }
    .text2 p {
        width: 260px;
        margin: 15px 0 0 16px;
        @include transform(skew(15deg));
        color: #fff;
        font-size: 30px;
        line-height: 1.2em;
    }
    .text2:before {
        content: "";
        height: 208px;
        width: 60px;
        border-left: 1px solid transparent!important;
        dislay: block;
        @include position(absolute,null-27px null null);
        @include transform(skew(15deg));
        background: $brand-darkblue;
        -webkit-backface-visibility: hidden;
    }
}
.slant1 {
    .comic-panes {
        .text1,
        .text2 {
            .slidings {
                .flexslider {
                    background-color: $brand-blue;
                    border: none;
                }
                .flex-control-nav,
                .flex-prev {
                    display: none;
                }
                .slides {
                    li {
                        @include transform(skew(10deg));
                        margin: 0 38px;
                    }
                }
                .flex-direction-nav a {
                    width: 80px;
                    height: 75px;
                }
                .flex-direction-nav a:before {
                    width: 80px;
                    height: 75px;
                    content: url("../img/home/arrow.png");
                }
            }
        }
        .text2 {
            .slidings {
                .flexslider {
                    background-color: $brand-darkblue;
                    border: none;
                }
            }
        }
    }
}
//*slant1 row first ends*//
//*slant2 starts*//
.slant2 {
    position: relative;
    margin-bottom: 15px;
    .comic-pane {
        width: 560px;
        height: 323px;
        top: 0;
        @include transform(skew(-10deg));
        position: absolute;
        overflow: hidden;
    }
    .comic-panes {
        width: 592px;
        height: 417px;
        margin: 0 auto;
        position: relative;
        left: -3px;
        overflow: hidden;
    }
    .games-images {
        display: block;
        width: 558px;
        height: 323px;
        @include position(absolute,0 null null-27px);
        @include transform(skew(10deg));
        background-color: $brand-yellow;
        background-image: url("../img/home/aunty.png");
        background-repeat: no-repeat;
        background-size: cover;
        .arrows {
            width: 10%;
            @include position( absolute,null 0px 32% null);
            @include transform(translate(-50%,-50%));
        }
    }
    .text1 {
        width: 543px;
        max-height: 507px;
        height: 150px;
        padding-right: 28px;
        @include position( absolute,null null null 29px);
        box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
        z-index: 1;
        @include transform(skew(-10deg));
        figure {
            margin: -7% 0 0 12%;
        }
    }
    .text1 p {
        width: 260px;
        margin: 15px 0 0 16px;
        @include transform(skew(10deg));
        color: #fff;
        font-size: 30px;
        line-height: 1.2em;
    }
    .text1:before {
        content: "";
        width: 60px;
        height: 150px;
        border-left: 1px solid transparent!important;
        dislay: block;
        @include position( absolute,null null null-27px);
        @include transform(skew(10deg));
        background: $brand-purple;
        -webkit-backface-visibility: hidden;
    }
    .text2 {
        width: 510px;
        max-height: 507px;
        height: 150px;
        padding-right: 28px;
        @include position( absolute,42% null null 29px);
        box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
        z-index: 1;
        @include transform(skew(-10deg));
        figure {
            @include transform(skew(10deg));
            margin: 0 0 0 12%;
        }
    }
    .text2 p {
        width: 260px;
        margin: 15px 0 0 16px;
        @include transform(skew(10deg));
        color: #fff;
        font-size: 30px;
        line-height: 1.2em;
    }
    .text2:before {
        content: "";
        width: 60px;
        height: 150px;
        border-left: 1px solid transparent!important;
        dislay: block;
        @include position( absolute,null null null-27px);
        @include transform(skew(10deg));
        background: $brand-blue;
        -webkit-backface-visibility: hidden;
    }
}
//*slant2 ends*//
//*slant1 last row starts*//
.slant1 {
    position: relative;
    .comic-pane1 {
        width: 500px;
        height: 417px;
        position: relative;
        margin: 0 auto;
        overflow: hidden;
        left: -36px;
        .social {
            .social-media {
                .fb {
                    width: 45%;
                    margin: 0 auto;
                }
                @include transform(skew(10deg));
            }
            .text {
                width: 524px;
                max-height: 507px;
                height: 419px;
                padding-right: 28px;
                @include position( absolute,null null null-95px);
                @include transform(skew(-10deg));
                box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
                z-index: 1;
                p {
                    margin-left: 75px;
                }
            }
        }
    }
    .comic-panes1 {
        width: 700px;
        height: 208px;
        margin: 0 auto;
        position: relative;
        left: -140px;
        overflow: hidden;
        @include transform(skew(-10deg));
        .social-media {
            .twitter {
                width: 90%;
                margin: 40px 0;
            }
            @include transform(skew(10deg));
        }
        .text1 {
            width: 616px;
            max-height: 507px;
            height: 208px;
            padding-right: 28px;
            @include position( absolute,null null null 29px);
            box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
            z-index: 1;
            p {
                width: 260px;
                margin: 15px 0 0 16px;
                @include transform(skew(10deg));
                color: #fff;
                font-size: 30px;
                line-height: 1.2em;
            }
        }
        .text1:before {
            content: "";
            width: 60px;
            height: 208px;
            border-left: 1px solid transparent !important;
            dislay: block;
            position: absolute;
            right: -27px;
            @include position( absolute,null-27px null null);
            @include transform(skew(10deg));
            background: $brand-pink;
        }
    }
    .comic-paness {
        width: 740px;
        height: 195px;
        margin: 0 auto;
        position: relative;
        left: -177px;
        overflow: hidden;
        @include transform(skew(-10deg));
        top: 14px;
        .social-media {
            .instagram {
                width: 90%;
                margin: 0 10px;
            }
            @include transform(skew(10deg));
        }
        .text2 {
            width: 630px;
            max-height: 507px;
            height: 208px;
            padding-right: 28px;
            @include position( absolute,0px null null 29px);
            box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
            z-index: 1;
        }
        .text2:before {
            content: "";
            height: 195px;
            width: 68px;
            border-left: 1px solid transparent !important;
            dislay: block;
            @include position( absolute,null-49px null null);
            @include transform(skew(10deg));
            background: $brand-red;
        }
    }
}
//*slant1 last row ends*//
.social-medias {
    margin-top: -80px;
}
.flex-control-nav {
    width: 100%;
    @include position( absolute,null null 39% null);
    text-align: center;
    z-index: 3;
}
.block {
    margin-left: 15px;
    display: block;
}
.logo-smaash {
    position: absolute;
    top: 10px;
    z-index: 999;
    left: 20px;
    height: $menu-height - 10px;
    // display: inline-block;
    // margin-top: 10px;
    img {
        width: auto;
        height: 100%;
    }
}
.content {
    min-height: 450px;
}
.btns {
    border-color: $brand-purple;
    background-color: $brand-purple;
    color: #fff;
    font-size: 14px;
}
.butns {
    border: transparent!important;
    color: #fff;
    background-color: transparent;
    background-image: url("../img/home/menus.png");
    background-repeat: no-repeat;
    font-size: 14px;
}
.arrow-down {
    @include position( absolute,null null 13% 48%);
    color: #fff;
    font-size: 17px;
    span {
        display: block;
        text-align: center;
    }
    &:hover {
        color: #000;
    }
}
.arrow {
    margin-top: -17px;
    display: block;
    color: #fff;
    font-size: 34px;
    text-shadow: -6px 0 #000;
}
.buttons {
    width: 10%;
    position: absolute;
    bottom: 3%;
    left: 42%;
    @include transform(translate(-50%,-50%));
}
.arrows {
    width: 10%;
    position: absolute;
    right: -6%;
    bottom: 32%;
    @include transform(translate(-50%,-50%));
}
.width {
    width: 85%;
    margin: 0 auto;
}
.drop-text {
    display: inline-block;
    font-size: 34px;
    letter-spacing: 1px;
    @include transform(skew(-15deg));
    text-shadow: -6px 0 #000;
}
.menus {
    font-size: 34px;
    letter-spacing: 1px;
    text-shadow: 4px 4px #000;
}
.btn-group.open .dropdown-toggle {
    box-shadow: none;
}
.rows {
    @include display(flex);
}
.cols1 {
    @include flex (1);
}
// .twitter-wdget{
//    .wdget{
//     overflow: hidden!important;
//   }
// }
//*home page ends*//
.social-media {
    margin-bottom: 15px;
    h2 {
        padding: 10px;
        font-family: "American Purpose";
        font-size: 30px;
        margin: 0;
        color: #fff;
    }
}
//*footer starts*//
.footers {
    background-color: black;
    background-image: url("../img/home/footbg.png");
}
.footers-list {
    padding: 40px 0;
}
.foot {
    padding: 5px;
    margin: 0;
    @include display(flex);
}
.col-flexing {
    flex: 1;
    display: block;
    width: 100%;
    +.col-flexing {
        padding-left: 5px;
    }
}
.foot-list {
    padding: 0;
    .bold {
        margin: 0 0 10px;
        color: #fff;
        font-size: 14px;
        text-transform: uppercase;
    }
    li {
        list-style-type: none;
        line-height: 180%;
        a {
            font-family: $head-font;
            color: #666;
            text-decoration: none;
            font-size: 12px;
            display: inline-block;
            &:hover {
                color: #fff;
            }
        }
        img {
            width: 100%;
        }
    }
}
.foots-list {
    padding: 15px 0;
    border-top: 1px solid #333;
    li {
        padding-left: 0;
        padding-right: 0;
        list-style-type: none;
        margin: 0 5px;
        font-family: $head-font;
        text-decoration: none;
        color: #666;
        font-size: 12px;
        cursor: default;
        a {
            color: #666;
            &:hover {
                color: #fff;
            }
        }
    }
}
.ting {
    display: inline-block;
}
.icons {
    margin: 0 5px 5px 0;
    display: inline-block;
}
.hash {
    font-size: 12px;
    color: #666;
    &:hover {
        color: #fff;
    }
}
.foot-cards {
    img {
        width: auto;
        height: 24px;
    }
}
.justified-li {
    display: table;
    width: 100%;
    margin: 0;
    padding: 0;
    li {
        display: table-cell;
    }
}
.slant-row {
    overflow: hidden;
    margin-bottom: 15px;
}
.slant-col {
    @include transform(skew(-15deg));
    position: relative;
    width: 49%;
    float: left;
    &:before {
        content: "";
        @include transform(skew(15deg));
        width: 50%;
        height: 100%;
        @include position( absolute,null null null 0);
    }
    &.brand-green {
        &:before {
            background-color: $brand-green;
        }
    }
    &.brand-blue {
        &:before {
            background-color: $brand-blue;
        }
    }
}
.slant-in {
    position: relative;
    +.slant-in {
        margin-top: 20px;
    }
    &:before {
        content: "";
        @include transform(skew(15deg));
        width: 50%;
        height: 100%;
        @include position(absolute,null -20% null null);
    }
    &.brand-blue {
        &:before {
            background-color: $brand-blue;
        }
    }
    &.brand-darkblue {
        &:before {
            background-color: $brand-darkblue;
        }
    }
    &.brand-pink {
        &:before {
            background-color: $brand-pink;
        }
    }
    &.brand-red {
        &:before {
            background-color: $brand-red;
        }
    }
    .slant-box {
        padding: 15px 7% 0;
        .slidings {
            .flexslider {
                background: transparent;
                border-color: transparent;
                .flex-control-nav,
                .flex-direction-nav .flex-prev {
                    display: none;
                }
                .flex-next {
                    display: block;
                    height: 50px;
                    width: 50px;
                }
                .flex-direction-nav a.flex-next:before {
                    content: "";
                    @include square(100%);
                    background: url("../img/home/arrow.png")no-repeat;
                    background-size: contain;
                }
            }
        }
    }
}
.know {
    display: block;
    color: #fff;
    position: absolute;
    top: 70%;
    left: 30%;
    transform: translate(-50%,-50%);
    &:hover {
        color: $brand-yellow;
    }
}
.slant-box {
    @include transform(skew(15deg));
    padding: 15px 15px 0;
    h2 {
        font-family: $body-font;
        font-size: 30px;
        margin: 0;
    }
    .mover {
        width: 90%;
        @include position( absolute,null null null 0);
        display: block;
    }
}
.reverse,.reversed,.reversing {
    .mover {
        right: 0;
        left: auto;
    }
    .slant-col {
        z-index: 1;
        &:before {
            content: "";
            @include transform(skew(15deg));
            position: absolute;
            width: 50%;
            height: 100%;
            right: -20%;
            left: auto;
            z-index: 0;
        }
        .rays {
            background-image: url('../img/home/yellow-rays.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            @include position( absolute,0 0 0 0);
        }
        &.brand-yellow {
            &:before {
                background-color: $brand-yellow;
            }
        }
    }
    .slant-in {
        &.brand-blue {
            &:before {
                left: -20%;
            }
        }
        &.brand-green {
            &:before {
                content: "";
                @include transform(skew(15deg));
                width: 50%;
                height: 100%;
                position: absolute;
                left: -20%;
                background-color: $brand-green;
            }
        }
        &.brand-purply{
          &:before {
              content: "";
              @include transform(skew(15deg));
              width: 50%;
              height: 100%;
              position: absolute;
              left: -20%;
              background-color: $brand-purply;
          }
        }
    }
    .form{
      .form-group{
        width: 80%;
        margin: 30px 0 0;
      }
      button{
        border-radius: 6px;
        padding: 10px 20px;
        border: 1px solid #000;
        margin: 0 10px;
        &:hover{
          background-color: $brand-green;
        }
        &:active{
          background-color: $brand-green;
        }
        &:focus{
          outline: 0;
        }
    }
    }
}

.reversing{
  .slant-box{
    .mover{
        @include position( absolute,null 20px null null);
    }
  }
}

.full-height {
    height: 442px;
    overflow: hidden;
}
.half-height {
    height: 211px;
    overflow: hidden;
    .wdget {
        overflow: auto;
        height: 150px;
    }
}
.backdroped {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.35);
}
.mover,.colored-slider {
    .flexslider {
        background-color: transparent;
        border: none;
        margin: 0;
        .flex-control-nav,
        .flex-direction-nav .flex-prev {
            display: none;
        }
        .flex-next {
            display: block;
            height: 50px;
            width: 50px;
        }
        .flex-direction-nav a.flex-next:before {
            content: "";
            @include square(100%);
            background: url("../img/home/arrow.png")no-repeat;
            background-size: contain;
        }
    }
}


.colored-slider{
  .slides{
    li{
          margin: 0px 10px 0px 0px!important;
    }
  }

}
.form-group {
    position: relative;
}
.error-msg {
    padding: 10px;
    background-color: #FFFACF;
    border: 2px solid black;
    position: absolute;
    z-index: 9;
    top: 45px;
    right: 9px;
    border-radius: 5px;
    &:before {
        content: "";
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid black;
        position: absolute;
        right: 5px;
        top: -7px;
    }
}
.footers-list {
    .ng-cloak,
    .ng-hide:not(.ng-hide-animate),
    .x-ng-cloak,
    [data-ng-cloak],
    [ng-cloak],
    [ng\:cloak],
    [x-ng-cloak] {
        display: block !important;
    }
    .icon {
        @include square(15px);
        border-radius: 100%;
        line-height: 10px;
        background-color: #ccc;
        text-align: center;
        display: none;
    }
    .fa-angle-down.fa-angle-up:before {
        content: "\f106";
    }
}
//*footer ends*//
.landing-kartbanner {
    position: relative;
    background-image: url("../img/home/landing-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -38px;
    min-height: 767px;
    .karting-banner {
        max-width: 1170px;
        @include position(absolute,20px 0 20px 0);
        background-image: url("../img/karting/Banner.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        margin: 0 auto;
    }
}
img.fancybox-image {
    opacity: 1;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
#axis,#axe{
   transition: all 900ms ease;
}
#axis:hover .rotate360cw{
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
}
#axe:hover .transform{
   transform: translate(0px,-5px);
}
.side-menu {
    width: 650px;
    position: fixed;
    top: 35%;
    right : -450px;
    z-index: 99999;
}
.menu-in {
    transform: translateX(-450px);
    transition: all .3s linear;
}

.menu-out {
    transform: translateX(250px);
    transition: all .3s linear;
}

.checker{
  margin: 0 10px;
  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
  }
  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-size: 18px;
  }

  /* checkbox aspect */
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0px;
    left:0;
    padding: 10px;
    border: 1px solid #aaa;
    background: #f8f8f8;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
  }
  /* checked mark aspect */
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    top: 5px; left: 4px;
    font-size: 18px;
    line-height: 0.8;
    color: #000;
    transition: all .2s;
  }
  /* checked mark aspect changes */
  [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }
  [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }
}
//leadership
.leadership{
  img{
    margin: 0 auto;
  }
}
.enquiry-form{
  padding: 20px;
  textarea{
    resize: none;
    height: 70px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #000;
    padding: 5px;
    &:focus{
      outline: 0;
    }
  }
}
.pointer{
  cursor: pointer;
}
@import "fancybox-override";
@import "ruchira";
@import "mobile";
