@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
/* Bootstrap Variables Goes Here */
$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
$brand-purple:#9c1d62!default;
$brand-blue:#29a8df!default;
$brand-green:#32b544!default;
$brand-pink:#ea2b7c!default;
$brand-red:#ea1c22!default;
$brand-darkblue:#2a3890!default;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@font-face {
  font-family: "American Purpose";
  src: url("../fonts/American Purpose.ttf");
}
@font-face {
  font-family: "GalanoGrotesque";
  src: url("../fonts/Galano Grotesque.otf");
}

.title{
  font-family: "American Purpose";
}
.title-text{
  font-family: "GalanoGrotesque";
}
.uppercase{
  text-transform: uppercase;
}
.brand-green{
  background-color: $brand-green;
}
.brand-blue{
  background-color: $brand-blue;
}
.brand-red{
  background-color:$brand-red;
}
.brand-pink{
    background-color:$brand-pink;
}
.brand-darkblue{
    background-color:$brand-darkblue;
}





// @mixin skew ($x, $y) {
//    @include transform(skew(#{$x}deg, #{$y}deg));
// }
body {
  padding-top: 70px;
}
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
nav li:hover .dropdown-menu {
  display: block;
}
a, .btn {
  cursor: pointer;
  @include transition(all ease 300ms);
}
//bootstrap forms
.input-lg,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn,
.btn,
.form-control {
  border-radius: 0;
  @include box-shadow(none);
}
.form-control:focus {
  border-color: $brand-primary;
  outline: 0;
  @include box-shadow(none);
}
//bootstrap forms
/* Start writing sass here */
// body {
//   color: #616161;
//   font: 1.4em Helvetica;
//   font-weight: 200;
//   background: #FAFAFA;
//    -webkit-backface-visibility: hidden;
// }
.flex-rows{
margin-top: -19px;
}
.flexslider{
  border:none;
}
.flex-banner{
  position: relative;
  background-image:url("../img/home/bg.png") ;
  background-size: cover;
}
.logos{
  position: absolute;
    top: 35%;
    left: 50%;
  @include transform(translate(-50%,-50%));
}
.smaash-drops{
  position: relative;
  height: 850px;
}

.woman-menu{
  img{
    width: 95%;
   margin-top: 7px;
}
  }


.welcomes{
  color: #fff;
  font-size: 70px;
  position: absolute;
  top: 58%;
  left: 50%;
  @include transform(translate(-50%,-50%));
    font-weight: 600;
    letter-spacing: 2px;
}
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: 39%;
    text-align: center;
    z-index: 3;
}
.block{
  display: block;
  margin-left: 15px;
}
// .comic-pane{
//   display: flex;
//   width: 600px;
//   height: 300px;
//     transform: skew(-15deg);
//   background-color: $brand-success;
// }
.flex-direction-nav { display: none; }

.logo-smaash{
  display: inline-block;
    margin-left: 7%;
}
.slidings{
  position: absolute;
    top: 70px;
}
.content{
  margin-top: -70px;
}
// .text{
//   width: 600px;
//   height: 300px;
// }
.pink-button{
  position: absolute;
    left: 50%;
    bottom: 27%;
    .pink{
      width: 60%;
    }
}
.btns{
  color: #fff;
  font-size: 14px;
  background-color:$brand-purple;
  border-color:$brand-purple;
}
.butns{
  color: #fff;
  background-color: transparent;
  border: transparent!important;
  font-size: 14px;
  background-image: url("../img/home/menus.png");
  background-repeat: no-repeat;
}
.menu{
  margin-right: 14%;
  .btn{
    padding: 35px 37px;
  }
}
.cities{
  @include transform(skew(15deg));
  position: absolute;
  right: 24%;
  box-shadow: -8px 7px #000;
.btn{
  padding: 8px 20px;
}
.arrow{
  display: inline-block;
      margin-left: 5px;
      transform: skew(-15deg);
      text-shadow: -10px 0px #000;
}
}
.dropdowns{
  position: relative;
  background-image: url("../img/home/bgs.png");
  background-size: cover;
    height: 143px;
    z-index: 3;
}
.woman-menu{
  position: absolute;
    right: 5%;
    top: -5px;
}
.arrow-down{
  color: #fff;
    position: absolute;
    bottom: 13%;
    left: 48%;
    font-size: 17px;
    span{
      display: block;
      text-align: center;
    }
    &:hover{
      color: #000;
    }
}
  .arrow{
    color: #fff;
    display: block;
    margin-top: -17px;
    font-size: 34px;
    text-shadow: -6px 0px #000;
  }

.comic-pane{
  position: relative;
  width: 600px;
  height: 417px;
}
// .sachinss{
//   position: absolute;
// }

 .width{
   width: 85%;
     margin: 0 auto;
}
.cities{
  .dropdown-menu{
    transform: skew(-14deg);
  }
}
.menu{
  .dropdown-menu{
    transform: none;
  }
}
.cities,.menu{
  .btn:hover{
   color:transparent!important;
  }
}
.drop-text{
transform: skew(-15deg);
    display: inline-block;
    font-size: 34px;
    letter-spacing: 1px;
    text-shadow: -6px 0px #000;
}

.menus{
    font-size: 34px;
    letter-spacing: 1px;
    text-shadow: 4px 4px #000;
}

.btn-group.open .dropdown-toggle{
  box-shadow: none;
}


.comic-pane {
  width: 600px;
      height: 417px;
      position: relative;
      margin: 0px auto;
      overflow: hidden;
}

.text {
  width: 530px;
max-height: 507px;
height: 419px;
position: absolute;
padding-right: 28px;
left: -2px;
transform: skew(-15deg);
box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
z-index: 1;
figure{
  transform: skew(15deg);
}
}

.rows{
  display: flex;
}
.cols1{
  flex: 1;
}

.text:before {
  content: "";
  dislay: block;
  position: absolute;
  height: 200px;
  width: 60px;
  left: -27px;
  transform: skew(15deg);
  background: $brand-green;
  border-left: 1px solid rgba(0,0,0,0.05);
   -webkit-backface-visibility: hidden;
}

.text p {
  width: 260px;
      line-height: 1.2em;
      margin-top: 15px;
      margin-left: -30px;
      transform: skew(15deg);
      color: #fff;
      font-size: 30px;
  }

  .comic-panes {
    width: 600px;
height: 417px;
position: relative;
margin: 0px auto;
overflow: hidden;
left: -40px;
        }

.images{
  width: 50%;
}

  .text1 {
    width: 550px;
    max-height: 507px;
    height: 208px;
    position: absolute;
    padding-right: 28px;
    left: 29px;
    transform: skew(-15deg);
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  figure{
    transform: skew(15deg);
    margin-left: 12%;
    margin-top: -7%;
  }
  }

.text1 p{
  width: 260px;
      line-height: 1.2em;
      margin-top: 15px;
      margin-left: 16px;
      transform: skew(15deg);
      color: #fff;
      font-size: 30px;
}
.text1:before {
  content: "";
    dislay: block;
    position: absolute;
    height: 208px;
    width: 60px;
    right: -27px;
    transform: skew(15deg);
    background: #29a8df;
  border-left: 1px solid transparent!important;
   -webkit-backface-visibility: hidden;
}
.text2 {
  width: 550px;
  max-height: 507px;
  height: 208px;
  position: absolute;
  padding-right: 28px;
  left: 29px;
  top:55%;
  transform: skew(-15deg);
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
figure{
  transform: skew(15deg);
      margin-left: 12%;
      margin-top: 0%;
}
}

.text2 p{
  width: 260px;
      line-height: 1.2em;
      margin-top: 15px;
      margin-left: 16px;
      transform: skew(15deg);
      color: #fff;
      font-size: 30px;
}

.text2:before {
  content: "";
    dislay: block;
    position: absolute;
    height: 208px;
    width: 60px;
    right: -27px;
    transform: skew(15deg);
    background: $brand-darkblue;
  border-left: 1px solid transparent!important;
   -webkit-backface-visibility: hidden;
}

.footers{
  background-image: url("../img/home/footer.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.foot{
  display: flex;
  padding: 0;
  margin: 0;
}
.col-flexing{
  flex: 1;
    display: block;
    padding: 5px;
    width: 100%;
}

.foot-list{
      margin-top: 3%;
  li{
    list-style-type: none;
    a{
      font-family: "GalanoGrotesque";
      color: #666;
      text-decoration: none;
      &:hover{
          color: #fff;
      }
    }
  }
}
.bold{
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
}
.foots-list{
  li{
    list-style-type: none;
      font-family: "GalanoGrotesque";
      color: #fff;
      text-decoration: none;
      font-size: 16px;
      &:hover{
          color: #fff;
    }
  }
}
.ting{
  display: inline-block;
}
.footers-list{
  margin: 4% 2%;
}

@import "fancybox-override";
