@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
/* Bootstrap Variables Goes Here */
$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
$brand-purple: #9c1d62!default;
$brand-blue: #29a8df!default;
$brand-green: #32b544!default;
$brand-pink: #ea2b7c!default;
$brand-red: #ea1c22!default;
$brand-darkblue: #2a3890!default;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@font-face {
    font-family: "American Purpose";
    src: url("../fonts/American Purpose.ttf");
}
@font-face {
    font-family: "GalanoGrotesque";
    src: url("../fonts/Galano Grotesque.otf");
}
.title {
    font-family: "American Purpose";
}
.title-text {
    font-family: "GalanoGrotesque";
}
.uppercase {
    text-transform: uppercase;
}
.brand-green {
    background-color: $brand-green;
}
.brand-blue {
    background-color: $brand-blue;
}
.brand-red {
    background-color: $brand-red;
}
.brand-pink {
    background-color: $brand-pink;
}
.brand-darkblue {
    background-color: $brand-darkblue;
}
.brand-purple {
    background-color: $brand-purple;
}
// @mixin skew ($x, $y) {
//    @include transform(skew(#{$x}deg, #{$y}deg));
// }
body {
    padding-top: 70px;
}
img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}
img {
    opacity: 0;
    @include transition(all 300ms ease);
}
img.doneLoading {
    opacity: 1;
}
nav li:hover .dropdown-menu {
    display: block;
}
.btn,
a {
    cursor: pointer;
    @include transition(all ease 300ms);
}
//bootstrap forms
.btn,
.form-control,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn,
.input-lg {
    border-radius: 0;
    @include box-shadow(none);
}
.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    @include box-shadow(none);
}
//bootstrap forms
/* Start writing sass here */
// body {
//   color: #616161;
//   font: 1.4em Helvetica;
//   font-weight: 200;
//   background: #FAFAFA;
//    -webkit-backface-visibility: hidden;
// }
.flex-rows {
    margin-top: -19px;
}
.flexslider {
    border: none;
}
.flex-banner {
    position: relative;
    background-image: url("../img/home/bg.png");
    background-size: cover;
}
.logos {
    position: absolute;
    top: 35%;
    left: 50%;
    @include transform(translate(-50%,-50%));
}
.smaash-drops {
    height: 630px;
    position: relative;
}
.woman-menu {
    img {
        width: 95%;
        margin-top: 7px;
    }
}
.welcomes {
    position: absolute;
    top: 58%;
    left: 50%;
    @include transform(translate(-50%,-50%));
    color: #fff;
    font-weight: 600;
    font-size: 70px;
    letter-spacing: 2px;
}
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: 39%;
    text-align: center;
    z-index: 3;
}
.block {
    margin-left: 15px;
    display: block;
}
// .comic-pane{
//   display: flex;
//   width: 600px;
//   height: 300px;
//     transform: skew(-15deg);
//   background-color: $brand-success;
// }
.flex-direction-nav {
    display: none;
}
.logo-smaash {
    margin-left: 7%;
    display: inline-block;
}
.slidings {
    position: absolute;
    top: 70px;
}
.content {
    margin-top: -70px;
}
.pink-button {
    position: absolute;
    bottom: 27%;
    left: 50%;
    .pink {
        width: 60%;
    }
}
.btns {
    border-color: $brand-purple;
    background-color: $brand-purple;
    color: #fff;
    font-size: 14px;
}
.butns {
    border: transparent!important;
    color: #fff;
    background-color: transparent;
    background-image: url("../img/home/menus.png");
    background-repeat: no-repeat;
    font-size: 14px;
}
.menu {
    margin-right: 12%;
    .btn {
        padding: 35px 37px;
    }
}
.cities {
    @include transform(skew(15deg));
    position: absolute;
    right: 24%;
    box-shadow: -8px 7px #000;
    .btn {
        padding: 8px 20px;
    }
    .arrow {
        margin-left: 5px;
        display: inline-block;
        transform: skew(-15deg);
        text-shadow: -10px 0 #000;
    }
}
.dropdowns {
    height: 143px;
    position: relative;
    background-image: url("../img/home/bgs.png");
    background-size: cover;
    z-index: 3;
}
.woman-menu {
    position: absolute;
    top: -22px;
    right: 0;
}
.arrow-down {
    position: absolute;
    bottom: 13%;
    left: 48%;
    color: #fff;
    font-size: 17px;
    span {
        display: block;
        text-align: center;
    }
    &:hover {
        color: #000;
    }
}
.arrow {
    margin-top: -17px;
    display: block;
    color: #fff;
    font-size: 34px;
    text-shadow: -6px 0 #000;
}
.slant1,
.slant3 {
    margin-bottom: 15px;
    .comic-pane {
        width: 600px;
        height: 417px;
        position: relative;
        margin: 0 auto;
        overflow: hidden;
    }
    .text {
        width: 530px;
        max-height: 507px;
        height: 419px;
        padding-right: 28px;
        position: absolute;
        left: -2px;
        transform: skew(-15deg);
        box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
        z-index: 1;
        figure {
            transform: skew(15deg);
        }
    }
    .text:before {
        content: "";
        width: 60px;
        height: 200px;
        border-left: 1px solid rgba(0,0,0,0.05);
        dislay: block;
        position: absolute;
        left: -27px;
        transform: skew(15deg);
        background: $brand-green;
        -webkit-backface-visibility: hidden;
    }
    .text p {
        width: 260px;
        margin: 15px 0 0 -30px;
        transform: skew(15deg);
        color: #fff;
        font-size: 30px;
        line-height: 1.2em;
    }
    .comic-panes {
        width: 649px;
        height: 417px;
        margin: 0 auto;
        position: relative;
        left: -40px;
        overflow: hidden;
        transform: skew(-15deg);
    }
    .images {
        width: 50%;
    }
    .text1 {
        width: 510px;
        max-height: 507px;
        height: 208px;
        padding-right: 28px;
        position: absolute;
        left: 29px;
        // transform: skew(-15deg);
        box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
        z-index: 1;
        figure {
            // transform: skew(15deg);
            margin: -7% 0 0 12%;
        }
    }
    .text1 p {
        width: 260px;
        margin: 15px 0 0 16px;
        transform: skew(15deg);
        color: #fff;
        font-size: 30px;
        line-height: 1.2em;
    }
    .text1:before {
        content: "";
        width: 60px;
        height: 208px;
        border-left: 1px solid transparent!important;
        dislay: block;
        position: absolute;
        right: -27px;
        transform: skew(15deg);
        background: $brand-pink;
        -webkit-backface-visibility: hidden;
    }
    .text2 {
        width: 570px;
        max-height: 507px;
        height: 208px;
        padding-right: 28px;
        position: absolute;
        top: 55%;
        left: 29px;
        // transform: skew(-15deg);
        box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
        z-index: 1;
        figure {
            transform: skew(15deg);
            margin: 0 0 0 12%;
        }
    }
    .text2 p {
        width: 260px;
        margin: 15px 0 0 16px;
        transform: skew(15deg);
        color: #fff;
        font-size: 30px;
        line-height: 1.2em;
    }
    .text2:before {
        content: "";
        height: 208px;
        width: 60px;
        border-left: 1px solid transparent!important;
        dislay: block;
        position: absolute;
        right: -27px;
        transform: skew(15deg);
        background: $brand-red;
        -webkit-backface-visibility: hidden;
    }
}
.slant1 {
    .text1:before {
        background-color: $brand-blue;
    };
    .text2:before {
        background-color: $brand-darkblue;
    };
}
.slant2 {
    .comic-pane {
        width: 600px;
        height: 417px;
        position: relative;
        margin: 0 auto;
        overflow: hidden;
    }
    .text {
        width: 530px;
        max-height: 507px;
        height: 419px;
        padding-right: 28px;
        position: absolute;
        left: -2px;
        transform: skew(-15deg);
        box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
        z-index: 1;
        figure {
            transform: skew(15deg);
        }
    }
    // .text:before {
    //   content: "";
    //   width: 60px;
    //   height: 200px;
    //   border-left: 1px solid rgba(0,0,0,0.05);
    //   dislay: block;
    //   position: absolute;
    //   left: -27px;
    //   transform: skew(15deg);
    //   -webkit-backface-visibility: hidden;
    // }
    .text p {
        width: 260px;
        margin: 15px 0 0 -30px;
        transform: skew(15deg);
        color: #fff;
        font-size: 30px;
        line-height: 1.2em;
    }
    .comic-panes {
        width: 665px;
        height: 417px;
        margin: 0 auto;
        position: relative;
        left: -40px;
        overflow: hidden;
        transform: skew(-15deg);
    }
    .images {
        width: 50%;
    }
    .text1 {
        width: 510px;
        max-height: 507px;
        height: 208px;
        padding-right: 28px;
        position: absolute;
        left: 29px;
        // transform: skew(-15deg);
        box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
        z-index: 1;
        figure {
            // transform: skew(15deg);
            margin: -7% 0 0 12%;
        }
    }
    .text1 p {
        width: 260px;
        margin: 15px 0 0 16px;
        transform: skew(15deg);
        color: #fff;
        font-size: 30px;
        line-height: 1.2em;
    }
    .text1:before {
        content: "";
        width: 60px;
        height: 208px;
        border-left: 1px solid transparent!important;
        dislay: block;
        position: absolute;
        left: -27px;
        transform: skew(15deg);
        background: $brand-purple;
        -webkit-backface-visibility: hidden;
    }
    .text2 {
        width: 570px;
        max-height: 507px;
        height: 208px;
        padding-right: 28px;
        position: absolute;
        top: 55%;
        left: 29px;
        // transform: skew(-15deg);
        box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
        z-index: 1;
        figure {
            transform: skew(15deg);
            margin: 0 0 0 12%;
        }
    }
    .text2 p {
        width: 260px;
        margin: 15px 0 0 16px;
        transform: skew(15deg);
        color: #fff;
        font-size: 30px;
        line-height: 1.2em;
    }
    .text2:before {
        content: "";
        height: 208px;
        width: 60px;
        border-left: 1px solid transparent!important;
        dislay: block;
        position: absolute;
        left: -27px;
        transform: skew(15deg);
        background: $brand-blue;
        -webkit-backface-visibility: hidden;
    }
}
.width {
    width: 85%;
    margin: 0 auto;
}
.cities {
    .dropdown-menu {
        transform: skew(-14deg);
    }
}
.menu {
    .dropdown-menu {
        transform: none;
    }
}
.cities,
.menu {
    .btn:hover {
        color: transparent!important;
    }
}
.drop-text {
    display: inline-block;
    font-size: 34px;
    letter-spacing: 1px;
    transform: skew(-15deg);
    text-shadow: -6px 0 #000;
}
.menus {
    font-size: 34px;
    letter-spacing: 1px;
    text-shadow: 4px 4px #000;
}
.btn-group.open .dropdown-toggle {
    box-shadow: none;
}
.rows {
    @include display(flex);
}
.cols1 {
    @include flex (1);
}
//*home page ends*//
//*footer starts*//
.footers {
    background-image: url("../img/home/footer.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.foot {
    padding: 0;
    margin: 0;
    @include display(flex);
}
.col-flexing {
    flex: 1;
    display: block;
    padding: 5px;
    width: 100%;
}
.foot-list {
    margin-top: 3%;
    li {
        list-style-type: none;
        line-height: 25px;
        a {
            font-family: "GalanoGrotesque";
            color: #666;
            text-decoration: none;
            &:hover {
                color: #fff;
            }
        }
    }
}
.bold {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}
li.bold.title {
    margin-bottom: 2px;
}
.foots-list {
    padding-top: 15px;
    border-top: 1px solid #333;
    li {
        list-style-type: none;
        margin: 0 3px;
        a {
            font-family: "GalanoGrotesque";
            color: #fff;
            text-decoration: none;
            font-size: 16px;
            &:hover {
                color: #ccc;
            }
        }
    }
}
.ting {
    display: inline-block;
}
.footers-list {
    margin: 4% 2%;
}
.icons {
    margin: 0 5px 5px 0;
    display: inline-block;
}
.hash {
    font-size: 12px;
}
//*footer ends*//
@import "fancybox-override";
