<div class="container">
  <div class="row">
    <div class="articles">
      <div class="smaaash">
    <div class="col-md-4">

    </div>
    <div class="col-md-8">

    </div>
  </div>
  </div>
  </div>
  <div class="row">
    <div class="articles1">
      <div class="chief">
    <div class="col-md-4">

    </div>
    <div class="col-md-8">

    </div>
  </div>
  </div>
  </div>
  <div class="row">
    <div class="articles">
      <div class="ambassador">
    <div class="col-md-4">

    </div>
    <div class="col-md-8">

    </div>
  </div>
  </div>
  </div>
  <div class="row">
    <div class="articles1">
      <div class="adeus">
    <div class="col-md-4">

    </div>
    <div class="col-md-8">

    </div>
  </div>
  </div>
  </div>
  <div class="row">
    <div class="articles">
      <div class="times">
    <div class="col-md-4">

    </div>
    <div class="col-md-8">

    </div>
  </div>
  </div>
  </div>
  <div class="row">
    <div class="articles1">
      <div class="star">
    <div class="col-md-4">

    </div>
    <div class="col-md-8">

    </div>
  </div>
  </div>
  </div>
</div>
