<div class="bg">
  <div class="container">
      <h2 class="nav-name center">about us</h2>
      </div>
    </div>
<div class="container">
  <div class="row">
    <div class="articles">
      <div class="smaaash">

  </div>
  </div>
  <div class="row">
    <div class="articles1">
      <div class="chief">

  </div>
  </div>
  </div>
  <div class="row">
    <div class="articles">
      <div class="ambassador">

  </div>
  </div>
  </div>
  <div class="row">
    <div class="articles1">
      <div class="adeus">

  </div>
  </div>
  </div>
  <div class="row">
    <div class="articles">
      <div class="times">

  </div>
  </div>
  </div>
  <div class="row">
    <div class="articles1">
      <div class="star">

  </div>
  </div>
  </div>
</div>
