<div class="bg">
  <div class="container">
      <h2 class="nav-name center">about us</h2>
      </div>
    </div>
<div class="container">
  <ul class="tabs-about  list-inline">
    <li><a  href="" class="uppercase">about</a></li>
    <li><a ui-sref="leader"  class="uppercase">leader</a></li>
    <li><a ui-sref="benefit" class="uppercase">benefit</a></li>
    <li><a ui-sref="sponsor" class="uppercase">sponsor</a></li>
  </ul>
  <div class="row">
    <div class="articles">
      <div class="slant-row">
          <div class="slant-col brand-black">
              <div class="slant-box full-height">
                <figure>
                  <img src="img/karting/black.png" class="img-responsive" alt="Smaaash">
                </figure>
              </div>
          </div>
          <div class="slant-column pull-right">
                  <div class="slant-box half-height">
                      <h2>smaaash</h2>
                      <p>Brain child of the multi-faceted Mr. Shripal Morakhia, Smaaash offers a lot more than your run-of-the-mill banquet hall and gaming center. It presents an unmatched range of games that offer a superlative virtual-reality experience, and combines the best of sports, music and dining into a highly immersive, interactive, innovative and involved entertainment experience. Smaaash has not only redefined sports entertainment, but also raised the bar for customer engagement. This innovative entertainment and active engagement is what defines Smaaash.</p>
                  </div>
          </div>
      </div>
  </div>
</div>
  <div class="row">
    <div class="articles">
      <div class="slant-row">
          <div class="slant-col">
            <div class="owner">
              <div class="slant-box full-height owners">
                <figure>
                  <!-- <img src="img/karting/man.png" class="img-responsive" alt="Shripal Morakhia"> -->
                </figure>
              </div>
              </div>
          </div>
          <div class="slant-column pull-right">
                  <div class="slant-box half-height">
                      <h2>chief imagination officer</h2>
                      <p>Shripal Morakhia is the founder of SMAAASH Entertainment Pvt. Ltd. and the owner of iDream Production Pvt. Ltd. Mr. Morakhia brings with him rich, top management level corporate experience, acquired while working for renowned companies viz.</p>
                  </div>
          </div>
      </div>
  </div>
  </div>
  <div class="row">
    <div class="articles">
      <div class="slant-row">
          <div class="slant-col brand-sachin">
              <div class="slant-box full-height sach">
                <figure class="margintop">
                  <img src="img/karting/smile.png" class="img-responsive" alt="Sachin">
                </figure>
              </div>
          </div>
          <div class="slant-column pull-right">
                  <div class="slant-box half-height">
                      <h2>brand ambassador</h2>
                      <p>Cricketing legend and icon -
Sachin Tendulkar has been an integral part of the SMAAASH family since its inception in 2012. In his own words, 'The advanced simulators at SMAAASH are fascinating and are very close to the real life experience'</p>
                  </div>
          </div>
      </div>
  </div>
  </div>
  <div class="row">
    <div class="articles">
      <div class="slant-row">
          <div class="slant-col brand-orange">
              <div class="slant-box full-height">
                <figure>
                  <img src="img/karting/fidelis.png" class="img-responsive" alt="Fidelis">
                </figure>
              </div>
          </div>
          <div class="slant-column pull-right">
                  <div class="slant-box half-height">
                      <h2>fidelis world</h2>
                      <p>A Mauritius-based private equity fund that has acquired a significant minority stake in the Mumbai based Smaaash Entertainment Pvt. Ltd. The fund is led by Anand S. Krishnan, who has earlier been a managing director at JP Morgan in the Americas and Asia.</p>
                  </div>
          </div>
      </div>
  </div>
  </div>
  <div class="row">
    <div class="articles">
      <div class="slant-row">
          <div class="slant-col">
              <div class="slant-box full-height">
                <figure class="margin60">
                  <img src="img/karting/times.png" class="img-responsive" alt="The Times of India">
                </figure>
              </div>
          </div>
          <div class="slant-column pull-right">
                  <div class="slant-box half-height">
                      <h2>the times of india</h2>
                      <p>India's premier daily newspaper and part of the prestigious Times Group. The Times of India is not only the most widely read English newspaper in India, but is also the largest-selling English-language daily in the world.</p>
                  </div>
          </div>
      </div>
  </div>
  </div>
  <div class="row">
    <div class="articles">
      <div class="slant-row">
          <div class="slant-col">
              <div class="slant-box full-height">
                <figure>
                  <img src="img/karting/star.png" class="img-responsive" alt="Star Sports">
                </figure>
              </div>
          </div>
          <div class="slant-column pull-right">
                  <div class="slant-box half-height">
                      <h2>star sports</h2>
                      <p>Leader in sports broadcasting throughout Asia. The COO, Star India -Sanjay Gupta said, 'SMAAASH demonstrates creativity and innovation at its best - principles that form the very core that drives Star. That innovation has meant that SMAAASH is quickly emerging as THE sports entertainment destination among today's youth.</p>
                  </div>
          </div>
      </div>
  </div>
  </div>
</div>
