<div class="accounts">
<div class="bg">
  <div class="container">
      <h2 class="nav-name center ">My Account</h2>
      </div>
    </div>
      <div class="container">
        <!-- <div class="table-responsive"> -->
        <table class="table ">
          <thead>
            <tr>
              <th class="text-center uppercase ">transaction id</th>
              <th class="text-center  uppercase ">order price</th>
              <th class="text-center uppercase ">order created at</th>
              <th class="text-center uppercase ">status</th>
            </tr>
          </thead>
          <tr>
    <td class="text-center border-left">1467634552</td>
    <td class="text-center"><span class="rupees"><i class="fa fa-inr" aria-hidden="true"></i></span>800</td>
    <td class="text-center">04 Mar 2016 11:10 AM</td>
    <td class="text-center border-right">Pending</td>
  </tr>
  <tr>
    <td class="text-center border-left">1468915588</td>
    <td class="text-center"><span class="rupees"><i class="fa fa-inr" aria-hidden="true"></i></span>10</td>
    <td class="text-center">04 Jul 2016 12:15 PM</td>
    <td class="text-center border-right">Duplicated</td>
  </tr>
  <tr>
    <td class="text-center border-left">1468915588</td>
    <td class="text-center"><span class="rupees"><i class="fa fa-inr" aria-hidden="true"></i></span>1089</td>
    <td class="text-center">19 Jul 2016 08:06 AM</td>
    <td class="text-center border-right">Open</td>
  </tr>
        </table>
      </div>
      <!-- </div> -->
      </div>
