<div class="attractions deals2">
  <div class="backg-deal">
    <div class="container">
      <h2 class="nav-name center">attractions</h2>
    </div>
  </div>
  <div class="forms brand-blue">
    <div class="container">
      <div class="search-green">
        <input type="text" class="form-control" placeholder="Search" ng-model="filter.search">
        <div class="microscope">
          <img src="img/new/bino.png" class="img-responsive" alt="" ng-click="goTOSearch(filter)">
        </div>
      </div>
      <div class="game-type inline-block">
        <a href=""><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
        <select class="form-control" ng-model="filter.gameFor" ng-change="goTOSearch(filter)">
               <option ng-selected="true" value="0">Suitable For</option>
               <option value="1">Male</option>
               <option value="2">Female</option>
               <option value="3">Children</option>
            </select>
      </div>
      <div class="game-type inline-block">
        <a href=""><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
        <select class="form-control" ng-model="filter.gameType" ng-change="goTOSearch(filter)">
               <option ng-selected="true" value="0">GameType </option>
               <option value="1">All</option>
               <option value="2">VR</option>
               <option value="3">Sports</option>
               <option value="4">Arcade</option>
               <option value="5">Others</option>
            </select>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="new">
        <div ng-if="msg" class="text-center">No Options Available As Per Your Criteria.</div>
      <div class="row" ng-repeat="data in singleAttraction1">
        <div class="col-md-4 col-sm-4" ng-repeat="d in data">

          <div class="karting-championship">
            <div class="brand-blue relative he pointer">
              <img ng-src="{{d.image|uploadpath}}" class="img-responsive" alt="" ui-sref="snow-rush({id:d._id})">
              <a ng-if="d.video" fancybox-box data-fancybox-type="iframe" href="https://www.youtube.com/embed/{{d.video |youtubethumb:true}}?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1"
                class="pink-button"><img src="img/home/button.png" class="img-responsive" alt="" ng-if="d.video"></a>
            </div>
            <div class="new-detail">
              <div class="views inline-block">
                <button class="uppercase bluey" ui-sref="snow-rush({id:d._id})">view</button>
              </div>
              <div class="min-h">
                <h3 class="margin0 bluey pointer" ng-bind-html="d.hometext | shorten :25" ui-sref="snow-rush({id:d._id})"></h3>
                <p ng-hide="d.gameforarray==''">Game For:
                  <span class="bluey capitalize">
                             <span ng-repeat="per in d.gameforarray track by $index">{{per}} <span ng-if="$index<d.gameforarray.length-2">|</span>
                  <span ng-if="$index==d.gameforarray.length-2">&</span> </span>
                  </span>
                </p>
                <p class="" ng-bind-html="d.description | htmlToPlaintext | shorten :140"></p>
              </div>
              <div class="button-set">
                <button class="uppercase blue">buy now</button>
              </div>
              <div class="love">
                <button class="uppercase" ng-click="addedToWishList(d._id);"><i class="fa" aria-hidden="true" ng-class="{'fa-heart-o':!isInWishlist(d._id),'fa-heart':isInWishlist(d._id)}" style="color:red;"></i>would love to try</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>
