<div class="attractions">
<div class="backg">
  <div class="container">
      <h2 class="nav-name center">attractions</h2>
      </div>
    </div>
      <div class="container">
        <!-- <div class="side-buttons">
          <div class="connect-button" id="axis" ng-click="getMenu();" >

            <div class="orange-rays"></div>
            <img src="img/connect.png" class="img-responsive rotate360cw" alt="">
            <p class="uppercase brand-white">connect</p>
          </div>

          <div class="side-menu {{menu}}">
          <div class="close-it">
              <a href="" class="text-uppercase" ng-click="getMenu();"><img src="img/menu.png" class="img-responsive" alt=""></a>
          </div>
          <div class="login-signup relative">
            <div class="row">
            <div class="col-md-6">
            <div class="login">
              <h3 class="uppercase">login</h3>
              <form class="form">
                <div class="form-group">
                <input type="email" class="form-control"  placeholder="User Id" >
                </div>
                <div class="form-group">
                  <input type="password" class="form-control"  placeholder="Password" >
                </div>
                  <button type="button" class="btn btn-default brand-yellow"><span class="uppercase">login</span></button>
              </form>
              <button type="button" class="butn relative"><span><i class="fa fa-facebook" aria-hidden="true"></i></span>login with facebook</button>
              <button type="button" class="buton relative "><span><i class="fa fa-facebook" aria-hidden="true"></i></span>login with  Google</button>
            </div>
            </div>
            <div class="divider"></div>
            <div class="or">
              <span><img src="img/or.png" class="img-responsive" alt=""></span>
            </div>
            <div class="col-md-6">
            <div class="signup">
              <h3 class="uppercase">sign up</h3>
              <form class="form">
                <div class="form-group">
                <input type="text" class="form-control"  placeholder="User Name" >
                </div>
                <div class="form-group">
                  <input type="email" class="form-control"  placeholder="Email ID" >
                </div>
                <div class="form-group">
                  <input type="password" class="form-control"  placeholder="Password" >
                </div>
                <div class="form-group">
                  <input type="password" class="form-control"  placeholder="Re-Enter Password" >
                </div>
                  <button type="button" class="btn4  btn-default brand-blue"><span class="uppercase brand-white">sign up</span></button>
              </form>
            </div>
            </div>
            </div>
          </div>
          </div>
          </div> -->
          <div class="side">
          <div class="live-chat" id="axe">
              <div class="orange-rays"></div>
              <img src="img/phone-aunty.png" class="img-responsive transform" alt="">
              <div class="phone-aunty">
                <p class="uppercase brand-white">live chat</p>
            </div>

          </div>
          </div>
        <div class="forms brand-blue">
          <div class="search-green">
            <input type="text" class="form-control" placeholder="Search">
            <div class="microscope brand-green">
              <img src="img/bino.png" class="img-responsive" alt="">
            </div>
          </div>

          <div class="game-type inline-block">
              <a href=""><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
              <select class="form-control">
                  <option>All</option>
                  <option>All</option>
                  <option>All</option>

              </select>
          </div>
          <div class="game-type inline-block">
              <a href=""><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
              <select class="form-control">
                  <option>Game Type</option>
                  <option>Game Type</option>
                  <option>Game Type</option>

              </select>
          </div>
        </div>
        <div class="new">
          <div class="row" ng-repeat="data in singleAttraction">
            <div class="col-md-4 col-sm-4" ng-repeat="d in data">
              <div class="karting-championship">
                <div class="brand-blue relative he">
                <img ng-src="{{d.image|uploadpath}}" class="img-responsive" alt="">
                  <a href="" class="pink-button"><img src="img/home/button.png" class="img-responsive" alt="" ng-if="d.url"></a>
                </div>
                <div class="new-detail">
                    <div class="views inline-block"><button class="uppercase bluey" ui-sref="snow-rush({id:d._id})">view</button></div>
<div class="min-h">
                <h3 class="margin0 bluey" ng-bind-html="d.hometext">smaaash cricket</h3>

                <p>Game For: <span  class="bluey">{{d.gamefor[0]}} | {{d.gamefor[1]}} <span  ng-show="d.gamefor[2]">&amp;</span> {{d.gamefor[2]}}</span></p>
</div>
                <div class="button-set">
              <button class="uppercase blue">events</button>
              <button class="uppercase blue">deals and packages</button>
              <button class="uppercase blue">buy now</button>
            </div>
            <div class="love"><button class="uppercase" ng-click="myWish(d._id) ; addedToWishList();" ><i class="fa fa-heart-o" aria-hidden="true"></i>would love to try</button></div>
                </div>
                </div>
              </div>
            <!-- <div class="col-md-4 col-sm-4">
              <div class="karting-championship">
                <div class="brand-purblu relative">
                <img src="img/explore/explore1.png" class="img-responsive" alt="">
                  <a href="" class="pink-button"><img src="img/home/button.png" class="img-responsive" alt=""></a>
                </div>
                <div class="news-detail">
                    <div class="view inline-block"><button class="uppercase purpley">view</button></div>
                <h3 class="margin0 purpley">COCKPIT 360</h3>
                <p>Game For: <span  class="purpley">Male &amp; Female</span></p>
                <div class="button-set">
              <div class=" inline-block"><button class="uppercase brand-purblu">events</button></div>

            </div>
            <div class="love"><button class="uppercase"><i class="fa fa-heart-o" aria-hidden="true"></i>would love to try</button></div>

                </div>
            </div>
          </div>
            <div class="col-md-4 col-sm-4">
              <div class="karting-championship  marginbot">
                <div class="brand-darkblue relative">
                <img src="img/explore/explore1.png" class="img-responsive" alt="">
                <a href="" class="pink-button"><img src="img/home/button.png" class="img-responsive" alt=""></a>
                </div>
                <div class="new-details">
                    <div class="viewing inline-block"><button class="uppercase dark-bluey">view</button></div>
                <h3 class="margin0 dark-bluey">SNOW RUSH</h3>
                <p>Game For: <span  class="dark-bluey">Children</span></p>
                <div class="button-set">

            <button class="uppercase brand-darkblue">deals and packages</button>
            <button class="uppercase brand-darkblue">buy now</button>
            </div>
            <div class="love"><button class="uppercase"><i class="fa fa-heart-o" aria-hidden="true"></i>would love to try</button></div>
                </div>
                </div>
            </div> -->
          </div>
        </div>
        <!-- <div class="new">
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="karting-championship">
                <div class="brand-blue relative">
                <img src="img/explore/explore1.png" class="img-responsive" alt="">
                  <a href="" class="pink-button"><img src="img/home/button.png" class="img-responsive" alt=""></a>
                </div>
                <div class="new-detail">
                    <div class="views inline-block"><button class="uppercase bluey">view</button></div>
                <h3 class="margin0 bluey">smaaash cricket</h3>
                <p>Game For: <span  class="bluey">Male | Female &amp; Children</span></p>
                <div class="button-set">
              <button class="uppercase blue">events</button>
              <button class="uppercase blue">deals and paackages</button>
              <button class="uppercase blue">buy now</button>
            </div>
            <div class="love"><button class="uppercase"><i class="fa fa-heart-o" aria-hidden="true"></i>would love to try</button></div>
                </div>
                </div>
              </div>
            <div class="col-md-4 col-sm-4">
              <div class="karting-championship">
                <div class="brand-purblu relative">
                <img src="img/explore/explore1.png" class="img-responsive" alt="">
                  <a href="" class="pink-button"><img src="img/home/button.png" class="img-responsive" alt=""></a>
                </div>
                <div class="news-detail">
                    <div class="view inline-block"><button class="uppercase purpley">view</button></div>
                <h3 class="margin0 purpley">COCKPIT 360</h3>
                <p>Game For: <span  class="purpley">Male &amp; Female</span></p>
                <div class="button-set">
              <div class=" inline-block"><button class="uppercase brand-purblu">events</button></div>

            </div>
            <div class="love"><button class="uppercase"><i class="fa fa-heart-o" aria-hidden="true"></i>would love to try</button></div>

                </div>
            </div>
          </div>
            <div class="col-md-4 col-sm-4">
              <div class="karting-championship  marginbot">
                <div class="brand-darkblue relative">
                <img src="img/explore/explore1.png" class="img-responsive" alt="">
                <a href="" class="pink-button"><img src="img/home/button.png" class="img-responsive" alt=""></a>
                </div>
                <div class="new-details">
                    <div class="viewing inline-block"><button class="uppercase dark-bluey">view</button></div>
                <h3 class="margin0 dark-bluey">SNOW RUSH</h3>
                <p>Game For: <span  class="dark-bluey">Children</span></p>
                <div class="button-set">

            <button class="uppercase brand-darkblue">deals and packages</button>
            <button class="uppercase brand-darkblue">buy now</button>
            </div>
            <div class="love"><button class="uppercase"><i class="fa fa-heart-o" aria-hidden="true"></i>would love to try</button></div>
                </div>
                </div>
            </div>
          </div>
        </div>
        <div class="new">
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="karting-championship">
                <div class="brand-blue relative">
                <img src="img/explore/explore1.png" class="img-responsive" alt="">
                  <a href="" class="pink-button"><img src="img/home/button.png" class="img-responsive" alt=""></a>
                </div>
                <div class="new-detail">
                    <div class="views inline-block"><button class="uppercase bluey">view</button></div>
                <h3 class="margin0 bluey">smaaash cricket</h3>
                <p>Game For: <span  class="bluey">Male | Female &amp; Children</span></p>
                <div class="button-set">
              <button class="uppercase blue">events</button>
              <button class="uppercase blue">deals and paackages</button>
              <button class="uppercase blue">buy now</button>
            </div>
            <div class="love"><button class="uppercase"><i class="fa fa-heart-o" aria-hidden="true"></i>would love to try</button></div>
                </div>
                </div>
              </div>
            <div class="col-md-4 col-sm-4">
              <div class="karting-championship">
                <div class="brand-purblu relative">
                <img src="img/explore/explore1.png" class="img-responsive" alt="">
                  <a href="" class="pink-button"><img src="img/home/button.png" class="img-responsive" alt=""></a>
                </div>
                <div class="news-detail">
                    <div class="view inline-block"><button class="uppercase purpley">view</button></div>
                <h3 class="margin0 purpley">COCKPIT 360</h3>
                <p>Game For: <span  class="purpley">Male &amp; Female</span></p>
                <div class="button-set">
              <div class=" inline-block"><button class="uppercase brand-purblu">events</button></div>

            </div>
            <div class="love"><button class="uppercase"><i class="fa fa-heart-o" aria-hidden="true"></i>would love to try</button></div>

                </div>
            </div>
          </div>
            <div class="col-md-4 col-sm-4">
              <div class="karting-championship  marginbot">
                <div class="brand-darkblue relative">
                <img src="img/explore/explore1.png" class="img-responsive" alt="">
                <a href="" class="pink-button"><img src="img/home/button.png" class="img-responsive" alt=""></a>
                </div>
                <div class="new-details">
                    <div class="viewing inline-block"><button class="uppercase dark-bluey">view</button></div>
                <h3 class="margin0 dark-bluey">SNOW RUSH</h3>
                <p>Game For: <span  class="dark-bluey">Children</span></p>
                <div class="button-set">

            <button class="uppercase brand-darkblue">deals and packages</button>
            <button class="uppercase brand-darkblue">buy now</button>
            </div>
            <div class="love"><button class="uppercase"><i class="fa fa-heart-o" aria-hidden="true"></i>would love to try</button></div>
                </div>
                </div>
            </div>
          </div>
        </div> -->
      </div>
</div>
