<div class="corporate">
  <figure>
    <img src="img/corporate/corporate.jpg" class="img-responsive" alt="image" />
  </figure>
  <div class="containers">
    <div class="banner-info">
    <div class="banner-text">
      <h2 class="title brand-white">corporate parties</h2>
      <p class="brand-white title-text texts">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, consequuntur qui animi libero praesentium. Error fuga, modi vero ratione perspiciatis incidunt, qui quis ipsam accusantium velit dolore nemo aut magnam!</p>
      <span class="brand-white capitalize  fees title-text">minimum booking amount</span>
    </div>
    <div class="banner-buttons">
      <button type="button" class="btn title brand-green btn1 btn-default"><span class="brand-white" >buy</span></button>
      <button type="button" class="btn title brand-purple btn2 btn-default"><span class="brand-white" >enquiry</span></button>
    </div>
  </div>
</div>
</div>
