<div class="corporate">
  <figure>
    <img src="img/corporate/image.png" class="img-responsive" alt="image" />
  </figure>
  <div class="container">
    <div class="banner-text">
      <h2 class="title">corporate parties</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, consequuntur qui animi libero praesentium. Error fuga, modi vero ratione perspiciatis incidunt, qui quis ipsam accusantium velit dolore nemo aut magnam!</p>
      <span>minimum booking amount</span>
    </div>
    <div class="banner-buttons">
      <button type="button" class="btn title brand-green btn-success"><span>buy</span></button>
      <button type="button" class="btn title brand-purple btn-success"><span>enquiry</span></button>
    </div>
  </div>
</div>
