<div class="birthday">
  <figure>
    <img ng-src="img/Host.jpg" class="img-responsive" alt="image" />
  </figure>
  <div class="container">
    <div class="banner-info">
      <div class="banner-text">
        <h2 class="title brand-white" ng-bind-html="parties.hometext"></h2>
        <p class="brand-white title-text texts" ng-bind-html="parties.description"> </p>
      </div>
      <div class="banner-buttons  hidden-xs">
        <button type="button" ui-sref="confirm-order" class="btn title brand-green btn1 btn-default"><span class="brand-white" >buy<i class="fa fa-shopping-cart" aria-hidden="true"></i></span></button>
        <button type="button" class="btn title brand-purple btn2 btn-default"><span class="brand-white" ng-click="birthdayParty()">enquiry<i class="fa fa-envelope-o" aria-hidden="true"></i></span></button>
      </div>
      <div class="banner-butons hidden-md hidden-sm  hidden-lg">
        <button type="button" ui-sref="confirm-order" class="btn title brand-green btn1 btn-default"><span class="brand-white" >buy<i class="fa fa-shopping-cart" aria-hidden="true"></i></span></button>
        <button type="button" class="btn title brand-purple btn2 btn-default"><span class="brand-white" ng-click="birthdayParty()">enquiry<i class="fa fa-envelope-o" aria-hidden="true"></i></span></button>
      </div>
    </div>
  </div>
</div>