<div class="birthday">
  <figure>
    <img src="img/Host.jpg" class="img-responsive" alt="image" />
  </figure>
  <div class="container">
    <div class="banner-info">
    <div class="banner-text">
      <h2 class="title brand-white">birthday parties</h2>
      <p class="brand-white title-text texts">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, consequuntur qui animi libero praesentium. Error fuga, modi vero ratione perspiciatis incidunt, qui quis ipsam accusantium velit dolore nemo aut magnam!</p>
    </div>
    <div class="banner-buttons">
      <button type="button" class="btn title brand-green btn1 btn-default"><span class="brand-white" >buy<i class="fa fa-shopping-cart" aria-hidden="true"></i></span></button>
      <button type="button" class="btn title brand-purple btn2 btn-default"><span class="brand-white" >enquiry<i class="fa fa-envelope-o" aria-hidden="true"></i></span></button>
    </div>
  </div>
</div>
</div>
