   <div class="events1">
   <div class="backg-eve">
        <div class="container">
            <h2 class="nav-name center ">buy now</h2>
        </div>
    </div>
 <div class="container">
     <div class="new">
 <div class="row">
                <div class="col-md-4">
                    <div class="race-eve relative margno">
                        <div class="img-bg">
                            <img src="img/new/newdeals.png" class="img-responsive" alt="">
                        </div>

                        <div class="race-text">

                            <div class="min-h">
                                <h3 class="margin0 brand-white">buy now</h3>

                            </div>
                        </div>
                    </div>
                </div>
                       <div class="col-md-4">
                    <div class="race-eve relative margno">
                        <div class="img-bg">
                            <img src="img/new/newdeals.png" class="img-responsive" alt="">
                        </div>

                        <div class="race-text">

                            <div class="min-h">
                                <h3 class="margin0 brand-white">buy now</h3>

                            </div>
                        </div>
                    </div>
                </div>
                       <div class="col-md-4">
                    <div class="race-eve relative margno">
                        <div class="img-bg">
                            <img src="img/new/newdeals.png" class="img-responsive" alt="">
                        </div>

                        <div class="race-text">

                            <div class="min-h">
                                <h3 class="margin0 brand-white">buy now</h3>

                            </div>
                        </div>
                    </div>
                </div>
            </div> 
     </div>
 
 </div>
</div>