<div class="events1 careers">
     <div class="backg-eve">
      <div class="container">
         <h2 class="nav-name center">careers</h2>
      </div>
   </div>
      <div class="container">
      <div class="new">
           <div class="career-info">
           <p> SMAAASH  is now hiring! Join our growing team . Referral and sign on bonuses available (some restrictions apply, just ask!) Competitive wages, $10-14 per hour. Generous paid time off. Company paid insurance for employees working 30 or more hours per week. Please forward your resume to us for review at <a class="mail" href="mailto: enquiry@smaaash.in">  enquiry@smaaash.in</a> . We would love to hear from you.</p>
           <p>Current Openings </p>
   </div>
   <div class="career-options">
           <div class="row">
                   <div class="col-md-3">
                           <a href="">
 <figure class="image-holder">  
                    <h3 class="text-center">line cooks</h3>                      
<img src="img/careers/cook.jpg" class="img-responsive" alt="">
                           </figure>
                           </a>
                          

                   </div>
                   <div class="col-md-3">
  <a href="">
 <figure class="image-holder"> 
          <h3 class="text-center">bussers</h3>                                   
<img src="img/careers/staff.jpg" class="img-responsive" alt="">
                           </figure>
                           </a>
                   </div>
                   <div class="col-md-3">
   <a href="">
 <figure class="image-holder">  
          <h3 class="text-center">game operators</h3>                                  
<img src="img/careers/game.jpg" class="img-responsive" alt="">
                           </figure>
                           </a>
                   </div>
                   <div class="col-md-3">
   <a href="">
 <figure class="image-holder">  
 <h3 class="text-center">go-kart pit crew</h3> 
<img src="img/careers/gokart.jpg" class="img-responsive" alt="">
                           </figure>
                           </a>
                   </div>
           </div>
   </div>
   <div class="download text-center margin33">
           <p>Job Registration form</p>
           <div class="button-sets">
<button class="uppercase large green" ng-click="career();">download</button>
           </div>
           
   </div>     
 
   </div>

   </div>
</div>