<div class="carts">
  <div class="bg">
    <div class="container">
      <h2 class="nav-name center ">My Cart</h2>
    </div>
  </div>
  <div class="container">
    <div class="table-responsive">
      <table class="table ">
        <thead>
          <tr>
            <th class="text-center uppercase ">items</th>
            <th class="text-center  uppercase ">price</th>
            <th class="text-center uppercase ">quantity</th>
            <th class="text-center uppercase ">subtotal</th>
          </tr>
        </thead>
        <tr>
          <td class="text-center border-left"><img src="img/confirm/Sachingreen.png" class="img-responsive" alt="">
            <p class="mt10 uppercase">student special offer</p>
          </td>
          <td class="text-center"><span class="rupees"><i class="fa fa-inr" aria-hidden="true"></i></span>699</td>
          <td class="text-center">
            <div class="quantity">1</div>
          </td>
          <td class="text-center border-right"><span class="rupees"><i class="fa fa-inr" aria-hidden="true"></i></span>699
            <div class="remove"><button class="uppercase">remove</button></div>
          </td>

        </tr>
        <tr>
          <td class="text-center border-left"><img src="img/confirm/Sachingreen.png" class="img-responsive" alt="">
            <p class="mt10 uppercase">student special offer</p>
          </td>
          <td class="text-center"><span class="rupees"><i class="fa fa-inr" aria-hidden="true"></i></span>699</td>
          <td class="text-center">
            <div class="quantity">1</div>
          </td>
          <td class="text-center border-right"><span class="rupees"><i class="fa fa-inr" aria-hidden="true"></i></span>699
            <div class="remove"><button class="uppercase">remove</button></div>
          </td>

        </tr>
      </table>
    </div>
  </div>
</div>