<div class="container">
  <h2 class="title">select your city</h2>
  <div class="row">
    <div class="benguluru">
    <div class="col-md-6">
      <li><a href=""><img src="" class="img-responsive" alt=""></a></li>
    </div>
    <div class="col-md-6">
        <li><a href=""><img src="" class="img-responsive" alt=""></a></li>
    </div>
    </div>
  </div>
<div class="row">
  <div class="mumbai">
  <div class="col-md-6">
    <li><a href=""><img src="" class="img-responsive" alt=""></a></li>
  </div>
  <div class="col-md-6">
    <li><a href=""><img src="" class="img-responsive" alt=""></a></li>
  </div>
  </div>
</div>
<div class="row">
  <div class="noida">
  <div class="col-md-6">
    <li><a href=""><img src="" class="img-responsive" alt=""></a></li>
  </div>
  <div class="col-md-6">
    <li><a href=""><img src="" class="img-responsive" alt=""></a></li>
  </div>
</div>
</div>
</div>
