<div class="container">
  <div class="smaaash-cities">
  <h2 class="title center brand-white">select your city</h2>
  <div class="city-types">
  <div class="row">
    <div class="citi">
    <div class="col-md-4 col-md-offset-1">
      <li><a href=""><img src="img/nav/hyderabad.png" class="img-responsive" alt=""></a></li>
    </div>
    <div class="col-md-4 col-md-offset-1">
        <li><a href=""><img src="img/nav/hyderabad.png" class="img-responsive" alt=""></a></li>
    </div>
    </div>
  </div>
<div class="row">
  <div class="citi">
  <div class="col-md-4 col-md-offset-1">
    <li><a href=""><img src="img/nav/gurgoan.png" class="img-responsive" alt=""></a></li>
  </div>
  <div class="col-md-4 col-md-offset-1">
    <li><a href=""><img src="img/nav/mumbai.png" class="img-responsive" alt=""></a></li>
  </div>
  </div>
</div>
<div class="row">
  <div class="citi">
  <div class="col-md-4 col-md-offset-1">
    <li><a href=""><img src="img/nav/noida.png" class="img-responsive" alt=""></a></li>
  </div>
  <div class="col-md-4 col-md-offset-1">
    <li><a href=""><img src="img/nav/ludhiana.png" class="img-responsive" alt=""></a></li>
  </div>
</div>
</div>
</div>
</div>
</div>
