<div class="confirm-order">
    <div class="container">
        <h2 class="nav-name center">confirm your order</h2>
        <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="comic-pane">
                  <div class="cmic-image">
                    <div class="comic-image">
                        <span class="cimg">
                          <img src="img/confirm/smile.png" class="img-responsive" alt="">
                        </span>
                    </div>
                    </div>
                    <div class="text-infom">
                    <div class="text">
                      <div class="info center">
                        <h2 class="title">sachin tendulkar</h2>
                        <p class="capitalize">order no: 1458022568</p>
                        <p class="capitalize">order amount: 10,000</p>
                        </div>
                    </div>
                </div>
                </div>
                </div>
                <div class="row margin0">
                  <div class="ronaldo">
                    <figure>
                        <img src="img/confirm/ronaldo.png" class="img-responsive" alt="corporate parties">
                    </figure>
                    <h2 class="title">corporate parties</h2>
                  </div>
                </div>
              </div>
            <div class="col-md-6">
                <div class="form">
                    <h2 class="title">billing information</h2>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name" id="email">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control resize" placeholder="Address" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <select class="form-control">
                            <option>Country</option>
                            <option>India</option>
                            <option>Australia</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control">
                            <option>State</option>
                            <option>Maharashtra</option>
                            <option>Gujrat</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control">
                            <option>City</option>
                            <option>Mumbai</option>
                            <option>Pune</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email Id">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" placeholder="Pin code">
                    </div>
                    <div class="form-group">
                        <input type="tel" class="form-control" placeholder="Mobile">
                    </div>
                    <button type="button" class="btn title brand-green btn1 btn-default"><span class="brand-white">next</span></button>
                </div>
            </div>
    </div>
</div>
