<div class="confirm-order">
    <div class="container">
        <h2 class="nav-name center">confirm your order</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="comic-pane">
                    <div class="comic-image">
                        <span class="cimg"></span>
                    </div>
                    <div class="text-infom">
                    <div class="text">
                      <div class="info center">
                        <h2 class="title">sachin tendulkar</h2>
                        <p>order no:</p>
                        <p>order amount:</p>
                        </div>
                    </div>
                </div>
                </div>
                <div class="row">
                    <figure>
                        <img src="" class="img-responsive" alt="corporate parties">
                        <figcaption>corporate parties</figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form">
                    <h2 class="title">billing information</h2>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name" id="email">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Address" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <select class="form-control">
                            <option>Country</option>
                            <option>India</option>
                            <option>Australia</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control">
                            <option>State</option>
                            <option>Maharashtra</option>
                            <option>Gujrat</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control">
                            <option>City</option>
                            <option>Mumbai</option>
                            <option>Pune</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email Id">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" placeholder="Pin code">
                    </div>
                    <div class="form-group">
                        <input type="tel" class="form-control" placeholder="Mobile">
                    </div>
                    <button type="button" class="btn title brand-green btn1 btn-default"><span class="brand-white">next</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
