<div class=" contact">
    <div class="backg">
        <div class="container">
            <h2 class="nav-name center ">contact us</h2>
        </div>
    </div>
    <div class="container">
        <div class="contact-div" ng-if="Mum">
            <div class="meetup">
                <div class="row">
                    <div class="col-md-4">
                        <div class="map-image">
                           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3772.340801009396!2d72.82390184979167!3d19.004698559086847!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7ced14218f28b%3A0x8074e2db40855e2f!2sSmaaash!5e0!3m2!1sen!2sin!4v1483705841974" width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                            <h3>get direction</h3>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="direction">
                            <div class="city-name">
                                <h3>mumbai</h3>
                                <!-- <p>Contact Person : Jugal Sobhani</p> -->
                            </div>
                            <div class="address">
                                <address>
                                    Smaaash, Kamala Mills Compound, <br> Gate No. 4, Lower Parel, <br> Mumbai 400 013.
                                </address>

                            </div>
                            <!--<div class="telephone">
<p><i class="fa fa-phone" aria-hidden="true"></i>Mumbai <a href="tel:+">TEL : +91 22 49 143 143 </a></p>
                            </div>-->

                            <div class="contact-ways">
                                <div class="telephone">
                                    <p><i class="fa fa-phone" aria-hidden="true"></i><span>Mumbai</span><a href="tel:+91 22 49 143 143">+91 22 49 143 143</a></p>
                                </div>
                                <!--<div class="email">
                                    <p><i class="fa fa-envelope-o" aria-hidden="true"></i><span>Email</span><a href="mailto:enquiry@smaaash.in">enquiry@smaaash.in</a></p>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="contact-div" ng-if='Bengaluru'>
            <div class="meetup">
                <div class="row">
                    <div class="col-md-4">
                        <div class="map-image">
                           <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3887.972845205506!2d77.61823419971535!3d12.973588618301639!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1s2nd+Floor%2C+1+MG-Lido+Mall%2C+Trinity+Circle%2C+MG+Road%2C+++Bengaluru+-+560001+!5e0!3m2!1sen!2sin!4v1483706073800" width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                            <h3>get direction</h3>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="direction">
                            <div class="city-name">
                                <h3>Bengaluru</h3>
                                  <!-- <p>Contact Person : Sandeep Balan</p> -->
                            </div>
                            <div class="address">
                                <address>
                                     2nd Floor, 1 MG-Lido Mall,<br>Trinity Circle, MG Road, <br> Bengaluru - 560001 
                                </address>
                            </div>
                            <div class="contact-ways">
                                <div class="telephone">
                                    <p><i class="fa fa-phone" aria-hidden="true"></i><span> Bengaluru</span><a href="tel:+ 080-25066900"> 080-25066900</a></p>
                                </div>
                                <!--<div class="email">
                                    <p><i class="fa fa-envelope-o" aria-hidden="true"></i><span>Email</span><a href="mailto:enquiry@smaaash.in">enquiry@smaaash.in</a></p>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="contact-div" ng-if="Hyderabad">
            <div class="meetup">
                <div class="row">
                    <div class="col-md-4">
                        <div class="map-image">
                         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.538338604288!2d78.38416844976835!3d17.43392930599281!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb91582e0aab8f%3A0xfe3c0e743a96ddd9!2sSmaaash!5e0!3m2!1sen!2sin!4v1483706130562" width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                            <h3>get direction</h3>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="direction">
                            <div class="city-name">
                                <h3>Hyderbad</h3>
                                  <!-- <p>Contact Person : Shantanu Wagle</p> -->
                            </div>
                            <div class="address">
                                <address>
                                   Smaaash, L5, Inorbit Mall- Cyberabad, <br>  Apiic Software Layout,Hi-Tech City, Madhapur,  <br>   Hyderabad- 500081. 
                                </address>
                            </div>

                            <div class="contact-ways">
                                <div class="telephone">
                                    <p><i class="fa fa-phone" aria-hidden="true"></i><span>Hyderabad</span><a href="tel: +91 40 44739999 "> +91 40 44739999 </a></p>
                                </div>
                                <!--<div class="email">
                                    <p><i class="fa fa-envelope-o" aria-hidden="true"></i><span>Email</span><a href="mailto:enquiry@smaaash.in">enquiry@smaaash.in</a></p>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
                <div class="contact-div" ng-if="Noida">
            <div class="meetup">
                <div class="row">
                    <div class="col-md-4">
                        <div class="map-image">
                         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3503.114165643731!2d77.3284918499865!3d28.596351692383646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce4fda38f8a3f%3A0x3d6f396eab914f20!2ssmaaash!5e0!3m2!1sen!2sin!4v1483706631705" width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                            <h3>get direction</h3>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="direction">
                            <div class="city-name">
                                <h3>Noida</h3>
                                <!-- <p>Contact Person : Jaydeep Ray</p> -->
                            </div>
                            <div class="address">
                                <address>
                         A-501, B 504, 4th Floor, <br>DLF Mall of India, Sector 18, <br>Noida - 201 301.
                                </address>
                            </div>
                            <div class="contact-ways">
                                <div class="telephone">
                                    <p><i class="fa fa-phone" aria-hidden="true"></i><span>Noida</span><a href="tel:+91 120 2595111 / +91 9999311141">+91 120 2595111 / +91 9999311141</a></p>
                                </div>
                                <!--<div class="email">
                                    <p><i class="fa fa-envelope-o" aria-hidden="true"></i><span>Email</span><a href="mailto:enquiry@smaaash.in">enquiry@smaaash.in</a></p>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
                <div class="contact-div" ng-if="GurgaonHub">
            <div class="meetup">
                <div class="row">
                    <div class="col-md-4">
                        <div class="map-image">
                          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7013.20348560554!2d77.08384229388328!3d28.491538109017256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d193842a7e98d%3A0x9bb35aa0f8246317!2sSmaaash!5e0!3m2!1sen!2sin!4v1483706386416" width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                            <h3>get direction</h3>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="direction">
                            <div class="city-name">
                                <h3>Gurgaon
</h3>
<!-- <p>Contact Person : Jaydeep Ray</p> -->
                            </div>
                            <div class="address">
                                <address>
                                      Dlf Cyber Hub, Cyber City, <br> Phase 2, Nh 8, Gurgaon,  <br>      Haryana 122 OO2.
                                </address>
                            </div>
                            <div class="contact-ways">
                                <div class="telephone">
                                    <p><i class="fa fa-phone" aria-hidden="true"></i><span>Gurgaon</span><a href="tel: 0124-39 40 1888 / 0124-4240616"> 0124-39 40 1888 / 0124-4240616</a></p>
                                </div>
                                <!--<div class="email">
                                    <p><i class="fa fa-envelope-o" aria-hidden="true"></i><span>Email</span><a href="mailto:enquiry@smaaash.in">enquiry@smaaash.in</a></p>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
                 <div class="contact-div" ng-if="Ludhiana">
            <div class="meetup">
                <div class="row">
                    <div class="col-md-4">
                        <div class="map-image">
                          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3424.1278063315935!2d75.77949405004577!3d30.883085485332725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391a81a0e6169ca3%3A0x88745c7bd680b543!2sMBD+Neopolis!5e0!3m2!1sen!2sin!4v1483706462847" width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                            <h3>get direction</h3>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="direction">
                            <div class="city-name">
                                <h3>Ludhiana</h3>
                                <!-- <p>Contact Person : Jaydeep Ray</p> -->
                            </div>
                            <div class="address">
                                <address>
                                     Smaaash, 2nd Floor, MBD Neopolis Mall,<br> Ferozepur Road, <br>Ludhiana - 141004.
                                </address>
                            </div>
                            <div class="contact-ways">
                                <div class="telephone">
                                    <p><i class="fa fa-phone" aria-hidden="true"></i><span>Ludhiana</span><a href="tel:+0161-49-33-600">+ 0161-49-33-600</a></p>
                                </div>
                                <!--<div class="email">
                                    <p><i class="fa fa-envelope-o" aria-hidden="true"></i><span>Email</span><a href="mailto:enquiry@smaaash.in">enquiry@smaaash.in</a></p>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
           <div class="contact-div" ng-if="GurgaonSec29">
            <div class="meetup">
                <div class="row">
                    <div class="col-md-4">
                        <div class="map-image">
                          <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d14029.433698404571!2d77.06289606341511!3d28.46875058140067!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x390d191c81bf691f%3A0x3cd72bad3b46329a!2sWestin%2C+Number+1%2C+MG+Road%2C+Sector+29%2C+New+Delhi+NCR%2C+Gurugram%2C+Haryana+122002!3m2!1d28.477478599999998!2d77.07033919999999!4m5!1s0x390d18e58bb0134f%3A0x5e6e75afecaf3dff!2sOysters+Beach+Water+Park%2C+Sector+29%2C+Huda+City+Metro+Station%2C+Gurugram%2C+Haryana+122009!3m2!1d28.460471!2d77.0719989!5e0!3m2!1sen!2sin!4v1483706593376" width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                            <h3>get direction</h3>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="direction">
                            <div class="city-name">
                                <h3>Gurgaon-Pitstop Brewpub
</h3>
<!-- <p>Contact Person : Jaydeep Ray</p> -->
                            </div>
                            <div class="address">
                                <address>
                                      Sky karting Powered by Smaaash,<br> Sector 29,Gurgaon, Next to Oysters Water Park & Huda City Center,<br>Huda Metro Station. 
                                </address>
                            </div>
                            <div class="contact-ways">
                                <div class="telephone">
                                    <p><i class="fa fa-phone" aria-hidden="true"></i><span>Gurgaon-Pitstop Brewpub</span><a href="tel: 0124-3350777 / 0124-6540199"> 0124-3350777 / 0124-6540199</a></p>
                                </div>
                                <!--<div class="email">
                                    <p><i class="fa fa-envelope-o" aria-hidden="true"></i><span>Email</span><a href="mailto:enquiry@smaaash.in">enquiry@smaaash.in</a></p>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
