<div class=" contact">
    <div class="backg">
        <div class="container">
            <h2 class="nav-name center ">contact us</h2>
        </div>
    </div>
    <div class="container">
        <!-- delhi -->
        <div class="contact-div">
            <div class="meetup">
                <div class="row">
                    <div class="col-md-4">
                        <div class="map-image">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14019.801244979859!2d77.1548896!3d28.5412132!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xae39b6e3adbb268b!2sAmbience+Mall+Vasant+Kunj!5e0!3m2!1sen!2sin!4v1512022491459"
                                width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                            <h3>get direction</h3>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="direction">
                            <div class="city-name">
                                <h3>Delhi</h3>
                                <!-- <p>Contact Person : Jugal Sobhani</p> -->
                            </div>
                            <div class="address">
                                <address>
                                    Level 1, Ambience Mall,
                                    <br> Nelson Mandela Marg,
                                    <br> Vasant Kunj, Delhi - 110070
                                </address>
                            </div>
                            <div class="contact-ways">
                                <div class="telephone">
                                    <p>
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <span>Delhi</span>
                                        <a href="tel:+91 88 00 558 477">+91 88 00 558 477</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-div">
            <div class="meetup">
                <div class="row">
                    <div class="col-md-4">
                        <div class="map-image">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3772.340801009396!2d72.82390184979167!3d19.004698559086847!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7ced14218f28b%3A0x8074e2db40855e2f!2sSmaaash!5e0!3m2!1sen!2sin!4v1483705841974"
                                width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                            <h3>get direction</h3>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="direction">
                            <div class="city-name">
                                <h3>mumbai</h3>
                                <!-- <p>Contact Person : Jugal Sobhani</p> -->
                            </div>
                            <div class="address">
                                <address>
                                    Smaaash, Kamala Mills Compound,
                                    <br> Gate No. 4, Lower Parel,
                                    <br> Mumbai 400 013.
                                </address>
                            </div>
                            <div class="contact-ways">
                                <div class="telephone">
                                    <p>
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <span>Mumbai</span>
                                        <a href="tel:+919920088333
                                        ">+91 992 008 8333
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-div">
            <div class="meetup">
                <div class="row">
                    <div class="col-md-4">
                        <div class="map-image">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3887.972845205506!2d77.61823419971535!3d12.973588618301639!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1s2nd+Floor%2C+1+MG-Lido+Mall%2C+Trinity+Circle%2C+MG+Road%2C+++Bengaluru+-+560001+!5e0!3m2!1sen!2sin!4v1483706073800"
                                width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                            <h3>get direction</h3>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="direction">
                            <div class="city-name">
                                <h3>Bengaluru</h3>
                                <!-- <p>Contact Person : Sandeep Balan</p> -->
                            </div>
                            <div class="address">
                                <address>
                                    2nd Floor, 1 MG-Lido Mall,
                                    <br>Trinity Circle, MG Road,
                                    <br> Bengaluru - 560001
                                </address>
                            </div>
                            <div class="contact-ways">
                                <div class="telephone">
                                    <p>
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <span> Bengaluru</span>
                                        <a href="tel:+ 9902526032"> 9902526032</a>
                                    </p>
                                </div>
                                <!--<div class="email">
                                    <p><i class="fa fa-envelope-o" aria-hidden="true"></i><span>Email</span><a href="mailto:enquiry@smaaash.in">enquiry@smaaash.in</a></p>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-div">
            <div class="meetup">
                <div class="row">
                    <div class="col-md-4">
                        <div class="map-image">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.5286364275084!2d78.38430165007534!3d17.434394337991876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9157883bd88f%3A0x4f9adf1525333b6d!2sSmaaash!5e0!3m2!1sen!2sin!4v1517298860177"
                                width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                            <h3>get direction</h3>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="direction">
                            <div class="city-name">
                                <h3>Hyderabad Inorbit Mall</h3>
                                <!-- <p>Contact Person : Shantanu Wagle</p> -->
                            </div>
                            <div class="address">
                                <address>
                                    Smaaash, L5, Inorbit Mall- Cyberabad,
                                    <br> Apiic Software Layout , Hi-Tech City, Madhapur,
                                    <br> Hyderabad- 500081.
                                </address>
                            </div>
                            <div class="contact-ways">
                                <div class="telephone">
                                    <p>
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <span>Hyderabad Inorbit Mall</span>
                                        <a href="tel: +914044739999 "> 040-44739999</a> / <a href="tel: +918010133133">8010133133</a>
                                    </p>
                                </div>
                                <!--<div class="email">
                                    <p><i class="fa fa-envelope-o" aria-hidden="true"></i><span>Email</span><a href="mailto:enquiry@smaaash.in">enquiry@smaaash.in</a></p>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-div">
            <div class="meetup">
                <div class="row">
                    <div class="col-md-4">
                        <div class="map-image">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3503.114165643731!2d77.3284918499865!3d28.596351692383646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce4fda38f8a3f%3A0x3d6f396eab914f20!2ssmaaash!5e0!3m2!1sen!2sin!4v1483706631705"
                                width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                            <h3>get direction</h3>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="direction">
                            <div class="city-name">
                                <h3>Noida</h3>
                                <!-- <p>Contact Person : Jaydeep Ray</p> -->
                            </div>
                            <div class="address">
                                <address>
                                    A-501, B 504, 4th Floor,
                                    <br>DLF Mall of India, Sector 18,
                                    <br>Noida - 201 301.
                                </address>
                            </div>
                            <div class="contact-ways">
                                <div class="telephone">
                                    <p>
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <span>Noida</span>
                                        <!-- <a href="tel:+91 120 2595111 / +91 9999311141">+91 120 2595111 / +91 9999311141</a> -->
                                        <a href="tel:0120 6209944 / 0120 6209955 / +91 9999311141">0120 6209944 / 0120 6209955 / +91 9999311141</a>
                                    </p>
                                </div>
                                <!--<div class="email">
                                    <p><i class="fa fa-envelope-o" aria-hidden="true"></i><span>Email</span><a href="mailto:enquiry@smaaash.in">enquiry@smaaash.in</a></p>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--navi mumbai-->
        <div class="contact-div">
            <div class="meetup">
                <div class="row">
                    <div class="col-md-4">
                        <div class="map-image">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3771.960336555562!2d73.01600544991597!3d19.021469358565387!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c20c57446235%3A0xf2065ffad82ad892!2sSeawoods+Grand+Central+Mall!5e0!3m2!1sen!2sin!4v1519196111984"
                                width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                            <h3>get direction</h3>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="direction">
                            <div class="city-name">
                                <h3>Navi Mumbai</h3>
                                <!-- <p>Contact Person : Jaydeep Ray</p> -->
                            </div>
                            <div class="address">
                                <address>
                                    Smaaash Ent Pvt Ltd<br> 
                                    2nd floor - Seawoods Grand Central Mall ,
                                    <br>Plot No-1, Sector-40 Seawood Railway Station ,<br>Navi Mumbai - 400 706.
                                </address>
                            </div>
                            <div class="contact-ways">
                                <div class="telephone">
                                    <p>
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <span>Navi Mumbai</span>
                                        <a href="tel:9819244072 ">9819244072</a>
                                    </p>
                                </div>
                                <!--<div class="email">
                                    <p><i class="fa fa-envelope-o" aria-hidden="true"></i><span>Email</span><a href="mailto:enquiry@smaaash.in">enquiry@smaaash.in</a></p>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Indore -->
        <div class="contact-div">
            <div class="meetup">
                <div class="row">
                    <div class="col-md-4">
                        <div class="map-image">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14721.082103004022!2d75.86680134282228!3d22.718184200000014!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xea4781cc4fd20ab8!2sTreasure+Island+Next!5e0!3m2!1sen!2sin!4v1514895073240"
                                width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                            <h3>get direction</h3>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="direction">
                            <div class="city-name">
                                <h3>Indore Treasure Island Next</h3>
                                <!-- <p>Contact Person : Jugal Sobhani</p> -->
                            </div>
                            <div class="address">
                                <address>
                                    5th Floor, Treasure Island Next,
                                    <br>170, RNT Marg,
                                    <br>Near SSP office,
                                    <br>Indore- 452001, Madhya Pradesh
                                </address>
                            </div>
                            <div class="contact-ways">
                                <div class="telephone">
                                    <p>
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <span>Indore Treasure Island Next</span>
                                        <a href="tel:+91 98 19 244 072">+91 98 19 244 072</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-div">
            <div class="meetup">
                <div class="row">
                    <div class="col-md-4">
                        <div class="map-image">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7013.20348560554!2d77.08384229388328!3d28.491538109017256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d193842a7e98d%3A0x9bb35aa0f8246317!2sSmaaash!5e0!3m2!1sen!2sin!4v1483706386416"
                                width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                            <h3>get direction</h3>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="direction">
                            <div class="city-name">
                                <h3>Gurgaon CyberHub
                                </h3>
                                <!-- <p>Contact Person : Jaydeep Ray</p> -->
                            </div>
                            <div class="address">
                                <address>
                                    Dlf Cyber Hub, Cyber City,
                                    <br> Phase 2, Nh 8, Gurgaon,
                                    <br> Haryana 122 OO2.
                                </address>
                            </div>
                            <div class="contact-ways">
                                <div class="telephone">
                                    <p>
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <span>Gurgaon</span>
                                        <a href="tel: 0124-39 40 188 / 0124-4240616"> 0124-39 40 188 / 0124-4240616</a>
                                    </p>
                                </div>
                                <!--<div class="email">
                                    <p><i class="fa fa-envelope-o" aria-hidden="true"></i><span>Email</span><a href="mailto:enquiry@smaaash.in">enquiry@smaaash.in</a></p>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-div">
            <div class="meetup">
                <div class="row">
                    <div class="col-md-4">
                        <div class="map-image">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3424.1278063315935!2d75.77949405004577!3d30.883085485332725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391a81a0e6169ca3%3A0x88745c7bd680b543!2sMBD+Neopolis!5e0!3m2!1sen!2sin!4v1483706462847"
                                width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                            <h3>get direction</h3>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="direction">
                            <div class="city-name">
                                <h3>Ludhiana</h3>
                                <!-- <p>Contact Person : Jaydeep Ray</p> -->
                            </div>
                            <div class="address">
                                <address>
                                    Smaaash, 2nd Floor, MBD Neopolis Mall,
                                    <br> Ferozepur Road,
                                    <br>Ludhiana - 141004.
                                </address>
                            </div>
                            <div class="contact-ways">
                                <div class="telephone">
                                    <p>
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <span>Ludhiana</span>
                                        <a href="tel:+0161-49-33-600">+ 0161-49-33-600 / 7837-438-909</a>
                                    </p>
                                </div>
                                <!--<div class="email">
                                    <p><i class="fa fa-envelope-o" aria-hidden="true"></i><span>Email</span><a href="mailto:enquiry@smaaash.in">enquiry@smaaash.in</a></p>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-div">
            <div class="meetup">
                <div class="row">
                    <div class="col-md-4">
                        <div class="map-image">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d14029.433698404571!2d77.06289606341511!3d28.46875058140067!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x390d191c81bf691f%3A0x3cd72bad3b46329a!2sWestin%2C+Number+1%2C+MG+Road%2C+Sector+29%2C+New+Delhi+NCR%2C+Gurugram%2C+Haryana+122002!3m2!1d28.477478599999998!2d77.07033919999999!4m5!1s0x390d18e58bb0134f%3A0x5e6e75afecaf3dff!2sOysters+Beach+Water+Park%2C+Sector+29%2C+Huda+City+Metro+Station%2C+Gurugram%2C+Haryana+122009!3m2!1d28.460471!2d77.0719989!5e0!3m2!1sen!2sin!4v1483706593376"
                                width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                            <h3>get direction</h3>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="direction">
                            <div class="city-name">
                                <h3>Gurgaon Sector 29
                                </h3>
                            </div>
                            <div class="address">
                                <address>
                                    Sky karting Powered by Smaaash,
                                    <br> Sector 29,Gurgaon, Next to Oysters Water Park & Huda City Center,
                                    <br>Huda Metro Station.
                                </address>
                            </div>
                            <div class="contact-ways">
                                <div class="telephone">
                                    <p>
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <span>Gurgaon Sector 29</span>
                                        <a href="tel: 0124-3350777 / 0124-6540199"> 0124-3350777 / 0124-6540199</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-div">
            <div class="meetup">
                <div class="row">
                    <div class="col-md-4">
                        <div class="map-image">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14024.56835171992!2d77.0964115!3d28.5053725!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x45a757aa37e73026!2sAmbience+Mall%2C+Gurgaon!5e0!3m2!1sen!2sin!4v1512023062393"
                                width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                            <h3>get direction</h3>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="direction">
                            <div class="city-name">
                                <h3>Gurgaon Ambience Mall</h3>
                                <!-- <p>Contact Person : Jugal Sobhani</p> -->
                            </div>
                            <div class="address">
                                <address>
                                    Gur - 4th Floor,
                                    <br>Ambience Mall, NH8,
                                    <br>Gurugram, Haryana -122002
                                </address>
                            </div>
                            <div class="contact-ways">
                                <div class="telephone">
                                    <p>
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <span>Gurgaon Ambience Mall</span>
                                        <a href="tel:+91 99 90 800 600">+91 99 90 800 600</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- pune -->
        <div class="contact-div">
            <div class="meetup">
                <div class="row">
                    <div class="col-md-4">
                        <div class="map-image">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15129.071522625427!2d73.9169263!3d18.5619579!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6f7fdcc8e4d6c77e!2sPhoenix+Market+City+Viman+Nagar!5e0!3m2!1sen!2sin!4v1513230704509"
                                width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                            <h3>get direction</h3>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="direction">
                            <div class="city-name">
                                <h3>Pune Phoenix Market City</h3>
                                <!-- <p>Contact Person : Jugal Sobhani</p> -->
                            </div>
                            <div class="address">
                                <address>
                                    Shop No 28, Lower Ground Level,
                                    <br>Phoenix Market City,
                                    <br>Viman Nagar, Nagar Road,
                                    <br>Pune - 411014
                                </address>
                            </div>
                            <div class="contact-ways">
                                <div class="telephone">
                                    <p>
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <span>Pune Phoenix Market City</span>
                                        <a href="tel:+91 020 66 335 000">+91 020 66 335 000 / </a>
                                        <a href="tel:+91 92 25 535 500">+91 92 25 535 500</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Chandigarh -->
        <div class="contact-div">
            <div class="meetup">
                <div class="row">
                    <div class="col-md-4">
                        <div class="map-image">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1715.231911393164!2d76.79995032584823!3d30.705358595389125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fece98c02452b%3A0xf3c99c507c9226eb!2sElante+Mall%2C+178-178A%2C+Purv+Marg%2C+Industrial+Area+Phase+I%2C+Chandigarh%2C+160002!5e0!3m2!1sen!2sin!4v1513230881685"
                                width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                            <h3>get direction</h3>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="direction">
                            <div class="city-name">
                                <h3>Chandigarh Elante Mall</h3>
                                <!-- <p>Contact Person : Jugal Sobhani</p> -->
                            </div>
                            <div class="address">
                                <address>
                                    3rd Floor, Elante Mall,
                                    <br>Plot # 178,178A,
                                    <br>Industrial &amp; Business Park, Phase 1,
                                    <br>Manimajra, Chandigarh - 160002
                                </address>
                            </div>
                            <div class="contact-ways">
                                <div class="telephone">
                                    <p>
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <span>Chandigarh Elante Mall</span>
                                        <a href="tel:+91 99 88 882 618">+91 99 88 882 618</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bengaluru - Phoenix Marketcity  -->
        <div class="contact-div">
            <div class="meetup">
                <div class="row">
                    <div class="col-md-4">
                        <div class="map-image">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.6143322406947!2d77.69436210001238!3d12.996501390794586!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae110b04a3be4b%3A0xcffb252dab2e9643!2sPhoenix+Marketcity!5e0!3m2!1sen!2sin!4v1515570357515"
                                width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                            <h3>get direction</h3>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="direction">
                            <div class="city-name">
                                <h3>Bengaluru - Phoenix Marketcity</h3>
                            </div>
                            <div class="address">
                                <address>
                                    2nd Floor, Phoenix Market City,
                                    <br>Whitefield Road, Devasandra Industrial Estate,
                                    <br>Mahadevapura, Bengaluru, Karnataka 560048
                                </address>
                            </div>
                            <div class="contact-ways">
                                <div class="telephone">
                                    <p>
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <span>Bengaluru - Phoenix Marketcity</span>
                                        <a href="tel:+9109900069474">099000 69474</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Madurai  -->
        <div class="contact-div">
            <div class="meetup">
                <div class="row">
                    <div class="col-md-4">
                        <div class="map-image">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.9483126654554!2d78.13383704997956!3d9.938258792858626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b00c5c1acadfac7%3A0x91bd24311753cb29!2sVishaal+de+Mal!5e0!3m2!1sen!2sin!4v1517295866228"
                                width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                            <h3>get direction</h3>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="direction">
                            <div class="city-name">
                                <h3>Madurai</h3>
                            </div>
                            <div class="address">
                                <address>
                                    L4, Vishal De Mall, Ghokale Road,
                                    <br>Chinna Chokkikulam
                                    <br>Tamil Nadu 625002
                                </address>
                            </div>
                            <div class="contact-ways">
                                <div class="telephone">
                                    <p>
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <span>Smaaash Madurai</span>
                                        <a href="tel:+919894686249">9894686249</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mangalore  -->
        <div class="contact-div">
            <div class="meetup">
                <div class="row">
                    <div class="col-md-4">
                        <div class="map-image">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3889.780547819352!2d74.83620795001075!3d12.857445990886333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba35bae233a2a7f%3A0xbfe781ac5c407f93!2sThe+Forum+Fiza+Mall!5e0!3m2!1sen!2sin!4v1517296205544"
                                width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                            <h3>get direction</h3>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="direction">
                            <div class="city-name">
                                <h3>Mangalore</h3>
                            </div>
                            <div class="address">
                                <address>
                                    L3, Forum Fiza Mall,
                                    <br>Pandeshwara Road
                                    <br>Karnataka 575001
                                </address>
                            </div>
                            <div class="contact-ways">
                                <div class="telephone">
                                    <p>
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <span>Smaaash Mangalore</span>
                                        <a href="tel:+918095070111">8095070111</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mysore  -->
        <div class="contact-div">
            <div class="meetup">
                <div class="row">
                    <div class="col-md-4">
                        <div class="map-image">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3898.2691015578025!2d76.66220805000422!3d12.297655991257807!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3baf7018a81e0e5d%3A0x5b736aafd8221b5d!2sMall+of+Mysore!5e0!3m2!1sen!2sin!4v1517296468737"
                                width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                            <h3>get direction</h3>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="direction">
                            <div class="city-name">
                                <h3>Mysore</h3>
                            </div>
                            <div class="address">
                                <address>
                                    L4, Mall of Mysore,
                                    <br>Indra Nagar Extention
                                    <br>Karnataka 570010
                                </address>
                            </div>
                            <div class="contact-ways">
                                <div class="telephone">
                                    <p>
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <span>Smaaash Mysore</span>
                                        <a href="tel:+919845828816">9845828816</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Vijayawada  -->
        <div class="contact-div">
            <div class="meetup">
                <div class="row">
                    <div class="col-md-4">
                        <div class="map-image">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3825.511817444366!2d80.64359095006061!3d16.500238988560046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a35fababdaea9d1%3A0x4e50682569659d35!2sLEPL+Centro!5e0!3m2!1sen!2sin!4v1517296659329"
                                width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                            <h3>get direction</h3>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="direction">
                            <div class="city-name">
                                <h3>Vijayawada</h3>
                            </div>
                            <div class="address">
                                <address>
                                    L2, Above Lifestyle Store,
                                    <br>LEPL Centro Mall, MG Road
                                    <br>Andhra Pradesh 520010
                                </address>
                            </div>
                            <div class="contact-ways">
                                <div class="telephone">
                                    <p>
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <span>Smaaash Vijayawada</span>
                                        <a href="tel:+919505511135">9505511135</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hyderabad Smaaash 6 Mall-->
        <div class="contact-div">
            <div class="meetup">
                <div class="row">
                    <div class="col-md-4">
                        <div class="map-image">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3807.8659942790487!2d78.53514155007431!3d17.37018008803043!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb98ef2c000001%3A0x71ad3bbaa3c41f71!2sKothapet+Fruit+Market!5e0!3m2!1sen!2sin!4v1517296887142"
                                width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                            <h3>get direction</h3>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="direction">
                            <div class="city-name">
                                <h3>Hyderabad 6 Mall</h3>
                            </div>
                            <div class="address">
                                <address>
                                    L4 , 6 Mall,Above Max Store,Opp to Fruit Market Kothaper,
                                    <br>Dilshuknagar
                                    <br>Telangana 500060
                                </address>
                            </div>
                            <div class="contact-ways">
                                <div class="telephone">
                                    <p>
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <span>6 Mall</span>
                                        <a href="tel:+918096991297">8096991297</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hyderabad Smaaash City Center-->
        <div class="contact-div">
            <div class="meetup">
                <div class="row">
                    <div class="col-md-4">
                        <div class="map-image">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.9281809909544!2d78.44686410007503!3d17.415233938003364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb973771c1bc53%3A0x917fb4c80dbee217!2sCity+Centre+Mall%2C+Junction+of+Road+No%3A1+%2610%2C+Rd+Number+1%2C+Zahara+Nagar%2C+Banjara+Hills%2C+Hyderabad%2C+Telangana+500034!5e0!3m2!1sen!2sin!4v1517297087366"
                                width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                            <h3>get direction</h3>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="direction">
                            <div class="city-name">
                                <h3>Hyderabad City Center</h3>
                            </div>
                            <div class="address">
                                <address>
                                    L4, City Center Mall,
                                    <br>Road No 1 Banjara Hills, Hyderabad
                                    <br>Telangana 500034
                                </address>
                            </div>
                            <div class="contact-ways">
                                <div class="telephone">
                                    <p>
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <span>City Center</span>
                                        <a href="tel:+919666662445">9666662445</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hyderabad Smaaash #36 Jubilee Hills-->
        <div class="contact-div">
            <div class="meetup">
                <div class="row">
                    <div class="col-md-4">
                        <div class="map-image">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30452.79074999351!2d78.39221893519301!3d17.431028981590398!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb96cc62a87613%3A0xa8317fa22362be49!2sJubilee+Hills%2C+Hyderabad%2C+Telangana!5e0!3m2!1sen!2sin!4v1517298279001"
                                width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                            <h3>get direction</h3>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="direction">
                            <div class="city-name">
                                <h3>Hyderabad <span class="tag-style">#</span>36 Jubilee Hills</h3>
                            </div>
                            <div class="address">
                                <address>
                                    #36 Jubilee Hills
                                </address>
                            </div>
                            <div class="contact-ways">
                                <div class="telephone">
                                    <p>
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <span>#36 Jubilee Hills</span>
                                        <a href="tel:+919966028831">9966028831</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hyderabad Smaaash Forum Mall-->
        <div class="contact-div">
            <div class="meetup">
                <div class="row">
                    <div class="col-md-4">
                        <div class="map-image">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30452.79074999351!2d78.39221893519301!3d17.431028981590398!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb91892fad42ab%3A0x45a52c5555381afb!2sThe+Forum+Sujana+Mall!5e0!3m2!1sen!2sin!4v1517298382954"
                                width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                            <h3>get direction</h3>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="direction">
                            <div class="city-name">
                                <h3>Hyderabad Forum Mall</h3>
                            </div>
                            <div class="address">
                                <address>
                                    L3 , Forum Sujana Mall,
                                    <br>Kukatpally
                                    <br>Telangana 500072
                                </address>
                            </div>
                            <div class="contact-ways">
                                <div class="telephone">
                                    <p>
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <span>Forum Mall</span>
                                        <a href="tel:+9505511165">9505511165</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>