<div class="corporate">
  <figure>
    <img src="img/corporate/corporate.jpg" class="img-responsive" alt="image" />
  </figure>
  <div class="container">
    <div class="banner-info">
      <div class="banner-text">
        <h2 class="title brand-white">corporate parties</h2>
        <p class="brand-white title-text texts">Move the meetings from bored-room to board-games-room with exclusive Corporate Party offerings at Smaaash.Order some
          delicious food and sip on your favourite drinks, while you enjoy beating your bosses, in the games of course.</p>
        <span class="brand-white capitalize  fees title-text">minimum booking amount <i class="fa fa-inr" aria-hidden="true"></i> 10,000</span>
      </div>
      <div class="banner-buttons hidden-xs">
        <button type="button" ui-sref="confirm-order" class="btn title brand-green btn1 btn-default"><span class="brand-white" >buy<i class="fa fa-shopping-cart" aria-hidden="true"></i></span></button>
        <button type="button" class="btn title brand-purple btn2 btn-default"><span class="brand-white" ng-click="corporateParty()">enquiry<i class="fa fa-envelope-o" aria-hidden="true"></i></span></button>
      </div>
      <div class="banner-butons hidden-md hidden-sm hidden-lg">
        <button type="button" ui-sref="confirm-order" class="btn title brand-green btn1 btn-default"><span class="brand-white" >buy<i class="fa fa-shopping-cart" aria-hidden="true"></i></span></button>
        <button type="button" class="btn title brand-purple btn2 btn-default"><span class="brand-white" ng-click="corporateParty()">enquiry<i class="fa fa-envelope-o" aria-hidden="true"></i></span></button>
      </div>
    </div>
  </div>
</div>