<div class="attractions custom events1">
      <div class="backg-eve">
            <div class="container">
                  <h2 class="nav-name center">Customize Your Package</h2>
            </div>
      </div>


      <form class="help-form " ng-submit="submitCustomizeForm(customizeformData)" name="customizeform">
            <div class="forms">
                  <div class="container">
                        <h3>step 1:</h3>
                        <div class="game-type inline-block">
                              <a href=""><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                              <span class="required"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                              <span class="required"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                              <select class="form-control" ng-model="customizeformData.occasion" name="occasion" required>
                  <option ng-selected="true" value="">Occasion</option>
                  <option value="bParty">Birthday Party</option>
                  <option value="dParty">Drink Party</option>
                  <option value="CorporateParty">Corporate Parties</option>
                  <option value="kittyParty">Kitty Parties</option>
                  <option value="PreWeddingParty">Pre-Wedding Parties</option>
               </select>
                              <div ng-show="customizeform.occasion.$error.required"></div>
                        </div>
                        <div class="game-type inline-block">
                              <a href=""><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                              <span class="required"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                              <select class="form-control" ng-model="customizeformData.noofpeople" name="noofpeople" required>
                  <option ng-selected="true" value="">How Many people</option>
                  <option value="1-5">1-5</option>
                  <option value="6-10">6-10</option>
                  <option value="21-50">21-50</option>foodStylestarter
                  <option value="51-above">51-Above</option>
               </select>
                              <div ng-show="customizeform.noofpeople.$error.required"></div>
                        </div>
                        <div class=" game-type form-group inline-block">
                              <span class="required"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                              <input type="text" class="form-control" placeholder="Tentative date" uib-datepicker-popup="{{format}}" is-open="popup1.opened"
                                    datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"
                                    ng-model="customizeformData.date" />
                              <a href="" class="down" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></a>
                        </div>
                        <div class="game-type inline-block">
                              <a href=""><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                              <select class="form-control" ng-model="customizeformData.city" name="city" ng-change="customizeCityFun(customizeformData.city);">
                  <option ng-selected="true" value="">Select</option>
                  <option ng-repeat="data in allCity" value="{{data._id}}">{{data.name}}</option>
               </select>
                        </div>
                  </div>
            </div>



            <div class="help-section">
                  <div class="container">
                        <div class="new">
                                <h3>step 2:</h3>
                              <h3 class="text-center">GAMES</h3>
                              <div class="row">
                                    <div class="col-md-3 col-sm-3" ng-repeat="data in customizepackage">
                                          <div class="karting-championship  marginbot">
                                                <div class="brand-blue relative height">
                                                      <img ng-src="{{data.image|uploadpath}}" class="img-responsive" alt="">
                                                      <a ng-if="data.video" fancybox-box data-fancybox-type="iframe" href="http://www.youtube.com/embed/{{data.video |youtubethumb:true}}?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1"
                                                            class="pink-button"><img src="img/home/button.png" class="img-responsive" alt="" ng-if="data.video"></a>
                                                </div>
                                                <div class="new-detail">
                                                      <div class="viewing1 views inline-block">
                                                            <button type="button" class="uppercase bluey" ng-click="goToGames(data._id,data)" ng-hide="data.selected">SELECT</button>
                                                            <button type="button" class="uppercase bluey selected" ng-click="goToGames(data._id,data)" ng-show="data.selected">SELECTED</button>
                                                      </div>
                                                      <div class="min-h">
                                                            <h3 class="margin0 bluey" ng-bind-html="data.hometext | shorten :18"></h3>
                                                      </div>
                                                      <div class="min-h">
                                                            <p ng-if="data.gameforarray.length!=0" class="margin0">Game For:
                                                                  <span class="bluey">
                                <span ng-repeat="per in data.gameforarray track by $index">{{per}} <span ng-if="$index<data.gameforarray.length-2">|</span>
                                                                  <span ng-if="$index==data.gameforarray.length-2">&</span>                                                                  </span>
                                                                  </span>
                                                                  <span ng-if="data.gameforarray==''"> - </span>
                                                            </p>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="helping">
                        <div class="container">
                                <h3>step 3:</h3>
                              <h3 class="text-center brand-white">help us help you</h3>
                              <div class="form-group ">
                                    <div class="radio text-center">
                                          <input type="radio" id="radio5" name="food-style" value="vegeterian" ng-model="customizeformData.foodStyle">
                                          <label for="radio5">
                     <span></span> Vegeterian</label>
                                          <input type="radio" id="radio6" name="food-style" value="non-vegeterian" ng-model="customizeformData.foodStyle">
                                          <label for="radio6">
                     <span></span> Non-vegeterian</label>
                                          <input type="radio" id="radio7" name="food-style" value="both" ng-model="customizeformData.foodStyle">
                                          <label for="radio7">
                     <span></span> Both</label>
                                    </div>
                              </div>
                              <div class="row">
                                    <div class="col-md-6">
                                          <div class="starter text-right">
                                                <div class="form-group">
                                                      <label for="starter">starter</label>
                                                      <a href=""><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                                      <span class="required"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                                                      <select class="form-control" id="starter" ng-model="customizeformData.starter" name="starters" required>
                           <option ng-selected="true" value="">00</option>
                           <option value="01">01</option>
                           <option value="02">02</option>
                           <option value="03">03</option>
                        </select>
                                                      <div class="error" ng-if="selectStarter">Please select Starter.</div>
                                                </div>
                                                <div ng-if="customizeform.starters.$error.required"></div>
                                          </div>
                                          <div class="starter text-right">
                                                <div class="form-group">
                                                      <label for="desert">dessert</label>
                                                      <a href=""><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                                      <span class="required"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                                                      <select class="form-control" id="desert" ng-model="customizeformData.dessert" name="dsr" required>
                           <option ng-selected="true" value="">00</option>
                           <option value="01">01</option>
                           <option value="02">02</option>
                           <option value="03">03</option>
                        </select>
                                                      <div ng-show="customizeform.dsr.$error.required"></div>
                                                      <div class="error" ng-if="selectDessert">Please select Dessert .</div>
                                                </div>
                                          </div>
                                    </div>
                                    <div class="col-md-6">
                                          <div class="starter">
                                                <div class="form-group">
                                                      <label for="main-course">main course</label>
                                                      <div class="solution">
                                                            <a href=""><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                                            <span class="required"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                                                      </div>
                                                      <select class="form-control" id="main-course" ng-model="customizeformData.mainCourse" name="mainCourse" required>
                           <option ng-selected="true" value="">00</option>
                           <option value="01">01</option>
                           <option value="02">02</option>
                           <option value="03">03</option>
                        </select>
                                                      <div ng-show="customizeform.mainCourse.$error.required"></div>
                                                      <div class="error" ng-if="selectmainCourse">Please select the Main Course.</div>
                                                </div>
                                          </div>
                                          <div class="starter">
                                                <div class="form-group ">
                                                      <label>alcohol</label>
                                                      <div class="radio text-center">
                                                            <input type="radio" id="radio8" name="alcohol-style" value="yes" ng-model="customizeformData.alcohol">
                                                            <label for="radio8">
                              <span></span> yes</label>
                                                            <input type="radio" id="radio9" name="alcohol-style" value="no" ng-model="customizeformData.alcohol">
                                                            <label for="radio9">
                              <span></span> no</label>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>

                  </div>
                  <div class="container">
                        <div class="entry-form1 text-center" ng-if="showForm">
                              <h3>PLEASE ENTER YOUR CONTACT DETAILS</h3>
                              <p>
                                    Our executive will revert shortly
                              </p>
                              <div class=" forms entry-form text-center">
                                    <div class="form-group inline-block  relative">
                                          <input type="text" class=" form-control" placeholder="Name" name="name" ng-model="customizeformData.name" required>
                                          <span class="required"><i class="fa fa-asterisk" aria-hidden="true"></i></span>

                                    </div>
                                    <div class="form-group inline-block relative">
                                          <input type="tel" class=" form-control" placeholder="Mobile no." ng-model="customizeformData.mobile" name="mobile" required
                                                only-Digits maxlength="10" minlength="10">
                                          <span class="required"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                                    </div>
                                    <div class="form-group inline-block relative">
                                          <input type="email" class=" form-control" placeholder="Email ID" name="email" ng-model="customizeformData.email" name="email"
                                                required>
                                          <span class="required"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                                          <div class="error" ng-if="emailExist">Email Already Exist</div>

                                    </div>
                                    <button type="submit" class=" btn6 btn-default block mt10 "><img src="img/new/submit.png" class="img-responsive" alt=""></button>
                                    <!-- <button type="submit" class=" btn6 btn-default block mt10 " ng-click="openShowDiv()"><img src="img/new/submit.png" class="img-responsive" alt=""></button> -->
                              </div>
                        </div>
                        <div class="entry-form2" ng-if="showEditForm&&!hideDiv">
                              <h3 class="text-center">PLEASE ENTER YOUR CONTACT DETAILS</h3>
                              <p class="text-center">
                                    Our executive will revert shortly
                              </p>
                              <div class=" forms entry-form text-center">
                                    <div class="form-group relative">
                                          <input type="tel" class=" form-control" placeholder="Mobile no." ng-model="customizeformData.mobile" name="mobile" required
                                                maxlength="10" minlength="10" only-Digits>
                                          <span class="required needed" ng-click="goToEdit()"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                                          <p>Want to change your Mobile Number ?</p>
                                    </div>
                                    <div class="form-group relative">
                                          <input type="email" class=" form-control" placeholder="Email ID" name="email" required ng-model="customizeformData.email">
                                          <span class="required needed" ng-click="goToEdit()"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                                          <p>Want to change your Email ID ?</p>
                                    </div>
                                    <button type="submit" class=" btn6 btn-default block"><img src="img/new/submit.png" class="img-responsive" alt=""></button>
                              </div>
                        </div>
                  </div>

            </div>
</div>
</form>
<div class="entry-form3" ng-if="showThank">
      <div class="get-call">
            <h3 class="text-center">thank you</h3>
            <p class="text-center">we will get back to you soon</p>
            <div class="checkout text-center">
                  <span>Check Out</span>
                  <button type="submit" class="btn6  btn-default"><img src="img/new/pay.png" class="img-responsive" alt=""></button>
            </div>
      </div>
</div>
</div>
</div>
</div>
