<div class="attractions">
    <div class="backcp">
        <div class="container">
            <h2 class="nav-name center">Customize Your Package</h2>
        </div>
    </div>
    <div class="container">
        <div class="forms brand-blue">
          <div class="form-group">

             <input type="text" class="form-control" uib-datepicker-popup="{{format}}" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-model="formData.date" />
             <a href="" class="down" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></a>
          </div>

            <div class="game-type inline-block">
                <a href=""><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                <select class="form-control">
                  <option>Occassion</option>
                  <option>Occassion</option>
                  <option>Occassion</option>

              </select>
            </div>
            <div class="game-type inline-block">
                <a href=""><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                <select class="form-control">
                  <option>How many people</option>
                  <option>How many people</option>
                  <option>How many people</option>

              </select>
            </div>
        </div>
        <div class="new">
            <h3 class="text-center">GAMES</h3>
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="karting-championship  marginbot">
                        <div class="brand-blue relative">
                            <img src="img/explore/explore1.png" class="img-responsive" alt="">
                            <a href="" class="pink-button"><img src="img/home/button.png" class="img-responsive" alt=""></a>
                        </div>
                        <div class="new-details">
                            <div class="viewing1 inline-block"><button class="uppercase bluey">SELECT</button></div>
                            <h3 class="margin0 bluey">SMAAASH CRICKET</h3>
                            <p>Game For: <span class="bluey">Male | Female & Children</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="karting-championship  marginbot">
                        <div class="brand-blue relative">
                            <img src="img/explore/explore1.png" class="img-responsive" alt="">
                            <a href="" class="pink-button"><img src="img/home/button.png" class="img-responsive" alt=""></a>
                        </div>
                        <div class="new-details">
                            <div class="viewing1 inline-block"><button class="uppercase bluey">SELECT</button></div>
                            <h3 class="margin0 bluey">SMAAASH CRICKET</h3>
                            <p>Game For: <span class="bluey">Male | Female & Children</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="karting-championship  marginbot">
                        <div class="brand-blue relative">
                            <img src="img/explore/explore1.png" class="img-responsive" alt="">
                            <a href="" class="pink-button"><img src="img/home/button.png" class="img-responsive" alt=""></a>
                        </div>
                        <div class="new-details">
                            <div class="viewing1 inline-block"><button class="uppercase bluey">SELECT</button></div>
                            <h3 class="margin0 bluey">SMAAASH CRICKET</h3>
                            <p>Game For: <span class="bluey">Male | Female & Children</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="karting-championship  marginbot">
                        <div class="brand-blue relative">
                            <img src="img/explore/explore1.png" class="img-responsive" alt="">
                            <a href="" class="pink-button"><img src="img/home/button.png" class="img-responsive" alt=""></a>
                        </div>
                        <div class="new-details">
                            <div class="viewing1 inline-block"><button class="uppercase bluey">SELECT</button></div>
                            <h3 class="margin0 bluey">SMAAASH CRICKET</h3>
                            <p>Game For: <span class="bluey">Male | Female & Children</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="karting-championship  marginbot">
                        <div class="brand-blue relative">
                            <img src="img/explore/explore1.png" class="img-responsive" alt="">
                            <a href="" class="pink-button"><img src="img/home/button.png" class="img-responsive" alt=""></a>
                        </div>
                        <div class="new-details">
                            <div class="viewing1 inline-block"><button class="uppercase bluey">SELECT</button></div>
                            <h3 class="margin0 bluey">SMAAASH CRICKET</h3>
                            <p>Game For: <span class="bluey">Male | Female & Children</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="karting-championship  marginbot">
                        <div class="brand-blue relative">
                            <img src="img/explore/explore1.png" class="img-responsive" alt="">
                            <a href="" class="pink-button"><img src="img/home/button.png" class="img-responsive" alt=""></a>
                        </div>
                        <div class="new-details">
                            <div class="viewing1 inline-block"><button class="uppercase bluey">SELECT</button></div>
                            <h3 class="margin0 bluey">SMAAASH CRICKET</h3>
                            <p>Game For: <span class="bluey">Male | Female & Children</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="karting-championship  marginbot">
                        <div class="brand-blue relative">
                            <img src="img/explore/explore1.png" class="img-responsive" alt="">
                            <a href="" class="pink-button"><img src="img/home/button.png" class="img-responsive" alt=""></a>
                        </div>
                        <div class="new-details">
                            <div class="viewing1 inline-block"><button class="uppercase bluey">SELECT</button></div>
                            <h3 class="margin0 bluey">SMAAASH CRICKET</h3>
                            <p>Game For: <span class="bluey">Male | Female & Children</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="karting-championship  marginbot">
                        <div class="brand-blue relative">
                            <img src="img/explore/explore1.png" class="img-responsive" alt="">
                            <a href="" class="pink-button"><img src="img/home/button.png" class="img-responsive" alt=""></a>
                        </div>
                        <div class="new-details">
                            <div class="viewing1 inline-block"><button class="uppercase bluey">SELECT</button></div>
                            <h3 class="margin0 bluey">SMAAASH CRICKET</h3>
                            <p>Game For: <span class="bluey">Male | Female & Children</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="new">
            <h3 class="text-center">FOOD AND BEVERAGES</h3>
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="karting-championship  marginbot">
                        <div class="brand-blue relative">
                            <img src="img/explore/explore1.png" class="img-responsive" alt="">
                            <a href="" class="pink-button"><img src="img/home/button.png" class="img-responsive" alt=""></a>
                        </div>
                        <div class="new-details">
                            <div class="viewing1 inline-block"><button class="uppercase bluey">SELECT</button></div>
                            <h3 class="margin0 bluey">SMAAASH CRICKET</h3>
                            <p>Game For: <span class="bluey">Male | Female & Children</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="karting-championship  marginbot">
                        <div class="brand-blue relative">
                            <img src="img/explore/explore1.png" class="img-responsive" alt="">
                            <a href="" class="pink-button"><img src="img/home/button.png" class="img-responsive" alt=""></a>
                        </div>
                        <div class="new-details">
                            <div class="viewing1 inline-block"><button class="uppercase bluey">SELECT</button></div>
                            <h3 class="margin0 bluey">SMAAASH CRICKET</h3>
                            <p>Game For: <span class="bluey">Male | Female & Children</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="karting-championship  marginbot">
                        <div class="brand-blue relative">
                            <img src="img/explore/explore1.png" class="img-responsive" alt="">
                            <a href="" class="pink-button"><img src="img/home/button.png" class="img-responsive" alt=""></a>
                        </div>
                        <div class="new-details">
                            <div class="viewing1 inline-block"><button class="uppercase bluey">SELECT</button></div>
                            <h3 class="margin0 bluey">SMAAASH CRICKET</h3>
                            <p>Game For: <span class="bluey">Male | Female & Children</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="karting-championship  marginbot">
                        <div class="brand-blue relative">
                            <img src="img/explore/explore1.png" class="img-responsive" alt="">
                            <a href="" class="pink-button"><img src="img/home/button.png" class="img-responsive" alt=""></a>
                        </div>
                        <div class="new-details">
                            <div class="viewing1 inline-block"><button class="uppercase bluey">SELECT</button></div>
                            <h3 class="margin0 bluey">SMAAASH CRICKET</h3>
                            <p>Game For: <span class="bluey">Male | Female & Children</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="karting-championship  marginbot">
                        <div class="brand-blue relative">
                            <img src="img/explore/explore1.png" class="img-responsive" alt="">
                            <a href="" class="pink-button"><img src="img/home/button.png" class="img-responsive" alt=""></a>
                        </div>
                        <div class="new-details">
                            <div class="viewing1 inline-block"><button class="uppercase bluey">SELECT</button></div>
                            <h3 class="margin0 bluey">SMAAASH CRICKET</h3>
                            <p>Game For: <span class="bluey">Male | Female & Children</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="karting-championship  marginbot">
                        <div class="brand-blue relative">
                            <img src="img/explore/explore1.png" class="img-responsive" alt="">
                            <a href="" class="pink-button"><img src="img/home/button.png" class="img-responsive" alt=""></a>
                        </div>
                        <div class="new-details">
                            <div class="viewing1 inline-block"><button class="uppercase bluey">SELECT</button></div>
                            <h3 class="margin0 bluey">SMAAASH CRICKET</h3>
                            <p>Game For: <span class="bluey">Male | Female & Children</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="karting-championship  marginbot">
                        <div class="brand-blue relative">
                            <img src="img/explore/explore1.png" class="img-responsive" alt="">
                            <a href="" class="pink-button"><img src="img/home/button.png" class="img-responsive" alt=""></a>
                        </div>
                        <div class="new-details">
                            <div class="viewing1 inline-block"><button class="uppercase bluey">SELECT</button></div>
                            <h3 class="margin0 bluey">SMAAASH CRICKET</h3>
                            <p>Game For: <span class="bluey">Male | Female & Children</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="karting-championship  marginbot">
                        <div class="brand-blue relative">
                            <img src="img/explore/explore1.png" class="img-responsive" alt="">
                            <a href="" class="pink-button"><img src="img/home/button.png" class="img-responsive" alt=""></a>
                        </div>
                        <div class="new-details">
                            <div class="viewing1 inline-block"><button class="uppercase bluey">SELECT</button></div>
                            <h3 class="margin0 bluey">SMAAASH CRICKET</h3>
                            <p>Game For: <span class="bluey">Male | Female & Children</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="entry-form ">
          <h3 class="text-center">PLEASE ENTER YOUR EMAIL ID</h3>
          <p class="text-center">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <form class="form forms" action="index.html" method="post">
            <div class="form-group relative">
               <input type="text" class=" form-control" placeholder="Name" name="name" ng-model="formData.name" required>
               <span class="required"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
               <div class="error-msg" ng-show="user.name.$error.required && user.name.$touched">Please Enter Your Name </div>
            </div>
            <div class="form-group relative">
               <input type="email" class=" form-control" placeholder="Email ID" name="email" ng-model="formData.email" required>
               <span class="required"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
               <div class="error-msg" ng-show="user.email.$error.required && user.email.$touched">Please Enter Your Email ID </div>
            </div>
             <button type="submit" class="btn4  btn-default brand-yellow"><span class="uppercase">submit</span></button>
          </form>
        </div>

    </div>
</div>
