<div class="attractions custom events1">
   <div class="backg-eve">
      <div class="container">
         <h2 class="nav-name center">Customize Your Package</h2>
      </div>
   </div>

   <!--<div class="forms">
<div class="container">
            <div class="game-type inline-block">
                <a href=""><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                 <span class="required"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                  <span class="required"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                <select class="form-control">
                  <option>Occassion</option>
                  <option>Occassion</option>
                  <option>Occassion</option>-->

   <!--<div class="events1">
      <div class="container">
         <h2 class="nav-name center">Customize Your Package</h2>
      </div>
   </div>-->
   <div class="forms">
      <div class="container">
         <div class="game-type inline-block">
            <a href=""><i class="fa fa-caret-down" aria-hidden="true"></i></a>
            <span class="required"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
            <span class="required"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
            <select class="form-control" ng-model="customizeformData.occasion">
               <option ng-selected="true" value="">Occasion</option>
               <option value="bParty">Birthday Party</option>
               <option value="dParty">Drink Party</option>
               <option value="CorporateParty">Corporate Parties</option>
               <option value="kittyParty">Kitty Parties</option>
               <option value="PreWeddingParty">Pre-Wedding Parties</option>

            </select>
         </div>
         <div class="game-type inline-block">
            <a href=""><i class="fa fa-caret-down" aria-hidden="true"></i></a>
            <span class="required"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
            <select class="form-control" ng-model="customizeformData.noofpeople">
               <option ng-selected="true" value="">How Many people</option>
               <option value="1-5">1-5</option>
               <option value="6-10">6-10</option>
               <option value="21-50">21-50</option>
               <option value="51-above">51-Above</option>

            </select>
         </div>
         <div class=" game-type form-group inline-block">
            <span class="required"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
            <input type="text" class="form-control" placeholder="Tentative date" uib-datepicker-popup="{{format}}" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-model="customizeformData.date"
            />
            <a href="" class="down" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></a>
         </div>
         <div class="game-type inline-block">
            <a href=""><i class="fa fa-caret-down" aria-hidden="true"></i></a>
            <select class="form-control" ng-model="customizeformData.city">
               <option ng-selected="true" value="">Select City</option>
               <option ng-repeat="data in allCity" value={{data.name}}>{{data.name}}</option>
               <!-- <option>Mumbai</option>
               <option>Noida</option> -->

            </select>
         </div>
      </div>
   </div>
   <div class="container">

      <div class="help-section">
        
             
         <form class="help-form ">
             <div class="new">
         <h3 class="text-center">GAMES</h3>
         <div class="row">
            <div class="col-md-3 col-sm-3">
               <div class="karting-championship  marginbot">
                  <div class="brand-blue relative">
                     <img src="img/explore/explore1.png" class="img-responsive" alt="">
                     <a href="" class="pink-button"><img src="img/home/button.png" class="img-responsive" alt=""></a>
                  </div>
                  <div class="new-detail">
                     <div class="viewing1 views inline-block">
                        <button class="uppercase bluey">SELECT</button>
                     </div>
                     <h3 class="margin0 bluey">SMAAASH CRICKET</h3>
                     <p>Game For: <span class="bluey">Male | Female & Children</span></p>
                  </div>
               </div>
            </div>
            <div class="col-md-3 col-sm-3">
               <div class="karting-championship  marginbot">
                  <div class="brand-blue relative">
                     <img src="img/explore/explore1.png" class="img-responsive" alt="">
                     <a href="" class="pink-button"><img src="img/home/button.png" class="img-responsive" alt=""></a>
                  </div>
                  <div class="new-detail">
                     <div class="viewing1 views inline-block">
                        <button class="uppercase bluey">SELECT</button>
                     </div>
                     <h3 class="margin0 bluey">SMAAASH CRICKET</h3>
                     <p>Game For: <span class="bluey">Male | Female & Children</span></p>
                  </div>
               </div>
            </div>
            <div class="col-md-3 col-sm-3">
               <div class="karting-championship  marginbot">
                  <div class="brand-blue relative">
                     <img src="img/explore/explore1.png" class="img-responsive" alt="">
                     <a href="" class="pink-button"><img src="img/home/button.png" class="img-responsive" alt=""></a>
                  </div>
                  <div class="new-detail">
                     <div class="viewing1 views inline-block">
                        <button class="uppercase bluey">SELECT</button>
                     </div>
                     <h3 class="margin0 bluey">SMAAASH CRICKET</h3>
                     <p>Game For: <span class="bluey">Male | Female & Children</span></p>
                  </div>
               </div>
            </div>
            <div class="col-md-3 col-sm-3">
               <div class="karting-championship  marginbot">
                  <div class="brand-blue relative">
                     <img src="img/explore/explore1.png" class="img-responsive" alt="">
                     <a href="" class="pink-button"><img src="img/home/button.png" class="img-responsive" alt=""></a>
                  </div>
                  <div class="new-detail">
                     <div class="viewing1 views inline-block">
                        <button class="uppercase bluey">SELECT</button>
                     </div>
                     <h3 class="margin0 bluey">SMAAASH CRICKET</h3>
                     <p>Game For: <span class="bluey">Male | Female & Children</span></p>
                  </div>
               </div>
            </div>
         </div>
      </div>
            <h3 class="text-center">help us help you</h3>
            <div class="form-group ">
               <div class="radio text-center">
                  <input type="radio" id="radio5" name="food-style" value="vegeterian" ng-model="customizeformData.foodStyle" required>
                  <label for="radio5">
                     <span></span> Vegeterian</label>
                  <input type="radio" id="radio6" name="food-style" value="non-vegeterian" ng-model="customizeformData.foodStyle" required>
                  <label for="radio6">
                     <span></span> Non-vegeterian</label>
                  <input type="radio" id="radio7" name="food-style" value="both" ng-model="customizeformData.foodStyle" required>
                  <label for="radio7">
                     <span></span> Both</label>
               </div>
            </div>


            <div class="row">
               <div class="col-md-6">

                  <div class="starter text-right">
                     <div class="form-group">
                        <label for="starter">starter</label>
                        <a href=""><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                        <span class="required"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                        <select class="form-control" id="starter" ng-model="customizeformData.starter">
                           <option value="01">01</option>
                           <option value="02">02</option>
                           <option value="03">03</option>
                        </select>
                     </div>
                  </div>
                  <div class="starter text-right">
                     <div class="form-group">
                        <label for="desert">dessert</label>
                        <a href=""><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                        <span class="required"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                        <select class="form-control" id="desert" ng-model="customizeformData.dessert">
                           <option value="01">01</option>
                           <option value="02">02</option>
                           <option value="03">03</option>
                        </select>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="starter">
                     <div class="form-group">
                        <label for="main-course">main course</label>
                        <div class="solution">
                           <a href=""><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                           <span class="required"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                        </div>

                        <select class="form-control" id="main-course" ng-model="customizeformData.mainCourse">
                           <option value="01">01</option>
                           <option value="02">02</option>
                           <option value="03">03</option>
                        </select>
                     </div>
                  </div>
                  <div class="starter">
                     <div class="form-group ">
                        <label>alcohol</label>
                        <div class="radio text-center">
                           <input type="radio" id="radio8" name="alcohol-style" value="yes" ng-model="customizeformData.alcoholStyle" required>
                           <label for="radio8">
                              <span></span> yes</label>
                           <input type="radio" id="radio9" name="alcohol-style" value="no" ng-model="customizeformData.alcoholStyle" required>
                           <label for="radio9">
                              <span></span> no</label>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
    <div class="entry-form1 text-center" >
      <!--ng-hide="showDiv"-->
            <h3>PLEASE ENTER YOUR CONTACT DETAILS</h3>
            <p >
               Our executive will revert shortly
            </p>
            <form class=" forms entry-form text-center" >
               <div class="form-group inline-block  relative">
                  <input type="text" class=" form-control" placeholder="Name" name="name" ng-model="customizeformData.name" required>
                  <span class="required"><i class="fa fa-asterisk" aria-hidden="true"></i></span>

               </div>
               <div class="form-group inline-block relative">
                  <input type="tel" class=" form-control" placeholder="Mobile no." ng-model="customizeformData.mobile" name="mobile" required only-Digits  maxlength="10" minlength="10">
                  <span class="required"><i class="fa fa-asterisk" aria-hidden="true"></i></span>

               </div>
               <div class="form-group inline-block relative">
                  <input type="email" class=" form-control" placeholder="Email ID" name="email" ng-model="customizeformData.email" name="email" required>
                  <span class="required"><i class="fa fa-asterisk" aria-hidden="true"></i></span>

               </div>
               <button type="submit" class=" btn6 btn-default block mt10 " ng-click="submit(customizeformData)" ><img src="img/new/submit.png" class="img-responsive" alt=""></button>
               <!-- <button type="submit" class=" btn6 btn-default block mt10 " ng-click="openShowDiv()"><img src="img/new/submit.png" class="img-responsive" alt=""></button> -->
            </form>
         </div>
         <div class="entry-form2" >
           <!--ng-if="showDiv" ng-hide="showNow"-->
            <h3 class="text-center">PLEASE ENTER YOUR CONTACT DETAILS</h3>
            <p class="text-center">
               Our executive will revert shortly
            </p>
            <form class=" forms entry-form text-center" >
               <div class="form-group relative">
                  <input type="tel" class=" form-control" placeholder="Mobile no." ng-model="customizeformData.mobile" name="mobile" required maxlength="10" minlength="10" only-Digits>
                  <span class="required needed"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                  <p>Want to change your Mobile Number ?</p>

               </div>
               <div class="form-group relative">
                  <input type="email" class=" form-control" placeholder="Email ID" name="email" ng-model="customizeformData.email" required>
                  <span class="required needed"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                  <p>Want to change your Email ID ?</p>
               </div>
               <button type="submit" class=" btn6 btn-default block" ng-click="openShowNow()"><img src="img/new/submit.png" class="img-responsive" alt=""></button>
               <!-- <button type="submit" class=" btn6 btn-default block" ng-click="openShowNow();submit(customizeformData)"><img src="img/new/submit.png" class="img-responsive" alt=""></button> -->
            </form>
         </div>

         </form>
     
         <!-- <div class="entry-form3" ng-if="showNow">
            <div class="get-call">
               <h3 class="text-center">thank you</h3>
               <p class="text-center">we will get back to you soon</p>
               <div class="checkout text-center">
                  <span>Check Out</span>
                  <button type="submit" class="btn6  btn-default"><img src="img/new/pay.png" class="img-responsive" alt=""></button>
               </div>
            </div>
         </div> -->
      </div>

   </div>
</div>
