<div class="dealings">
<div class="backg">
  <div class="container">
      <h2 class="nav-name center">deals and packages</h2>
      </div>
    </div>
      <div class="container">
        <div class="side-buttons">
          <div class="connect-button" id="axis" ng-click="getMenu();" >
            <!-- ng-click="viewMore();" -->
            <div class="orange-rays"></div>
            <img src="img/connect.png" class="img-responsive rotate360cw" alt="">
            <p class="uppercase brand-white">connect</p>
          </div>

          <div class="side-menu menu-out">
          <div class="close-it">
              <a href="" class="text-uppercase" ng-click="closeMenu();"><img src="img/menu.png" class="img-responsive" alt=""></a>
          </div>
          <div class="login-signup relative">
            <div class="row">
            <div class="col-md-6">
            <div class="login">
              <h3 class="uppercase">login</h3>
              <form class="form">
                <div class="form-group">
                <input type="email" class="form-control"  placeholder="User Id" >
                </div>
                <div class="form-group">
                  <input type="password" class="form-control"  placeholder="Password" >
                </div>
                  <button type="button" class="btn btn-default brand-yellow"><span class="uppercase">login</span></button>
              </form>
              <button type="button" class="butn relative"><span><i class="fa fa-facebook" aria-hidden="true"></i></span>login with facebook</button>
              <button type="button" class="buton relative "><span><i class="fa fa-facebook" aria-hidden="true"></i></span>login with  Google</button>
            </div>
            </div>
            <div class="divider"></div>
            <div class="or">
              <span><img src="img/or.png" class="img-responsive" alt=""></span>
            </div>
            <div class="col-md-6">
            <div class="signup">
              <h3 class="uppercase">sign up</h3>
              <form class="form">
                <div class="form-group">
                <input type="text" class="form-control"  placeholder="User Name" >
                </div>
                <div class="form-group">
                  <input type="email" class="form-control"  placeholder="Email ID" >
                </div>
                <div class="form-group">
                  <input type="password" class="form-control"  placeholder="Password" >
                </div>
                <div class="form-group">
                  <input type="password" class="form-control"  placeholder="Re-Enter Password" >
                </div>
                  <button type="button" class="btn4  btn-default brand-blue"><span class="uppercase brand-white">sign up</span></button>
              </form>
            </div>
            </div>
            </div>
          </div>
          </div>
          </div>
          <div class="side">
          <div class="live-chat" id="axe">
              <div class="orange-rays"></div>
              <img src="img/phone-aunty.png" class="img-responsive transform" alt="">
              <div class="phone-aunty">
                <p class="uppercase brand-white">live chat</p>
            </div>

          </div>
          </div>
        <div class="new">
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="karting-championship">
                <div class="img-bg">
                <img src="img/new/text.png" class="img-responsive" alt="">
                </div>
                <div class="new-detail">
                <h3 class="margin0">Get Set Go Race On <br> Virat's favourite track</h3>
                <p>This Monsoon, enjoy the rains Smaaash Style! Starting 1st July get all games at packages starting at only Rs. 899!</p>
                <span class="capitalize greeny">read more</span>
                <div class="button-set">
                <ul class="social-icons list-inline inline-block">
                  <p class="inline-block">Share</p>
                  <li><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                  <li><a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                  <li><a href=""><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                </ul>
                <div class="more inline-block"><button class="uppercase green">know more</button></div>
              </div>
              <div class="love"><button class="uppercase"><i class="fa fa-heart-o" aria-hidden="true"></i>would love to try</button></div>
            </div>
                </div>
                </div>
            <div class="col-md-4 col-sm-4">
              <div class="karting-championship">
                <div class="img-bcg">
                <img src="img/new/text.png" class="img-responsive" alt="">
                </div>
                <div class="new-detail">
                <h3 class="margin0">Get Set Go Race On <br> Virat's favourite track</h3>
                <p>This Monsoon, enjoy the rains Smaaash Style! Starting 1st July get all games at packages starting at only Rs. 899!</p>
                <span class="capitalize pinky">read more</span>
                <div class="button-set">
                <ul class="social-icons list-inline inline-block">
                  <p class="inline-block">Share</p>
                  <li><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                  <li><a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                  <li><a href=""><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                </ul>
                <div class="more inline-block "><button class="uppercase pink">know more</button></div>
              </div>
              <div class="love"><button class="uppercase"><i class="fa fa-heart-o" aria-hidden="true"></i>would love to try</button></div>
            </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="karting-championship marginbot">
                <div class="img-bkg">
                <img src="img/new/text.png" class="img-responsive" alt="">
                </div>
                <div class="new-detail">
                <h3 class="margin0">Get Set Go Race On <br> Virat's favourite track</h3>
                <p>This Monsoon, enjoy the rains Smaaash Style! Starting 1st July get all games at packages starting at only Rs. 899!</p>
                <span class="capitalize orangy">read more</span>
                <div class="button-set">
                <ul class="social-icons list-inline inline-block">
                  <p class="inline-block">Share</p>
                  <li><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                  <li><a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                  <li><a href=""><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                </ul>
                <div class="more inline-block "><button class="uppercase orange">know more</button></div>
              </div>
              <div class="love"><button class="uppercase"><i class="fa fa-heart-o" aria-hidden="true"></i>would love to try</button></div>
            </div>
                </div>
            </div>
          </div>
        </div>
<div class="new">
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <div class="karting-championship">
        <div class="img-bg">
        <img src="img/new/text.png" class="img-responsive" alt="">
        </div>
        <div class="new-detail">
        <h3 class="margin0">Get Set Go Race On <br> Virat's favourite track</h3>
        <p>This Monsoon, enjoy the rains Smaaash Style! Starting 1st July get all games at packages starting at only Rs. 899!</p>
        <span class="capitalize greeny">read more</span>
        <div class="button-set">
        <ul class="social-icons list-inline inline-block">
          <p class="inline-block">Share</p>
          <li><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
        </ul>
        <div class="more inline-block"><button class="uppercase green">know more</button></div>
      </div>
      <div class="love"><button class="uppercase"><i class="fa fa-heart-o" aria-hidden="true"></i>would love to try</button></div>
    </div>
        </div>
        </div>
    <div class="col-md-4 col-sm-4">
      <div class="karting-championship">
        <div class="img-bcg">
        <img src="img/new/text.png" class="img-responsive" alt="">
        </div>
        <div class="new-detail">
        <h3 class="margin0">Get Set Go Race On <br> Virat's favourite track</h3>
        <p>This Monsoon, enjoy the rains Smaaash Style! Starting 1st July get all games at packages starting at only Rs. 899!</p>
        <span class="capitalize pinky">read more</span>
        <div class="button-set">
        <ul class="social-icons list-inline inline-block">
          <p class="inline-block">Share</p>
          <li><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
        </ul>
        <div class="more inline-block "><button class="uppercase pink">know more</button></div>
      </div>
      <div class="love"><button class="uppercase"><i class="fa fa-heart-o" aria-hidden="true"></i>would love to try</button></div>
    </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="karting-championship marginbot">
        <div class="img-bkg">
        <img src="img/new/text.png" class="img-responsive" alt="">
        </div>
        <div class="new-detail">
        <h3 class="margin0">Get Set Go Race On <br> Virat's favourite track</h3>
        <p>This Monsoon, enjoy the rains Smaaash Style! Starting 1st July get all games at packages starting at only Rs. 899!</p>
        <span class="capitalize orangy">read more</span>
        <div class="button-set">
        <ul class="social-icons list-inline inline-block">
          <p class="inline-block">Share</p>
          <li><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
        </ul>
        <div class="more inline-block "><button class="uppercase orange">know more</button></div>
      </div>
      <div class="love"><button class="uppercase"><i class="fa fa-heart-o" aria-hidden="true"></i>would love to try</button></div>
    </div>
        </div>
    </div>
  </div>
</div>
<div class="new">
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <div class="karting-championship">
        <div class="img-bg">
        <img src="img/new/text.png" class="img-responsive" alt="">
        </div>
        <div class="new-detail">
        <h3 class="margin0">Get Set Go Race On <br> Virat's favourite track</h3>
        <p>This Monsoon, enjoy the rains Smaaash Style! Starting 1st July get all games at packages starting at only Rs. 899!</p>
        <span class="capitalize greeny">read more</span>
        <div class="button-set">
        <ul class="social-icons list-inline inline-block">
          <p class="inline-block">Share</p>
          <li><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
        </ul>
        <div class="more inline-block"><button class="uppercase green">know more</button></div>
      </div>
      <div class="love"><button class="uppercase"><i class="fa fa-heart-o" aria-hidden="true"></i>would love to try</button></div>
    </div>
        </div>
        </div>
    <div class="col-md-4 col-sm-4">
      <div class="karting-championship">
        <div class="img-bcg">
        <img src="img/new/text.png" class="img-responsive" alt="">
        </div>
        <div class="new-detail">
        <h3 class="margin0">Get Set Go Race On <br> Virat's favourite track</h3>
        <p>This Monsoon, enjoy the rains Smaaash Style! Starting 1st July get all games at packages starting at only Rs. 899!</p>
        <span class="capitalize pinky">read more</span>
        <div class="button-set">
        <ul class="social-icons list-inline inline-block">
          <p class="inline-block">Share</p>
          <li><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
        </ul>
        <div class="more inline-block "><button class="uppercase pink">know more</button></div>
      </div>
      <div class="love"><button class="uppercase"><i class="fa fa-heart-o" aria-hidden="true"></i>would love to try</button></div>
    </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="karting-championship marginbot">
        <div class="img-bkg">
        <img src="img/new/text.png" class="img-responsive" alt="">
        </div>
        <div class="new-detail">
        <h3 class="margin0">Get Set Go Race On <br> Virat's favourite track</h3>
        <p>This Monsoon, enjoy the rains Smaaash Style! Starting 1st July get all games at packages starting at only Rs. 899!</p>
        <span class="capitalize orangy">read more</span>
        <div class="button-set">
        <ul class="social-icons list-inline inline-block">
          <p class="inline-block">Share</p>
          <li><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
        </ul>
        <div class="more inline-block "><button class="uppercase orange">know more</button></div>
      </div>
      <div class="love"><button class="uppercase"><i class="fa fa-heart-o" aria-hidden="true"></i>would love to try</button></div>
    </div>
        </div>
    </div>
  </div>
</div>
      </div>
</div>
