<div class="deals2">
    <div class="backg-deal">
        <div class="container">
            <h2 class="nav-name center ">Deals &amp; Packages</h2>
        </div>
    </div>
    <div class="container">
        <div class="new">
            <div class="row" ng-repeat="data in SingleDealsPackages">
                <div class="col-md-4" ng-repeat="d in data">
                    <div class="race-eve relative margno" ui-sref="deals-inner({id:d._id})">
                        <div class="img-bg">
                            <img ng-src="{{d.image|uploadpath}}" class="img-responsive" alt="" ui-sref="deals-inner({id:d._id})">
                        </div>
                        <a fancybox-box data-fancybox-type="iframe" href="https://www.youtube.com/embed/{{d.video |youtubethumb:true}}?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1"
                            class="pink-button"><img src="img/home/button.png" class="pink-button img-responsive" alt="" ng-if="d.video"></a>

                        <div class="race-text">

                            <div class="min-h">
                                <h3 class="margin0 brand-white" ng-bind-html="d.hometext | shorten :25"></h3>
                                <h3 class="margin0" ng-if="!d.hometext">Nothing to show.</h3>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
