<div class="deals-packages">
<div class="landing-kartbanner" ng-style="{'background':'url('+detailDealsInner.banner+')no-repeat'}">
    <div class="karting-banner"></div>
    <div class="pink-butn" ng-click="scrollToSnow;">
         <span>scroll<i class="fa fa-chevron-down" aria-hidden="true"></i></span>
      </div>
</div>
<div class="snow-bg" id="toSnow">
  <div class="container">
      <h2 class="nav-name center" ng-bind-html="detailDealsInner.hometext"></h2>
      </div>
    </div>
    <div class="container">
<div class="deals-details">
  <div ng-bind-html="detailDealsInner.description"></div>
<!-- <h3>deal description</h3>
<p>This Monsoon, enjoy the rains Smaaash Style! Starting 1st July get all games at packages starting at only Rs. 899! Get Snow Rush (20 mins), Cricket (3 overs), Bowling (5 Frames), Trampoline (15 mins) + All arcade and VR games at 899 onwards! Add 300 to this package to get 3 Mins Sky Karting!! *Paintball not included *House Waiting rules apply *Zipline is not operational in the monsoon hence excluded *Taxes as applicable Offer Valid Monday-Thursday 12.30 PM onward. OPEN TO ALL!</p> -->
<div class="button-set">
                        <ul class="social-icons list-inline inline-block">
                           <p class="inline-block">Share</p>
                           <li><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                           <li><a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                           <li><a href=""><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                        </ul>
                        <div class="more inline-block">
                           <button class="uppercase green">Buy Now</button>
                        </div>
                     </div>
</div>
    </div>
    </div>
