<div class="deals-packages">
<div class="landing-kartbanner">
    <div class="karting-banner"></div>
    <div class="pink-butn" ng-click="scrollToSnow;">
         <span>scroll<i class="fa fa-chevron-down" aria-hidden="true"></i></span>
      </div>
</div>
<div class="kart-bg" id="toSnow">
  <div class="container">
      <h2 class="nav-name center">monsoon day pass</h2>
      </div>
    </div>
    <div class="container">
<div class="deals-details">
<h3>deal description</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nobis possimus enim at modi assumenda quisquam, velit nostrum perspiciatis sunt sint repellendus necessitatibus ex harum, magni a delectus. Fugit, iure.</p>
<div class="button-set">
                        <ul class="social-icons list-inline inline-block">
                           <p class="inline-block">Share</p>
                           <li><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                           <li><a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                           <li><a href=""><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                        </ul>
                        <div class="more inline-block">
                           <button class="uppercase green">Gallery</button>
                        </div>
                     </div>
</div>
    </div>
    </div>