<div class="events1">
    <div class="backg-eve">
        <div class="container">
            <h2 class="nav-name center ">events</h2>
        </div>
    </div>
    <div class="container">
        <div class="new">
            <div class="row">
                <div class="col-md-4" ng-repeat="data in events">
                    <div class="race-eve relative margno">
                        <div class="img-bg">
                            <img ng-src="{{data.image|uploadpath}}" class="img-responsive" alt="" ui-sref="event-inner({id:data._id})">
                        </div>
                        <a fancybox-box data-fancybox-type="iframe" href="https://www.youtube.com/embed/{{data.video |youtubethumb:true}}?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1"
                            class="pink-button"><img src="img/home/button.png" class="pink-button img-responsive" alt="" ng-if="data.video"></a>
                        <div class="race-text">

                            <div class="min-h">
                                <h3 class="margin0 brand-white" ng-bind-html="data.hometext | shorten :25">smaaash cricket carnival</h3>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-4">
              <div class="race-eve relative margno">
                  <div class="img-bg">
                      <img src="img/event/event-tab1.png" class="img-responsive" alt="">
                  </div>
                  <img src="img/home/button.png" class="pink-button img-responsive" alt="">
                  <div class="race-text">
                      <div class="min-h">
                     <h3 class="margin0 brand-white">smaaash cricket carnival</h3>

                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="race-eve relative margno">
                  <div class="img-bg">
                      <img src="img/event/event-tab1.png" class="img-responsive" alt="">
                  </div>
                  <img src="img/home/button.png" class="pink-button img-responsive" alt="">
                  <div class="race-text">

                      <div class="min-h">
                     <h3 class="margin0 brand-white">smaaash cricket carnival</h3>

                  </div>
                </div>
              </div>
            </div> -->
            </div>
        </div>
    </div>
</div>
