<div class="events1">
    <div class="backg-eve">
        <div class="container">
            <h2 class="nav-name center ">events</h2>
        </div>
    </div>
    <div class="container">
        <div class="row" ng-repeat="data in events">
            <div class="col-md-4" ng-repeat="d in data">
              <div class="race-eve relative margno">
                  <div class="img-bg">
                      <img ng-src="{{d.image|uploadpath}}" class="img-responsive" alt="" ui-sref="event-inner({id:d._id})">
                  </div>
                  <img src="img/home/button.png" class="pink-button img-responsive" alt="" ng-if="d.video">
                  <div class="race-text">

                      <div class="min-h">
                     <h3 class="margin0 brand-white" ng-bind-html="d.hometext">smaaash cricket carnival</h3>

                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-4">
              <div class="race-eve relative margno">
                  <div class="img-bg">
                      <img src="img/event/event-tab1.png" class="img-responsive" alt="">
                  </div>
                  <img src="img/home/button.png" class="pink-button img-responsive" alt="">
                  <div class="race-text">
                      <div class="min-h">
                     <h3 class="margin0 brand-white">smaaash cricket carnival</h3>

                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="race-eve relative margno">
                  <div class="img-bg">
                      <img src="img/event/event-tab1.png" class="img-responsive" alt="">
                  </div>
                  <img src="img/home/button.png" class="pink-button img-responsive" alt="">
                  <div class="race-text">

                      <div class="min-h">
                     <h3 class="margin0 brand-white">smaaash cricket carnival</h3>

                  </div>
                </div>
              </div>
            </div> -->
        </div>
    </div>
</div>
