<div class="backg">
  <div class="container">
    <h2 class="nav-name center">explore smaaash</h2>
      </div>
    </div>
<div class="container">
  <div class="games">
<div class="rows">
  <div class="col-flexing">
    <div class="gaming brand-blue">
<div class="anti-scew">
  <div class="straight">
    <h2 class="title brand-white center">smaaash cricket</h2>
    <a href=""><img src="img/home/pop-up.png" class="img-responsive" alt=""></a>
  </div>
</div>
    </div>
  </div>
    <div class="col-flexing">
      <div class="smaaash-gaming brand-pink">
        <div class="anti-scew">
          <div class="straight">
            <h2 class="title brand-white center">cockpit 360</h2>
            <a href=""><img src="img/home/pop-up.png" class="img-responsive" alt=""></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-flexing">
      <div class="smash-gaming">
      <div class="gaming brand-darkblue">
        <div class="anti-scew">
          <div class="straight">
            <h2 class="title brand-white center">snow rush</h2>
            <a href=""><img src="img/home/pop-up.png" class="img-responsive" alt=""></a>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
</div>
<div class="games">
<div class="rows">
<div class="col-flexing">
  <div class="gaming brand-red">
<div class="anti-scew">
<div class="straight">
  <h2 class="title brand-white center">twilight bowling</h2>
  <a href=""><img src="img/home/pop-up.png" class="img-responsive" alt=""></a>
</div>
</div>
  </div>
</div>

  <div class="col-flexing">
    <div class="smaaash-gaming brand-green">
      <div class="anti-scew">
        <div class="straight">
          <h2 class="title brand-white center">sky karting</h2>
          <a href=""><img src="img/home/pop-up.png" class="img-responsive" alt=""></a>
        </div>
      </div>
    </div>
  </div>


  <div class="col-flexing">
    <div class="smash-gaming">
    <div class="gaming brand-purple">
      <div class="anti-scew">
        <div class="straight">
          <h2 class="title brand-white center">trampoline park</h2>
          <a href=""><img src="img/home/pop-up.png" class="img-responsive" alt=""></a>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</div>
<div class="games">
<div class="rows">
<div class="col-flexing">
  <div class="gaming brand-blue">
<div class="anti-scew">
<div class="straight">
  <h2 class="title brand-white center">finger coaster</h2>
  <a href=""><img src="img/home/pop-up.png" class="img-responsive" alt=""></a>
</div>
</div>
  </div>
</div>

  <div class="col-flexing">
    <div class="smaaash-gaming brand-green">
      <div class="anti-scew">
        <div class="straight">
          <h2 class="title brand-white center">super keeper</h2>
          <a href=""><img src="img/home/pop-up.png" class="img-responsive" alt=""></a>
        </div>
      </div>
    </div>
  </div>


  <div class="col-flexing">
    <div class="smash-gaming">
    <div class="gaming brand-darkblue">
      <div class="anti-scew">
        <div class="straight">
          <h2 class="title brand-white center">dodge ball</h2>
          <a href=""><img src="img/home/pop-up.png" class="img-responsive" alt=""></a>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</div>
<div class="games">
<div class="rows">
<div class="col-flexing">
  <div class="gaming brand-red">
<div class="anti-scew">
<div class="straight">
  <h2 class="title brand-white center">flymax</h2>
  <a href=""><img src="img/home/pop-up.png" class="img-responsive" alt=""></a>
</div>
</div>
  </div>
</div>

  <div class="col-flexing">
    <div class="smaaash-gaming brand-pink">
      <div class="anti-scew">
        <div class="straight">
          <h2 class="title brand-white center">vertigo-walk the plank</h2>
          <a href=""><img src="img/home/pop-up.png" class="img-responsive" alt=""></a>
        </div>
      </div>
    </div>
  </div>


  <div class="col-flexing">
    <div class="smash-gaming">
    <div class="gaming brand-green">
      <div class="anti-scew">
        <div class="straight">
          <h2 class="title brand-white center">x1 motor racing simulator</h2>
          <a href=""><img src="img/home/pop-up.png" class="img-responsive" alt=""></a>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</div>
<div class="games">
<div class="rows">
<div class="col-flexing">
  <div class="gaming brand-darkblue">
<div class="anti-scew">
<div class="straight">
  <h2 class="title brand-white center">zipline</h2>
  <a href=""><img src="img/home/pop-up.png" class="img-responsive" alt=""></a>
</div>
</div>
  </div>
</div>

  <div class="col-flexing">
    <div class="smaaash-gaming brand-blue">
      <div class="anti-scew">
        <div class="straight">
          <h2 class="title brand-white center">xd-xtreme interactive theater</h2>
          <a href=""><img src="img/home/pop-up.png" class="img-responsive" alt=""></a>
        </div>
      </div>
    </div>
  </div>


  <div class="col-flexing">
    <div class="smash-gaming">
    <div class="gaming brand-purple">
      <div class="anti-scew">
        <div class="straight">
          <h2 class="title brand-white center">smart arcade</h2>
          <a href=""><img src="img/home/pop-up.png" class="img-responsive" alt=""></a>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</div>
</div>
