<div class="backg">
    <div class="container">
        <h2 class="nav-name center">explore smaaash</h2>
    </div>
</div>
<div class="container">
    <div class="games" >
        <div class="rows no-flex" ng-repeat ="data in smaaash" >
            <div class="col-flexing" ng-repeat="s in data">
                <div class="gaming brand-blue">
                    <div class="anti-scew">
                        <div class="straight">

                            <h2 ui-sref="explore({id:s._id})" class="title brand-white center" >{{s.title}}</h2></a>
                            <a href=""><img ng-src="{{s.image|uploadpath}}" class=" img-responsive margin60" alt="smaaash cricket">
                            <a href="" class="play-butn" ng-if="s.video !== ''"><img src="img/home/button.png" class="img-responsive" alt="" ></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-flexing">
                <div class="smaaash-gaming brand-pink">
                    <div class="anti-scew">
                        <div class="straight">
                            <h2 class="title brand-white center">cockpit 360</h2>
                            <a href=""><img src="img/explore/explore2.png" class="img-responsive margin60" alt="cockpit 360"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-flexing">
                <div class="smash-gaming">
                    <div class="gaming brand-darkblue">
                        <div class="anti-scew">
                            <div class="straight">
                                <h2 class="title brand-white center">snow rush</h2>
                                <a href=""><img src="img/explore/explore3.png" class="img-responsive margin60" alt="snow rush"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <!-- <div class="games">
        <div class="rows no-flex">
            <div class="col-flexing">
                <div class="gaming brand-red">
                    <div class="anti-scew">
                        <div class="straight">
                            <h2 class="title brand-white center">twilight bowling</h2>
                            <a href=""><img src="img/explore/explore4.png" class="img-responsive margin60" alt="twilight bowling"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-flexing">
                <div class="smaaash-gaming brand-green">
                    <div class="anti-scew">
                        <div class="straight">
                            <h2 class="title brand-white center">sky karting</h2>
                            <a href="http://tingdom.in/smaaash/#/karting"><img src="img/explore/explore5.png" class="img-responsive margin60" alt="sky karting"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-flexing">
                <div class="smash-gaming">
                    <div class="gaming brand-purple">
                        <div class="anti-scew">
                            <div class="straight">
                                <h2 class="title brand-white center">trampoline park</h2>
                                <a href=""><img src="img/explore/explore6.png" class="img-responsive margin60" alt="trampoline park"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="games">
        <div class="rows no-flex">
            <div class="col-flexing">
                <div class="gaming brand-blue">
                    <div class="anti-scew">
                        <div class="straight">
                            <h2 class="title brand-white center">finger coaster</h2>
                            <a href=""><img src="img/explore/explore7.png" class="img-responsive margin60" alt="finger coaster"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-flexing">
                <div class="smaaash-gaming brand-green">
                    <div class="anti-scew">
                        <div class="straight">
                            <h2 class="title brand-white center">super keeper</h2>
                            <a href=""><img src="img/explore/explore8.png" class="img-responsive margin60" alt="super keeper"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-flexing">
                <div class="smash-gaming">
                    <div class="gaming brand-darkblue">
                        <div class="anti-scew">
                            <div class="straight">
                                <h2 class="title brand-white center">dodge ball</h2>
                                <a href=""><img src="img/explore/explore5.png" class="img-responsive margin60" alt="dodge ball"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="games">
        <div class="rows no-flex">
            <div class="col-flexing">
                <div class="gaming brand-red">
                    <div class="anti-scew">
                        <div class="straight">
                            <h2 class="title brand-white center">flymax</h2>
                            <a href=""><img src="img/explore/explore9.png" class="img-responsive margin60" alt="flymax"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-flexing">
                <div class="smaaash-gaming brand-pink">
                    <div class="anti-scew">
                        <div class="straight">
                            <h2 class="title brand-white center">vertigo-walk the plank</h2>
                            <a href=""><img src="img/explore/explore10.png" class="img-responsive margin60" alt="vertigo-walk the plank"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-flexing">
                <div class="smash-gaming">
                    <div class="gaming brand-green">
                        <div class="anti-scew">
                            <div class="straight">
                                <h2 class="title brand-white center">x1 motor racing simulator</h2>
                                <a href=""><img src="img/explore/explore11.png" class="img-responsive margin60" alt="x1 motor racing simulator"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="games">
        <div class="rows no-flex">
            <div class="col-flexing">
                <div class="gaming brand-darkblue">
                    <div class="anti-scew">
                        <div class="straight">
                            <h2 class="title brand-white center">zipline</h2>
                            <a href=""><img src="img/explore/explore12.png" class="img-responsive margin60" alt="zipline"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-flexing">
                <div class="smaaash-gaming brand-blue">
                    <div class="anti-scew">
                        <div class="straight">
                            <h2 class="title brand-white center">xd-xtreme interactive theater</h2>
                            <a href=""><img src="img/explore/explore12.png" class="img-responsive margin60" alt="xd-xtreme interactive theater"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-flexing">
                <div class="smash-gaming">
                    <div class="gaming brand-purple">
                        <div class="anti-scew">
                            <div class="straight">
                                <h2 class="title brand-white center">smart arcade</h2>
                                <a href=""><img src="img/explore/explore12.png" class="img-responsive margin60" alt="smart arcade"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div> -->
</div>

<!-- <div class="container">
    <div class="rows no-flex">
        <div class="col-flexing">
          <img src="img/explore-img/1.png" alt="" class="img-responsive">
        </div>
        <div class="col-flexing">
          <img src="img/explore-img/2.png" alt="" class="img-responsive">
        </div>
        <div class="col-flexing">
          <img src="img/explore-img/3.png" alt="" class="img-responsive">
        </div>
    </div>
    <div class="rows no-flex">
        <div class="col-flexing">
          <img src="img/explore-img/4.png" alt="" class="img-responsive">
        </div>
        <div class="col-flexing">
          <img src="img/explore-img/5.png" alt="" class="img-responsive">
        </div>
        <div class="col-flexing">
          <img src="img/explore-img/6.png" alt="" class="img-responsive">
        </div>
    </div>
    <div class="rows no-flex">
        <div class="col-flexing">
          <img src="img/explore-img/7.png" alt="" class="img-responsive">
        </div>
        <div class="col-flexing">
          <img src="img/explore-img/8.png" alt="" class="img-responsive">
        </div>
        <div class="col-flexing">
          <img src="img/explore-img/9.png" alt="" class="img-responsive">
        </div>
    </div>
    <div class="rows no-flex">
        <div class="col-flexing">
          <img src="img/explore-img/9.png" alt="" class="img-responsive">
        </div>
        <div class="col-flexing">
          <img src="img/explore-img/9.png" alt="" class="img-responsive">
        </div>
        <div class="col-flexing">
          <img src="img/explore-img/9.png" alt="" class="img-responsive">
        </div>
    </div>
</div> -->
