<div class="container">
  <div class="games">
<div class="rows">
  <div class="col-flexing">
    <div class="gaming">
<div class="anti-scew">
  <div class="straight">
    <h2 class="title brand-white center">smaaash cricket</h2>
    <a href=""><img src="img/home/pop-up.png" class="img-responsive" alt=""></a>
  </div>
</div>
    </div>
  </div>
    <div class="col-flexing">
      <div class="gaming">
        <div class="anti-scew">
          <div class="straight">
            <h2 class="title brand-white center">smaaash cricket</h2>
            <a href=""><img src="img/home/pop-up.png" class="img-responsive" alt=""></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-flexing">
      <div class="gaming">
        <div class="anti-scew">
          <div class="straight">
            <h2 class="title brand-white center">smaaash cricket</h2>
            <a href=""><img src="img/home/pop-up.png" class="img-responsive" alt=""></a>
          </div>
        </div>
      </div>
    </div>
    </div>
</div>
<div class="games">
<div class="rows">
<div class="col-flexing">
  <div class="gaming">

  </div>
</div>

  <div class="col-flexing">
    <div class="gaming">

    </div>
  </div>


  <div class="col-flexing">
    <div class="gaming">

    </div>
  </div>
  </div>
</div>
<div class="games">
<div class="rows">
<div class="col-flexing">
  <div class="gaming">

  </div>
</div>

  <div class="col-flexing">
    <div class="gaming">

    </div>
  </div>


  <div class="col-flexing">
    <div class="gaming">

    </div>
  </div>
  </div>
</div>
<div class="games">
<div class="rows">
<div class="col-flexing">
  <div class="gaming">

  </div>
</div>

  <div class="col-flexing">
    <div class="gaming">

    </div>
  </div>


  <div class="col-flexing">
    <div class="gaming">

    </div>
  </div>
  </div>
</div>
<div class="games">
<div class="rows">
<div class="col-flexing">
  <div class="gaming">

  </div>
</div>

  <div class="col-flexing">
    <div class="gaming">

    </div>
  </div>


  <div class="col-flexing">
    <div class="gaming">

    </div>
  </div>
  </div>
</div>
</div>
