<div class="container">
  <div class="games">
<div class="row">
  <div class="games1">
  <div class="col-md-4"></div>
  </div>
  <div class="games2">
  <div class="col-md-4"></div>
  </div>
  <div class="games3">
  <div class="col-md-4"></div>
  </div>
</div>
</div>
<div class="games">
<div class="row">
<div class="games1">
<div class="col-md-4"></div>
</div>
<div class="games2">
<div class="col-md-4"></div>
</div>
<div class="games3">
<div class="col-md-4"></div>
</div>
</div>
</div>
<div class="games">
<div class="row">
<div class="games1">
<div class="col-md-4"></div>
</div>
<div class="games2">
<div class="col-md-4"></div>
</div>
<div class="games3">
<div class="col-md-4"></div>
</div>
</div>
</div>
<div class="games">
<div class="row">
<div class="games1">
<div class="col-md-4"></div>
</div>
<div class="games2">
<div class="col-md-4"></div>
</div>
<div class="games3">
<div class="col-md-4"></div>
</div>
</div>
</div>
<div class="games">
<div class="row">
<div class="games1">
<div class="col-md-4"></div>
</div>
<div class="games2">
<div class="col-md-4"></div>
</div>
<div class="games3">
<div class="col-md-4"></div>
</div>
</div>
</div>
</div>
