<div class="landing-banner" auto-height>
    <div class="inner-banner"></div>
</div>

<div class="smaash-drops">
  <div ng-include="template.header" class="template header  brand-yellow"></div>
    <div class="slidings">
        <flex-slider flex-slide="s in mySlides" prev-text="" next-text="">
        <li>
            <img ng-src="{{s}}">
        </li>
    </flex-slider>
</div>

</div>
<div class="container">
<div class="slant1">
    <div class="flex-row rows">
        <div class="flex-col cols1">
            <div class="comic-pane">
                <div class="text brand-green">
                    <p class="text-uppercase title">Attractions</p>
                    <figure class="games-images">
                        <img src="img/home/sachins.png" class="img-responsive sachinss" alt="Speed Karting"/>
                        <a href=""><img src="img/home/button.png" class="img-responsive buttons" alt="button"></a>
                        <a href=""><img src="img/home/arrow.png" class="img-responsive arrows" alt="arrow"></a>
                    </figure>
                </div>
            </div>
        </div>
        <div class="flex-col cols1">
            <div class="comic-panes">
                <div class="text1 brand-blue">
                    <p class="text-uppercase title">Whats New</p>
                    <div class="slidings">
                        <flex-slider class="carousel" flex-slide="s in mySlides1 track by $index" item-width="250" animation="slide" animationLoop="true">
                            <li>
                                <img ng-src="{{s}}">
                            </li>
                        </flex-slider>
                    </div>
                </div>
                <div class="text2 brand-darkblue">
                    <p class="text-uppercase title">Host Party</p>
                    <div class="slidings">
                        <flex-slider class="carousel" flex-slide="s in mySlides2 track by $index" item-width="250" animation="slide" animationLoop="true">
                            <li>
                                <img ng-src="{{s}}">
                            </li>
                        </flex-slider>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="slant2">
    <div class="flex-row rows">
        <div class="flex-col cols1">
            <div class="comic-panes">
                <div class="text1 brand-purple">
                    <figure></figure>
                </div>
                <div class="text2 brand-blue">
                    <figure></figure>
                </div>
            </div>
        </div>
        <div class="flex-col cols1">
            <div class="comic-pane">
                <figure class="games-images"></figure>
            </div>
        </div>
    </div>
</div>
<div class="slant1 social-medias">
    <div class="flex-row rows">
        <div class="flex-col cols1">
            <div class="comic-pane1">
                <div class="social">
                    <div class="text brand-purple">
                        <div class="socials">
                            <p class="text-uppercase title">Facebook</p>
                            <figure class="social-media">
                                <img src="img/home/fb.png" class="img-responsive fb" alt="Facebook">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-col cols1">
            <div class="comic-panes1">
                <div class="social">
                    <div class="text1 brand-pink">
                        <div class="socials">
                            <p class="text-uppercase title">Twitter</p>
                            <figure class="social-media">
                                <img src="img/home/twitter.png" class="img-responsive twitter" alt="Twitter">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="comic-paness">
                <div class="social">
                    <div class="text2 brand-red">
                        <div class="socials">
                            <p class="text-uppercase title">Instagram</p>
                            <figure class="social-media">
                                <img src="img/home/Instagram.png" class="img-responsive instagram" alt="Instagram">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
