<div class="inner relative pointer">

    <iframe width="560" height="315" ng-if="!banner[0].homebanner||banner[0].homebanner && banner[0].videourl && showVideo" ng-src="{{'https://www.youtube.com/embed/'+banner[0].videourl+'?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1'|trusted}}"
        frameborder="0" allowfullscreen="" style="
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
" class="">

    </iframe>
    <div class="overlays" ng-show="showVideo">
        <a class="pull-right" ng-click="showVidFalse()"><i class="fa fa-times-circle-o" aria-hidden="true"></i></a>
    </div>
    <img ng-src="{{banner[0].thumbnail|uploadpath}}" class="img-responsive margin-auto width100" ng-if="(banner[0].thumbnail || banner[0].thumbnail != '' )&&banner[0].videourl"
        ng-click="showVid()">
    <img ng-src="{{banner[0].videourl|youtubethumb}}" ng-click="showVid()" class="img-responsive width100" ng-if="(!(banner[0].thumbnail || banner[0].thumbnail != '')) && banner[0].videourl">




</div>
<div class="landing-banner" ng-if="banner[0].homebanner && !banner[0].videourl">
    <div ng-if="banner[0].homebanner && !banner[0].videourl||banner[0].thumbnail" class="inner" auto-height ng-style="{'background':'url('+banner[0].homebanner+')no-repeat'}"
        mozallowfullscreen="" allowfullscreen="" scrolling="auto">
    </div>

</div>
<!-- <div class="landing-banner" ng-if="banner[0].homebanner && !banner[0].videourl">
   <div ng-if="banner[0].homebanner && !banner[0].videourl||banner[0].thumbnail" class="inner" auto-height ng-style="{'background':'url('+banner[0].homebanner+')no-repeat'}" fancybox-box data-fancybox-type="iframe" frameborder="0" webkitallowfullscreen=""
     mozallowfullscreen="" allowfullscreen="" scrolling="auto">
   </div>

</div> -->
<div class="container">
    <!-- <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/YHcLnUmhTyA" frameborder="0" allowfullscreen></iframe>
      </div> -->

    <div class="purple-butn" ng-click="scrollToHome();">
        <span>scroll<i class="fa fa-chevron-down" aria-hidden="true"></i></span>
    </div>
</div>
<div class="smaash-drops" id="toHome">
    <div class="slidings">
        <flex-slider flex-slide="s in mySlides track by $index" manual-controls=".custom-pagination li" animation="slide" animationLoop="true"
            direction-nav="false">
            <li>
                <img ng-src="{{s.image|uploadpath}}">
            </li>
        </flex-slider>
        <ul class="custom-pagination">
            <li ng-repeat="s in mySlides track by $index">{{s.ordering}}</li>
        </ul>

    </div>
</div>
<div class="new-slider">
    <div class="container">
        <div class="gallery">
            <div class="slidings">
                <div class="headings clearfix">
                    <h2 class="title slide-text pull-left">what's new</h2>
                    <p class="pull-right margin33" ui-sref="whats-new({id:whatsnew[0].type._id})">View All</p>
                </div>
                <flex-slider class="carousel" flex-slide="s in whatsnew track by $index" item-width="280" animation="slide" animationLoop="true"
                    prev-text="" next-text="">
                    <li>
                        <div class="race relative margno">
                            <div class="img-bg">
                                <a ui-sref="whats-new({id:s.type._id})">
                                    <img ng-src="{{s.image|uploadpath}}" class="img-responsive" alt="">
                                </a>

                            </div>
                            <a fancybox-box data-fancybox-type="iframe" href="https://www.youtube.com/embed/{{s.video}}?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1"
                                class="pink-button"><img src="img/home/button.png" class="img-responsive" alt="" ng-if="s.video"></a>
                            <!-- <a fancybox-box data-fancybox-type="iframe" href="https://www.youtube.com/embed/KJuYa94JgbY" class="pink-button"><img src="img/home/button.png" class="img-responsive" alt="" ng-if="s.video"></a> -->
                            <div class="race-text whites" ui-sref="whats-new({id:s.type._id})">

                                <div class="min-hiss">
                                    <h3 class="margin0 brand-white pointer" ng-bind-html="s.hometext | shorten :30"></h3>
                                    <div ng-if="!s.hometext">No title.</div>
                                </div>
                            </div>
                        </div>

                    </li>
                </flex-slider>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <!-- <div class="slant-row reverse">
  <div class="slant-col">
      <div class="slant-in brand-purple">
          <div class="slant-box half-height"></div>
      </div>
      <div class="slant-in brand-blue">
          <div class="slant-box  half-height">

          </div>
      </div>
  </div>
  <div class="slant-col brand-yellow pull-right">
      <div class="rays"></div>
      <div class="slant-box full-height">
          <div class="mover">
            <a class="know" href="">Know More</a>
              <img src="img/home/aunty.png" class="img-responsive" alt="Speed Karting"/>
          </div>
      </div>
  </div>
  </div> -->
    <div class="slant-row reversed">
        <div class="slant-col ">
            <div class="slant-in brand-green">
                <div class="slant-box full-height">
                    <h2 class="brand-white pull-left l20">DEALS AND PACKAGES</h2>

                    <p class="pull-right  capitalize brand-white border-bot" ui-sref="dealsp({id:deals[0].type._id})">view all</p>
                    <div class="clearfix"></div>
                    <div class="mover">
                        <div class="slidings">
                            <flex-slider class="carousel" flex-slide="s in deals track by $index" item-width="350" animation="slide" animationLoop="true"
                                prev-text="" next-text="">
                                <li>
                                    <a ui-sref="deals-inner({id:s._id})">
                                        <div class="race relative">
                                            <div class="img-bg">
                                                <img ng-if="s.image" ng-src="{{s.image|uploadpath}}" class="img-responsive" alt="">
                                            </div>
                                            <a fancybox-box data-fancybox-type="iframe" href="https://www.youtube.com/embed/{{s.video |youtubethumb:true}}?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1"
                                                class="pink-button"><img src="img/home/button.png" class="img-responsive" alt="" ng-if="s.video"></a>



                                            <div class="race-text" ui-sref="deals-inner({id:s._id})">
                                                <div class="min-hi">
                                                    <h3 class="margin0 brand-white pointer" ng-bind-html="s.hometext | shorten :30">MONSOON DAY PASS!</h3>
                                                    <div ng-if="!s.hometext">No data Found</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </flex-slider>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slant-col brand-blue pull-right">
            <div class="slant-box full-height">
                <p class="pull-right  capitalize brand-white border-bot lastmin" ui-sref="host-party({id:hostParty[0].type._id})">view all</p>
                <h2 class="brand-white ">Host A Party</h2>
                <div class="mover extra" ng-if="hostParty">
                    <flex-slider class="carousel relative" item-margin="0" flex-slide="s in hostParty track by $index" animation="slide" animationLoop="true"
                        prev-text="" next-text="">
                        <li ng-if="s.hostAPartyType ==='57d6a09dbd5eb9846074b419'">
                            <a ui-sref="birthday-parties({id:s._id})">
                                <img ng-if="s.image" noloading="true" ng-src="{{s.image|uploadpath}}">
                            </a>
                            <!-- <a ui-sref="host-party({id:s.type._id})">
                                <img ng-if="s.image" noloading="true" ng-src="{{s.image|uploadpath}}">
                            </a> -->
                            <a fancybox-box data-fancybox-type="iframe" href="https://www.youtube.com/embed/{{s.video |youtubethumb:true}}?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1"
                                class="pink-button"><img src="img/home/button.png" class="img-responsive" alt="" ng-if="s.video"></a>
                            <div class="carousel-text bg-black" ui-sref="birthday-parties({id:s._id})">
                                <h3 class="brand-white uppercase title  pointer text-center tops" ng-bind-html="s.hometext | shorten :30"></h3>
                            </div>
                        </li>
                        <li ng-if="s.hostAPartyType ==='57d6a027bd5eb9846074b418'">
                            <a ui-sref="wedding-parties({id:s._id})">
                                <img ng-if="s.image" noloading="true" ng-src="{{s.image|uploadpath}}">
                            </a>
                            <!-- <a ui-sref="host-party({id:s.type._id})">
                                <img ng-if="s.image" noloading="true" ng-src="{{s.image|uploadpath}}">
                            </a> -->
                            <a fancybox-box data-fancybox-type="iframe" href="https://www.youtube.com/embed/{{s.video |youtubethumb:true}}?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1"
                                class="pink-button"><img src="img/home/button.png" class="img-responsive" alt="" ng-if="s.video"></a>
                            <div class="carousel-text bg-black">
                                <h3 class="brand-white uppercase title  text-center tops" ng-bind-html="s.hometext | shorten :30"></h3>
                            </div>
                        </li>
                        <li ng-if="s.hostAPartyType ==='57e142483da62fae1dfc55f2'">
                            <a ui-sref="corporate-parties({id:s._id})">
                                <img ng-if="s.image" noloading="true" ng-src="{{s.image|uploadpath}}">
                            </a>
                            <!-- <a ui-sref="host-party({id:s.type._id})">
                                <img ng-if="s.image" noloading="true" ng-src="{{s.image|uploadpath}}">
                            </a> -->
                            <a fancybox-box data-fancybox-type="iframe" href="https://www.youtube.com/embed/{{s.video |youtubethumb:true}}?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1"
                                class="pink-button"><img src="img/home/button.png" class="img-responsive" alt="" ng-if="s.video"></a>
                            <div class="carousel-text bg-black">
                                <h3 class="brand-white uppercase title  text-center tops" ng-bind-html="s.hometext | shorten :30"></h3>
                            </div>
                        </li>
                        <li ng-if="s.hostAPartyType ==='57e1429c3da62fae1dfc560c'">
                            <a ui-sref="kitty-parties({id:s._id})">
                                <img ng-if="s.image" noloading="true" ng-src="{{s.image|uploadpath}}">
                            </a>
                            <!-- <a ui-sref="host-party({id:s.type._id})">
                                <img ng-if="s.image" noloading="true" ng-src="{{s.image|uploadpath}}">
                            </a> -->
                            <a fancybox-box data-fancybox-type="iframe" href="https://www.youtube.com/embed/{{s.video |youtubethumb:true}}?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1"
                                class="pink-button"><img src="img/home/button.png" class="img-responsive" alt="" ng-if="s.video"></a>
                            <div class="carousel-text bg-black">
                                <h3 class="brand-white uppercase title  text-center tops" ng-bind-html="s.hometext | shorten :30"></h3>
                            </div>
                        </li>
                    </flex-slider>
                    <div ng-if="!hostParty">No Data Found</div>
                </div>

            </div>
        </div>
    </div>
    <div class="new-sliding">
        <div class="gallery">
            <div class="slidings">
                <div class="headings clearfix">
                    <h2 class="title slide-text pull-left">Buy Now</h2>
                    <p class="pull-right margin33 uppercase border-bot">view all</p>
                </div>
                <flex-slider class="carousel" flex-slide="s in buyOnline track by $index" item-width="280" animation="slide" animationLoop="true"
                    prev-text="" next-text="">
                    <li>

                        <div class="race relative margno">
                            <div class="img-bg">
                                <a href="#">
                                    <img ng-src="{{s.image|uploadpath}}" class="img-responsive" alt="">
                                </a>
                            </div>
                            <a href="" class="buy-button"><img src="img/buy.png" class="img-responsive" alt=""></a>
                            <!--<a href="" class="pink-button"><img src="img/buy.png" class="img-responsive" alt=""></a>-->
                            <div class="race-text whites">
                                <div class="min-hiss">
                                    <h3 class="margin0 brand-white pointer" ng-bind-html="s.hometext"> </h3>
                                    <h3 ng-if="!s.hometext">No data found</h3>
                                </div>
                            </div>
                        </div>

                    </li>
                </flex-slider>
            </div>
        </div>
    </div>

    <!-- <div class="slant-row">
    <div class="slant-col brand-green">
        <div class="slant-box full-height">
            <h2 class="brand-white">Attractions</h2>
            <div class="mover">
                <div class="slidings">
                    <flex-slider class="carousel" flex-slide="s in attraction track by $index" item-width="500" animation="slide" animationLoop="true" prev-text="" next-text="">
                    <li>

                        <img ng-src="{{s.image|uploadpath}}">
                    </li>
                </flex-slider>
            </div>
        </div>
    </div>
</div>
<div class="slant-col pull-right">
    <div class="slant-in brand-blue">
        <div class="slant-box half-height">
            <h2 class="brand-white">Whats New</h2>
            <div class="slidings">
                <flex-slider class="carousel" flex-slide="s in whatsnew track by $index" item-width="250" animation="slide" animationLoop="true" prev-text="" next-text="">
                    <li>
                        <img ng-src="{{s.image|uploadpath}}">
                    </li>
                </flex-slider>
            </div>
        </div>
    </div>
    <div class="slant-in brand-darkblue">
        <div class="slant-box  half-height">
            <h2 class="brand-white">Host Party</h2>
            <div class="slidings">
                <flex-slider class="carousel" flex-slide="s in hostParty track by $index" item-width="250" animation="slide" animationLoop="true" prev-text="" next-text="">
                    <li>
                        <img ng-src="{{s.image|uploadpath}}">
                    </li>
                </flex-slider>
            </div>
        </div>
    </div>
</div>
</div>  -->
    <div class="slant-row reversing">
        <div class="slant-col">
            <div class="slant-in brand-blue ">
                <div class="slant-box full-height">
                    <h2 class="brand-white pull-left l20">events</h2>
                    <p class="pull-right  capitalize brand-white border-bot" ui-sref="event({id:events[0].type._id})">view all</p>
                    <div class="clearfix"></div>
                    <div class="mover">
                        <div class="slidings">
                            <flex-slider class="carousel" flex-slide="s in events track by $index" item-width="350" animation="slide" animationLoop="true"
                                prev-text="" next-text="">
                                <li>
                                    <a ui-sref="event-inner({id:s._id})">
                                        <div class="race relative">
                                            <div class="img-bg" ng-if="s.image">
                                                <img src="{{s.image|uploadpath}}" class="img-responsive" alt="">
                                            </div>
                                            <a fancybox-box data-fancybox-type="iframe" href="https://www.youtube.com/embed/{{s.video |youtubethumb:true}}?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1"
                                                class="pink-button"><img src="img/home/button.png" class="img-responsive" alt="" ng-if="s.video"></a>
                                            <div class="race-text race-textbg" ui-sref="event-inner({id:s._id})">
                                                <div class="min-hi">
                                                    <h3 class="margin0 brand-white pointer" ng-bind-html="s.hometext"></h3>
                                                    <div ng-if="!s.hometext">No Data Found</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </flex-slider>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slant-col   pull-right">
            <div class="slant-box full-height change">
                <h2 class="brand-white ">Attractions</h2>
                <p class="pull-right  capitalize brand-white border-bot lastmin" ui-sref="attractions({id:attraction[0].type._id})">view all</p>
                <div class="mover" ng-if="attraction">
                    <!--<flex-slider class="carousel" flex-slide="s in attraction track by $index" item-width="350" animation="slide" animationLoop="true"
                        prev-text="" next-text="">-->
                    <flex-slider class="carousel" flex-slide="s in attraction track by $index" animation="slide" animationLoop="true" prev-text=""
                        next-text="">
                        <li>
                            <div>
                                <a ui-sref="attractions({id:s.type._id})">
                                    <img ng-src="{{s.image|uploadpath}}" noloading="true" style="width: 86%; margin:0 auto;">
                                </a>
                                <div class="carousel-text bg-black" ui-sref="attractions({id:s.type._id})">
                                    <h3 class="brand-white uppercase title  pointer text-center tops" ng-bind-html="s.hometext"></h3>
                                </div>
                            </div>


                        </li>
                    </flex-slider>
                </div>
            </div>
        </div>
    </div>
    <div class="slant-row reverse">
        <div class="slant-col ">
            <div class="slant-in  brand-green">
                <div class="slant-box half-height">
                    <div class="heading clearfix">
                        <h2 class="title slide-text pull-left brand-white margno">FOOD AND BEVERAGES</h2>
                        <p class="pull-right  capitalize brand-white" ui-sref="drink-party({id:foodBeverages[0].type._id})">view all</p>
                    </div>
                    <div class="colored-slider">
                        <flex-slider class="carousel" flex-slide="s in foodBeverages track by $index" item-width="240" animation="slide" animationLoop="true"
                            prev-text="" next-text="">
                            <li>
                                <a ui-sref="drink-party({id:s.type._id})">
                                    <img ng-src="{{s.image|uploadpath}}">
                                </a>
                            </li>
                        </flex-slider>
                    </div>
                </div>
            </div>
            <div class="slant-in brand-greenblu">
                <div class="slant-box half-height">
                    <h2 class="title slide-text brand-white">subscribe newsletter</h2>
                    <form class="form" name="subscribeForm" ng-if="!subscribeFormComplete" ng-submit="subscribeLogin(subscribeData)">
                        <div class="form-group inline-block">
                            <input type="email" class="form-control" name="email" placeholder="Email Id" required ng-model="subscribeData.email">
                            <!--<div class="error-msg" ng-show="subscribeForm.email.$error.required && subscribeForm.email.$touched">Please Enter Your Email Id</div>-->
                        </div>
                        <button type="submit" class="btn title brand-green  inline-block btn-default "><span class="brand-white capitalize">send</span></button>
                        <div ng-if="duplicate">Email Already Exist</div>
                    </form>
                    <div ng-if="subscribeFormComplete">
                        <p class="text-center">Thank You For Subscribing.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="slant-col brand-yellow pull-right">
            <div class="rays"></div>
            <div class="slant-box full-height">
                <div class="mover ab">
                    <a class="know" href="">Know More</a>
                    <img src="img/home/aunty.png" class="img-responsive" alt="Speed Karting" />
                </div>
            </div>
        </div>
    </div>


    <!-- <div class="slant-row">
<div class="slant-col brand-green">
    <div class="slant-box full-height">
        <h2 class="brand-white">Facebook</h2>

        <div class="wdget">
            <div class="fb-page" data-href="https://www.facebook.com/SmaaashLive/" data-tabs="timeline" data-width="360" data-height="375" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                <div class="fb-xfbml-parse-ignore">
                    <blockquote cite="https://www.facebook.com/SmaaashLive/">
                        <a href="https://www.facebook.com/SmaaashLive/">Smaaash</a>
                    </blockquote>
                </div>
            </div>

            <div id="fb-root"></div>
        </div>

    </div>
</div>
<div class="slant-col pull-right">
    <div class="slant-in brand-pink">
        <div class="slant-box half-height">
            <h2 class="brand-white">Twitter</h2>
            <div class="twitter-wdget">
                <div class="wdget">
                    <a class="twitter-timeline" href="https://twitter.com/SmaaashLive" data-widget-id="739818858647670784" data-chrome="noheader noborders">Tweets by @SmaaashLive</a>
                </div>
            </div>
        </div>
    </div>
    <div class="slant-in brand-red">
        <div class="slant-box  half-height">
            <h2 class="brand-white">Instagram</h2>

            <div class="wdget">
                <iframe
                    src="//lightwidget.com/widgets/b4f95e3dfd7f5cd99675d072106bee2d.html"
                    id="lightwidget_b4f95e3dfd"
                    name="lightwidget_b4f95e3dfd"
                    scrolling="no"
                    allowtransparency="true"
                    class="lightwidget-widget"
                    style="width: 100%; border: 0; overflow: hidden;"></iframe>
            </div>
        </div>
    </div>
</div>
</div> -->
    <div class="social-media">
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="facebook brand-green inline-block fb-mobile">
                    <h2 class="brand-white">Facebook</h2>
                    <div class="wdgett text-center">
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FSmaaashLive%2F&tabs=timeline&width=340&height=400&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=199489793739917"
                            width="340" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="facebook brand-red inline-block fb-mobile">
                    <h2 class="brand-white">Twitter</h2>
                    <div class="twitter-wdget ">
                        <div class="wdget text-center">
                            <a class="twitter-timeline" href="https://twitter.com/SmaaashLive">Tweets by SmaaashLive</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class=" facebook brand-pink inline-block fb-mobile">
                    <h2 class="brand-white">Instagram</h2>
                    <div class="wdget">
                        <iframe src="//lightwidget.com/widgets/540f7576f94f54419988e766fce81e6a.html" id="lightwidget_540f7576f9" name="lightwidget_540f7576f9"
                            scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>