<!-- <div class="hosting">
  <div class="backg">
      <div class="container">
          <h2 class="nav-name center">host a party</h2>
      </div>
  </div>
  <div class="container">
      <div class="games">
          <div class="rows no-flex">
              <div class="col-flexing">
                  <div class="gaming heigh brand-blue">
                      <div class="anti-scew pads20">
                          <div class="straight">
                                <h2 class="text-center wedding">corporate <br>parties</h2>
                              <a href=""><img src="img/corpoparties.png" class=" img-responsive" alt="smaaash cricket"></a>

                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-flexing">
                  <div class="smaaash-gaming heigh brand-pink">
                      <div class="anti-scew pads20">
                          <div class="straight">
                                <h2 class="text-center wedding">kitty <br>parties</h2>
                              <a href=""><img src="img/kityparties.png" class="img-responsive" alt="cockpit 360"></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-flexing">
                  <div class="smash-gaming">
                      <div class="gaming heigh brand-darkblue ">
                          <div class="anti-scew pads20">
                              <div class="straight">
                                <h2 class="text-center wedding">pre wedding <br>parties</h2>
                                  <a href=""><img src="img/preparties.png" class="img-responsive" alt="snow rush"></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="games">
          <div class="rows no-flex">
              <div class="col-flexing">
                  <div class="gaming heigh brand-red">
                      <div class="anti-scew pads20">
                          <div class="straight">
                              <h2 class="text-center wedding">birthday <br>parties</h2>
                              <a href=""><img src="img/birthparties.png" class="img-responsive" alt="twilight bowling"></a>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-flexing">
                  <div class="smaaash-gaming heigh brand-green">
                      <div class="anti-scew pads20">
                          <div class="straight">
                              <h2 class="text-center wedding">team building events</h2>

                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-flexing">
                  <div class="smash-gaming">
                      <div class="gaming heigh brand-purple">
                          <div class="anti-scew pads20">
                              <div class="straight">
                                    <h2 class="text-center wedding">play date</h2>

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div> -->
