<div class="container">
  <div class="karting1">
  <div class="row">
    <div class="col-md-8">

    </div>
    <div class="col-md-4">

    </div>
  </div>
  </div>
  <div class="kartings">
  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-8">

    </div>
  </div>
  </div>
   <div class="karting1">
    <div class="row">
      <div class="col-md-8">

      </div>
      <div class="col-md-4">

      </div>
    </div>
    </div>
    <div class="gallery">
      <ul class="slides">
        <li>
          <a href="">
            <figure>
            <img src="" alt="">
            </figure>
          </a>
        </li>
        <li>
          <a href="">
            <figure>
            <img src="" alt="">
            </figure>
          </a>
        </li>
        <li>
          <a href="">
            <figure>
            <img src="" alt="">
            </figure>
          </a>
        </li>
        <li>
          <a href="">
            <figure>
            <img src="" alt="">
            </figure>
          </a>
        </li>
        <li>
          <a href="">
            <figure>
            <img src="" alt="">
            </figure>
          </a>
        </li>
        <li>
          <a href="">
            <figure>
            <img src="" alt="">
            </figure>
          </a>
        </li>
        <li>
          <a href="">
            <figure>
            <img src="" alt="">
            </figure>
          </a>
        </li>
      </ul>
    </div>
</div>
