<div class="bg">
  <div class="container">
      <h2 class="nav-name center">sky karting</h2>
      </div>
    </div>
<div class="container">
  <div class="karting1">
    <div class="slant-row">
        <div class="slant-col">
            <div class="slant-box full-height">
                <h2>Technology</h2>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
            </div>
        </div>
        <div class="slant-column pull-right">
            <div class="slant-ins">
                <div class="slant-box half-height">
                    <h2>deals and packages</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="kartings">
  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-8">

    </div>
  </div>
  </div>
   <div class="karting1">
    <div class="row">
      <div class="col-md-8">

      </div>
      <div class="col-md-4">

      </div>
    </div>
    </div>
    <div class="gallery">
      <div class="slidings">
          <flex-slider class="carousel" flex-slide="s in mySlides4 track by $index" item-width="250" animation="slide" animationLoop="true" prev-text="" next-text="">
              <li>
                  <img ng-src="{{s}}">
              </li>
          </flex-slider>
      </div>
    </div>
</div>
