<div class="land-forms" >
<div class="landing-form">
</div>
<div class="blacks"></div>
<div class="landing-forms">
 <div class="container">
     <div class="practice">
<form action="" class="form text-center">
    <h3 class="title">Register & get a free virtual reality experience</h3>
    <div class="row">
        <div class="col-md-6">
  <div class="form-group relative">
                 <span class="required"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                <select  class="form-control"  required>
                           <option ng-selected="true" value="">City</option>
                           <option value="Mumbai">Mumbai</option>
                           <option value="Ludhiana">Ludhiana</option>
                           <option value="Noida">Noida</option>

                        </select>
              </div>
        </div>
        <div class="col-md-6">
 
<div class="form-group relative">
                <input type="text" class=" form-control" placeholder="Name" name="name" required>
                <span class="required"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                <div class="error-msg" ng-show="user.email.$error.required && user.email.$touched">Please Enter Your Name </div>
              </div>
      
             
        </div>
    </div>
    <div class="row">
            <div class="col-md-4">
            <div class="form-group relative ">
                <input type="tel" class="form-control" placeholder="Mobile .No" name="mobile" ng-model="formData.mobile" required only-digits
                  maxlength="10" minlength="10">
                <span class="required"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                <div class="error-msg" ng-show="user.mobile.$error.required && user.mobile.$touched">Please enter your mobile no. </div>
              </div>
       </div>
        <div class="col-md-4">
           <div class="form-group relative">
                <input type="email" class=" form-control" placeholder="Email ID" name="email" ng-model="formData.email" required>
                <span class="required"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                <div class="error-msg" ng-show="user.email.$error.required && user.email.$touched">Please Enter Your Email ID </div>
              </div>
        </div>     
        <div class="col-md-4">
<div class="form-group relative">
               <input type="text" placeholder="DOB" class="form-control" uib-datepicker-popup="{{format}}" is-open="popup1.opened" datepicker-options="dateOptions"
                  ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-model="formData.date" />
                <a href="" class="down" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></a>
                <span class="required"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                <div class="error-msg" ng-show="user.email.$error.required && user.email.$touched">Please Enter Your DOB </div>
              </div>
        </div>
          </div>
      <button type="button" class="btn6 btn-default block" >
          <a href="" target="_blank">
         <img src="img/new/submit.png" class="img-responsive" alt="">
          </a>
          </button>
</form>
<div class="condition ">
<p>* One game per person & One game per mobile number</p>
</div>

<div class="videos text-center relative">
    <iframe width="840" height="360" src="https://www.youtube.com/embed/sZPb0aI1n6w?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>
  </div>
        </div>
    </div>
</div>
      </div>
</div>
     


</div>