<div class=" leadership">
    <div class="backg">
        <div class="container">
            <h2 class="nav-name center">leadership</h2>
        </div>
    </div>
    <div class="container">
        <div class="new">
             <ul class="tabs-about  list-inline">
    <li><a ui-sref="about" class="uppercase">about</a></li>
    <li><a ui-sref="leader"  class="uppercase">leader</a></li>
    <li><a ui-sref="benefit" class="uppercase">benefit</a></li>
    <li><a ui-sref="sponsor" class="uppercase">sponsor</a></li>
  </ul>
            <div class="row">
                <div class="col-md-4 col-sm-4" ng-repeat="data in leadership">
                    <div class="karting-championship">
                        <div class="brand-green relative">
                            <img ng-src="{{data.image|uploadpath}}" class="img-responsive" alt="cmo">

                        </div>
                        <div class="new-detail">

                            <h3 class="margin0 ">{{data.name}}</h3>
                            <p>- {{data.designation}}</p>
                            <p ng-hide="moreDesc[data._id]">{{data.description|htmlToPlaintext|shorten:130}}</p>
                            <p ng-show="moreDesc[data._id]">{{myDesc|htmlToPlaintext}}</p>
                            <p ng-if="!data.description"> No data found</p>
                            <span class="greeny" ng-if="data.description.length > 130 && !moreDesc[data._id]" ng-click="readMore(data._id,$index)">Read More</span>
                            <span class="greeny" ng-if="data.description.length > 130 && moreDesc[data._id]" ng-click="readMore(data._id,$index)">Read Less</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>