<div class="stars deals2 media">
   <div class="backg">
      <div class="container">
         <h2 class="nav-name center">media</h2>
      </div>
   </div>
   <!--<div class="forms brand-blue">
      <div class="container">
         <div class="search-green">
            <input type="text" class="form-control" placeholder="Search" ng-model="mediaObject.search" >
             <input type="text" class="form-control" placeholder="Search" ng-model="mediaObject.search" ng-change="fetchSearchedData()">
            <div class="microscope ">
               <img src="img/new/bino.png" class="img-responsive" alt="">
            </div>
         </div>

          <div class="game-type inline-block">
        <a href=""><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
        <select class="form-control" ng-model="mediaObject.city" ng-change="fetchSearchedData()">

               <option ng-repeat="data in allCity" value="{{data._id}}">{{data.name}}</option>
              </select>
      </div>


      </div>

   </div>-->
   <div class="new">
      <div class="container">

         <!--<h3 class="uppercase" ng-if="mediagallery.length>0">media</h3>
          <p>For media inquiries, please contact Sara Wickoren at <a class="mail" href="mailto:sara@smaaashusa.com">sara@smaaashusa.com</a></p>
            <p>"There's so much to share: press coverage and videos coming soon!"</p>
         <h4 ng-if="mediagallery.length === 0" class="text-center">Loading ...</h4>-->
         <!-- <div class="row"> -->
         <div class="row" ng-repeat="datas in mediagallery">

            <div class="col-md-4 col-sm-4" ng-repeat="d in datas">
               <div class="karting-championship">
                  <div class="brand-blue relative pointer">
                     <img ng-src="{{d.image|uploadpath}}" class="img-responsive" alt="">
                     <a href="" class="pink-button" ng-if="d.url"><img src="img/home/button.png" class="img-responsive" alt=""></a>
                  </div>
                  <div class="new-detail">
                     <div class="views inline-block">

                        <button class="uppercase bluey"> <a href="{{d.link}}" target="_blank">view
                   </a></button>

                     </div>
                     <h3 class="margin0 bluey" ng-bind-html="d.title | shorten :45"></h3>
                     <p style="min-height: 78px;" ng-bind-html="d.text | htmlToPlaintext"></p>


                  </div>
               </div>
            </div>
         </div>

         <!--<div class="col-md-4" ng-repeat ="data in datas | orderBy :'-order'">
    <div class="karting-championship">
 <div class="brand-blue relative pointer">
              <img ng-src="{{data.image | uploadpath}}" class="img-responsive" alt="">
              <a href="" class="pink-button" ng-if="d.url"><img src="img/home/button.png" class="img-responsive" alt=""></a>
            </div>
             <div class="new-detail min-heights">
              <div class="views inline-block" >
                <button class="uppercase bluey" ng-if="data.link">
                  <a href="{{data.link}}" target="_blank">View</a></button>
              </div>

              <h3 class="margin0 bluey" ng-bind-html="data.title | shorten :45"></h3>


            <p style="min-height: 78px;" ng-hide="moreDesc[data._id]">{{data.text | htmlToPlaintext | shorten:120}}</p>
            <p style="min-height: 78px;" ng-show="moreDesc[data._id]">{{myDesc | htmlToPlaintext}}</p>
            <p style="min-height: 78px;" ng-if="!data.text"> No data found</p>
            <span class="capitalize bluey pointer" ng-if="data.text.length > 130 && !moreDesc[data._id]" ng-click="readMore(data._id)">read more</span>
            <span class="capitalize bluey pointer" ng-if="data.text.length > 130 && moreDesc[data._id]" ng-click="readMore(data._id)">read less</span>

            </div>
</div>
</div>-->
         <!-- <div class="col-md-4">
    <div class="karting-championship">
 <div class="brand-blue relative pointer">
              <img src="img/corporate/puck.png" class="img-responsive" alt="">
              <a href="" class="pink-button" ng-if="d.url"><img src="img/home/button.png" class="img-responsive" alt=""></a>
            </div>
             <div class="new-detail min-heights">
              <div class="views inline-block" >
                <button class="uppercase bluey">
                  <a href="http://www.startribune.com/tim-hortons-restaurant-will-open-on-thursday-week-in-mall-of-america/401140905/" target="_blank">View</a></button>
              </div>

              <h3 class="margin0 bluey"> Smaaash & moa</h3>
            <p style="min-height: 78px;">SMAAASH now open at Mall of America.</p>

            </div>
</div>
</div>
<div class="col-md-4">
    <div class="karting-championship">
 <div class="brand-blue relative pointer">
              <img src="img/corporate/sachin.png" class="img-responsive" alt="">

            </div>
             <div class="new-detail min-heights">
              <div class="views inline-block" >
                <button class="uppercase bluey">
                  <a href="http://www.businessinsider.in/Sachin-Tendulkars-Smaaash-to-launch-in-US/articleshow/55433167.cms" target="_blank">View</a></button>
              </div>

              <h3 class="margin0 bluey">Sachin at Smaaash </h3>
            <p style="min-height: 78px;">  Sachin Tendulkar's SMAAASH to Launch in US</p>

            </div>
</div>
</div> -->
         <!--
          ng-repeat="data in mediagallery"
          <div ng-if="notAvailable" class="text-center">Nothing Available</div> -->

         <!--<div class="col-md-4 col-sm-4 hidden" ng-repeat="d in data">
          <div class="karting-championship">
            <div class="brand-blue relative pointer">
              <img ng-src="{{d.image|uploadpath}}" class="img-responsive" alt="">
              <a href="" class="pink-button" ng-if="d.url"><img src="img/home/button.png" class="img-responsive" alt=""></a>
            </div>
            <div class="new-detail min-heights">
              <div class="views inline-block" >
                <button class="uppercase bluey">
                  <a href="{{d.externalLink}}" target="_blank">View</a></button>
              </div>

              <h3 class="margin0 bluey">{{d.title}}</h3>
            <p ng-bind-html="d.text | htmlToPlaintext"></p>

            </div>
          </div>
        </div>-->

         <!--</div>-->
         <!-- <div class="row">

<div class="col-md-4">
    <div class="karting-championship">
 <div class="brand-blue relative pointer">
              <img src="img/corporate/sachinpho.png" class="img-responsive" alt="">

            </div>
             <div class="new-detail min-heights">
              <div class="views inline-block" >
                <button class="uppercase bluey">
                  <a href="http://economictimes.indiatimes.com/industry/media/entertainment/sachin-tendulkar-promoted-sports-based-entertainment-company-smaaash-to-make-usa-foray/articleshow/55423199.cms" target="_blank">View</a></button>
              </div>

              <h3 class="margin0 bluey"> Sachin at Smaaash </h3>
            <p style="min-height: 78px;">  Sachin Tendulkar Promoted Sports-based Entertainment Company SMAAASH to Make USA Foray – Gaurav Laghate, The Economic Times</p>

            </div>
</div>
</div>
<div class="col-md-4">
    <div class="karting-championship">
 <div class="brand-blue relative pointer">
              <img src="img/corporate/karting.png" class="img-responsive" alt="">

            </div>
             <div class="new-detail min-heights">
              <div class="views inline-block" >
                <button class="uppercase bluey">
                  <a href="http://www.bizjournals.com/twincities/news/2016/11/14/go-karts-virtual-reality-games-coming-to-mall-of.html" target="_blank">View</a></button>
              </div>

              <h3 class="margin0 bluey">Go Karting </h3>
            <p style="min-height: 78px;"> Go-Karts, virtual reality games coming to Mall of America – Dan DeBaun, Minneapolis/St. Paul Business Journal</p>

            </div>
</div>
</div>
      </div> -->

      </div>
   </div>

   <div class="loading" infinite-scroll='fetchData();' infinite-scroll-disabled='busy' ng-if="!notAvailable">
      <p class=" load-more text-center margin0 pointer" ng-if="mediagallery.length>0">Loading...</p>

   </div>

   <!-- <div class="loading">
      <p class=" load-more text-center margin0 pointer" ng-click="fetchData()" >Load More...</p>

   </div> -->

</div>
