<div class="nav-menu">
  <div class="smaash-menu">
  <div class="row">
    <div class="col-flexing">
      <li><a href="">explore smaaash</a></li>
    </div>
    <div class="col-flexing">
      <li><a href="">host a party</a></li>
    </div>
    <div class="col-flexing">
      <li><a href="">buy online</a></li>
    </div>
    <div class="col-flexing">
      <li><a href="">stars at smaaash</a></li>
    </div>
    <div class="col-flexing">
      <li><a href="">events &amp; challenges</a></li>
    </div>
    <div class="col-flexing">
      <li><a href="">buy &amp; recharge</a></li>
    </div>
  </div>
  </div>
  <div class="smaaash-menu">
    <div class="row">
      <div class="col-flexing">
        <li><a href="">earn points</a></li>
      </div>
      <div class="col-flexing">
        <li><a href="">my carts</a></li>
      </div>
      <div class="col-flexing">
        <li><a href="">my account</a></li>
      </div>
      <div class="col-flexing">
        <li><a href="">buy &amp; recharge</a></li>
      </div>
      <div class="col-flexing">
        <li><a href="">log in</a></li>
      </div>
      <div class="col-flexing">
        <li><a href="">agency login</a></li>
      </div>
      <div class="col-flexing">
        <li><a href="">contact us</a></li>
      </div>
    </div>
  </div>
</div>
