<div class="nav-menu">
  <div class="smaash-menu">
  <div class="row">
    <div class="col-flexing">
      <li><a href="">explore smaaash</a></li>
    </div>
    <div class="col-flexing">
      <li><a href="">host a party</a></li>
    </div>
    <div class="col-flexing">
      <li><a href="">buy online</a></li>
    </div>
    <div class="col-flexing">
      <li><a href="">explore smaaash</a></li>
    </div>
    <div class="col-flexing">
      <li><a href="">explore smaaash</a></li>
    </div>
    <div class="col-flexing">
      <li><a href="">explore smaaash</a></li>
    </div>
  </div>
  </div>
  <div class="smaaash-menu">
    <div class="row">
      <div class="col-flexing"></div>
      <div class="col-flexing"></div>
      <div class="col-flexing"></div>
      <div class="col-flexing"></div>
      <div class="col-flexing"></div>
      <div class="col-flexing"></div>
      <div class="col-flexing"></div>
    </div>
  </div>
</div>
