<div class="container">
<div class="nav-menu">
  <div class="smaash-menu">
  <div class="row">
    <div class="rows">
    <div class="col-flexing">
      <a href=""><h1 class="nav-name">explore smaaash</h1></a>
    </div>
    <div class="col-flexing">
    <a href=""><h1 class="nav-name">host a party</h1></a>
    </div>
    <div class="col-flexing">
      <a href=""><h1 class="nav-name">buy online</h1></a>
    </div>
    <div class="col-flexing">
      <a href=""><h1 class="nav-name">stars at smaaash</h1></a>
    </div>
    <div class="col-flexing">
        <a href=""><h1 class="nav-name">events &amp; challenges</h1></a>
    </div>
    <div class="col-flexing">
        <a href=""><h1 class="nav-name">buy &amp; recharge</h1></a>
    </div>
  </div>
  </div>
  </div>
  <div class="smaaash-menu">
    <div class="row">
      <div class="rows">
      <div class="col-flexing">
        <a href=""><h1 class="nav-name">earn points</h1></a>
      </div>
      <div class="col-flexing">
        <a href=""><h1 class="nav-name">my carts</h1></a>
      </div>
      <div class="col-flexing">
          <a href=""><h1 class="nav-name">my account</h1></a>
      </div>
      <div class="col-flexing">
        <a href=""><h1 class="nav-name">buy &amp; recharge</h1></a>
      </div>
      <div class="col-flexing">
        <a href=""><h1 class="nav-name">log in</h1></a>
      </div>
      <div class="col-flexing">
          <a href=""><h1 class="nav-name">agency login</h1></a>
      </div>
      <div class="col-flexing">
        <a href=""><h1 class="nav-name">contact us</h1></a>
      </div>
    </div>
  </div>
  </div>
</div>
</div>
