<div class="profile events1">
    <div class="backg-eve">
        <div class="container">
            <h2 class="nav-name center ">my profile</h2>
        </div>
    </div>
    <div class="profile-point">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="profile-details">
                                <!--<img src="img/profile/profile-img.jpg" class="img-responsive" alt="">-->
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <div class="profile-detail text-center relative">
                                <div class="badge">
                                    <img src="img/profile/silver.png" class="img-responsive" alt="">
                                </div>
                                <p>amrit bamrah</p>
                                <p class="inline-block">33500</p>
                                <p class="inline-block"> points</p>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="point-image">
                            <img src="img/profile/info-account.jpg" class="img-responsive" alt="">

                        </div>


                    </div>
                </div>
                <div class="col-md-6">
                    <div class="tab">
                        <ul class="list-inline row-flex">
                            <li class="tab-item  relative col-flex {{classa}}" ng-click="tabchange('design',1)">
                                <p class="text-uppercase">reward points</p>
                            </li>
                            <li class="tab-item  relative  col-flex {{classb}}" ng-click="tabchange('trim',2)">

                                <p class="text-uppercase"> order</p>

                            </li>
                            <li class="tab-item   relative  col-flex {{classc}}" ng-click="tabchange('team',3)">

                                <p class="text-uppercase">edit profile</p>

                            </li>
                        </ul>
                    </div>
                    <div class="reward-table carts" ng-show="tab=='design'">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr class="brand-yellow">
                                        <th class="text-center uppercase border-left">transcation id</th>
                                        <th class="text-center  uppercase ">type</th>
                                        <th class="text-center uppercase ">points earned</th>
                                        <th class="text-center uppercase border-right">value in rs</th>
                                    </tr>
                                </thead>
                                <tr>
                                    <td class="text-center border-left">1080000900</td>
                                    <td class="text-center">social share</td>
                                    <td class="text-center">70</td>
                                    <td class="text-center border-right">+35</td>

                                </tr>
                                <tr>
                                    <td class="text-center border-left">1080000900</td>
                                    <td class="text-center">social share</td>
                                    <td class="text-center">70</td>
                                    <td class="text-center border-right">+35</td>

                                </tr>
                                <tr>
                                    <td class="text-center border-left">1080000900</td>
                                    <td class="text-center">social share</td>
                                    <td class="text-center">70</td>
                                    <td class="text-center border-right">+35</td>

                                </tr>
                                <tr>
                                    <td class="text-center border-left">1080000900</td>
                                    <td class="text-center">social share</td>
                                    <td class="text-center">70</td>
                                    <td class="text-center border-right">+35</td>

                                </tr>
                                <tr>
                                    <td class="text-center border-left">1080000900</td>
                                    <td class="text-center">social share</td>
                                    <td class="text-center">70</td>
                                    <td class="text-center border-right">+35</td>

                                </tr>
                                <tr>
                                    <td class="text-center border-left">1080000900</td>
                                    <td class="text-center">social share</td>
                                    <td class="text-center">70</td>
                                    <td class="text-center border-right">+35</td>

                                </tr>
                                <tr>
                                    <td class="text-center border-left">1080000900</td>
                                    <td class="text-center">social share</td>
                                    <td class="text-center">70</td>
                                    <td class="text-center border-right">+35</td>

                                </tr>
                                <tr>
                                    <td class="text-center border-left">1080000900</td>
                                    <td class="text-center">social share</td>
                                    <td class="text-center">70</td>
                                    <td class="text-center border-right">+35</td>

                                </tr>
                                <tr>
                                    <td class="text-center border-left">1080000900</td>
                                    <td class="text-center">social share</td>
                                    <td class="text-center">70</td>
                                    <td class="text-center border-right">+35</td>

                                </tr>
                                <tr>
                                    <td class="text-center border-left">1080000900</td>
                                    <td class="text-center">social share</td>
                                    <td class="text-center">70</td>
                                    <td class="text-center border-right">+35</td>

                                </tr>
                                <tr>
                                    <td class="text-center border-left">1080000900</td>
                                    <td class="text-center">social share</td>
                                    <td class="text-center">70</td>
                                    <td class="text-center border-right">+35</td>

                                </tr>
                                <tr>
                                    <td class="text-center border-left">1080000900</td>
                                    <td class="text-center">social share</td>
                                    <td class="text-center">70</td>
                                    <td class="text-center border-right">+35</td>

                                </tr>

                            </table>
                        </div>
                    </div>
                    <div class="reward-table carts" ng-show="tab=='trim'">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-center uppercase border-left">transcation id</th>
                                        <th class="text-center  uppercase ">type</th>
                                        <th class="text-center uppercase ">points earned</th>
                                        <th class="text-center uppercase border-right">value in rs</th>
                                    </tr>
                                </thead>
                                <tr>
                                    <td class="text-center border-left">1080000900</td>
                                    <td class="text-center">social share</td>
                                    <td class="text-center">70</td>
                                    <td class="text-center border-right">+35</td>

                                </tr>
                                <tr>
                                    <td class="text-center border-left">1080000900</td>
                                    <td class="text-center">social share</td>
                                    <td class="text-center">70</td>
                                    <td class="text-center border-right">+35</td>

                                </tr>
                                <tr>
                                    <td class="text-center border-left">1080000900</td>
                                    <td class="text-center">social share</td>
                                    <td class="text-center">70</td>
                                    <td class="text-center border-right">+35</td>

                                </tr>
                                <tr>
                                    <td class="text-center border-left">1080000900</td>
                                    <td class="text-center">social share</td>
                                    <td class="text-center">70</td>
                                    <td class="text-center border-right">+35</td>

                                </tr>
                                <tr>
                                    <td class="text-center border-left">1080000900</td>
                                    <td class="text-center">social share</td>
                                    <td class="text-center">70</td>
                                    <td class="text-center border-right">+35</td>

                                </tr>
                                <tr>
                                    <td class="text-center border-left">1080000900</td>
                                    <td class="text-center">social share</td>
                                    <td class="text-center">70</td>
                                    <td class="text-center border-right">+35</td>

                                </tr>
                                <tr>
                                    <td class="text-center border-left">1080000900</td>
                                    <td class="text-center">social share</td>
                                    <td class="text-center">70</td>
                                    <td class="text-center border-right">+35</td>

                                </tr>
                                <tr>
                                    <td class="text-center border-left">1080000900</td>
                                    <td class="text-center">social share</td>
                                    <td class="text-center">70</td>
                                    <td class="text-center border-right">+35</td>

                                </tr>
                                <tr>
                                    <td class="text-center border-left">1080000900</td>
                                    <td class="text-center">social share</td>
                                    <td class="text-center">70</td>
                                    <td class="text-center border-right">+35</td>

                                </tr>
                                <tr>
                                    <td class="text-center border-left">1080000900</td>
                                    <td class="text-center">social share</td>
                                    <td class="text-center">70</td>
                                    <td class="text-center border-right">+35</td>

                                </tr>
                                <tr>
                                    <td class="text-center border-left">1080000900</td>
                                    <td class="text-center">social share</td>
                                    <td class="text-center">70</td>
                                    <td class="text-center border-right">+35</td>

                                </tr>
                                <tr>
                                    <td class="text-center border-left">1080000900</td>
                                    <td class="text-center">social share</td>
                                    <td class="text-center">70</td>
                                    <td class="text-center border-right">+35</td>

                                </tr>

                            </table>
                        </div>
                    </div>
                    <div class="points" ng-show="tab=='team'">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <a href=""><img src="img/profile/addphoto.png" class="img-responsive" alt=""></a>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <a href=""><img src="img/profile/takephoto.png" class="img-responsive" alt=""></a>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <a href=""><img src="img/profile/takephoto.png" class="img-responsive" alt=""></a>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <a href=""><img src="img/profile/addphoto.png" class="img-responsive" alt="" ng-click="avatar();"></a>
                            </div>
                        </div>
                        <form class="point-form">
                            <label class="item w92">
              <input type="text" placeholder="Amrit Bamrah" class="editing form-control">
            </label>
                            <label class="item w30">
              <input type="text" placeholder="1-01-94" class=" editing form-control">
            </label>
                            <label class="item w30">
              <input type="text" placeholder="Female"  class="arrows-down editing form-control">
            </label>
                            <label class="item w30">
              <input type="tel" placeholder="+91 98200 98200" class="editing form-control">
            </label>
                            <label class="item w46">
              <input type="email" placeholder="amrit_bhamrah@gmail.com" class="editing form-control">
            </label>
                            <label class="item w46">
              <input type="text" placeholder="400009" class="editing form-control">
            </label>
                            <a href="" name="button" class="go full-width">
                                <img src="img/profile/update.png" alt="" class="img-responsive">
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>