<div class="profile events1">
   <div class="backg-eve">
      <div class="container">
         <h2 class="nav-name center ">my profile</h2>
      </div>
   </div>
   <div class="profile-point">
      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <div class="row">
                  <div class="col-md-4 col-sm-4 col-xs-12">
                     <div class="profile-details">
                    <img ng-src="{{userprofile.profilePic | uploadprofilepicture}}" alt="" >
                     </div>
                  </div>
                  <!-- <div>
                    {{profilePIc}}
                  </div> -->
                  <!-- <webcam on-stream="onStreang-click="makeSnapshot()"(stream)"
     on-access-denied="onError(err)"
     on-streaming="onSuccess()" ng-if="click">
</webcam> -->



                  <div class="col-md-8 col-sm-8 col-xs-12">
                     <div class="profile-detail text-center relative">
                        <div class="badge">
                           <img src="img/profile/silver.png" class="img-responsive" alt="">
                        </div>
                        <p>{{userprofile.CustomerName}}</p>
                        <p class="inline-block">33500</p>
                        <p class="inline-block"> points</p>

                     </div>
                  </div>
               </div>

               <div class="row">
                  <div class="point-image">
                     <img src="img/profile/info-account.jpg" class="img-responsive" alt="">

                  </div>


               </div>
            </div>
            <div class="col-md-6">
               <div class="tab">
                  <ul class="list-inline row-flex">
                     <li class="tab-item  relative col-flex {{classa}}" ng-click="tabchange('design',1)">
                        <p class="text-uppercase">reward points</p>
                     </li>
                     <li class="tab-item  relative  col-flex {{classb}}" ng-click="tabchange('trim',2)">

                        <p class="text-uppercase"> order</p>

                     </li>
                     <li class="tab-item   relative  col-flex {{classc}}" ng-click="tabchange('team',3)">

                        <p class="text-uppercase">edit profile</p>

                     </li>
                     <li class="tab-item   relative  col-flex {{classd}}" ng-click="tabchange('wishlist',4)">

                        <p class="text-uppercase">wishlist</p>

                     </li>
                  </ul>
               </div>
               <div class="reward-table carts" ng-show="tab=='design'">
                  <div class="table-responsive">
                     <table class="table">
                        <thead>
                           <tr class="brand-yellow">
                              <th class="text-center uppercase border-left">transcation id</th>
                              <th class="text-center  uppercase ">type</th>
                              <th class="text-center uppercase ">points earned</th>
                              <th class="text-center uppercase border-right">value in rs</th>
                           </tr>
                        </thead>
                        <tr>
                           <td class="text-center border-left">1080000900</td>
                           <td class="text-center">social share</td>
                           <td class="text-center">70</td>
                           <td class="text-center border-right">+35</td>

                        </tr>
                        <tr>
                           <td class="text-center border-left">1080000900</td>
                           <td class="text-center">social share</td>
                           <td class="text-center">70</td>
                           <td class="text-center border-right">+35</td>

                        </tr>
                        <tr>
                           <td class="text-center border-left">1080000900</td>
                           <td class="text-center">social share</td>
                           <td class="text-center">70</td>
                           <td class="text-center border-right">+35</td>

                        </tr>
                        <tr>
                           <td class="text-center border-left">1080000900</td>
                           <td class="text-center">social share</td>
                           <td class="text-center">70</td>
                           <td class="text-center border-right">+35</td>

                        </tr>
                        <tr>
                           <td class="text-center border-left">1080000900</td>
                           <td class="text-center">social share</td>
                           <td class="text-center">70</td>
                           <td class="text-center border-right">+35</td>

                        </tr>
                        <tr>
                           <td class="text-center border-left">1080000900</td>
                           <td class="text-center">social share</td>
                           <td class="text-center">70</td>
                           <td class="text-center border-right">+35</td>

                        </tr>
                        <tr>
                           <td class="text-center border-left">1080000900</td>
                           <td class="text-center">social share</td>
                           <td class="text-center">70</td>
                           <td class="text-center border-right">+35</td>

                        </tr>
                        <tr>
                           <td class="text-center border-left">1080000900</td>
                           <td class="text-center">social share</td>
                           <td class="text-center">70</td>
                           <td class="text-center border-right">+35</td>

                        </tr>
                        <tr>
                           <td class="text-center border-left">1080000900</td>
                           <td class="text-center">social share</td>
                           <td class="text-center">70</td>
                           <td class="text-center border-right">+35</td>

                        </tr>
                        <tr>
                           <td class="text-center border-left">1080000900</td>
                           <td class="text-center">social share</td>
                           <td class="text-center">70</td>
                           <td class="text-center border-right">+35</td>

                        </tr>
                        <tr>
                           <td class="text-center border-left">1080000900</td>
                           <td class="text-center">social share</td>
                           <td class="text-center">70</td>
                           <td class="text-center border-right">+35</td>

                        </tr>
                        <tr>
                           <td class="text-center border-left">1080000900</td>
                           <td class="text-center">social share</td>
                           <td class="text-center">70</td>
                           <td class="text-center border-right">+35</td>

                        </tr>

                     </table>
                  </div>
               </div>
               <div class="reward-table carts" ng-show="tab=='trim'">
                  <div class="table-responsive">
                     <table class="table">
                        <thead>
                           <tr>
                              <th class="text-center uppercase border-left">transcation id</th>
                              <th class="text-center  uppercase ">type</th>
                              <th class="text-center uppercase ">points earned</th>
                              <th class="text-center uppercase border-right">value in rs</th>
                           </tr>
                        </thead>
                        <tr>
                           <td class="text-center border-left">1080000900</td>
                           <td class="text-center">social share</td>
                           <td class="text-center">70</td>
                           <td class="text-center border-right">+35</td>

                        </tr>
                        <tr>
                           <td class="text-center border-left">1080000900</td>
                           <td class="text-center">social share</td>
                           <td class="text-center">70</td>
                           <td class="text-center border-right">+35</td>

                        </tr>
                        <tr>
                           <td class="text-center border-left">1080000900</td>
                           <td class="text-center">social share</td>
                           <td class="text-center">70</td>
                           <td class="text-center border-right">+35</td>

                        </tr>
                        <tr>
                           <td class="text-center border-left">1080000900</td>
                           <td class="text-center">social share</td>
                           <td class="text-center">70</td>
                           <td class="text-center border-right">+35</td>

                        </tr>
                        <tr>
                           <td class="text-center border-left">1080000900</td>
                           <td class="text-center">social share</td>
                           <td class="text-center">70</td>
                           <td class="text-center border-right">+35</td>

                        </tr>
                        <tr>
                           <td class="text-center border-left">1080000900</td>
                           <td class="text-center">social share</td>
                           <td class="text-center">70</td>
                           <td class="text-center border-right">+35</td>

                        </tr>
                        <tr>
                           <td class="text-center border-left">1080000900</td>
                           <td class="text-center">social share</td>
                           <td class="text-center">70</td>
                           <td class="text-center border-right">+35</td>

                        </tr>
                        <tr>
                           <td class="text-center border-left">1080000900</td>
                           <td class="text-center">social share</td>
                           <td class="text-center">70</td>
                           <td class="text-center border-right">+35</td>

                        </tr>
                        <tr>
                           <td class="text-center border-left">1080000900</td>
                           <td class="text-center">social share</td>
                           <td class="text-center">70</td>
                           <td class="text-center border-right">+35</td>

                        </tr>
                        <tr>
                           <td class="text-center border-left">1080000900</td>
                           <td class="text-center">social share</td>
                           <td class="text-center">70</td>
                           <td class="text-center border-right">+35</td>

                        </tr>
                        <tr>
                           <td class="text-center border-left">1080000900</td>
                           <td class="text-center">social share</td>
                           <td class="text-center">70</td>
                           <td class="text-center border-right">+35</td>

                        </tr>
                        <tr>
                           <td class="text-center border-left">1080000900</td>
                           <td class="text-center">social share</td>
                           <td class="text-center">70</td>
                           <td class="text-center border-right">+35</td>

                        </tr>

                     </table>
                  </div>
               </div>
               <div class="points" ng-show="tab=='team'">
                  <div class="row">
                     <div class="col-md-3 col-sm-3  hidden-xs">

                     </div>

                     <div class="col-md-3 col-sm-3 col-xs-6">
                        <a href="">
                        </a>
                        <upload-image ng-model="userprofile.profilePic" no-view>
+                        </upload-image>
                     </div>

                     <!-- <webcam channel="channel" on-streaming="onSuccess()" on-error="onError(err)" on-stream="onStream(stream)"></webcam>

                     <button ng-click="makeSnapshot()">take picture</button>
   <canvas id="snapshot" width="300" height="300"></canvas> -->

                     <!-- <div class="col-md-3 col-sm-3 col-xs-6">
                        <a href="">
                           <div class="photos" ng-click="takePic()">
                              <div class="photo-image text-center">
                                 <i class="fa fa-camera" aria-hidden="true"></i>
                                 <p class="uppercase brand-white">take photo</p>
                                        </div>

                           </div>


                        </a>

                     </div> -->



             <!-- <div class="col-md-3 col-sm-3 col-xs-6">
            {{userData.name}}
          <pre>adasd  <img ng-src="{{userData.name}}"/></pre>
             </div> -->



                     <div class="col-md-3 col-sm-3 col-xs-6">
                        <a ng-click="avatar();">
                           <div class="photos">
                              <div class="photo-image text-center">

                                 <p class="uppercase brand-white">select your avatar</p>
                              </div>

                           </div>
                        </a>
                     </div>

                  </div>
                  <div class="reseting">
<p class="uppercase text-center mt10 pointer" ui-sref="reset">do you want to reset your password?</p>
                  </div>
                  <form class="point-form" ng-if="!formComplete" >
                     <label class="item w92">
                        <input type="text" readonly placeholder="Amrit Bamrah" class=" form-control" ng-model="userprofile.CustomerName">
                     </label>
                     <label class="item w30">
                        <input type="date" placeholder="1-01-94" class=" editing form-control" ng-model="userprofile.dob">
                     </label>
                     <label class="item w30">
                        <input type="text" placeholder="Female" class="arrows-down editing form-control" ng-model="userprofile.gender">
                     </label>
                     <label class="item w30">
                        <input type="tel" readonly placeholder="+91 98200 98200" class="form-control" readonly ng-model="userprofile.CustomerMobile">
                     </label>
                     <label class="item w46">
                        <input type="email" readonly placeholder="amrit_bhamrah@gmail.com" class=" form-control" ng-model="userprofile.CustomerEmail">
                     </label>
                     <label class="item w46">
                        <input type="text" placeholder="400009" class="editing form-control" ng-model="userprofile.pincode">
                     </label>
                     <button type="button" class="butts" name="button" ng-click="submitUserProfile(userprofile)">
                       <a href="" name="button" class="go full-width">
                          <img src="img/profile/update.png" alt="" class="img-responsive">
                       </a>
                     </button>

                  </form>
                  <h3 ng-if="formComplete" class="text-center">Profile Updated Successfully</h3>
               </div>
               <div class="wishlist" ng-show="tab=='wishlist'">
                  <div class="carts">

                     <div class="table-responsive">
                        <table class="table ">
                           <thead>
                              <tr>
                                 <th class="text-center uppercase ">Sr.No</th>
                                 <th class="text-center  uppercase ">Name of page</th>
                                 <th class="text-center uppercase ">remove</th>
                              </tr>
                           </thead>
                           <tr ng-repeat="data in showWishList.wishList">
                              <td class="text-center border-left">
                                 <img ng-if="data.exploresmash.image && !data.exploresmash.homeimage" ng-src="{{data.exploresmash.image|uploadpath}}" class="img-responsive" alt="">
                                 <img ng-if="data.exploresmash.homeimage && !data.exploresmash.image" ng-src="{{data.exploresmash.homeimage|uploadpath}}" class="img-responsive" alt="">
                                 <img ng-if="data.exploresmash.homeimage && data.exploresmash.image" ng-src="{{data.exploresmash.homeimage|uploadpath}}" class="img-responsive" alt="">
                                 <p class="mt10 uppercase" ng-bind-html="data.exploresmash.hometext"></p>
                              </td>
                              <td class="text-center">{{data.pageName[0]}}</td>
                              <td class="text-center border-right">
                                 <div class="remove">
                                    <button class="uppercase" ng-click="removeFromWishList(data._id)">remove</button>
                                 </div>
                              </td>

                           </tr>
                        </table>
                     </div>

                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
