<div class="profile events1">
    <div class="backg-eve">
        <div class="container">
            <h2 class="nav-name center ">my profile</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="articles">
                        <div class="slant-row">
                            <div class="slant-col brand-black">
                                <div class="slant-box full-height">
                                    <figure>
                                        <!--<img src="img/profile/profile-img.jpg" class="img-responsive" alt="profile">-->
                                    </figure>
                                </div>
                            </div>
                            <div class="slant-column pull-right">
                                <div class="slant-box half-height">
                                    <h2>amrit bamrah</h2>
                                    <p>
                                        <h2>3350</h2> Points
                                    </p>
                                    <!--<p>Brain child of the multi-faceted Mr. Shripal Morakhia, Smaaash offers a lot more than
                                        your run-of-the-mill banquet hall and gaming center. It presents an unmatched range
                                        of games that offer a superlative virtual-reality experience, and combines the best
                                        of sports, music and dining into a highly immersive, interactive, innovative and
                                        involved entertainment experience. Smaaash has not only redefined sports entertainment,
                                        but also raised the bar for customer engagement. This innovative entertainment and
                                        active engagement is what defines Smaaash.</p>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="point-image">
                        <img src="img/profile/info-account.jpg" class="img-responsive" alt="" ng-click="avatar();">

                    </div>


                </div>
            </div>
            <div class="col-md-6">
                <div class="tab">
                    <ul class="list-inline row-flex">
                        <li class="tab-item  col-flex {{classa}}" ng-click="tabchange('design',1)">
                            <p class="text-uppercase">reward points</p>
                        </li>
                        <li class="tab-item  col-flex {{classb}}" ng-click="tabchange('trim',2)">

                            <p class="text-uppercase"> order</p>

                        </li>
                        <li class="tab-item  col-flex {{classc}}" ng-click="tabchange('team',3)">

                            <p class="text-uppercase">edit profile</p>

                        </li>
                    </ul>
                </div>
                <div class="reward-table carts" ng-show="tab=='design'">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr class="brand-yellow">
                                    <th class="text-center uppercase border-left">transcation id</th>
                                    <th class="text-center  uppercase ">type</th>
                                    <th class="text-center uppercase ">points earned</th>
                                    <th class="text-center uppercase border-right">value in rs</th>
                                </tr>
                            </thead>
                            <tr>
                                <td class="text-center border-left">1080000900</td>
                                <td class="text-center">social share</td>
                                <td class="text-center">70</td>
                                <td class="text-center border-right">+35</td>

                            </tr>
                            <tr>
                                <td class="text-center border-left">1080000900</td>
                                <td class="text-center">social share</td>
                                <td class="text-center">70</td>
                                <td class="text-center border-right">+35</td>

                            </tr>
                            <tr>
                                <td class="text-center border-left">1080000900</td>
                                <td class="text-center">social share</td>
                                <td class="text-center">70</td>
                                <td class="text-center border-right">+35</td>

                            </tr>
                            <tr>
                                <td class="text-center border-left">1080000900</td>
                                <td class="text-center">social share</td>
                                <td class="text-center">70</td>
                                <td class="text-center border-right">+35</td>

                            </tr>
                            <tr>
                                <td class="text-center border-left">1080000900</td>
                                <td class="text-center">social share</td>
                                <td class="text-center">70</td>
                                <td class="text-center border-right">+35</td>

                            </tr>
                            <tr>
                                <td class="text-center border-left">1080000900</td>
                                <td class="text-center">social share</td>
                                <td class="text-center">70</td>
                                <td class="text-center border-right">+35</td>

                            </tr>
                            <tr>
                                <td class="text-center border-left">1080000900</td>
                                <td class="text-center">social share</td>
                                <td class="text-center">70</td>
                                <td class="text-center border-right">+35</td>

                            </tr>
                            <tr>
                                <td class="text-center border-left">1080000900</td>
                                <td class="text-center">social share</td>
                                <td class="text-center">70</td>
                                <td class="text-center border-right">+35</td>

                            </tr>
                            <tr>
                                <td class="text-center border-left">1080000900</td>
                                <td class="text-center">social share</td>
                                <td class="text-center">70</td>
                                <td class="text-center border-right">+35</td>

                            </tr>
                            <tr>
                                <td class="text-center border-left">1080000900</td>
                                <td class="text-center">social share</td>
                                <td class="text-center">70</td>
                                <td class="text-center border-right">+35</td>

                            </tr>
                            <tr>
                                <td class="text-center border-left">1080000900</td>
                                <td class="text-center">social share</td>
                                <td class="text-center">70</td>
                                <td class="text-center border-right">+35</td>

                            </tr>
                            <tr>
                                <td class="text-center border-left">1080000900</td>
                                <td class="text-center">social share</td>
                                <td class="text-center">70</td>
                                <td class="text-center border-right">+35</td>

                            </tr>

                        </table>
                    </div>
                </div>
                <div class="reward-table carts" ng-show="tab=='trim'">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center uppercase border-left">transcation id</th>
                                    <th class="text-center  uppercase ">type</th>
                                    <th class="text-center uppercase ">points earned</th>
                                    <th class="text-center uppercase border-right">value in rs</th>
                                </tr>
                            </thead>
                            <tr>
                                <td class="text-center border-left">1080000900</td>
                                <td class="text-center">social share</td>
                                <td class="text-center">70</td>
                                <td class="text-center border-right">+35</td>

                            </tr>
                            <tr>
                                <td class="text-center border-left">1080000900</td>
                                <td class="text-center">social share</td>
                                <td class="text-center">70</td>
                                <td class="text-center border-right">+35</td>

                            </tr>
                            <tr>
                                <td class="text-center border-left">1080000900</td>
                                <td class="text-center">social share</td>
                                <td class="text-center">70</td>
                                <td class="text-center border-right">+35</td>

                            </tr>
                            <tr>
                                <td class="text-center border-left">1080000900</td>
                                <td class="text-center">social share</td>
                                <td class="text-center">70</td>
                                <td class="text-center border-right">+35</td>

                            </tr>
                            <tr>
                                <td class="text-center border-left">1080000900</td>
                                <td class="text-center">social share</td>
                                <td class="text-center">70</td>
                                <td class="text-center border-right">+35</td>

                            </tr>
                            <tr>
                                <td class="text-center border-left">1080000900</td>
                                <td class="text-center">social share</td>
                                <td class="text-center">70</td>
                                <td class="text-center border-right">+35</td>

                            </tr>
                            <tr>
                                <td class="text-center border-left">1080000900</td>
                                <td class="text-center">social share</td>
                                <td class="text-center">70</td>
                                <td class="text-center border-right">+35</td>

                            </tr>
                            <tr>
                                <td class="text-center border-left">1080000900</td>
                                <td class="text-center">social share</td>
                                <td class="text-center">70</td>
                                <td class="text-center border-right">+35</td>

                            </tr>
                            <tr>
                                <td class="text-center border-left">1080000900</td>
                                <td class="text-center">social share</td>
                                <td class="text-center">70</td>
                                <td class="text-center border-right">+35</td>

                            </tr>
                            <tr>
                                <td class="text-center border-left">1080000900</td>
                                <td class="text-center">social share</td>
                                <td class="text-center">70</td>
                                <td class="text-center border-right">+35</td>

                            </tr>
                            <tr>
                                <td class="text-center border-left">1080000900</td>
                                <td class="text-center">social share</td>
                                <td class="text-center">70</td>
                                <td class="text-center border-right">+35</td>

                            </tr>
                            <tr>
                                <td class="text-center border-left">1080000900</td>
                                <td class="text-center">social share</td>
                                <td class="text-center">70</td>
                                <td class="text-center border-right">+35</td>

                            </tr>

                        </table>
                    </div>
                </div>
                <div class="points" ng-show="tab=='team'">
                    <h2>hello</h2>
                </div>
            </div>
        </div>
    </div>