<div class="events1">
    <div class="backg-eve">
        <div class="container">
            <h2 class="nav-name center ">promotions</h2>
        </div>
    </div>
    <div class="container">
        <div class="new">
                  <div class="row" ng-repeat="datas in promotion" >
        <div class="col-md-4 col-sm-4" ng-repeat="data in datas" >

          <div class="karting-championship">
            <div class="brand-blue relative  pointer">
              <img ng-src="{{data.image | uploadpath}}" class="img-responsive" alt="" ui-sref="promotion-inner">
              <!-- <a ng-if="d.video" fancybox-box data-fancybox-type="iframe" href="https://www.youtube.com/embed/{{d.video |youtubethumb:true}}?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1"
                class="pink-button"><img src="img/home/button.png" class="img-responsive" alt="" ng-if="d.video"></a> -->
            </div>
            <div class="new-detail">
              <div class="views inline-block">
                <button class="uppercase bluey" ui-sref="promotion-inner({id:data._id})">view</button>
              </div>
              <div class="min-h">
                <h3 class="margin0 bluey pointer" ng-bind-html="data.hometext | shorten :25"  ui-sref="promotion-inner"></h3>
                 <p class="" ng-bind-html="data.description | htmlToPlaintext | shorten :130"></p>
                <!--<p ng-hide="d.gameforarray==''">Game For:
                  <span class="bluey capitalize">
                             <span ng-repeat="per in d.gameforarray track by $index">{{per}} <span ng-if="$index<d.gameforarray.length-2">|</span>
                  <span ng-if="$index==d.gameforarray.length-2">&</span> </span>
                  </span>
                </p>-->
              </div>
              <div class="button-set">
                <button class="uppercase blue">buy now</button>
              </div>
              <div class="love">
                <button class="uppercase" ng-click="addedToWishList(data._id);"><i class="fa" aria-hidden="true" ng-class="{'fa-heart-o':!isInWishlist(data._id),'fa-heart':isInWishlist(data._id)}" style="color:red;"></i>would love to try</button>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="msg" class="text-center">No Options Available As Per Your Criteria.</div>
      </div>

        </div>
    </div>
</div>
