<div class="reset-password enquiry-forms" ng-if="!passUpdated">
      <h2 class="title center brand-white">reset password</h2>
<p class="text-center">You have requested to reset the password for: <span style="font-style:italic;">{{loggedInUser}}</span></p>
   <form  class="form" name="enquiryForm" ng-submit="formSubmit(credentials)">
      <div class="form-group">
         <input type="password" class="form-control" placeholder="Old password" ng-model="credentials.OldPassword" required>
      </div>
      <div class="form-group">
         <input type="password" class="form-control" placeholder="New password" ng-model="credentials.NewPassword" required>

      </div>
   <div ng-if="wrongPass" class="text-center error"  >please Enter Valid Details.</div>
      <button type="submit" name="button"><img src="img/new/go.png" alt=""></button>
   </form>

</div>

<div ng-if ="passUpdated" class="text-center">Your password has been changed Successfully !</div>
