<div class=" contact">
    <div class="backg">
        <div class="container">
            <h2 class="nav-name center ">Security</h2>
        </div>
    </div>
    <div class="container">
        <div class="contact-div" >
            <div class="meetup">
              <p><strong>Security :</strong></p>

  <p><strong>Is it safe to use my credit/debit card at Smaaash?</strong></p>

  <p><strong>Your online transaction on www.smaaash.in is secure with the highest levels of transaction security currently available on the Internet. Smaaash uses encryption technology to protect your card information while securely transmitting it to the respective banks for payment processing.</strong></p>

  <p><strong>All credit card and debit card payments on Smaaash are processed through secure and trusted payment gateways managed by leading banks. Banks now use the 3D Secure password service for online transactions, providing an additional layer of security through identity verification.</strong></p>

  <p><strong>Does Smaaash store my credit/debit card infomation?</strong></p>

  <p><strong>Smaaash stores the first 6 and last 4 digits of your card number in a secure and encrypted manner. The first 6 digits (also known as the Bank Identification Number) are used to identify the bank name and country where your card was issued. The first 6 and last 4 digits are together used for fraud detection and prevention purposes.</strong></p>

  <h2><strong>Payment Options</strong></h2>

  <p><strong>What credit/debit cards are accepted on Smaaash?</strong></p>

  <p><strong>We accept VISA, MasterCard, Maestro and American Express credit/debit cards.</strong></p>

  <p><strong>Do you accept payment made by credit/debit cards issued in other countries?</strong></p>

  <p><strong>No! We accept VISA, MasterCard, Maestro credit/debit cards issued by banks in India only.</strong></p>

  <p><strong>What other payment options are available on Smaaash?</strong></p>

  <p><strong>Apart from Credit and Debit Cards, we accept payments by Internet Banking.</strong></p>

  <p><br />
  &nbsp;</p>



            </div>

        </div>

    </div>
</div>
