<div class=" contact">
    <div class="backg gap-issue">
        <div class="container">
            <h2 class="nav-name center ">Security</h2>
        </div>
    </div>
    <div class="container">
        <div class="contact-div">
            <div class="meetup">
                <h3>Security :</h3>
                <div class="dark">
                    <p class="marg">Is it safe to use my credit/debit card at Smaaash?</p>
                </div>


                <p class="marg">Your online transaction on www.smaaash.in is secure with the highest levels of transaction security currently
                    available on the Internet. Smaaash uses encryption technology to protect your card information while
                    securely transmitting it to the respective banks for payment processing.</p>

                <p class="marg">All credit card and debit card payments on Smaaash are processed through secure and trusted payment gateways
                    managed by leading banks. Banks now use the 3D Secure password service for online transactions, providing
                    an additional layer of security through identity verification.</p>

                <div class="dark">
                    <p class="marg">Does Smaaash store my credit/debit card infomation?</p>
                </div>


                <p class="marg">Smaaash stores the first 6 and last 4 digits of your card number in a secure and encrypted manner. The first
                    6 digits (also known as the Bank Identification Number) are used to identify the bank name and country
                    where your card was issued. The first 6 and last 4 digits are together used for fraud detection and prevention
                    purposes.
                </p>

                <h2>Payment Options</h2>

                <div class="dark">
                    <p class="marg">What credit/debit cards are accepted on Smaaash?</p>
                </div>


                <p class="marg">We accept VISA, MasterCard, Maestro and American Express credit/debit cards.</p>

                <div class="dark">
                    <p class="marg">Do you accept payment made by credit/debit cards issued in other countries?</p>
                </div>

                <p class="marg">No! We accept VISA, MasterCard, Maestro credit/debit cards issued by banks in India only.</p>

                <div class="dark">
                    <p class="marg">What other payment options are available on Smaaash?</p>
                </div>

                <p class="marg">Apart from Credit and Debit Cards, we accept payments by Internet Banking.</p>
            </div>
        </div>
    </div>
</div>