<div class="sky-form">
      <div class="smaash-drops ">
 <img src="img/new/banner.png" class="img-responsive" alt="">
  </div>
  <div class="container">
      <div class="table-box">
          <h4 class="text-center uppercase">select your time slot</h4>
          <div class="selected clearfix">
              <span class="pull-left">change time</span>
              
<p class="pull-right">selected</p>
<p class="pull-right">available</p>
<p class="pull-right">booked</p>
            
          </div>
    <div class="table-responsive">
            <table class="table ">
                <thead>
                    <tr>
                        <th class="text-center uppercase ">TIME</th>
                        <th class="text-center  uppercase ">10</th>
                        <th class="text-center uppercase ">20</th>
                        <th class="text-center uppercase ">30</th>
                        <th class="text-center uppercase ">40</th>
                        <th class="text-center uppercase ">50</th>
                        <th class="text-center uppercase ">6</th>
                    </tr>
                </thead>
                <tr>
                    <td class="text-center border-left">
                        <p>10.00</p>
                    </td>
                    <td class="text-center">
  <p>38</p>
                    </td>
                    <td class="text-center border-right">
                          <p>39</p>
                    </td>

                </tr>
            </table>
        </div>
      </div>
         
  </div>
</div>