<div class="sky-form">
      <div class="smaash-dropss">
     
  </div>
       <div class="container">
                 <div class="calender ">
                     <div class="brand-greenblu clearfix">
    <span class="pull-left brand-white ">Change Time</span>
    <span class="pull-right brand-white">Change Time</span>
                     </div>
            <div class="row">
                <div class="col-md-6">
  <div class="Datepicker">
    <!--<pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>

    <h4>Inline</h4>-->
    <div style="display:inline-block; min-height:290px;">
      <div uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></div>
    </div>

    <!--<hr />
    <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
    <button type="button" class="btn btn-sm btn-default" ng-click="setDate(2009, 7, 24)">2009-08-24</button>
    <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
    <button type="button" class="btn btn-sm btn-default" ng-click="toggleMin()" uib-tooltip="After today restriction">Min date</button>-->
</div>
                </div>
                <div class="col-md-6">
<!--<form>
<input type="range" name="foo" min="0" max="100">
<output for="foo" onforminput="value = foo.valueAsNumber;"></output>
</form>-->

<form>
<input type="range" name="foo" min="0" max="100" style="width: 300px;">
<output for="foo" onforminput="value = foo.valueAsNumber;"></output>
</form>

<!--<form>
<input type="range" name="foo" min="0" max="100">
<output for="foo" onforminput="value = foo.valueAsNumber;"></output>
</form> -->
                </div>
            </div>
               
        
        </div> 
          </div>
  <div class="table-box brand-purple">
  <div class="container">
      <div class="table-boxes ">
          <h4 class="text-center uppercase brand-white">select your time slot</h4>
          <div class="selection clearfix">
              <span class="pull-left brand-white ">Change Time</span>
<!--<div class="selected pull-right">
<div class="checkbox ">
 <input type="checkbox" id="radio4"  value="selected">
                  <label for="radio4">
                              selected <span></span></label>
</div>
<div class="checkbox ">
 <input type="checkbox" id="radio5"  value="available">
                  <label for="radio5">
                             available  <span></span></label>
</div>
<div class="checkbox ">
 <input type="checkbox" id="radio6"  value="booked">
                  <label for="radio6">
                               booked <span></span></label>
</div>
</div>-->

<div class="selection pull-right">
    <div class="selected">
 <span class="uppercase brand-white ">selected</span>
    <span class="brand-red"></span>
    </div>
    <div class="selected">
 <span class="uppercase brand-white">selected</span>
    <span class=" brand-blue"></span>
    </div>
    <div class="selected">
 <span class="uppercase brand-white ">selected</span>
    <span class="brand-green"></span>
    </div>
   
</div>

            
          </div>
    <div class="table-responsive ">
            <table class="table ">
                <thead class="brand-blue">
                    <tr>
                        <th class="text-center uppercase brand-white">TIME</th>
                        <th class="text-center  uppercase brand-white">10</th>
                        <th class="text-center uppercase brand-white">20</th>
                        <th class="text-center uppercase brand-white">30</th>
                        <th class="text-center uppercase brand-white">40</th>
                        <th class="text-center uppercase brand-white">50</th>
                        <th class="text-center uppercase brand-white">6</th>
                    </tr>
                </thead>
          <tr>
                    <td class="text-center border-left">
                        <p>10.00</p>
                         <span>01.00 to 01.00</span>
                    </td>
                    <td class="text-center">
  <p>38</p>
   <span>01.00 to 01.010</span>
                    </td>
                    <td class="text-center border-right">
                          <p>39</p>
                          <span>01.00 to 01.010</span>
                    </td>
                      <td class="text-center border-right">
                          <p>40</p>
                          <span>01.00 to 01.010</span>
                    </td>
                      <td class="text-center border-right">
                          <p>41</p>
                           <span>01.00 to 01.010</span>
                    </td>
                      <td class="text-center border-right">
                          <p>42</p>
                         <span>01.00 to 01.010</span>
                    </td>
                      <td class="text-center border-right">
                          <p>43</p>
                         <span>01.00 to 01.010</span>
                    </td>

                </tr>
        <tr>
                    <td class="text-center border-left">
                        <p>10.00</p>
                         <span>01.00 to 01.00</span>
                    </td>
                    <td class="text-center">
  <p>38</p>
   <span>01.00 to 01.010</span>
                    </td>
                    <td class="text-center border-right">
                          <p>39</p>
                          <span>01.00 to 01.010</span>
                    </td>
                      <td class="text-center border-right">
                          <p>40</p>
                          <span>01.00 to 01.010</span>
                    </td>
                      <td class="text-center border-right">
                          <p>41</p>
                           <span>01.00 to 01.010</span>
                    </td>
                      <td class="text-center border-right">
                          <p>42</p>
                         <span>01.00 to 01.010</span>
                    </td>
                      <td class="text-center border-right">
                          <p>43</p>
                         <span>01.00 to 01.010</span>
                    </td>

                </tr>
         <tr>
                    <td class="text-center border-left">
                        <p>10.00</p>
                         <span>01.00 to 01.00</span>
                    </td>
                    <td class="text-center">
  <p>38</p>
   <span>01.00 to 01.010</span>
                    </td>
                    <td class="text-center border-right">
                          <p>39</p>
                          <span>01.00 to 01.010</span>
                    </td>
                      <td class="text-center border-right">
                          <p>40</p>
                          <span>01.00 to 01.010</span>
                    </td>
                      <td class="text-center border-right">
                          <p>41</p>
                           <span>01.00 to 01.010</span>
                    </td>
                      <td class="text-center border-right">
                          <p>42</p>
                         <span>01.00 to 01.010</span>
                    </td>
                      <td class="text-center border-right">
                          <p>43</p>
                         <span>01.00 to 01.010</span>
                    </td>

                </tr>
 <tr>
                    <td class="text-center border-left">
                        <p>10.00</p>
                         <span>01.00 to 01.00</span>
                    </td>
                    <td class="text-center">
  <p>38</p>
   <span>01.00 to 01.010</span>
                    </td>
                    <td class="text-center border-right">
                          <p>39</p>
                          <span>01.00 to 01.010</span>
                    </td>
                      <td class="text-center border-right">
                          <p>40</p>
                          <span>01.00 to 01.010</span>
                    </td>
                      <td class="text-center border-right">
                          <p>41</p>
                           <span>01.00 to 01.010</span>
                    </td>
                      <td class="text-center border-right">
                          <p>42</p>
                         <span>01.00 to 01.010</span>
                    </td>
                      <td class="text-center border-right">
                          <p>43</p>
                         <span>01.00 to 01.010</span>
                    </td>

                </tr>
            </table>
        </div>
         <div class="more text-center">
             <button class="uppercase green"><h3 class="title">go</h3><i class="fa fa-2x fa-angle-double-right" aria-hidden="true"></i></button>
          </div>
      </div>
      </div>
  </div>
  <div class="kart-image">
  <div class="container">
  <div class="practice">
            <form class="form text-center" ng-submit="formSubmit(landingForm);" ng-if="!formComplete">
               <h3 class="title error">Fill Your details</h3>
               <div class="row">
                  <div class="col-md-6">
                     <div class="form-group relative">
                        <span class="required"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                        <select class="form-control"  ng-model="landingForm.city" required>
                           <option ng-selected="true" value="">City</option>
                           <option value="Mumbai">Mumbai</option>
                           <option value="Ludhiana">Ludhiana</option>
                           <option value="Gurgoan">Gurgoan</option>
                           <option value="Bengaluru">Bengaluru</option>
                           <option value="Hyderabad">Hyderabad</option>
                           <option value="Noida">Noida</option>

                        </select>

                     </div>
                  </div>
                  <div class="col-md-6">

                     <div class="form-group relative">
                        <input type="text" class=" form-control" placeholder="Name" name="name" required ng-model="landingForm.name">
                        <span class="required"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                        <div class="error-msg" ng-show="user.email.$error.required && user.email.$touched">Please Enter Your Name </div>
                     </div>


                  </div>
               </div>
               <div class="row">
                  <div class="col-md-4">
                     <div class="form-group relative ">
                        <input type="tel" class="form-control" placeholder="Mobile .No" name="mobile" ng-model="landingForm.mobile" required only-digits maxlength="10" minlength="10">
                        <span class="required"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                        <div class="error-msg" ng-show="user.mobile.$error.required && user.mobile.$touched">Please enter your mobile no. </div>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="form-group relative">
                        <input type="email" class=" form-control" placeholder="Email ID" name="email" ng-model="landingForm.email" required>
                        <span class="required"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                        <div class="error-msg" ng-show="user.email.$error.required && user.email.$touched">Please Enter Your Email ID </div>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="form-group relative">
                        <input type="text" placeholder="DOB" class="form-control" uib-datepicker-popup="{{format}}" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" date-disabled="disabledDates(date,mode)" close-text="Close" alt-input-formats="altInputFormats" ng-model="landingForm.eventDate"
                        />
                        <a href="" class="down" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></a>
                        <span class="required"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                        <div class="error-msg" ng-show="user.email.$error.required && user.email.$touched">Please Enter Your DOB </div>
                     </div>
                  </div>
               </div>
            </form>
            <h3 ng-if="formComplete">Thank You.</h3>
          <div class="more">
             <button class="uppercase green"><h3 class="title">pay</h3><i class="fa fa-2x fa-angle-double-right" aria-hidden="true"></i></button>
          </div>
         </div> 
  </div>
  </div>

         
  

</div>