<div class="events1 sponsors">
    <div class="backg-eve">
        <div class="container">
            <h2 class="nav-name center">sponsorship and alliances</h2>
        </div>
    </div>
    <div class="container">
        <div class="new">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="karting-championship  marginbot">
                        <div class="brand-orangy relative">
                            <img src="img/newest/sponsoreight.jpg" class="img-responsive" alt="cmo">

                        </div>
                        <div class="new-detail">
                            <div class="heading">
                                <h3 class="margin0 brand-ortitle">BRAND PARTNERSHIP</h3>
                            </div>
                            <div class="para-text">
                                <p>Your brand can be the prime name associated with Smaaash.</p>
                            </div>
                            <span class="greeny pull-right">Read More</span>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="karting-championship  marginbot">
                        <div class="brand-orangy relative">
                            <img src="img/newest/sponsorfirst.jpg" class="img-responsive" alt="cmo">

                        </div>
                        <div class="new-detail">
                            <div class="heading">
                                <h3 class="margin0 greeny">BRAND SPONSORSHIP</h3>
                            </div>
                            <div class="para-text">
                                <p>Your brand can be an official partner being associated with us.</p>
                            </div>
                            <span class="greeny pull-right">Read More</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="karting-championship  marginbot">
                        <div class="brand-orangy relative">
                            <img src="img/newest/sponsorthird.jpg" class="img-responsive" alt="cmo">

                        </div>
                        <div class="new-detail">
                            <div class="heading">
                                <h3 class="margin0 bluey">EVENT SPONSORSHIP</h3>
                            </div>
                            <div class="para-text">
                                <p>Be an official partner for the diverse sports and entertainment take place at Smaaash.</p>
                            </div>
                            <span class="greeny pull-right">Read More</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="partners">
            <h3>our esteemed partners</h3>
            <ul class="list-inline">
                <li>
                    <a href=""><img src="img/newest/layer.jpg" class="img-responsive" alt="layer"></a>
                </li>
                <!--<li>
                    <a href=""><img src="" class="img-responsive" alt=""></a>
                </li>
                <li>
                    <a href=""><img src="" class="img-responsive" alt=""></a>
                </li>
                <li>
                    <a href=""><img src="" class="img-responsive" alt=""></a>
                </li>
                <li>
                    <a href=""><img src="" class="img-responsive" alt=""></a>
                </li>-->
            </ul>
        </div>
        <div class="contacts">
            <h3>contact details</h3>
            <p>For further information regarding Sponsorship and Alliances, feel free to get in touch with us</p>
            <div class="row">
                <div class="col-md-3">
                    <h3>Jaydeep Ray</h3>
                    <span>Gurgaon</span>
                    <div class="telephone">
                        <p class="margin0"><i class="fa fa-phone" aria-hidden="true"></i><span>Telephone</span><a href="tel:+91 9971670476">+91 9971670476 </a></p>
                    </div>
                    <div class="email">
                        <p class="margin0"><i class="fa fa-envelope" aria-hidden="true"></i><span>Email</span><a href="mailto:jaydeep.ray@smaaash.in">jaydeep.ray@smaaash.in</a></p>
                    </div>
                </div>
                <div class="col-md-3">
                    <h3>Mangesh Deshmukh</h3>
                    <span>Hyderabad</span>
                    <div class="telephone">
                        <p class="margin0"><i class="fa fa-phone" aria-hidden="true"></i><span>Telephone</span><a href="tel:+91 9100993150">+91 9100993150</a></p>
                    </div>
                    <div class="email">
                        <p class="margin0"><i class="fa fa-envelope" aria-hidden="true"></i><span>Email</span><a href="mailto:mangesh.deshmukh@smaaash.in">mangesh.deshmukh@smaaash.in</a></p>
                    </div>
                </div>
                <div class="col-md-3">
                    <h3>Sandeep Balan</h3>
                    <span>Bengaluru</span>
                    <div class="telephone">
                        <p class="margin0"><i class="fa fa-phone" aria-hidden="true"></i><span>Telephone</span><a href="tel:+91 9886995090">+91 9886995090</a></p>
                    </div>
                    <div class="email">
                        <p class="margin0"><i class="fa fa-envelope" aria-hidden="true"></i><span>Email</span><a href="mailto:sandeep.balan@smaaash.in">sandeep.balan@smaaash.in</a></p>
                    </div>
                </div>
                <div class="col-md-3">
                    <h3>Arjun Garewal</h3>
                    <span>Mumbai</span>
                    <div class="telephone">
                        <p class="margin0"><i class="fa fa-phone" aria-hidden="true"></i><span>Telephone</span><a href="tel:+91 9920472209">+91 9920472209</a></p>
                    </div>
                    <div class="email">
                        <p class="margin0"><i class="fa fa-envelope" aria-hidden="true"></i><span>Email</span><a href="mailto:arjun.garewal@smaaash.in">arjun.garewal@smaaash.in</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>