<div class="events1 sponsors">
    <div class="backg-eve">
        <div class="container">
            <h2 class="nav-name center">sponsorship and alliances</h2>
        </div>
    </div>
    <div class="container">
        <div class="new">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="karting-championship  marginbot">
                        <div class="brand-orangy relative">
                            <img src="img/new/cmo.png" class="img-responsive" alt="cmo">

                        </div>
                        <div class="new-detail">
                            <div class="heading">
                                <h3 class="margin0 ">ASHOK CHERIAN</h3>
                            </div>
                            <div class="para-text">
                                <p>As CMO, Ashok leads a strong Marketing management team. In this fast-growing segment of Smaaash
                                    Entertainment, Ashok is responsible for Lead the thinking on overall</p>
                            </div>
                        </div>
                        <span class="greeny">Read More</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="karting-championship  marginbot">
                        <div class="brand-orangy relative">
                            <img src="img/new/cmo.png" class="img-responsive" alt="cmo">

                        </div>
                        <div class="new-detail">
                            <div class="heading">
                                <h3 class="margin0 ">ASHOK CHERIAN</h3>
                            </div>
                            <div class="para-text">
                                <p>As CMO, Ashok leads a strong Marketing management team. In this fast-growing segment of Smaaash
                                    Entertainment, Ashok is responsible for Lead the thinking on overall</p>
                            </div>
                            <span class="greeny">Read More</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="karting-championship  marginbot">
                        <div class="brand-orangy relative">
                            <img src="img/new/cmo.png" class="img-responsive" alt="cmo">

                        </div>
                        <div class="new-detail">
                            <div class="heading">
                                <h3 class="margin0 ">ASHOK CHERIAN</h3>
                            </div>
                            <div class="para-text">
                                <p>As CMO, Ashok leads a strong Marketing management team. In this fast-growing segment of Smaaash
                                    Entertainment, Ashok is responsible for Lead the thinking on overall</p>
                            </div>
                        </div>
                        <span class="greeny">Read More</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>