<div class="stars deals2">
  <div class="backg">
    <div class="container">
      <h2 class="nav-name center">media and gallery</h2>
    </div>
  </div>
  <div class="forms brand-blue">
    <div class="container">
      <div class="search-green">
        <input type="text" class="form-control" placeholder="Search" ng-model="objectfilter.search" ng-change="fetchSearchedData()">
        <div class="microscope ">
          <img src="img/new/bino.png" class="img-responsive" alt="" >
        </div>
      </div>

      <div class="game-type inline-block">
        <a href=""><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
        <select class="form-control" ng-model="objectfilter.city" ng-change="fetchSearchedData()">
               <!-- <option ng-selected="true" >Select </option> -->
               <option ng-repeat="data in allCity" value="{{data._id}}">{{data.name}}</option>
              </select>
      </div>

    </div>

  </div>
  <div class="new">
    <div class="container">
      <h3 class="uppercase">gallery</h3>
      <div class="row">
        <div ng-if="stars.length === 0" class="text-center">Nothing Available</div>
        <!-- <div ng-if="notAvailable" class="text-center">Nothing Available</div> -->
        <div class="col-md-4 col-sm-4" ng-repeat="d in stars">
          <div class="karting-championship">
            <div class="brand-blue relative pointer" fancybox-box href="{{d.image|uploadpath}}">
              <img ng-src="{{d.image|uploadpath}}" class="img-responsive" alt="">
              <a href="" class="pink-button" ng-if="d.url"><img src="img/home/button.png" class="img-responsive" alt=""></a>
            </div>
            <div class="new-detail">
              <div class="views inline-block">
                <button class="uppercase bluey" fancybox-box href="{{d.image|uploadpath}}">view</button>
              </div>
              <h3 class="margin0 bluey">{{d.title}}</h3>
              <p>{{d.text}}</p>

            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

  <div class="loading">
    <p class=" load-more text-center margin0 pointer" ng-click="fetchData()" ng-if="noviewmore && stars.length>0">Load More...</p>

  </div>
  <div class="new">
    <div class="container">
      <h3 class="uppercase">media</h3>
      <div class="row">
        <div class="col-md-4 col-sm-4" ng-repeat="d in mediagallery">
          <div class="karting-championship">
            <div class="brand-blue relative pointer" fancybox-box href="{{d.image|uploadpath}}">
              <img ng-src="{{d.image|uploadpath}}" class="img-responsive" alt="">
              <a href="" class="pink-button" ng-if="d.url"><img src="img/home/button.png" class="img-responsive" alt=""></a>
            </div>
            <div class="new-detail">
              <div class="views inline-block">
                <button class="uppercase bluey" fancybox-box href="{{d.image|uploadpath}}">view</button>

              </div>


            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
  <div class="loading">
  </div>
</div>
