<div class="stars">
   <div class="backg">
      <div class="container">
         <h2 class="nav-name center">media and gallery</h2>
      </div>
   </div>
   <div class="forms brand-blue">
      <div class="container">
         <div class="search-green">
            <input type="text" class="form-control" placeholder="Search">
            <div class="microscope ">
               <img src="img/new/bino.png" class="img-responsive" alt="">
            </div>
         </div>

         <div class="game-type inline-block">
            <a href=""><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
            <select class="form-control">
               <option>Mumbai</option>
               <option>Gurgoan</option>
               <option>Hyderabad</option>
               <option>Benglauru</option>
               <option>Noida</option>
            </select>
         </div>

         <div class="checker inline-block">
            <input type="checkbox" id="test1" />
            <label for="test1">All</label>
         </div>
         <div class="checker inline-block">
            <input type="checkbox" id="test2" />
            <label for="test2">Media</label>
         </div>
         <div class="checker inline-block">
            <input type="checkbox" id="test3" />
            <label for="test3">Gallery</label>
         </div>
      </div>

   </div>
   <div class="new">
      <div class="container">
         <h3 class="uppercase">stars at smaaash</h3>
         <div class="row" ng-repeat="data in stars track by $index">
            <div class="col-md-4 col-sm-4" ng-repeat="d in data">
               <div class="karting-championship">
                  <div class="brand-blue relative">
                     <img ng-src="{{d.image|uploadpath}}" class="img-responsive" alt="">
                     <a href="" class="pink-button" ng-if="d.url"><img src="img/home/button.png" class="img-responsive" alt=""></a>
                  </div>
                  <div class="new-detail">
                     <div class="views inline-block">
                        <button class="uppercase bluey" fancybox-box href="{{d.image|uploadpath}}">view</button>
                     </div>
                     <h3 class="margin0 bluey">{{d.title}}</h3>
                     <p>{{d.text}}</p>

                  </div>
               </div>
            </div>

         </div>

      </div>
   </div>

   <div class="loading">
      <p class=" load-more text-center margin0 pointer" ng-click="fetchData()" ng-if="noviewmore">Load More...</p>

   </div>
   <div class="new">
      <div class="container">
         <h3 class="uppercase">gallery</h3>
         <div class="row">
            <div class="col-md-4 col-sm-4" ng-repeat="d in mediagallery">
               <div class="karting-championship">
                  <div class="brand-blue relative">
                     <img ng-src="{{d.image|uploadpath}}" class="img-responsive" alt="">
                     <a href="" class="pink-button" ng-if="d.url"><img src="img/home/button.png" class="img-responsive" alt=""></a>
                  </div>
                  <div class="new-detail">
                     <div class="views inline-block">
                        <button class="uppercase bluey" fancybox-box href="{{d.image|uploadpath}}">view</button>

                     </div>
                     <!-- <h3 class="margin0 bluey">{{d.title}}</h3>
                     <p>{{d.text}}</p> -->

                  </div>
               </div>
            </div>

         </div>

      </div>
   </div>
   <div class="loading">
      <!-- <p class=" load-more text-center margin0 pointer">Load More...</p> -->
      <!-- <p class=" load-more text-center margin0 pointer" ng-click="fetchData()" ng-if="noviewmore">Load More...</p> -->

   </div>
</div>
