<div class=" contact">
    <div class="backg">
        <div class="container">
            <h2 class="nav-name center ">Terms and Conditions</h2>
        </div>
    </div>
    <div class="container">
        <div class="contact-div" >
            <div class="meetup">
                <p><strong>Terms and Conditions :</strong></p>
              <ol>
              	<li>
              	<p><strong>Waiting time for the activities and games can be between 5 minutes to a few hours, depending on the crowd at the centers.</strong></p>
              	</li>
              	<li>
              	<p><strong>Discounted packages cannot be clubbed with any other offers or schemes.</strong></p>
              	</li>
              	<li>
              	<p><strong>Height &amp; weight safety criteria are to be followed strictly.</strong></p>
              	</li>
              	<li>
              	<p><strong>Shoes are compulsory for all activities.</strong></p>
              	</li>
              	<li>
              	<p><strong>Maximum height for Trampoline is 5&rsquo;7&rdquo;.</strong></p>
              	</li>
              	<li>
              	<p><strong>Minimum height for Karting is 4&rsquo;.</strong></p>
              	</li>
              	<li>
              	<p><strong>It is mandatory to sign the &lsquo;Disclaimer Form&rsquo; at the center before playing Cricket &amp; Karting at the center.</strong></p>
              	</li>
              	<li>
              	<p><strong>The management has put all efforts to keep all activities and attractions operational; however it is possible that some of the activities may not be fully operational due to technical or safely reasons and shall not be substituted or refunded.</strong></p>
              	</li>
              	<li>
              	<p><strong>Identity proof (Aadhar Card, Driving license, Student ID card, Company ID card, Passport, PAN card or Voter ID card)</strong></p>
              	</li>
              	<li>
              	<p><strong>Age proof (Aadhar Card, Driving license, Passport, PAN card or Voter ID card is mandatory for Senior Citizens)</strong></p>
              	</li>
              	<li>
              	<p><strong>Smaaash will not be responsible for any loss, damage or injury sustained by the guest, outside or third party and persons accompanying him, while in the center.</strong></p>
              	</li>
              	<li>
              	<p><strong>Smaaash reserves the rights to refuse entry to the guest in the center for violating center rules, illegal activities or fail to comply with any security measures.</strong></p>
              	</li>
              	<li>
              	<p><strong>No outside eatables will be allowed within the center.</strong></p>
              	</li>
              	<li>
              	<p><strong>Package rates and governing conditions are subject to change without notice.</strong></p>
              	</li>
              	<li>
              	<p><strong>All images &amp; terminology used in all communication is for creative, descriptive and representation purpose only</strong></p>
              	</li>
              	<li>
              	<p><strong>Packages are non-refundable, non-transferable and non-redeemable.</strong></p>
              	</li>
              	<li>
              	<p><strong>Cancellation will not be allowed once purchased/ once card recharge is done.</strong></p>
              	</li>
              	<li>
              	<p><strong>Print out of the Packages purchased online is compulsory at the time of entry.</strong></p>
              	</li>
              	<li>
              	<p><strong>The guest confirms that he/she has read understood and agreed to all the terms and conditions in the Smaaash center and voluntarily assumes all the risks.</strong></p>
              	</li>
              	<li>
              	<p><strong>Stamp required to constitute a valid coupon at the time of redemption.</strong></p>
              	</li>
              </ol>


            </div>

        </div>

    </div>
</div>
