<div class=" contact">
	<div class="backg gap-issue">
		<div class="container">
			<h2 class="nav-name center ">Terms and Conditions</h2>
		</div>
	</div>
	<div class="container">
		<div class="contact-div">
			<div class="meetup">
				<h3>Terms and Conditions :-</h3>
				<ol class="packages">
					<li>
						Waiting time for the activities and games can be between 5 minutes to a few hours, depending on the crowd at the centers.
						< </li>
							<li>
								Discounted packages cannot be clubbed with any other offers or schemes.
							</li>
							<li>
								Height &amp; weight safety criteria are to be followed strictly.
							</li>
							<li>
								Shoes are compulsory for all activities.
							</li>
							<li>
								Maximum height for Trampoline is 5&rsquo;7&rdquo;.
							</li>
							<li>
								Minimum height for Karting is 4&rsquo;.
							</li>
							<li>
								It is mandatory to sign the &lsquo;Disclaimer Form&rsquo; at the center before playing Cricket &amp; Karting at the center.
							</li>
							<li>
								The management has put all efforts to keep all activities and attractions operational; however it is possible that some of
								the activities may not be fully operational due to technical or safely reasons and shall not be substituted or refunded.
							</li>
							<li>
								Identity proof (Aadhar Card, Driving license, Student ID card, Company ID card, Passport, PAN card or Voter ID card)
							</li>
							<li>
								Age proof (Aadhar Card, Driving license, Passport, PAN card or Voter ID card is mandatory for Senior Citizens)
							</li>
							<li>
								Smaaash will not be responsible for any loss, damage or injury sustained by the guest, outside or third party and persons
								accompanying him, while in the center.
							</li>
							<li>
								Smaaash reserves the rights to refuse entry to the guest in the center for violating center rules, illegal activities or
								fail to comply with any security measures.
							</li>
							<li>
								No outside eatables will be allowed within the center.
							</li>
							<li>
								Package rates and governing conditions are subject to change without notice.
							</li>
							<li>
								All images &amp; terminology used in all communication is for creative, descriptive and representation purpose only
							</li>
							<li>
								Packages are non-refundable, non-transferable and non-redeemable.
							</li>
							<li>
								Cancellation will not be allowed once purchased/ once card recharge is done.
							</li>
							<li>
								Print out of the Packages purchased online is compulsory at the time of entry.
							</li>
							<li>
								The guest confirms that he/she has read understood and agreed to all the terms and conditions in the Smaaash center and voluntarily
								assumes all the risks.
							</li>
							<li>
								Stamp required to constitute a valid coupon at the time of redemption.
							</li>
				</ol>


			</div>

		</div>

	</div>
</div>