<div class="prewedding">
  <figure>
    <img src="img/weddings.jpg" class="img-responsive" alt="image" />
  </figure>
  <div class="container">
    <div class="banner-info">
      <div class="banner-text">
        <h2 class="title brand-white">pre wedding parties</h2>
        <p class="brand-white title-text texts">Surprise everyone with your crazy trademark antics, on your last night of bachelors/spinster freedom.Immerse completely
          into the electric beats of chartbusting hits , lay your hands on our adrenaline fused stimulating games, or guzzle
          guilt-freely, on your favourite liquor and signature spirits.</p>
      </div>
      <div class="banner-buttons hidden-xs">
        <button type="button" ui-sref="confirm-order" class="btn title brand-green btn1 btn-default"><span class="brand-white" >buy<i class="fa fa-shopping-cart" aria-hidden="true"></i></span></button>
        <button type="button" class="btn title brand-purple btn2 btn-default"><span class="brand-white" ng-click="weddingParty()">enquiry<i class="fa fa-envelope-o" aria-hidden="true"></i></span></button>
      </div>
      <div class="banner-butons hidden-md hidden-sm hidden-lg">
        <button type="button" ui-sref="confirm-order" class="btn title brand-green btn1 btn-default"><span class="brand-white" >buy<i class="fa fa-shopping-cart" aria-hidden="true"></i></span></button>
        <button type="button" class="btn title brand-purple btn2 btn-default"><span class="brand-white" ng-click="weddingParty()">enquiry<i class="fa fa-envelope-o" aria-hidden="true"></i></span></button>
      </div>
    </div>
  </div>
</div>