<div class="whats-new">
  <div class="backg-deal">
    <div class="container">
      <h2 class="nav-name center ">whats new</h2>
    </div>
  </div>
  <div class="container">
    <div class="new">
      <div class="row" ng-repeat="data in SingleExploreSmaaash">
        <div class="col-md-4 col-sm-4" ng-repeat="d in data">
          <div class="karting-championship">
            <div class="img-bg">
              <img ng-src="{{d.image|uploadpath}}" class="img-responsive" alt="">
            </div>
            <div class="new-detail">
              <div class="min-he">
                <h3 class="margin0 height80" ng-bind-html="d.hometext"></h3>
              </div>

              <div class="min-h">
                <p ng-hide="moreDesc[d._id]">{{d.description | htmlToPlaintext|shorten:130}}</p>
                <p ng-show="moreDesc[d._id]">{{myDesc|htmlToPlaintext}}</p>
                <div ng-if="!d.description">No Data Found</div>
              </div>

              <span class="capitalize greeny" ng-if="d.description.length > 130 && !moreDesc[d._id]" ng-click="readMore(d._id,$index)">read more</span>
              <span class="capitalize greeny" ng-if="d.description.length > 130 && moreDesc[d._id]" ng-click="readMore(d._id,$index)">read less</span>
              <div class="button-set">
                <ul class="social-icons list-inline inline-block">
                  <p class="inline-block">Share</p>
                  <li><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                  <li><a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                  <li><a href=""><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                </ul>
                <div class="more inline-block">
                  <a href={{d.sublink}}>
                    <button class="uppercase green" ng-disabled="!d.sublink">know more</button>
                  </a>
                </div>
              </div>
              <div class="love">
                <button class="uppercase" ng-click="myWish(d._id); addedToWishList();"><i class="fa fa-heart-o" aria-hidden="true"></i>would love to try</button>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-4 col-sm-4">
              <div class="karting-championship">
                <div class="img-bcg">
                <img src="img/new/text.png" class="img-responsive" alt="">
                </div>
                <div class="new-detail">
                <h3 class="margin0">Get Set Go Race On <br> Virat's favourite track</h3>
                <p>This Monsoon, enjoy the rains Smaaash Style! Starting 1st July get all games at packages starting at only Rs. 899!</p>
                <span class="capitalize pinky">read more</span>
                <div class="button-set">
                <ul class="social-icons list-inline inline-block">
                  <p class="inline-block">Share</p>
                  <li><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                  <li><a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                  <li><a href=""><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                </ul>
                <div class="more inline-block "><button class="uppercase pink">know more</button></div>
              </div>
              <div class="love"><button class="uppercase"><i class="fa fa-heart-o" aria-hidden="true"></i>would love to try</button></div>
            </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="karting-championship marginbot">
                <div class="img-bkg">
                <img src="img/new/text.png" class="img-responsive" alt="">
                </div>
                <div class="new-detail">
                <h3 class="margin0">Get Set Go Race On <br> Virat's favourite track</h3>
                <p>This Monsoon, enjoy the rains Smaaash Style! Starting 1st July get all games at packages starting at only Rs. 899!</p>
                <span class="capitalize orangy">read more</span>
                <div class="button-set">
                <ul class="social-icons list-inline inline-block">
                  <p class="inline-block">Share</p>
                  <li><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                  <li><a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                  <li><a href=""><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                </ul>
                <div class="more inline-block "><button class="uppercase orange">know more</button></div>
              </div>
              <div class="love"><button class="uppercase"><i class="fa fa-heart-o" aria-hidden="true"></i>would love to try</button></div>
            </div>
                </div>
            </div> -->
      </div>
    </div>
    <!-- <div class="new">
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <div class="karting-championship">
        <div class="img-bg">
        <img src="img/new/text.png" class="img-responsive" alt="">
        </div>
        <div class="new-detail">
        <h3 class="margin0">Get Set Go Race On <br> Virat's favourite track</h3>
        <p>This Monsoon, enjoy the rains Smaaash Style! Starting 1st July get all games at packages starting at only Rs. 899!</p>
        <span class="capitalize greeny">read more</span>
        <div class="button-set">
        <ul class="social-icons list-inline inline-block">
          <p class="inline-block">Share</p>
          <li><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
        </ul>
        <div class="more inline-block"><button class="uppercase green">know more</button></div>
      </div>
      <div class="love"><button class="uppercase"><i class="fa fa-heart-o" aria-hidden="true"></i>would love to try</button></div>
    </div>
        </div>
        </div>
    <div class="col-md-4 col-sm-4">
      <div class="karting-championship">
        <div class="img-bcg">
        <img src="img/new/text.png" class="img-responsive" alt="">
        </div>
        <div class="new-detail">
        <h3 class="margin0">Get Set Go Race On <br> Virat's favourite track</h3>
        <p>This Monsoon, enjoy the rains Smaaash Style! Starting 1st July get all games at packages starting at only Rs. 899!</p>
        <span class="capitalize pinky">read more</span>
        <div class="button-set">
        <ul class="social-icons list-inline inline-block">
          <p class="inline-block">Share</p>
          <li><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
        </ul>
        <div class="more inline-block "><button class="uppercase pink">know more</button></div>
      </div>
      <div class="love"><button class="uppercase"><i class="fa fa-heart-o" aria-hidden="true"></i>would love to try</button></div>
    </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="karting-championship marginbot">
        <div class="img-bkg">
        <img src="img/new/text.png" class="img-responsive" alt="">
        </div>
        <div class="new-detail">
        <h3 class="margin0">Get Set Go Race On <br> Virat's favourite track</h3>
        <p>This Monsoon, enjoy the rains Smaaash Style! Starting 1st July get all games at packages starting at only Rs. 899!</p>
        <span class="capitalize orangy">read more</span>
        <div class="button-set">
        <ul class="social-icons list-inline inline-block">
          <p class="inline-block">Share</p>
          <li><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
        </ul>
        <div class="more inline-block "><button class="uppercase orange">know more</button></div>
      </div>
      <div class="love"><button class="uppercase"><i class="fa fa-heart-o" aria-hidden="true"></i>would love to try</button></div>
    </div>
        </div>
    </div>
  </div>
</div>
<div class="new">
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <div class="karting-championship">
        <div class="img-bg">
        <img src="img/new/text.png" class="img-responsive" alt="">
        </div>
        <div class="new-detail">
        <h3 class="margin0">Get Set Go Race On <br> Virat's favourite track</h3>
        <p>This Monsoon, enjoy the rains Smaaash Style! Starting 1st July get all games at packages starting at only Rs. 899!</p>
        <span class="capitalize greeny">read more</span>
        <div class="button-set">
        <ul class="social-icons list-inline inline-block">
          <p class="inline-block">Share</p>
          <li><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
        </ul>
        <div class="more inline-block"><button class="uppercase green">know more</button></div>
      </div>
      <div class="love"><button class="uppercase"><i class="fa fa-heart-o" aria-hidden="true"></i>would love to try</button></div>
    </div>
        </div>
        </div>
    <div class="col-md-4 col-sm-4">
      <div class="karting-championship">
        <div class="img-bcg">
        <img src="img/new/text.png" class="img-responsive" alt="">
        </div>
        <div class="new-detail">
        <h3 class="margin0">Get Set Go Race On <br> Virat's favourite track</h3>
        <p>This Monsoon, enjoy the rains Smaaash Style! Starting 1st July get all games at packages starting at only Rs. 899!</p>
        <span class="capitalize pinky">read more</span>
        <div class="button-set">
        <ul class="social-icons list-inline inline-block">
          <p class="inline-block">Share</p>
          <li><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
        </ul>
        <div class="more inline-block "><button class="uppercase pink">know more</button></div>
      </div>
      <div class="love"><button class="uppercase"><i class="fa fa-heart-o" aria-hidden="true"></i>would love to try</button></div>
    </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="karting-championship marginbot">
        <div class="img-bkg">
        <img src="img/new/text.png" class="img-responsive" alt="">
        </div>
        <div class="new-detail">
        <h3 class="margin0">Get Set Go Race On <br> Virat's favourite track</h3>
        <p>This Monsoon, enjoy the rains Smaaash Style! Starting 1st July get all games at packages starting at only Rs. 899!</p>
        <span class="capitalize orangy">read more</span>
        <div class="button-set">
        <ul class="social-icons list-inline inline-block">
          <p class="inline-block">Share</p>
          <li><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
        </ul>
        <div class="more inline-block "><button class="uppercase orange">know more</button></div>
      </div>
      <div class="love"><button class="uppercase"><i class="fa fa-heart-o" aria-hidden="true"></i>would love to try</button></div>
    </div>
        </div>
    </div>
  </div>
</div> -->
  </div>
</div>