<div class="whats-new">
<div class="bg">
  <div class="container">
      <h2 class="nav-name center ">whats new</h2>
      </div>
    </div>
      <div class="container">
<div class="new">
  <div class="row">
    <div class="col-md-4">
      <div class="karting-championship">
        <img src="img/new/green.jpg" class="img-responsive" alt="">
        <div class="new-detail">
        <h3 class="margin0">Get Set Go Race On <br> Virat's favourite track</h3>
        <p>This Monsoon, enjoy the rains Smaaash Style! Starting 1st July get all games at packages starting at only Rs. 899!</p>
        <span class="capitalize">read more</span>
        <div class="button-set">
        <ul class="social-icons list-inline inline-block">
          <p class="inline-block">Share</p>
          <li><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
        </ul>
        <div class="more inline-block"><button class="uppercase">know more</button></div>
      </div>
      <div class="love"><button class="uppercase"><i class="fa fa-heart-o" aria-hidden="true"></i>would love to try</button></div>
    </div>
        </div>
        </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
  </div>
</div>
      </div>
</div>
