<footer class="foots">
    <div class="container-fluid">
      <div class="footer1">
        <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-3">
                  <ul class="foot-list">
                    <li><a class="uppercase title" href="">explore smaash</a></li>
                    <li><a href="">lorem ipsum</a></li>
                    <li><a href="">lorem ipsum</a></li>
                    <li><a href="">lorem ipsum</a></li>
                    <li><a href="">lorem ipsum</a></li>
                  </ul>
                </div>
                <div class="col-md-3">
                  <ul class="foot-list">
                    <li><a class="uppercase title" href="">host a party</a></li>
                    <li><a href="">lorem ipsum</a></li>
                    <li><a href="">lorem ipsum</a></li>
                    <li><a href="">lorem ipsum</a></li>
                    <li><a href="">lorem ipsum</a></li>
                  </ul>
                </div>
                <div class="col-md-3">
                  <ul class="foot-list">
                    <li><a class="uppercase title" href="">buy online</a></li>
                    <li><a href="">lorem ipsum</a></li>
                    <li><a href="">lorem ipsum</a></li>
                    <li><a href="">lorem ipsum</a></li>
                    <li><a href="">lorem ipsum</a></li>
                  </ul>
                </div>
                <div class="col-md-3">
                  <ul class="foot-list">
                    <li><a class="uppercase title" href="">stars at smaash</a></li>
                    <li><a href="">lorem ipsum</a></li>
                    <li><a href="">lorem ipsum</a></li>
                    <li><a href="">lorem ipsum</a></li>
                    <li><a href="">lorem ipsum</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6">
                <div class="pull">
                  <div class="row">
                    <div class="col-md-4">
                      <ul class="foot-list">
                        <li><a class="uppercase title" href="">events and challenges</a></li>
                        <li><a href="">lorem ipsum</a></li>
                        <li><a href="">lorem ipsum</a></li>
                        <li><a href="">lorem ipsum</a></li>
                        <li><a href="">lorem ipsum</a></li>
                      </ul>
                    </div>
                    <div class="col-md-4">
                      <ul class="foot-list">
                        <li><a class="uppercase title" href="">buy and recharge</a></li>
                        <li><a href="">lorem ipsum</a></li>
                        <li><a href="">lorem ipsum</a></li>
                        <li><a href="">lorem ipsum</a></li>
                        <li><a href="">lorem ipsum</a></li>
                      </ul>
                    </div>
                    <div class="col-md-4">
                      <ul class="foot-list">
                        <li><a class="uppercase title" href="">earn points</a></li>
                        <li><a href="">lorem ipsum</a></li>
                        <li><a href="">lorem ipsum</a></li>
                        <li><a href="">lorem ipsum</a></li>
                        <li><a href="">lorem ipsum</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
            </div>
        </div>
  </div>
        <div class="footer2">
          <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-3">
                    <ul class="foot-list">
                      <li><a class="uppercase title" href="">my cart</a></li>
                      <li><a href="">lorem ipsum</a></li>
                      <li><a href="">lorem ipsum</a></li>
                      <li><a href="">lorem ipsum</a></li>
                      <li><a href="">lorem ipsum</a></li>
                    </ul>
                  </div>
                  <div class="col-md-3">
                    <ul class="foot-list">
                      <li><a class="uppercase title" href="">my account</a></li>
                      <li><a href="">lorem ipsum</a></li>
                      <li><a href="">lorem ipsum</a></li>
                      <li><a href="">lorem ipsum</a></li>
                      <li><a href="">lorem ipsum</a></li>
                    </ul>
                  </div>
                  <div class="col-md-3">
                    <ul class="foot-list">
                      <li><a class="uppercase title" href="">log in</a></li>
                      <li><a href="">lorem ipsum</a></li>
                      <li><a href="">lorem ipsum</a></li>
                      <li><a class="uppercase title" href="">agency login</a></li>
                      <li><a href="">lorem ipsum</a></li>
                    </ul>
                  </div>
                  <div class="col-md-3">
                    <ul class="foot-list">
                      <li><a class="uppercase title" href="">download app</a></li>
                      <li><a href=""><img src="" class="img-responsive" alt=""></a></li>
                      <li><a href=""><img src="" class="img-responsive" alt=""></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                  <div class="pull">
                    <div class="row">
                      <div class="col-md-4">
                        <ul class="foot-list">
                          <li><a class="uppercase title" href="">contact us</a></li>
                          <li><a href="">lorem ipsum</a></li>
                          <li><a href="">lorem ipsum</a></li>
                          <li><a href="">lorem ipsum</a></li>
                          <li><a href="">lorem ipsum</a></li>
                        </ul>
                      </div>
                      <div class="col-md-4">
                        <ul class="foot-list">
                          <li><a class="uppercase title" href="">follow smaash</a></li>
                          <li class="list-inline"><a href=""><i class="fa fa-facebook"></i></a></li>
                          <li class="list-inline"><a href=""><i class="fa fa-twitter"></i></a></li>
                          <li class="list-inline"><a href=""><i class="fa fa-instagram"></i></a></li>
                          <li class="list-inline"><a href=""><i class="fa fa-youtube"></i></a></li>
                          <li>
                            <a class="uppercase" href="">hashtags</a>
                            <ul class="tweets">
                              <li><a href="">#Lorem #Ipsum #issimply #dummy #text #ofrt</a></li>
                              <li><a href="">#Lorem #Ipsum #issimply #dummy #text #ofrt#printing #and #typesetting #industry</a></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-4">
                        <ul class="foot-list">
                          <li><a href=""><img src="img/home/logo.png" class="img-responsive" alt=""></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
    </div>
    <div class="footer3 text-center">
      <ul class="list-inline">
        <li><a href="">terms of use</a></li>
        <li><a href="">privacy policy</a></li>
        <li><a href="">your calfornia</a></li>
        <li><a href="">privacy rights</a></li>
        <li><a href="">childrens online privacy policy</a></li>
        <li><a href="">license agreement</a></li>
        <li><a href="">interest based ads</a></li>
        <li><a href="">&copy; 2016</a></li>
          <li><a href="">Designed by <img src="" class="img-responsive" alt=""></a></li>
      </ul>
    </div>
    </div>
</footer>
