<div class="footers">
<div class="container-fluid">
  <div class="footers-list">
<div class="row foot">
  <div class="col col-flexing">
    <ul class="foot-list">
      <li class="bold title">EXPLORE SMAAASH</li>
      <li><a href="">Lorem Ipsum</a></li>
      <li><a href="">Lorem Ipsum</a></li>
      <li><a href="">Lorem Ipsum</a></li>
    </ul>
  </div>
  <div class="col col-flexing">
    <ul class="foot-list">
      <li class="bold title">HOST A PARTY</li>
      <li><a href="">Lorem Ipsum</a></li>
      <li><a href="">Lorem Ipsum</a></li>
      <li><a href="">Lorem Ipsum</a></li>
    </ul>
  </div>
  <div class="col col-flexing">
    <ul class="foot-list">
    <li class="bold title">BUY ONLINE</li>
    <li><a href="">Lorem Ipsum</a></li>
    <li><a href="">Lorem Ipsum</a></li>
    <li><a href="">Lorem Ipsum</a></li>
  </ul>
</div>
  <div class="col col-flexing">
    <ul class="foot-list">
    <li class="bold title">STARS AT SMAAASH</li>
    <li><a href="">Lorem Ipsum</a></li>
    <li><a href="">Lorem Ipsum</a></li>
    <li><a href="">Lorem Ipsum</a></li>
  </ul>
</div>
  <div class="col col-flexing">
    <ul class="foot-list">
    <li class="bold title">EVENTS & CHALLENGES</li>
    <li><a href="">Lorem Ipsum</a></li>
    <li><a href="">Lorem Ipsum</a></li>
    <li><a href="">Lorem Ipsum</a></li>
  </ul>
</div>
<div class="col col-flexing">
  <ul class="foot-list">
  <li class="bold title">buy & Recharge</li>
  <li><a href="">Lorem Ipsum</a></li>
  <li><a href="">Lorem Ipsum</a></li>
  <li><a href="">Lorem Ipsum</a></li>
</ul>
</div>
<div class="col col-flexing">
  <ul class="foot-list">
  <li class="bold title">earn points</li>
  <li><a href="">Lorem Ipsum</a></li>
  <li><a href="">Lorem Ipsum</a></li>
  <li><a href="">Lorem Ipsum</a></li>
</ul>
</div>
</div>
<div class="row foot">
  <div class="col col-flexing">
    <ul class="foot-list">
      <li class="bold title">my cart</li>
      <li><a href="">Lorem Ipsum</a></li>
      <li><a href="">Lorem Ipsum</a></li>
      <li><a href="">Lorem Ipsum</a></li>
    </ul>
  </div>
  <div class="col col-flexing">
    <ul class="foot-list">
      <li class="bold title">my account</li>
      <li><a href="">Lorem Ipsum</a></li>
      <li><a href="">Lorem Ipsum</a></li>
      <li><a href="">Lorem Ipsum</a></li>
    </ul>
  </div>
  <div class="col col-flexing">
    <ul class="foot-list">
    <li class="bold title">log in</li>
    <li><a href="">Lorem Ipsum</a></li>
    <li><a href="">Lorem Ipsum</a></li>
    <li class="bold title">AGENCY LOGIN</li>
    <li><a href="">Lorem Ipsum</a></li>
  </ul>
</div>
  <div class="col col-flexing">
    <ul class="foot-list">
    <li class="bold title">download app</li>
    <li><a href=""><i class="fa fa-android" aria-hidden="true"></i></a></li>
    <li><a href=""><i class="fa fa-apple" aria-hidden="true"></i></a></li>
  </ul>
</div>
  <div class="col col-flexing">
    <ul class="foot-list">
    <li class="bold title">Contact us</li>
    <li><a href="">Bengaluru</a></li>
    <li><a href="">Hyderabad</a></li>
    <li><a href="">Gurgaon</a></li>
    <li><a href="">Mumbai</a></li>
  </ul>
</div>
<div class="col col-flexing">
  <ul class="foot-list">
  <li class="bold title">follow smaaash</li>
  <li><a href="">Lorem Ipsum</a></li>
  <li><a href="">Lorem Ipsum</a></li>
  <li><a href="">Lorem Ipsum</a></li>
  <li><a href="">Lorem Ipsum</a></li>
</ul>
</div>
<div class="col col-flexing">
  <ul class="foot-list">
  <li class="bold title">earn points</li>
  <li><a href="">Lorem Ipsum</a></li>
  <li><a href="">Lorem Ipsum</a></li>
  <li><a href="">Lorem Ipsum</a></li>
</ul>
</div>
</div>
<div class="row foot">
  <div class="col col-flexing">
    <ul class="foots-list list-inline text-center">
      <li >Terms of Use</li>
      <li >Privacy Policy</li>
      <li >Your California</li>
      <li >Privacy Rights</li>
      <li >Children’s Online Privacy Policy</li>
      <li >License Agreement</li>
      <li >Interest-Based Ads</li>
      <li >© 2016 smaaash</li>
      <li >Designed by <img src="../img/home/ting.png" class="img-responsive ting" alt=""></li>
    </ul>
  </div>
</div>
</div>
</div>
</div>
