<!-- <footer>
    <div class="container">
      <div class="footer1">
        <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-3">
                  <ul class="foot-list">
                    <li><a href="">explore smaash</a></li>
                    <li><a href="">lorem ipsum</a></li>
                    <li><a href="">lorem ipsum</a></li>
                    <li><a href="">lorem ipsum</a></li>
                    <li><a href="">lorem ipsum</a></li>
                  </ul>
                </div>
                <div class="col-md-3">
                  <ul class="foot-list">
                    <li><a href="">host a party</a></li>
                    <li><a href="">lorem ipsum</a></li>
                    <li><a href="">lorem ipsum</a></li>
                    <li><a href="">lorem ipsum</a></li>
                    <li><a href="">lorem ipsum</a></li>
                  </ul>
                </div>
                <div class="col-md-3">
                  <ul class="foot-list">
                    <li><a href="">buy online</a></li>
                    <li><a href="">lorem ipsum</a></li>
                    <li><a href="">lorem ipsum</a></li>
                    <li><a href="">agency login</a></li>
                    <li><a href="">lorem ipsum</a></li>
                  </ul>
                </div>
                <div class="col-md-3">
                  <ul class="foot-list">
                    <li><a href="">stars at smaash</a></li>
                    <li><a href="">lorem ipsum</a></li>
                    <li><a href="">lorem ipsum</a></li>
                    <li><a href="">lorem ipsum</a></li>
                    <li><a href="">lorem ipsum</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6">
                <div class="pull">
                  <div class="row">
                    <div class="col-md-4">
                      <ul class="foot-list">
                        <li><a href="">events and challenges</a></li>
                        <li><a href="">lorem ipsum</a></li>
                        <li><a href="">lorem ipsum</a></li>
                        <li><a href="">lorem ipsum</a></li>
                        <li><a href="">lorem ipsum</a></li>
                      </ul>
                    </div>
                    <div class="col-md-4">
                      <ul class="foot-list">
                        <li><a href="">buy and recharge</a></li>
                        <li><a href="">lorem ipsum</a></li>
                        <li><a href="">lorem ipsum</a></li>
                        <li><a href="">lorem ipsum</a></li>
                        <li><a href="">lorem ipsum</a></li>
                      </ul>
                    </div>
                    <div class="col-md-4">
                      <ul class="foot-list">
                        <li><a href="">earn points</a></li>
                        <li><a href="">lorem ipsum</a></li>
                        <li><a href="">lorem ipsum</a></li>
                        <li><a href="">lorem ipsum</a></li>
                        <li><a href="">lorem ipsum</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
            </div>
        </div>
  </div>
        <div class="footer2">
          <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-3">
                    <ul class="foot-list">
                      <li><a href="">my cart</a></li>
                      <li><a href="">lorem ipsum</a></li>
                      <li><a href="">lorem ipsum</a></li>
                      <li><a href="">lorem ipsum</a></li>
                      <li><a href="">lorem ipsum</a></li>
                    </ul>
                  </div>
                  <div class="col-md-3">
                    <ul class="foot-list">
                      <li><a href="">my account</a></li>
                      <li><a href="">lorem ipsum</a></li>
                      <li><a href="">lorem ipsum</a></li>
                      <li><a href="">lorem ipsum</a></li>
                      <li><a href="">lorem ipsum</a></li>
                    </ul>
                  </div>
                  <div class="col-md-3">
                    <ul class="foot-list">
                      <li><a href="">log in</a></li>
                      <li><a href="">lorem ipsum</a></li>
                      <li><a href="">lorem ipsum</a></li>
                      <li><a href="">agency login</a></li>
                      <li><a href="">lorem ipsum</a></li>
                    </ul>
                  </div>
                  <div class="col-md-3">
                    <ul class="foot-list">
                      <li><a href="">download app</a></li>
                      <li><a href="">lorem ipsum</a></li>
                      <li><a href="">lorem ipsum</a></li>
                      <li><a href="">lorem ipsum</a></li>
                      <li><a href="">lorem ipsum</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                  <div class="pull">
                    <div class="row">
                      <div class="col-md-4">
                        <ul class="foot-list">
                          <li><a href="">contact us</a></li>
                          <li><a href="">lorem ipsum</a></li>
                          <li><a href="">lorem ipsum</a></li>
                          <li><a href="">lorem ipsum</a></li>
                          <li><a href="">lorem ipsum</a></li>
                        </ul>
                      </div>
                      <div class="col-md-4">
                        <ul class="foot-list">
                          <li><a href="">follow smaash</a></li>
                          <li><a href="">lorem ipsum</a></li>
                          <li><a href="">lorem ipsum</a></li>
                          <li><a href="">lorem ipsum</a></li>
                          <li><a href="">lorem ipsum</a></li>
                        </ul>
                      </div>
                      <div class="col-md-4">
                        <ul class="foot-list">
                          <li><a href="">lorem ipsum</a></li>
                          <li><a href="">lorem ipsum</a></li>
                          <li><a href="">lorem ipsum</a></li>
                          <li><a href="">lorem ipsum</a></li>
                          <li><a href="">lorem ipsum</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
    </div>
    <div class="footer3">
      <ul class="list-inline">
        <li><a href="">terms of use</a></li>
        <li><a href="">privacy policy</a></li>
        <li><a href="">your calfornia</a></li>
        <li><a href="">privacy rights</a></li>
        <li><a href="">childrens online privacy policy</a></li>
        <li><a href="">license agreement</a></li>
        <li><a href="">interest based ads</a></li>
        <li><a href="">&copy; 2016</a></li>
      </ul>
    </div>
    </div>
</footer> -->
