<div ng-controller="headerctrl" ng-class="{'menu-opened': menu == true}">
    <nav class="nav-menu sticky-butn">
        <div class="smaash-menu">
            <div class="cut hidden-md visible-xs" ng-click="closing();"><i class="fa fa-times" aria-hidden="true"></i></div>
            <div class="clearfix hidden-md visible-xs"></div>
            <div class="row">
                <div class="rows mobile-inlineblock margin5">
                    <div class="col-flexing mobile-50 ">
                        <div class="promotions bg-prop">
                            <a ui-sref="promotion({id:promotionId})" class="text-center">
                                <h3 class="nav-name"><span class="block">promotions</span></h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-flexing mobile-50 " ng-show="userLoginDetails==null">
                        <div class="registration bg-prop">
                            <a class="text-center">
                                <h3 class="nav-name" ng-click="getMenus();"><span class="block">registration</span></h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-flexing mobile-50 ">
                        <div class="buy bg-prop" ui-sref="buy">
                            <a class="text-center">
                                <h3 class="nav-name "><span class="block">buy online</span></h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-flexing mobile-50 ">
                        <div class="cart bg-prop">
                            <a class="text-center">
                                <h3 class="nav-name" ng-click="myCart();"><span class="block">my cart</span></h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-flexing mobile-50" ng-hide="userLoginDetails === null">
                        <div class="account bg-prop">
                            <a class="text-center">
                                <h3 class=" nav-name nav-naming" ng-click="myAccount();"><span class="block">my</span> account</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-flexing mobile-50" ng-hide="userLoginDetails === null">

                        <div class="log bg-prop">
                            <a class="text-center">
                                <h3 class="nav-name"><span class="block">Hi<br/><p ng-bind-html="userLoginDetails.data.CustomerName |htmlToPlaintext"> </p>.. </span></h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-flexing mobiles-50" ng-show="userLoginDetails === null">
                        <div class="log bg-prop">
                            <a class="text-center">
                                <h3 class="nav-name" ng-click="getMenus();"><span class="block">Login</span></h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-flexing mobile-50" ng-hide="userLoginDetails === null">
                        <div class="log bg-prop">
                            <a href="" class="text-center">
                                <h3 class="nav-name" ng-click="logout();"><span class="block">Logout</span></h3>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="rows mobile-inlineblock top margin5">
                    <div class="col-flexing mobile-50  ">
                        <div class="exploring bg-prop ">
                            <a ui-sref="attractions({id:attraId})" class="text-center">
                                <h3 class="nav-name "><span class="block">explore </span>smaaash</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-flexing mobile-50 ">
                        <div class="food bg-prop ">
                            <a ui-sref="drink-party({id:foodBeveragesId})" class="text-center">
                                <h3 class="nav-name "><span class="block">food &amp; </span>beverages</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-flexing mobile-50 ">
                        <div class="deals bg-prop">
                            <a ui-sref="dealsp({id:dealsId})" class="text-center">
                                <h3 class="nav-name"><span class="block">deals &amp; </span> packages</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-flexing mobile-50 ">
                        <div class="events bg-prop">
                            <a ui-sref="event({id:eventId})" class="text-center">
                                <h1 class="nav-name "><span class="block">events &amp;</span> challenges</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-flexing mobile-50">
                        <div class="starts bg-prop">
                            <a ui-sref="stars" class="text-center">
                                <h3 class="nav-name "><span class="block">media &amp;</span>gallery</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-flexing mobile-50">
                        <div class="host bg-prop">
                            <a ui-sref="host-party({id:hostpartyId})" class="text-center">
                                <h3 class="nav-name "><span class="block">host a </span>party</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </nav>

    <div class="dropdowns">

        <div class="container relative">
            <a class="logo-smaash" ui-sref="home">
                <img src="img/home/logo.png" alt="Smaaash" ng-if="cityData.smaaashLogo === ''
                || showlogo">
                <img ng-src="{{cityData.smaaashLogo | uploadpath}}" alt="Smaaash">
            </a>



            <div class="women-menu" ng-click="toggleMenu()" ng-class="{'overlay':menu==true}">
                <div class="menu"><img src="img/home/menu.png" alt="Menu" no-drag></div>
                <figure class="woman-menu">
                    <img src="img/home/woman.png" class="img-responsive" alt="woman-menu">
                </figure>
            </div>

            <div class="backdroped" ng-if="city" ng-click="toggleCity()">
                <div class="smaaash-cities">
                    <h2 class="title center brand-white">select your city</h2>
                    <a class="cross" href="">
                        <i class="fa fa-2x fa-times" aria-hidden="true"></i>
                    </a>
                    <div class="city-types">
                        <ul class="list">
                            <li ng-repeat="city in getCity">

                                <a ng-click="getCityName(city)"><img ng-src="{{city.image|uploadpath}}" class="img-responsive" alt=""></a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="img/nav/ludhiana.png" alt="">
                                </a>
                            </li>
                        </ul>
                        <p class="text-center">{{currentdate|englishNumeralTime}} &#8739 {{currentdate| englishNumeralDate}} &#8739 YOUR CURRENT
                            CITY IS {{cityData.name}}</p>

                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="side-buttons" ng-class="{'slide-down': menu == true}" ng-hide="showConnect">
        <div class="connect-button" id="axis" ng-click="getMenus();">

            <div class="orange-rays"></div>
            <img src="img/connect.png" class="img-responsive rotate360cw" alt="">
            <p class="uppercase brand-white">connect</p>
        </div>

        <div class="side-menu {{menus}}">
            <div class="close-it">
                <a href="" class="text-uppercase" ng-click="getMenus();"><img src="img/menu.png" class="img-responsive" alt=""></a>
            </div>
            <div class="login-signup relative">
                <div class="row">
                    <div class="col-md-6">
                        <div class="login">
                            <h3 class="uppercase">login</h3>
                            <form class="form" name="login" ng-submit="userLogin(userData)" ng-if="!formComplete">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Mobile number" minlength="10" maxlength="10" name="email" ng-model="userData.UserName" required only-Digits>

                                    <div class="error-msg" ng-show="login.email.$error.required && login.email.$touched">Please Enter Your User Id</div>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="password" name="password" required ng-model="userData.Password">
                                    <div class="error-msg" ng-show="login.password.$error.required && login.password.$touched">Please Enter Your Password </div>
                                </div>
                                <button type="submit" class="btn btn-default brand-yellow"><span class="uppercase">login</span></button>
                                <div class="error" ng-if="valid">Please Enter Valid Mobile No. & Password</div>

                            </form>
                            <div ng-if="formComplete">
                                <p class="text-center" >Thank You</p>
                            </div>
                            <button type="button" class="butn relative"><span><i class="fa fa-facebook" aria-hidden="true"></i></span>login with facebook</button>
                            <button type="button" class="buton relative "><span><i class="fa fa-google-plus" aria-hidden="true"></i></span>login with Google</button>
                       <a href="" class="forgot" ng-click="resets();getMenus();">Forgot password?</a>
                       <!-- <div ng-if="incorrect">Please ente v </div> -->
                       <!-- <a href="" class="forgot" ng-click="resets();getMenus();closeModal();">Forgot password?</a> -->
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="or">
                        <span ><img src="img/or.png" class="img-responsive" alt=""></span>
                    </div>
                    <div class="col-md-6">
                        <div class="signup">
                            <h3 class="uppercase" >sign up</h3>
                            <form class="form" name="signUp" ng-if="!formCompleteSignup" ng-submit="signupGenerateOtp(signupData);">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Complete Name" name="name" required ng-model="signupData.CustomerName">
                                    <div class="error-msg" ng-show="signUp.name.$error.required && signUp.name.$touched">Please Enter Your User Name</div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email ID" name="email" required ng-model="signupData.CustomerEmail">
                                    <div class="error-msg" ng-show="signUp.email.$error.required && signUp.email.$touched">Please Enter Your Email ID</div>
                                    <!-- <div class="error" ng-if="emailExist">Email Id Already Exist</div> -->


                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Mobile .No" name="mobile" ng-model="signupData.CustomerMobile" required only-digits
                                        maxlength="10" minlength="10">

                                    <div class="error-msg" ng-show="signUp.mobile.$error.required && signUp.mobile.$touched">Please enter your mobile no. </div>
                                </div>
                                <div class="form-group">
                                    <select name="categorydata" class="form-control" ng-model="signupData.CustomerAddress" required>
                              <option ng-selected="true" value="">Please select city</option>
                              <option value="{{d._id}}" ng-repeat="d in getCity">{{d.name}}</option>

                           </select>
                                    <div class="error" ng-if="validCity">Please select valid city.</div>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Password" name="password" required ng-model="signupData.CustomerPassword"
                                        minlength="8" ng-maxlength="14">
                                    <div class="error-msg" ng-show="signUp.password.$error.required && signUp.password.$touched">Please Enter Your Password</div>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Re-Enter Password" name="confirmPassword" required ng-model="signupData.confirmPassword">
                                    <div class="error-msg" ng-show="signUp.confirmPassword.$error.required && signUp.confirmPassword.$touched">Please Re-Enter Your Password</div>
                                </div>
                                <div class="error" ng-if="!pass">password doesn't match or It should be Minimum 8 Characters & Maximum 14 Characters.</div>

                                <button type="submit"  class="btn4  btn-default brand-blue"><span class="uppercase brand-white">sign up</span></button>
  <div class="error" ng-if="emailExist">Customer Allready Exists</div>

                            </form>
                            <div class="submit-thank" ng-if="formCompleteSignup">
                                <p class="text-center">Thank You</p>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="side" ng-class="{'slides-down': menu == true}" ng-hide="showAunty">
        <div class="live-chat" id="axe">
            <div class="orange-rays"></div>
            <div class="cities" ng-click="toggleCity()">
                <span>{{cityData.name || 'Choose City'}}
                   <i class="fa fa-chevron-down"></i>
               </span>
            </div>

        </div>
    </div>

</div>
<div  ng-show="template.isLoader"  style="text-align:center";>
 <img src="img/loading.gif" alt="" / style="margin:0 auto;">
</div>
