<div ng-controller="headerctrl" ng-class="{'menu-opened': menu == true}">
    <nav class="nav-menu sticky-butn">
        <div class="smaash-menu">
          <div class="cut hidden-md visible-xs" ng-click="$dismiss();"><i class="fa fa-times" aria-hidden="true"></i></div>
            <div class="row">
                <div class="rows mobile-inlineblock margin5">
                    <div class="col-flexing mobile-50 ">
                        <div class="promotions bg-prop">
                            <a href="" class="text-center">
                                <h3 class="nav-name"><span class="block">promotions</span></h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-flexing mobile-50 ">
                        <div class="registration bg-prop">
                            <a href="" class="text-center">
                                <h3 class="nav-name"><span class="block">registration</span></h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-flexing mobile-50 ">
                        <div class="buy bg-prop">
                            <a href="" class="text-center">
                                <h3 class="nav-name "><span class="block">buy online</span></h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-flexing mobile-50 ">
                        <div class="cart bg-prop">
                            <a href="" class="text-center">
                                <h3 class="nav-name"><span class="block">my cart</span></h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-flexing mobile-50">
                        <div class="account bg-prop">
                            <a href="" class="text-center">
                                <h3 class=" nav-name nav-naming"><span class="block">my</span> account</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-flexing mobile-50">
                        <div class="log bg-prop">
                            <a href="" class="text-center">
                                <h3 class="nav-name"><span class="block">login</span></h3>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="rows mobile-inlineblock top margin5">
                    <div class="col-flexing mobile-50  ">
                        <div class="exploring bg-prop ">
                            <a ui-sref="explore-smaaash" class="text-center">
                                <h3 class="nav-name "><span class="block">explore </span>smaaash</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-flexing mobile-50 ">
                        <div class="food bg-prop ">
                            <a href="" class="text-center">
                                <h3 class="nav-name "><span class="block">food &amp; </span>beverages</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-flexing mobile-50 ">
                        <div class="deals bg-prop">
                            <a href="" class="text-center">
                                <h3 class="nav-name"><span class="block">deals &amp; </span> packages</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-flexing mobile-50 ">
                        <div class="events bg-prop">
                            <a href="" class="text-center">
                                <h1 class="nav-name "><span class="block">events &amp;</span> challenges</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-flexing mobile-50">
                        <div class="starts bg-prop">
                            <a href="" class="text-center">
                                <h3 class="nav-name "><span class="block">starts at </span>smaaash</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-flexing mobile-50">
                        <div class="host bg-prop">
                            <a href="" class="text-center">
                                <h3 class="nav-name "><span class="block">host a </span>party</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="dropdowns">
        <div class="container relative">
            <a ui-sref="home" class="logo-smaash"><img src="img/home/logo.png" alt="Smaaash"></a>
            <div class="cities" ng-click="toggleCity()">
                <span ng-hide='showCity'>Choose City
                    <i class="fa fa-chevron-down"></i>
                </span>
                <span ng-show='showCity'>{{cityName}}
                    <i class="fa fa-chevron-down"></i>
                </span>
            </div>
            <div class="women-menu" ng-click="toggleMenu()">
               <div class="menu"><img src="img/home/menus.png" alt="Menu" no-drag ></div>
              <figure class="woman-menu">
                  <img src="img/home/woman.png" class="img-responsive" alt="woman-menu">
              </figure>
            </div>

            <div class="backdroped" ng-if="city" ng-click="toggleCity()">
                <div class="smaaash-cities">
                    <h2 class="title center brand-white">select your city</h2>
                    <a class="cross" href="">
                        <i class="fa fa-2x fa-times" aria-hidden="true"></i>
                    </a>
                    <div class="city-types">
                        <ul class="list">
                            <li ng-repeat="city in getCity">

                                <a ng-click="getCityName(city)" ng-click="getCityName(city)"><img ng-src="{{city.image|uploadpath}}" class="img-responsive" alt=""></a>
                            </li>
                            <!-- <li>
                                <a href=""><img src="img/nav/hyderabad.png" class="img-responsive" alt=""></a>
                            </li>
                            <li>
                                <a href=""><img src="img/nav/gurgoan.png" class="img-responsive" alt=""></a>
                            </li>
                            <li>
                                <a href=""><img src="img/nav/mumbai.png" class="img-responsive" alt=""></a>
                                <a class="tick" href=""><img src="img/nav/tick.png" alt=""></a>
                            </li>
                            <li>
                                <a href=""><img src="img/nav/noida.png" class="img-responsive" alt=""></a>
                            </li>
                            <li>
                                <a href=""><img src="img/nav/ludhiana.png" class="img-responsive" alt=""></a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
