<!--<ul class="nav navbar-nav">
  <li ng-repeat="menu in navigation" class="{{menu.classis}}">
    <a ui-sref="{{menu.anchor}}" ng-if="menu.anchor">{{menu.name}}</a>
    <a href="{{menu.link}}" ng-if="menu.link">{{menu.name}}</a>
    <ul class="dropdown-menu" ng-if="menu.subnav!='';">
      <li ng-repeat="submenu in menu.subnav">
        <a ui-serf="{{submenu.anchor}}" ng-if="submenu.anchor">{{submenu.name}}</a>
        <a herf="{{submenu.link}}" ng-if="submenu.link">{{submenu.name}}</a>
      </li>
    </ul>
  </li>
</ul>-->
 <!--<div class="header-mobile">

            <ul>
                 <h3 class=" text-center nav-names names">menu</h3>
           

               <li>
                  <a class="text-center" ui-sref="hostparty({id:hostpartyId})">
                     <h3 class="nav-names">host a party</h3>
                  </a>
               </li>
               <li>
                  <a class="text-center" ui-sref="attractions({id:attraId})">
                     <h3 class="nav-names ">games</h3>
                  </a>
               </li>
               <li>
                  <a class="text-center" ui-sref="media">
                     <h3 class="nav-names">media</h3>
                  </a>
               </li>
                <li>
                  <a class="text-center" ng-hide="userLoginDetails === null">
                     <h3 class="nav-names"><span class="display-block">Hi<br/><p ng-bind-html="userLoginDetails.CustomerName |htmlToPlaintext"> </p> </span></h3>
                  </a>
               </li>
               <li>
                  <a class="text-center" ng-hide="userLoginDetails === null">
                     <h3 class=" nav-names nav-naming" ng-click="myAccount();">my account</h3>
                  </a>
               </li>
                <li>
                  <a class="text-center">
                     <h3 class="nav-names" ng-click="myCart();"><span class="display-block">my cart</span></h3>
                  </a>
               </li>


               <li>
                  <a class="text-center" ng-show="userLoginDetails === null">
                     <h3 class="nav-names" ng-click="getMenus();">Login</h3>
                  </a>
               </li>
               <li>
                  <a class="text-center" ng-hide="userLoginDetails === null">
                     <h3 class="nav-names" ng-click="logout();">Log out</h3>
                  </a>
               </li>

               <li>
                  <a class="text-center" ui-sref="dealsp({id:dealsId})">
                     <h3 class="nav-names">deals &amp;  packages</h3>
                  </a>
               </li>
               <li>
                  <a class="text-center" ui-sref="event({id:eventId})">
                     <h3 class="nav-names ">upcoming events </h3>
                  </a>
               </li>
               <li>
                  <a class="text-center" ui-sref="stars">
                     <h3 class="nav-names ">gallery</h3>
                  </a>
               </li>



            </ul>
         </div>-->