
<div class="host-pop hosts-pop" >
  <a href="" class="close text-uppercase brand-white" ng-click="$dismiss();"><img src="img/new/close-popup.png" class="img-responsive" alt=""></a>
<div class="get-call">
  <h3 class="text-center">thank you</h3>
  <p class="text-center">our executive will revert shortly</p>
  <p>we'll get back to you soon</p>
 <div class="checkout text-center">
  <span>Check Out</span>
     <button type="submit" class=" btn-default" ><img src="img/new/pay.png" class="img-responsive" alt=""></button>
     <!-- <button type="submit" class=" btn-default" ng-click="direction()"><img src="img/new/pay.png" class="img-responsive" alt=""></button> -->
</div>
</div>
</div>
