
<section id="smaaash-emailer-kitty-party">
<div class="container-fluid">
<div class="row">
<div class="col-lg-7 col-md-6 col-xs-12 no-pad-junior">
<div class="smaash-emailer-content">
<img src="img/party/smaaash-main-banner-kitty-party.jpg">
</div>
</div>

<div class="col-lg-5 col-md-6 col-xs-12 new-border">

<div class="smaash-emailer-form-thank-you">
                       
                        <div class="birthday-parties-kitty">
                            <h1>THANK YOU!</h1>
                        </div>
                        <div class="birthday-parties-kitty"><p>We appreciate your keenness in hosting your bash at SMAAASH. We’ll get back to you within one working day for sure.</p></div>
                    </div>
</div>
</div>
</div>
</section>  
<section id="mid-section-one-kitty">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12 col-xs-12">
<div class="mid-section-one-text-kitty">

<p>Host Kitty parties with different flavors, at three different venues, Verbena, Pravas and Smaaash, each emanating a unique ambience of its own. Where Pravas is the more laid back, traditional way to enjoy with your girl gang, Verbena adheres more to the western culture and Smaaash is the ultimate playground when it comes to having unconventional parties. </p>
</div>
</div>
</div>
</div>
</section>

<section id="kitty-party-verbana">
<div class="container-fluid for-new-container">
<div class="row">
<div class="col-lg-offset-2 col-lg-4">
<div class="verbana">
<h1>Verbena</h1>
<p>The rooftop garden coined as ‘sky garden’ by us, provides you the perfect green ambience to lounge in and savor delicious food with organic cocktails. You girls will have the perfect date with awesomeness in this bubbly
atmosphere.</p>
</div>
</div>
<div class="col-lg-6">
<div class="verbana"><img src="img/party/verbana.jpg"></div>
</div>

</div>
</div>
</section>


<section id="corporate-section-3">
        <div class="container-fluid">
            <div class="row">
                <div class="first-banner" data-toggle="modal" data-target="#myModal">
                    <img src="img/party/video-kitty.jpg" alt="" class="img-responsive img_video" style="width: 100%;">
                </div>
                <div class="modal fade bs-example-modal-lg" id="myModal" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;">
                    <div class="modal-dialog modal-lg">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                            </div>
                            <div class="modal-body">
                                <iframe width="100%" height="400" src="https://www.youtube.com/embed/qpWI2kKFN5Q?autoplay=0"  frameborder="0" allowfullscreen="" autoplay=0></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="video">
       <div class="first-banner" data-toggle="modal" data-target="#myModal">
       <img src="img/party/video.jpg" class="img-responsive"  />
       </div>
     </div>-->
            </div>
        </div>
    </section>

<section id="smaaash-footer-iamges">
<div class="container-fluid">
<div class="row">
                <div class="col-md-4 smaaash-content">
                  <img src="img/party/img-9.jpg" class="img-responsive">
                </div>
                <div class="col-md-4 smaaash-content">
                  <img src="img/party/img-10.jpg" class="img-responsive">
                </div>
                <div class="col-md-4 smaaash-content">
                    <img src="img/party/img-11.jpg" class="img-responsive">
                </div>
               
    </div>
    
    <div class="row">
                <div class="col-md-4 smaaash-content">
                  <img src="img/party/img-12.jpg" class="img-responsive">
                </div>
                <div class="col-md-4 smaaash-content">
                  <img src="img/party/img-13.jpg" class="img-responsive">
                </div>
                <div class="col-md-4 smaaash-content">
                    <img src="img/party/img-14.jpg" class="img-responsive">
                </div>
               
    </div>
</div>
</section>

<section id="mid-section-four-kitty">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12 col-xs-12">
<div class="mid-section-one-text-kitty">

<p>Kitty parties are a time where ladies find some space of their own. They are disconnected from the outside world and enter a universe filled with excitement, gossip and great food. Smaaash, Pravas and Verbena are the perfect venues to host your kitty parties. You could have your kitty party at any time throughout the day. Great food is something that unites the girls and makes them bond over. That’s some space for interesting gossip as well. Pravas provides you with authentic Gujarati cuisine to indulge in during your kitty parties. 
 </p>
 <p>Verbena gives you more of a western vibe as you enjoy your kitty party with organically prepared cocktails prepared from scratch. At Smaaash kitty parties get wilder. You could play some interesting games and get lost in the world of virtual reality. You could also indulge in some physical sport. There’s delicious food and drinks to lounge over too. Hence, if you need a choice of place for your kitty party, these three venues should be on the top of your list.</p>
</div>
</div>
</div>
</div>
</section>

<div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img src="img/party/logo1.png">
                </div>
            </div>
            <!--<div class="row">
                <div class="col-md-6">
                    <div class="content">
                        <h4>BE THE FIRST ONE TO KNOW</h4>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="newsletter">
                    <form class="form-horizontal form-inline" action="https://crm.zoho.com/crm/WebToLeadForm" id="mform" name="WebToLeads2924822000000146013" method="POST" onsubmit="javascript:document.charset=&quot;UTF-8&quot;; return checkMandatory()" accept-charset="UTF-8" style="color: #fff;">
                     <input type="hidden" name="returnURL" id="returnURL" value="http://pro.smaaash.in/team-outing-corporate-party-bengaluru/thanks.html">
            <input id="00N6F00000GxzFA" maxlength="20" name="LEADCF17" size="20" type="hidden" class="leadid" value="1519899620015">
            <input type="text" style="display:none;" name="xnQsjsdp" value="b5c41eca6212277da0c42d63de8b032b17dda6164a184653ea8f2923743bbff5">
            <input type="hidden" name="zc_gad" id="zc_gad" value="">
            <input type="text" style="display:none;" name="xmIwtLD" value="2ebd540b525c91e7a3c44ae5071724137493dfdaf1400e7279ee184725531d0a">
            <input type="text" style="display:none;" name="actionType" value="TGVhZHM=">

            

            <select id="lead_source" name="Lead Source" style="display:none">
            <option value="Web 2 Lead">Web 2 Lead</option>
            <option selected="selected" value="Google">Google</option>
            </select>
                        
                             <input id="email1" maxlength="80" name="Email" class="form-control bottom_border new-send" data-rule-required="true" placeholder="" size="20" type="email" required>
                            <button type="submit" class="btn btn-primary">Send</button>
                        </form>
                    </div>
                </div>
            </div>-->
            
            
            <div class="row line">
                <div class="col-md-6 col-xs-6">
                    <div class="footer-left">
                        <a href="#">© {{template.year}} SMAAASH</a>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="footer-right">
                        <a href="http://ting.in" target="_blank"><span class="Designed-by">Designed by</span> <span class="logo_t"><img src="img/party/ting.png" height="30px"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
