
<section id="smaaash-emailer-kitty-party">
<div class="container-fluid">
<div class="row">
<div class="col-lg-7 col-md-6 col-xs-12 no-pad-junior">
<div class="smaash-emailer-content">
<img src="img/party/smaaash-main-banner-kitty-party.jpg">
</div>
</div>

<div class="col-lg-5 col-md-6 col-xs-12 new-border">

<div class="smaash-emailer-form responsive-kitty">

<div class="kitty-party">
<p>Host Exciting kitty parties!</p>
<h3>Naughty Gossip. Awesome games. Great food.</h3>
</div>
<form class="form-horizontal" action='https://crm.zoho.com/crm/WebToLeadForm' id="mform" name=WebToLeads2924822000000146013 method='POST' onSubmit='javascript:document.charset="UTF-8"; return checkMandatory()' accept-charset='UTF-8' style="color: #fff;">

             <input type=hidden name="returnURL" id="returnURL" value="https://smaaash.in/{{city}}/host-a-party/kitty-parties-2/thank-you">
            <input  id="00N6F00000GxzFA" maxlength="20" name="LEADCF17" size="20" type="hidden" class="leadid" />
            <input type='text' style='display:none;' name='xnQsjsdp' value='b5c41eca6212277da0c42d63de8b032b17dda6164a184653ea8f2923743bbff5'/>
            <input type='hidden' name='zc_gad' id='zc_gad' value=''/>
            <input type='text' style='display:none;' name='xmIwtLD' value='2ebd540b525c91e7a3c44ae5071724137493dfdaf1400e7279ee184725531d0a'/>
            <input type='text' style='display:none;'  name='actionType' value='TGVhZHM='/>

            

            <select id='lead_source' name='Lead Source' style='display:none'>
            <option value='Web 2 Lead'>Web 2 Lead</option>
            <option selected='selected' value='Google'>Google</option>
            </select>

           <div class="form-group no_mar">
                          
              <label class="col-sm-2 col-md-2 col-xs-4  form_heading_kittyparty">Name</label>
              <div class="col-sm-10 col-md-8 col-xs-8 toplabelspacesmalldevice">
              <input  id="last_name" maxlength="40" name='Last Name' placeholder="" data-rule-required="true" class="form-control-kittyparty bottom_border" size="20" type="text" required />
              </div>
            </div>
              
             
                         
            <div class="form-group no_mar"> 
                <label class="col-sm-2 col-md-2 col-xs-4  form_heading_kittyparty">Email</label>
                <div class="col-sm-10 col-md-8 col-xs-8 toplabelspacesmalldevice">
                    <input  id="email" maxlength="80" name="Email" class="form-control-kittyparty bottom_border" data-rule-required="true" placeholder="" size="20" type="email" required/>
                </div>    
            </div>
            
            <div class="form-group no_mar">
              <label class="col-sm-2 col-md-2 col-xs-4 form_heading_kittyparty">Mobile</label>
              <div class="col-sm-10 col-md-8 col-xs-8 toplabelspacesmalldevice">
              <input  id="mobile" maxlength="40" name="Mobile" class="form-control-kittyparty bottom_border" data-rule-required="true" placeholder="" size="20" type="number" required/>
              </div>
            </div>

            

           <div class="form-group no_mar">
            <select  id="00N6F00000FbWPi" name="LEADCF1" title="Sales Team Assigned" style="display: none;">
              <option selected="selected" value='Delhi&#x20;VK'>{{city}}</option>
              
            </select>
            </div>

            <div class="form-group no_mar" style="display: none;">
              <label class="col-sm-2 col-md-2 col-xs-4 form_heading_kittyparty">Type of Event</label>
              <div class="col-sm-10 col-md-8 col-xs-8 toplabelspacesmalldevice">
              <select id="00N6F00000Enqi8"  name="LEADCF2" class="form-control-kittyparty bottom_border option-stylexhang cust wide"><span class="people no_person" required>People</span> 
                   <option value="">Type of Event</option>
                    <option value="Corporate Conference">Corporate Conference</option>
                    <option value="Seminar &amp; Meeting">Seminar &amp; Meeting</option>
                    <option selected="selected" value="Birthday or Anniversary">Birthday or Anniversary</option>
                    <option value="Engagement, Wedding or Reception">Engagement, Wedding or Reception</option>
                    <option value="Exhibition or Musical Event">Exhibition or Musical Event</option>
                    <option value="Other Event">Other Event</option>
              </select>
              </div> 
            </div>

            <div class="form-group no_mar">
              <label class="col-sm-2 col-md-2 col-xs-4 form_heading_kittyparty">Event Date</label>
              <div class="col-sm-8 col-xs-6 no_padding">
              <input id="event_date" maxlength="40" name="LEADCF91" type="text" class="form-control-kittyparty bottom_border" placeholder="mm/dd/yyyy" size="20" required>
              </div>
              <div style="display: none;">
                <select name='LEADCF91hour'>
                  <option value='01'>01</option>
                  <option value='02'>02</option>
                  <option value='03'>03</option>
                  <option value='04'>04</option>
                  <option value='05'>05</option>
                  <option value='06'>06</option>
                  <option value='07'>07</option>
                  <option value='08'>08</option>
                  <option value='09'>09</option>
                  <option value='10'>10</option>
                  <option value='11'>11</option>
                  <option value='12'>12</option>
                </select> 
                <select name='LEADCF91minute'>
                  <option value='00'>00</option>
                  <option value='01'>01</option>
                  <option value='02'>02</option>
                  <option value='03'>03</option>
                  <option value='04'>04</option>
                  <option value='05'>05</option>
                  <option value='06'>06</option>
                  <option value='07'>07</option>
                  <option value='08'>08</option>
                  <option value='09'>09</option>
                  <option value='10'>10</option>
                  <option value='11'>11</option>
                  <option value='12'>12</option>
                  <option value='13'>13</option>
                  <option value='14'>14</option>
                  <option value='15'>15</option>
                  <option value='16'>16</option>
                  <option value='17'>17</option>
                  <option value='18'>18</option>
                  <option value='19'>19</option>
                  <option value='20'>20</option>
                  <option value='21'>21</option>
                  <option value='22'>22</option>
                  <option value='23'>23</option>
                  <option value='24'>24</option>
                  <option value='25'>25</option>
                  <option value='26'>26</option>
                  <option value='27'>27</option>
                  <option value='28'>28</option>
                  <option value='29'>29</option>
                  <option value='30'>30</option>
                  <option value='31'>31</option>
                  <option value='32'>32</option>
                  <option value='33'>33</option>
                  <option value='34'>34</option>
                  <option value='35'>35</option>
                  <option value='36'>36</option>
                  <option value='37'>37</option>
                  <option value='38'>38</option>
                  <option value='39'>39</option>
                  <option value='40'>40</option>
                  <option value='41'>41</option>
                  <option value='42'>42</option>
                  <option value='43'>43</option>
                  <option value='44'>44</option>
                  <option value='45'>45</option>
                  <option value='46'>46</option>
                  <option value='47'>47</option>
                  <option value='48'>48</option>
                  <option value='49'>49</option>
                  <option value='50'>50</option>
                  <option value='51'>51</option>
                  <option value='52'>52</option>
                  <option value='53'>53</option>
                  <option value='54'>54</option>
                  <option value='55'>55</option>
                  <option value='56'>56</option>
                  <option value='57'>57</option>
                  <option value='58'>58</option>
                  <option value='59'>59</option>
                </select> 
                <select name='LEADCF91ampm'>
                  <option value='AM'>AM</option>
                  <option value='PM'>PM</option>
                </select>
              </div>
            </div>


            <div class="form-group no_mar">
              <label class="col-sm-2 col-md-2 col-xs-4 form_heading_kittyparty">Party For</label>
              <div class="col-sm-10 col-md-8 col-xs-8 toplabelspacesmalldevice">
              <select id="00N6F00000EnggI"  name="LEADCF3" class="form-control-kittyparty bottom_border option-stylexhang cust wide" required>
                <option class="color_change" value=""  disabled="" selected=""> Please Select</option>
                <option class="color_change" value="15-50">15 to 50</option>
                <option class="color_change" value="50-100">50 to 100</option>
                <option class="color_change" value="100-300">100 to 300</option>
                <option class="color_change" value="300-500">300 to 500</option>
                <option class="color_change" value="500-700">500 to 700</option>
              </select>
              </div>
            </div>

            <div class="top_mar">
              <input type="submit" name="submit" class="btn btn-primary btn_design_kitty">
            </div>
          </form>
</div>
</div>
</div>
</div>
</section>  
<section id="mid-section-one-kitty">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12 col-xs-12">
<div class="mid-section-one-text-kitty">

<p>Host Kitty parties with different flavors, at three different venues, Verbena, Pravas and Smaaash, each emanating a unique ambience of its own. Where Pravas is the more laid back, traditional way to enjoy with your girl gang, Verbena adheres more to the western culture and Smaaash is the ultimate playground when it comes to having unconventional parties. </p>
</div>
</div>
</div>
</div>
</section>

<section id="kitty-party-verbana">
<div class="container-fluid for-new-container">
<div class="row">
<div class="col-lg-offset-2 col-lg-4 col-xs-11 col-xs-offset-1">
<div class="verbana">
<h1>Verbena</h1>
<p>The rooftop garden coined as ‘sky garden’ by us, provides you the perfect green ambience to lounge in and savor delicious food with organic cocktails. You girls will have the perfect date with awesomeness in this bubbly
atmosphere.</p>
</div>
</div>
<div class="col-lg-6">
<div class="verbana"><img src="img/party/verbana.jpg"></div>
</div>

</div>
</div>
</section>


<section id="corporate-section-3">
        <div class="container-fluid">
            <div class="row">
                <div class="first-banner" data-toggle="modal" data-target="#myModal">
                    <img src="img/party/video-kitty.jpg" alt="" class="img-responsive img_video" style="width: 100%;">
                </div>
                <div class="modal fade bs-example-modal-lg" id="myModal" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;">
                    <div class="modal-dialog modal-lg">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                            </div>
                            <div class="modal-body">
                                <iframe width="100%" height="400" src="https://www.youtube.com/embed/qpWI2kKFN5Q?autoplay=0"  frameborder="0" allowfullscreen="" autoplay=0></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="video">
       <div class="first-banner" data-toggle="modal" data-target="#myModal">
       <img src="img/party/video.jpg" class="img-responsive"  />
       </div>
     </div>-->
            </div>
        </div>
    </section>

<section id="smaaash-footer-iamges">
<div class="container-fluid">
<div class="row">
                <div class="col-md-4 col-sm-6 smaaash-content">
                  <img src="img/party/img-9.jpg" class="img-responsive">
                </div>
                <div class="col-md-4 col-sm-6 smaaash-content">
                  <img src="img/party/img-10.jpg" class="img-responsive">
                </div>
                <div class="col-md-4 col-sm-6 smaaash-content">
                    <img src="img/party/img-11.jpg" class="img-responsive">
                </div>
     
                <div class="col-md-4 col-sm-6 smaaash-content">
                  <img src="img/party/img-12.jpg" class="img-responsive">
                </div>
                <div class="col-md-4 col-sm-6 smaaash-content">
                  <img src="img/party/img-13.jpg" class="img-responsive">
                </div>
                <div class="col-md-4 col-sm-6 smaaash-content">
                    <img src="img/party/img-14.jpg" class="img-responsive">
                </div>
               
    </div>
</div>
</section>

<section id="mid-section-four-kitty">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12 col-xs-12">
<div class="mid-section-one-text-kitty">

<p>Kitty parties are a time where ladies find some space of their own. They are disconnected from the outside world and enter a universe filled with excitement, gossip and great food. Smaaash, Pravas and Verbena are the perfect venues to host your kitty parties. You could have your kitty party at any time throughout the day. Great food is something that unites the girls and makes them bond over. That’s some space for interesting gossip as well. Pravas provides you with authentic Gujarati cuisine to indulge in during your kitty parties. 
 </p>
 <p>Verbena gives you more of a western vibe as you enjoy your kitty party with organically prepared cocktails prepared from scratch. At Smaaash kitty parties get wilder. You could play some interesting games and get lost in the world of virtual reality. You could also indulge in some physical sport. There’s delicious food and drinks to lounge over too. Hence, if you need a choice of place for your kitty party, these three venues should be on the top of your list.</p>
</div>
</div>
</div>
</div>
</section>

<div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img src="img/party/logo1.png" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="content-party">
                        <h4>BE THE FIRST ONE TO KNOW</h4>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="newsletter">
                    <form class="form-horizontal form-inline" action='https://crm.zoho.com/crm/WebToLeadForm' id="mform" name=WebToLeads2924822000000146013 method='POST' onSubmit='javascript:document.charset="UTF-8"; return checkMandatory()' accept-charset='UTF-8' style="color: #fff;">
                     <input type=hidden name="returnURL" id="returnURL" value="http://pro.smaaash.in/team-outing-corporate-party-bengaluru/thanks.html">
            <input  id="00N6F00000GxzFA" maxlength="20" name="LEADCF17" size="20" type="hidden" class="leadid" />
            <input type='text' style='display:none;' name='xnQsjsdp' value='b5c41eca6212277da0c42d63de8b032b17dda6164a184653ea8f2923743bbff5'/>
            <input type='hidden' name='zc_gad' id='zc_gad' value=''/>
            <input type='text' style='display:none;' name='xmIwtLD' value='2ebd540b525c91e7a3c44ae5071724137493dfdaf1400e7279ee184725531d0a'/>
            <input type='text' style='display:none;'  name='actionType' value='TGVhZHM='/>

            

            <select id='lead_source' name='Lead Source' style='display:none'>
            <option value='Web 2 Lead'>Web 2 Lead</option>
            <option selected='selected' value='Google'>Google</option>
            </select>
                        
                             <input  id="email" maxlength="80" name="Email" class="form-control bottom_border new-send" data-rule-required="true" placeholder="" size="20" type="email" required/>
                            <button type="submit" class="btn btn-primary">Send</button>
                        </form>
                    </div>
                </div>
            </div>
            
            
            <div class="row line">
                <div class="col-md-6 col-xs-6">
                    <div class="footer-left">
                        <a href="#">© 2017 SMAAASH</a>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="footer-right">
                        <a href="http://ting.in" target="_blank"><span class="Designed-by">Designed by</span> <span class="logo_t"><img src=          "img/party/ting.png" height="30px"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
