
    <section id="corporate-section">
        <div class="container-fluid main">
            <div class="row">
                <div class="col-md-7 feature">
                    <div class="corporate-party">
                        <img src="img/party/backgrd.png" />
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="smaash-emailer-form-junior">
                        <div class="birthday-parties"><img src="img/party/fom.png"></div>
                        <div class="birthday-parties1">
                            <h1>THANK YOU!</h1>
                        </div>
                        <div class="birthday-parties1"><p>We appreciate your keenness in hosting your bash at SMAAASH. We’ll get back to you within one working day for sure.</p></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="mid-section-one">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12 col-xs-12">
<div class="mid-section-one-text-corporate">
<h1> Where the only target is fun!</h1>
<p>SMAAASH will get you floored with its extravagant virtual reality games, simulative sports, food and drinks, packaged to perfection for your corporate event. We’ll see to it that every facet of your occasion is looked after with meticulous care, from start to finish. R.I.P. boring corporate parties, welcome to Smaaash!  </p>
</div>
</div>
</div>
</div>
</section>
    <section id="corporate-section-3">
        <div class="container-fluid">
            <div class="row">
                <div class="first-banner" data-toggle="modal" data-target="#myModal">
                    <img src="img/party/video.jpg" alt="" class="img-responsive img_video" style="width: 100%;">
                </div>
                <div class="modal fade bs-example-modal-lg" id="myModal" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;">
                    <div class="modal-dialog modal-lg">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                            </div>
                            <div class="modal-body">
                                <iframe width="100%" height="400" src="https://www.youtube.com/embed/ks5Tl9tnvWw" frameborder="0" allowfullscreen=""></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="video">
       <div class="first-banner" data-toggle="modal" data-target="#myModal">
       <img src="img/party/video.jpg" class="img-responsive"  />
       </div>
     </div>-->
            </div>
        </div>
    </section>
    
    <section id="corporate-section-1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 smaaash-content">
                    <h2>Corporate parties</h2>
                    <p>This is not a typical cozy on the couch office party, but filled with gaming adrenaline, sporting adventures, feasts galore and more.</p>
                </div>
                <div class="col-md-3 smaaash-content-1">
                    <img src="img/party/corporate.jpg" class="img-responsive" />
                </div>
                <div class="col-md-3 smaaash-content">
                    <h2>Corporate Game Night</h2>
                    <p>Build some camaraderie with your colleagues as you play some amazing virtual reality games, simulated sports and arcade classics to make it a thrilling night.</p>
                </div>
                <div class="col-md-3 smaaash-content-1">
                    <img src="img/party/game.jpg" class="img-responsive" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 smaaash-content-1">
                    <img src="img/party/team.jpg" class="img-responsive" />
                </div>
                <div class="col-md-3 smaaash-content">
                    <h2>Team Building/Outing</h2>
                    <p>Indulge in competitive games; enjoy the sporting spirit as your colleagues and you have some serious fun. Enjoy an out of the box team outing concept only at Smaaash.</p>
                </div>
                <div class="col-md-3 smaaash-content-1">
                    <img src="img/party/bowling.jpg" class="img-responsive" />
                </div>
                <div class="col-md-3 smaaash-content">
                    <h2>Office Bowling Night</h2>
                    <p>Enjoy bowling in twilight ambience, build some team spirit, sip on some drinks, gorge on scrumptious food and make it the perfect corporate bowling night.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 smaaash-content">
                    <h2>Team Lunch</h2>
                    <p>With an assortment of delicious food, delectable drinks and a great ambience, Smaaash is an amazing place to have your corporate lunch or cocktail dinner.</p>
                </div>
                <div class="col-md-3 smaaash-content-1">
                    <img src="img/party/lunch.jpg" class="img-responsive" />
                </div>
                <div class="col-md-3 smaaash-content">
                    <h2>HAPPY HOURS 
FOR THE TEAM</h2>
                    <p>Bond with your colleagues the right way – over happy hour drinks and scrumptious food. Perfect to get you into the gaming state of mind for a refreshing break from the everyday grind. </p>
                </div>
                <div class="col-md-3 smaaash-content-1">
                    <img src="img/party/happy.jpg" class="img-responsive" />
                </div>
            </div>
        </div>
    </section>
    
    <section id="corporate-section-4">
        <div class="section">
            <div class="container">
                <div class="row">
                    <h2>TOP GAMES & ATTRACTIONS</h2>
                    <div class="top-games-attraction">
                    <div class="col-md-3">
                        <ul>
                            <li>Go Karting</li>
                            <li>Cricket</li>
                            <li>Finger Coaster</li>
                            <li>Exterminator</li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul>
                            <li>X1 Simulator</li>
                            <li>Super Keeper</li>
                            <li>Trampoline Park</li>
                            <li>Walk the Plank</li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul>
                            <li>Bowling</li>
                            <li>Art Of Attack</li>
                            <li>Kids’ Indoor Play Area</li>
                            <li>Arcade Games</li>
                        </ul>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img src="img/party/logo1.png" />
                </div>
            </div>
            <!--<div class="row">
                <div class="col-md-6">
                    <div class="content">
                        <h4>BE THE FIRST ONE TO KNOW</h4>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="newsletter">
                        <form class="form-inline">
                            <input type="Email" class="form-control new-send" id="inlineFormInputName2" placeholder="">
                            <button type="submit" class="btn btn-primary">Send</button>
                        </form>
                    </div>
                </div>
            </div>-->
            
            
            <div class="row line">
                <div class="col-md-6 col-xs-6">
                    <div class="footer-left">
                        <a href="#">© {{template.year}} SMAAASH</a>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="footer-right">
                        <a href="http://ting.in" target="_blank"><span class="Designed-by">Designed by</span> <span class="logo_t"><img src=          "img/party/ting.png" height="30px"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
