    <section id="corporate-section">
        <div class="container-fluid main">
            <div class="row">
                <div class="col-md-7 feature">
                    <div class="corporate-party">
                        <img src="img/party/backgrd.png" />
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="smaash-emailer-form corporate-form">
                        <div class="birthday-parties"><img src="img/party/fom.png"></div>
                        <div class="birthday-parties1">
                            <p>CORPORATE PARTIES WITH A TWIST</p>
                        </div>
                        <form class="form-horizontal" action='https://crm.zoho.com/crm/WebToLeadForm' id="mform" name=WebToLeads2924822000000146013 method='POST' onSubmit='javascript:document.charset="UTF-8"; return checkMandatory()' accept-charset='UTF-8' style="color: #fff;">

            <input type=hidden name="returnURL" id="returnURL" value="https://smaaash.in/{{city}}/host-a-party/corporate-parties/thank-you">
            <input  id="00N6F00000GxzFA" maxlength="20" name="LEADCF17" size="20" type="hidden" class="leadid" />
            <input type='text' style='display:none;' name='xnQsjsdp' value='b5c41eca6212277da0c42d63de8b032b17dda6164a184653ea8f2923743bbff5'/>
            <input type='hidden' name='zc_gad' id='zc_gad' value=''/>
            <input type='text' style='display:none;' name='xmIwtLD' value='2ebd540b525c91e7a3c44ae5071724137493dfdaf1400e7279ee184725531d0a'/>
            <input type='text' style='display:none;'  name='actionType' value='TGVhZHM='/>

            

            <select id='lead_source' name='Lead Source' style='display:none'>
            <option selected='selected' value='Web 2 Lead'>Web 2 Lead</option>
            <option  value='Google'>Google</option>
            </select>
 


            <div class="form-group no_mar">
                          
              <label class="col-sm-2 col-md-3 col-xs-4  form_heading">Name</label>
              <div class="col-sm-10 col-md-8 col-xs-8 toplabelspacesmalldevice">
              <input  id="last_name" maxlength="40" name='Last Name' placeholder="" data-rule-required="true" class="form-control bottom_border" size="20" type="text" required />
              </div>
            </div>
                        
            <div class="form-group no_mar"> 
                <label class="col-sm-2 col-md-3 col-xs-4  form_heading">Email</label>
                <div class="col-sm-10 col-md-8 col-xs-8 toplabelspacesmalldevice">
                    <input  id="email" maxlength="80" name="Email" class="form-control bottom_border" data-rule-required="true" placeholder="" size="20" type="email" required/>
                </div>    
            </div>
            
            <div class="form-group no_mar">
              <label class="col-sm-2 col-md-3 col-xs-4 form_heading">Mobile</label>
              <div class="col-sm-10 col-md-8 col-xs-8 toplabelspacesmalldevice">
              <input  id="mobile" maxlength="40" name="Mobile" class="form-control bottom_border" data-rule-required="true" placeholder="" size="20" type="number" required/>
              </div>
            </div>

                   <div class="form-group no_mar">
              <label class="col-sm-2 col-md-3 col-xs-4 form_heading">Location</label>
              <div class="col-sm-10 col-md-8 col-xs-8 toplabelspacesmalldevice">
              <select  id="00N6F00000HgYNJ" name="LEADCF1" class="form-control bottom_border option-stylexhang cust wide" title="Sales Team Assigned" required>
                <option selected="selected" value='{{city}}'>{{city}}</option>
              </select>
              </div>
            </div>
        <div class="form-group no_mar">
            <select  id="00N6F00000FbWPi" name="LEADCF8" title="Sales Team Assigned" style="display: none;">
              <option selected="selected" value='{{city}}'>{{city}}</option>
              
            </select>
            </div>
            <!--<div class="form-group no_mar">
            <select  id="00N6F00000FbWPi" name="{{city}}" title="Sales Team Assigned">
              <option selected="selected" value='{{city}}'>{{city}}</option>
            </select>
            </div>-->

            <div class="form-group no_mar">
              <label class="col-sm-2 col-md-3 col-xs-4 form_heading">Type of Event</label>
              <div class="col-sm-10 col-md-8 col-xs-8 toplabelspacesmalldevice">
              <select id="00N6F00000Enqi8"  name="LEADCF2" class="form-control bottom_border option-stylexhang cust wide"><span class="people no_person" required>People</span> 
                   <option value="">Type of Event</option>
                    <option selected="selected" value="Corporate Conference">Corporate Conference</option>
                    <option value="Seminar &amp; Meeting">Seminar &amp; Meeting</option>
                    <option value="Birthday or Anniversary">Birthday or Anniversary</option>
                    <option value="Engagement, Wedding or Reception">Engagement, Wedding or Reception</option>
                    <option value="Exhibition or Musical Event">Exhibition or Musical Event</option>
                    <option value="Other Event">Other Event</option>
              </select>
              </div> 
            </div>


            <div class="form-group no_mar">
              <label class="col-sm-2 col-md-3 col-xs-4 form_heading">Party For</label>
              <div class="col-sm-10 col-md-8 col-xs-8 toplabelspacesmalldevice">
              <select id="00N6F00000EnggI"  name="LEADCF3" class="form-control bottom_border option-stylexhang cust wide" required>
                <option class="color_change" value=""  disabled="" selected=""> Please Select</option>
                <option class="color_change" value="15-50">15 to 50</option>
                <option class="color_change" value="50-100">50 to 100</option>
                <option class="color_change" value="100-300">100 to 300</option>
                <option class="color_change" value="300-500">300 to 500</option>
                <option class="color_change" value="500-700">500 to 700</option>
              </select>
              </div>
            </div>

            <div class="top_mar">
              <input type="submit" name="submit" class="btn btn-primary btn_design">
            </div>
          </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="mid-section-one">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12 col-xs-12">
<div class="mid-section-one-text-corporate">
<h1> Where the only target is fun!</h1>
<p>SMAAASH will get you floored with its extravagant virtual reality games, simulative sports, food and drinks, packaged to perfection for your corporate event. We’ll see to it that every facet of your occasion is looked after with meticulous care, from start to finish. R.I.P. boring corporate parties, welcome to Smaaash!  </p>
</div>
</div>
</div>
</div>
</section>
    <section id="corporate-section-3">
        <div class="container-fluid">
            <div class="row">
                <div class="first-banner" data-toggle="modal" data-target="#myModal">
                    <img src="img/party/video.jpg" alt="" class="img-responsive img_video" style="width: 100%;">
                </div>
                <div class="modal fade bs-example-modal-lg" id="myModal" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;">
                    <div class="modal-dialog modal-lg">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                            </div>
                            <div class="modal-body">
                                <iframe width="100%" height="400" src="https://www.youtube.com/embed/qpWI2kKFN5Q?autoplay=0"  frameborder="0" allowfullscreen="" autoplay=0></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="video">
       <div class="first-banner" data-toggle="modal" data-target="#myModal">
       <img src="img/party/video.jpg" class="img-responsive"  />
       </div>
     </div>-->
            </div>
        </div>
    </section>
    
    <section id="corporate-section-1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 smaaash-content">
                    <h2>Corporate parties</h2>
                    <p>This is not a typical cozy on the couch office party, but filled with gaming adrenaline, sporting adventures, feasts galore and more.</p>
                </div>
                <div class="col-md-3 smaaash-content-1">
                    <img src="img/party/corporate.jpg" class="img-responsive" />
                </div>
                <div class="col-md-3 smaaash-content">
                    <h2>Corporate Game Night</h2>
                    <p>Build some camaraderie with your colleagues as you play some amazing virtual reality games, simulated sports and arcade classics to make it a thrilling night.</p>
                </div>
                <div class="col-md-3 smaaash-content-1">
                    <img src="img/party/game.jpg" class="img-responsive" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 smaaash-content-1">
                    <img src="img/party/team.jpg" class="img-responsive" />
                </div>
                <div class="col-md-3 smaaash-content">
                    <h2>Team Building/Outing</h2>
                    <p>Indulge in competitive games; enjoy the sporting spirit as your colleagues and you have some serious fun. Enjoy an out of the box team outing concept only at Smaaash.</p>
                </div>
                <div class="col-md-3 smaaash-content-1">
                    <img src="img/party/bowling.jpg" class="img-responsive" />
                </div>
                <div class="col-md-3 smaaash-content">
                    <h2>Office Bowling Night</h2>
                    <p>Enjoy bowling in twilight ambience, build some team spirit, sip on some drinks, gorge on scrumptious food and make it the perfect corporate bowling night.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 smaaash-content">
                    <h2>Team Lunch</h2>
                    <p>With an assortment of delicious food, delectable drinks and a great ambience, Smaaash is an amazing place to have your corporate lunch or cocktail dinner.</p>
                </div>
                <div class="col-md-3 smaaash-content-1">
                    <img src="img/party/lunch.jpg" class="img-responsive" />
                </div>
                <div class="col-md-3 smaaash-content">
                    <h2>HAPPY HOURS 
FOR THE TEAM</h2>
                    <p>Bond with your colleagues the right way – over happy hour drinks and scrumptious food. Perfect to get you into the gaming state of mind for a refreshing break from the everyday grind. </p>
                </div>
                <div class="col-md-3 smaaash-content-1">
                    <img src="img/party/happy.jpg" class="img-responsive" />
                </div>
            </div>
        </div>
    </section>
    
    <section id="corporate-section-4">
        <div class="section">
            <div class="container">
                <div class="row">
                    <h2>TOP GAMES & ATTRACTIONS</h2>
                    <div class="top-games-attraction">
                    <div class="col-md-3 col-xs-4">
                        <ul>
                            <li>Go Karting</li>
                            <li>Cricket</li>
                            <li>Finger Coaster</li>
                            <li>Exterminator</li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-xs-4">
                        <ul>
                            <li>X1 Simulator</li>
                            <li>Super Keeper</li>
                            <li>Trampoline Park</li>
                            <li>Walk the Plank</li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-xs-4">
                        <ul>
                            <li>Bowling</li>
                            <li>Art Of Attack</li>
                            <li>Kids’ Indoor Play Area</li>
                            <li>Arcade Games</li>
                        </ul>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img src="img/party/logo1.png" />
                </div>
            </div>
            <div class="row" style="display:none">
                <div class="col-md-6">
                    <div class="content-party">
                        <h4>BE THE FIRST ONE TO KNOW</h4>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="newsletter">
                    <form class="form-horizontal form-inline" action='https://crm.zoho.com/crm/WebToLeadForm' id="mform" name=WebToLeads2924822000000146013 method='POST' onSubmit='javascript:document.charset="UTF-8"; return checkMandatory()' accept-charset='UTF-8' style="color: #fff;">
                     <input type=hidden name="returnURL" id="returnURL" value="http://pro.smaaash.in/team-outing-corporate-party-bengaluru/thanks.html">
            <input  id="00N6F00000GxzFA" maxlength="20" name="LEADCF17" size="20" type="hidden" class="leadid" />
            <input type='text' style='display:none;' name='xnQsjsdp' value='b5c41eca6212277da0c42d63de8b032b17dda6164a184653ea8f2923743bbff5'/>
            <input type='hidden' name='zc_gad' id='zc_gad' value=''/>
            <input type='text' style='display:none;' name='xmIwtLD' value='2ebd540b525c91e7a3c44ae5071724137493dfdaf1400e7279ee184725531d0a'/>
            <input type='text' style='display:none;'  name='actionType' value='TGVhZHM='/>

            

            <select id='lead_source' name='Lead Source' style='display:none'>
            <option selected='selected' value='Web 2 Lead'>Web 2 Lead</option>
            <option value='Google'>Google</option>
            </select>
                        
                             <input  id="email" maxlength="80" name="Email" class="form-control bottom_border new-send" data-rule-required="true" placeholder="" size="20" type="email" required/>
                            <button type="submit" class="btn btn-primary">Send</button>
                        </form>
                    </div>
                </div>
            </div>
            
            
            <div class="row line">
                <div class="col-md-6 col-xs-6">
                    <div class="footer-left">
                        <a href="#">© {{template.year}} SMAAASH</a>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="footer-right">
                        <a href="http://ting.in" target="_blank"><span class="Designed-by">Designed by</span> <span class="logo_t"><img src=          "img/party/ting.png" height="30px"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- //TO GENERATE LEAD IS -->

<script>
    // $( document ).ready(function() {
    //   $('#mform').validate();

    //function leadId(m){
    // Generate Lead Id
    var d = new Date();
    var n = Math.floor(Math.random() * 90 + 10) + d.valueOf();
    document.getElementById("returnURL").value = document.getElementById("returnURL").value + "?lead_id=" + n;
    $(".leadid").val(n);
        //}


        // });

</script>