<div class="avatar">
    <a href="" class="close text-uppercase brand-white" ng-click="$dismiss();"><img src="img/new/close-popup.png" class="img-responsive" alt=""></a>
      <div class="avatar-box text-center">
          <div class="row-flex">
              <div class="col-flex" ng-click="getAvtar('583c0c54ace35247109b2a27.png')" >
 <div class="avatars pointer">
</div>
              </div>
              <div class="col-flex" ng-click="getAvtar('583c0cbaace35247109b2a32.png')">
<div class="avatarss pointer">
</div>
              </div>
          </div>
          <div class="row-flex">
              <div class="col-flex" ng-click="getAvtar('583c0d42ace35247109b2a42.png')">
<div class="avatars1 pointer">
</div>
              </div>
              <div class="col-flex" ng-click="getAvtar('583c0951ace35247109b29c0.png')">
   <div class="avatarss1 pointer">
</div>
              </div>
          </div>
        <div class="row-flex">
            <div class="col-flex" ng-click="getAvtar('583c0cf0ace35247109b2a39.png')">
<div class="avatars2 pointer">
</div>
            </div>
            <div class="col-flex" ng-click="getAvtar('583c0d77ace35247109b2a49.png')">
                   <div class="avatarss2 pointer">
</div>
                </div>
                </div>



</div>



</div>
