<div class="avatar">
    <a href="" class="close text-uppercase brand-white" ng-click="$dismiss();"><img src="img/new/close-popup.png" class="img-responsive" alt=""></a>
      <div class="avatar-box text-center">
          <div class="row-flex">
              <div class="col-flex">
 <div class="avatars pointer">
</div>
              </div>
              <div class="col-flex">
<div class="avatarss pointer">
</div>
              </div>
          </div>
          <div class="row-flex">
              <div class="col-flex">
<div class="avatars1 pointer">
</div>
              </div>
              <div class="col-flex">
   <div class="avatarss1 pointer">
</div>
              </div>
          </div>
        <div class="row-flex">
            <div class="col-flex">
<div class="avatars2 pointer">
</div>
            </div>
            <div class="col-flex">
                   <div class="avatarss2 pointer">
</div>
                </div>
                </div> 



</div>



</div>

        
