<div class="avatar">
    <a href="" class="close text-uppercase brand-white" ng-click="$dismiss();"><img src="img/new/close-popup.png" class="img-responsive" alt=""></a>
      <div class="avatar-box text-center">
          <div class="avt">

<div class="avatars1 pointer">
</div>
</div>
<div class="avt">
    <div class="avatars2 pointer">
</div>
</div>
 <div class="avt">

<div class="avatars3 pointer">
</div>
</div>
<div class="avt">
    <div class="avatars4 pointer">
</div>
</div>
 <div class="avt">

<div class="avatars5 pointer">
</div>
</div>
<div class="avt">
    <div class="avatars6 pointer">
</div>
</div>
          </div>
          </div>
