<!-- <div class="enquiry-form brand-purple">
  <div ng-if="!formComplete">
   <h2 class="uppercase title brand-white">enquiry</h2>
   <a href="" class="close text-uppercase brand-white" ng-click="$dismiss();">close</a>
   <form  class=" form enquires" name="enquiryForm" ng-submit="formSubmit(enquiryData)">
       <div class="form-group">
        <a href=""><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
        <select class="form-control" >
               <option ng-selected="true" value="0" ng-repeat="data in getCities">Select City</option>

            </select>
      </div>
      <div class="form-group">
         <input type="text" class="form-control" placeholder="User Name" name="name"  ng-model="enquiryData.name" required>
         <div class="error-msg" ng-show="enquiryForm.name.$error.required && enquiryForm.name.$touched">Please Enter Your User Name</div>
      </div>
      <div class="form-group">
         <input type="email" class="form-control" placeholder="Email Id" name="email" ng-model="enquiryData.email" required>
         <div class="error-msg" ng-show="enquiryForm.email.$error.required && enquiryForm.email.$touched">Please Enter Your Email ID</div>
      </div>
      <div class="form-group">
         <input type="text" class="form-control" placeholder="Mobile no." name="mobile" ng-model="enquiryData.mobile" required>
         <div class="error-msg" ng-show="enquiryForm.mobile.$error.required && enquiryForm.mobile.$touched">Please enter your mobile no. </div>
      </div>
      <div class="form-group">
        <a href=""><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
        <select class="form-control" >
               <option ng-selected="true" value="0">Party For</option>
               <option value="1">20-100 people</option>
               <option value="2">50-1000 people</option>
               <option value="3">150-1500 people</option>
            </select>
      </div>

    <button  type="submit" name="button"><img src="img/new/go.png" alt=""></button>
   </form>
   </div>
   <div ng-if="formComplete" class="text-center"> Thank You.</div>
</div> -->








<div class="enquiry-form brand-purple">
  <div>
    <h2 class="uppercase title brand-white">enquiry</h2>
    <a href="" class="close text-uppercase mobile-close" ng-click="$dismiss();"><i class="fa fa-times" aria-hidden="true"></i>
</a>
    <form class=" form enquires" name="WebToLeads2924822000000146013" action="https://crm.zoho.com/crm/WebToLeadForm" method="POST"
      onSubmit='javascript:document.charset="UTF-8"; return checkMandatory()' accept-charset='UTF-8'>
      <!-- Do not remove this code. -->
      <input type='text' style='display:none;' name='xnQsjsdp' value='b5c41eca6212277da0c42d63de8b032b17dda6164a184653ea8f2923743bbff5'
      />
      <input type='hidden' name='zc_gad' id='zc_gad' value='' />
      <input type='text' style='display:none;' name='xmIwtLD' value='2ebd540b525c91e7a3c44ae5071724137493dfdaf1400e7279ee184725531d0a'
      />
      <input type='text' style='display:none;' name='actionType' value='TGVhZHM=' />


      <input type="hidden" name="returnURL" id="returnURL" value="http://smaaash.in/#thanks">
      <input id="LEADCF17" maxlength="20" name="LEADCF17" size="20" type="hidden" class="leadid" />
      <div class="form-group">
        <a href=""><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
        <select class="citydropdown form-control bottom_border" id="LEADCF8" name="LEADCF8" required>
                      <option class="color_change" value="{{citySpecificName}}">{{citySpecificName}}</option>

            </select>
      </div>

      <div class="form-group">
        <a href=""><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
        <select id='LEADCF2' name='LEADCF2' style='display:none' title='Type of Event'>
                <option selected='selected' value='{{partyName}}'>{{partyName}}</option>
              </select>

      </div>
      <div class="form-group">
        <select id="Lead Source" name="Lead Source" style="display:none">
<option value="Web 2 Lead"  selected="selected">Web 2 Lead</option>
<option value="Google">Google</option>
</select>

        <select id='LEADCF1' name='LEADCF1' style='display:none' title='Sales Team Assigned'>
                <option selected='selected' value="{{citySpecificName}}" ng-if="citySpecificName!='Gurgaon - Sector 29' && citySpecificName!='Gurgaon - Cyber Hub' ">{{citySpecificName}}</option>
                <option selected='selected' value="Gurgaon 1" ng-if="citySpecificName == 'Gurgaon - Sector 29'">Gurgaon 1</option>
                <option selected='selected' value="Gurgaon 2" ng-if="citySpecificName == 'Gurgaon - Cyber Hub'">Gurgaon 2</option>

                <!-- <option value='Gurgaon 2'>Gurgaon 2</option>
                <option value='Noida'>Noida</option>
                <option value='Ludhiana'>Ludhiana</option>
                <option value='Bangalore'>Bangalore</option>
                <option value='Hyderabad'>Hyderabad</option> -->
                </select>
      </div>
      <div class="form-group">
        <input id="Last Name" maxlength="40" name="Last Name" placeholder="Name" data-rule-required="true" class="form-control bottom_border"
          size="20" type="text" required />

      </div>
      <div class="form-group">
        <input id="Email" maxlength="80" name="Email" class="form-control bottom_border" placeholder="Email" data-rule-required="true"
          placeholder="" size="20" type="email" required/>

      </div>
      <div class="form-group">
        <input id="Mobile" maxlength="40" name="Mobile" placeholder="Mobile" class="form-control bottom_border" data-rule-required="true"
          placeholder="" size="20" type="tel" required/>

      </div>
      <div class="form-group">
        <a href=""><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
        <select id="LEADCF3" name="LEADCF3" class="form-control last_border">
                   <option class="color_change" value="" selected='selected'>Party For</option>
                   <option class="color_change" value="15-50">15 to 50</option>
                   <option class="color_change" value="50-100">50 to 100</option>
                   <option class="color_change" value="100-300">100 to 300</option>
                   <option class="color_change" value="300-500">300 to 500</option>
                   <option class="color_change" value="500-700">500 to 700</option>
        </select>
      </div>
      <button type="submit" name="button" class="brand-darkpink title"> <span class="brand-white">GO</span></button>
    </form>
  </div>

</div>
<!-- <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script> -->

<script>
  // $( document ).ready(function() {
  //   $('#mform').validate();

  //function leadId(m){
  // Generate Lead Id
  var d = new Date();
  var n = Math.floor(Math.random() * 90 + 10) + d.valueOf();
  document.getElementById("returnURL").value = document.getElementById("returnURL").value + "?lead_id=" + n;
  $(".leadid").val(n);
  //}


  // });

</script>