<div class="reset-password forgots enquiry-form">
     <a href="" class="close text-uppercase brand-white" ng-click="$dismiss();"><img src="img/new/close-popup.png" class="img-responsive" alt=""></a>
      <h2 class="title center brand-white">forgot password</h2>
<p>Enter your Id to help us identify you</p>
   <form  class="form" name="enquiryForm" ng-submit="formSubmit()">
      <div class="form-group">
         <input type="email" class="form-control" placeholder="Email address" >
      </div>
      <button type="submit" name="button"><img src="img/new/go.png" alt=""></button>
   </form>
<a href="">Return to sign in</a>
</div>