<div class="host-pop">
   <a href="" class="close text-uppercase brand-white" ng-click="$dismiss();"><img src="img/new/close-popup.png" class="img-responsive" alt=""></a>
<div class="get-call">
  <h3 class="text-center">get call</h3>
  <form action="" class="form">
    <div class="form-group relative">
                        <input type="text" class=" form-control" placeholder="Name" name="name" required>
                        <span class="required"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                     </div>
    <div class="form-group">
      <input type="tel" class="form-control" placeholder="Mobile no." required>
       <span class="required"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
    </div>
     <button type="submit" class=" btn-default block" ng-click="direction()"><img src="img/new/submit.png" class="img-responsive" alt=""></button>
  </form>
</div>
</div>
