<div class="host-pop">
  <a href="" class="close text-uppercase brand-white" ng-click="$dismiss();"><i class="fa fa-times" aria-hidden="true"></i></a>
<div class="get-call">
  <h3 class="text-center">get call</h3>
  <form action="" class="form">
    <div class="form-group relative">
                        <input type="text" class=" form-control" placeholder="Name" name="name" required>
                        <span class="required"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                     </div>
    <div class="form-group">
      <input type="tel" class="form-control" placeholder="Mobile no." required>
       <span class="required"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
    </div>
     <button type="submit" class="btn4  btn-default brand-yellow" ng-click="direction()"><span class="uppercase">submit</span></button>
  </form>
</div>
</div>
