<div class="gallery-grid">
    <div class="row">
        <div class="col-md-3">
            <a href="" fancybox-box>
                <img src="img/newest/sponsorthird.jpg" class="img-responsive" alt="">
            </a>
        </div>
        <div class="col-md-3">
            <a href="" fancybox-box>
                <img src="img/newest/sponsorthird.jpg" class="img-responsive" alt="">
            </a>
        </div>
        <div class="col-md-3">
            <a href="" fancybox-box>
                <img src="img/newest/sponsorthird.jpg" class="img-responsive" alt="">
            </a>
        </div>
        <div class="col-md-3">
            <a href="" fancybox-box>
                <img src="img/newest/sponsorthird.jpg" class="img-responsive" alt="">
            </a>
        </div>
    </div>
</div>