<div class="gallery-grid">
    <h3 class="title text-center">gallery</h3>
    <div class="close pull-right" ng-click="$close();">
        <i class="fa fa-times"></i>
    </div>
    <div class="new">
        <div class="row">
            <div class="col-md-3">
                <a href="img/food/restro.jpg" fancybox-box>
                    <img src="img/food/restro.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-md-3">
                <a href="img/food/restro.jpg" fancybox-box>
                    <img src="img/food/restro.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-md-3">
                <a href="img/food/restro.jpg" fancybox-box>
                    <img src="img/food/restro.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-md-3">
                <a href="img/food/restro.jpg" fancybox-box>
                    <img src="img/food/restro.jpg" class="img-responsive" alt="">
                </a>
            </div>
        </div>
    </div>

    <div class="new">
        <div class="row">
            <div class="col-md-3">
                <a href="img/food/restro.jpg" fancybox-box>
                    <img src="img/food/restro.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-md-3">
                <a href="img/food/restro.jpg" fancybox-box>
                    <img src="img/food/restro.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-md-3">
                <a href="img/food/restro.jpg" fancybox-box>
                    <img src="img/food/restro.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-md-3">
                <a href="img/food/restro.jpg" fancybox-box>
                    <img src="img/food/restro.jpg" class="img-responsive" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="new">
        <div class="row">
            <div class="col-md-3">
                <a href="img/food/restro.jpg" fancybox-box>
                    <img src="img/food/restro.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-md-3">
                <a href="img/food/restro.jpg" fancybox-box>
                    <img src="img/food/restro.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-md-3">
                <a href="img/food/restro.jpg" fancybox-box>
                    <img src="img/food/restro.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-md-3">
                <a href="img/food/restro.jpg" fancybox-box>
                    <img src="img/food/restro.jpg" class="img-responsive" alt="">
                </a>
            </div>
        </div>
    </div>
</div>