<div class="loyalty-points relative">
   <a href="" class="close text-uppercase " ng-click="$dismiss();"><i class="fa fa-times" aria-hidden="true"></i>
</a>
    <div class="points">
        <div class="row">
            <div class="col-md-6">
                <div class="sachin-virat">
                    <img src="img/new/loyal.png" class="img-responsive" alt="loyalty">
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="title brand-white">Loyalty Program</h3>
<p class="brand-white">Get rewarded every time you shop/spend at Smaaash. You add loyalty points to your repertoire which can be redeemed to Eat, Drink or Enjoy Awesome Games! Also, we keep you interested with many more benefits from free Games to discounts on restaurants. We’ll give you 1 FREE Game & a Welcome Drink just for signing up! To avail the benefit you must do 1 load/game play or place 1 order for F&B.</p>
            </div>
        </div>
    </div>
    <div class="triplet-buttons">
          <div class="more inline-block">
                    <button class="uppercase green "  >SMAAASH INSIDERS</button>
                </div>
                  <div class="more inline-block ">
                    <button class="uppercase green " >INSIDERS MILESTONES</button>
                </div>
                  <div class="more inline-block">
                    <button class="uppercase green "  >TERMS & CONDITIONS</button>
                </div>
    </div>
</div>