      <div class="side-menu-mobile">
          <a href="" class="close text-uppercase mobile-close" ng-click="$dismiss();"><i class="fa fa-times" aria-hidden="true"></i>
</a>
         <div class="login-signup relative">
                  <div class="signup">
                     <h3 class="uppercase">sign up</h3>
                     <form class="form" name="signUp" ng-if="!formCompleteSignup" ng-submit="signupGenerateOtp(signupData);">
                       <div class="login-mobile">
                        <div class="form-group">
                           <input type="text" class="form-control" placeholder="Your Complete Name" name="name" required ng-model="signupData.CustomerName">

                        </div>
                        <div class="form-group">
                           <input type="email" class="form-control" placeholder="Email ID" name="email" required ng-model="signupData.CustomerEmail">


                        </div>
                        <div class="form-group">
                           <input type="text" class="form-control" placeholder="Mobile .No" name="mobile" ng-model="signupData.CustomerMobile" required only-digits maxlength="10" minlength="10">


                        </div>
                        <div class="form-group ">
                             <span class="cityselect" ng-show="!signupData.CustomerAddress">Please select city</span>
                           <select name="categorydata" id="target" class="form-control" ng-model="signupData.CustomerAddress" required>
                             <!-- <option selected="selected" class="holder">Please select</option> -->
                              <!-- <option ng-selected="true" value="">Please select city</option> -->

                              <option value="{{d._id}}" ng-repeat="d in getCity">{{d.name}}</option>

                           </select>
                           <div class="error" ng-if="validCity">Please select city.</div>
                        </div>
                        <div class="form-group">
                           <input type="password" no-Paste class="form-control" placeholder="Password" name="password" required ng-model="signupData.CustomerPassword" minlength="8" maxlength="14">


                        </div>

                        <div class="form-group">
                           <input type="password" no-Paste class="form-control" placeholder="Re-Enter Password" name="confirmPassword" required ng-model="signupData.confirmPassword">
                           <div class="error-msg" ng-show="signUp.confirmPassword.$error.required && signUp.confirmPassword.$touched">Please Re-Enter Your Password</div>
                        </div>
                        <p class="error" ng-show="signUp.password.$invalid  && (signUp.password.$dirty || signUp.password.$touched)">Please enter Minimum 8 Characters & Maximum 14 Characters.</p>
                        <div class="error" ng-if="!pass">password doesn't match or It should be Minimum 8 Characters & Maximum 14 Characters.</div>

                        <div class="error" ng-if="customerEXist">Customer already exist or incorrect details.</div>



                        <div class="form-group">
                           <input type="text" class="form-control" placeholder="Enter Your Card.No" name="card" ng-model="signupData.cardno">
                        </div>
                        <h3 ng-if="isDisabled">Please Wait...</h3>
                       </div>
                        <button type="submit" class="btn4  btn-default brand-green" ng-if="!isDisabled"><span class="uppercase brand-white">sign up</span></button>

                        <!-- <button type="submit" class="btn4  btn-default brand-blue" ng-disabled="isDisabled"><span class="uppercase brand-white">sign up</span></button>
 -->

                     </form>
                     <div class="submit-thank" ng-if="formCompleteSignup">
                        <h3 class="text-center">Thank You</h3>
                     </div>
                  </div>
         </div>
      </div>