

<div class="host-pop"  ng-hide="submitform">
   <a href="" class="close text-uppercase brand-white" ng-click="$dismiss();"><img src="img/new/close-popup.png" class="img-responsive" alt=""></a>
<div class="get-call">
  <h3 class="text-center">You will get one time password within 5 mins</h3>
  <form  class="form">
    <div class="form-group relative">
                        <input type="text" class=" form-control" placeholder="Please Enter OTP here">
                        <!--<span class="required"><i class="fa fa-asterisk" aria-hidden="true"></i></span>-->
                     </div>
     <button type="submit" class=" btn-default block" ><img src="img/new/submit.png" class="img-responsive" alt=""></button>
  </form>
</div>

</div>
