<div class="backdroped" ng-if="city" ng-click="toggleCity()">
    <div class="smaaash-cities">
        <h2 class="title center brand-white">select your city</h2>
        <a class="cross" href="">
            <i class="fa fa-2x fa-times" aria-hidden="true"></i>
        </a>
        <div class="city-types">
            <ul class="list">
                <li ng-repeat="city in getCity">

                    <a ng-click="getCityName(city)"><img ng-src="{{city.image|uploadpath}}" class="img-responsive" alt=""></a>
                </li>
            </ul>
        </div>
        {{currentdate|date:'h:mm a'}}|{{currentdate|date:'d LLLL yyyy'}}
    </div>
</div>
