<div class="times-prime">
    <div class="close-modal">
        <!--<i class=" fa fa-times-circle " aria-hidden="true "></i>-->
    </div>
    <div class="container-fluid">
        <h2 class="title center">TIMES PRIME MEMBER</h2>
        <p class="text-center">PLEASE ENTER YOUR MOBILE NUMBER TO GET VALIDATED</p>
        <form class="form times-form" name="times-form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="* Mobile Number" ng-model="credentialstoReset.CustMobile" required>
                <span ng-if="!validMobile">You are not Times Prime User</span>
            </div>
            <div>
                <!--<ui-select ng-model="credentialstoReset.smaaashCity" theme="selectize" ng-disabled="ctrl.disabled" title="Choose a country">
                    <ui-select-match placeholder="Select your city">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="city in smaaashCities">
                        <span ng-bind-html="city.name"></span>
                        <small ng-bind-html="city.code"></small>
                    </ui-select-choices>
                </ui-select>-->
                <div class="city-dropdown" ng-click="test()">
                    <input type="text" class="form-control" ng-model="credentialstoReset.smaaashCity" name="keyword" placeholder="Select your city"  readonly required> <span class="caret"></span>
                   
                </div>
                 <span ng-if="!credentialstoReset.smaaashCity&&cityRequired" >City Required</span>
                <div class="city-dropdown-name" ng-if="showList == true">
                    <ul class="list-unstyled city-select">

                        <li class="search-item" ng-repeat="city in smaaashCities">
                            <p class="text-wrapper" ng-click="test2(city)">{{city.name}}</p>
                        </li>

                    </ul>

                    <!--<select class="form-control" ng-model="credentialstoReset.smaaashCity" ng-options="city.name for city in smaaashCities" required> <option value="" disabled selected>Select your city</option></select>-->
                </div>

                <div class="text-center times-go">
                    <button class="uppercase white" ng-click="validateMobile(credentialstoReset)">Go</button>
                </div>
        </form>
        </div>
    </div>