<div class="times-prime">
    <div class="close-modal" ng-click="$dismiss()">
        <i class=" fa fa-times-circle " aria-hidden="true "></i>
    </div>
    <div class="container-fluid">
        <h2 class="title center">TIMES PRIME MEMBER</h2>
        <p class="text-center">PLEASE ENTER YOUR MOBILE NUMBER TO GET VALIDATED</p>
        <form class="form times-form" name="times-form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="* Mobile Number" ng-model="credentialstoReset.CustomerMobileNo" required>
            </div>
            <div class="text-center times-go">
                <button class="uppercase white" ng-click="validateMobile(credentialstoReset)">Go</button>
            </div>
        </form>
    </div>
</div>