<section id="smaaash-emailer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-xs-12">
                <div class="smaash-emailer-content">
                    <img src="img/birthday-party/smaaash-main-banner.jpg">
                </div>
            </div>
            <div class="col-lg-5 col-md-6 col-xs-12 new-border">
                <div class="smaash-emailer-form-1">
                    <div class="birthday-parties"><img src="img/birthday-party/birthday-party.png"></div>
                    <div class="birthday-parties2">
                        <h1>THANK YOU!</h1>
                    </div>
                    <div class="birthday-parties1">
                        <p>We appreciate your keenness in hosting your bash at SMAAASH. We’ll get back to you within one working
                            day for sure.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="mid-section-one">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="mid-section-one-text">
                    <h1> WE JUST NEED AN EXCUSE TO FILL YOUR LIFE WITH THRILLS</h1>
                    <p>Boring birthdays meet their demise at Smaaash. Because when it comes to birthday parties we believe in
                        delivering nothing less than a jaw-dropping, adrenaline-pumping, delicious food fueled experience
                        guaranteed to stay with you and your guests forever. So whether you're an adult or a kid, we can
                        promise you've never experienced anything quite like a Smaaash birthday bash!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="mid-section-two">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 feature feature-one">
                <img src="img/birthday-party/feast.jpg" alt="" class="img-responsive" style="width: 100%;">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 feature feature-two">
                <img src="img/birthday-party/play.jpg" alt="" class="img-responsive" style="width: 100%;">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 feature feature-three">
                <img src="img/birthday-party/drink.jpg" alt="" class="img-responsive" style="width: 100%;">
            </div>
        </div>
    </div>
</section>
<section id="corporate-clients">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="corporate-clients">
                    <h1>Some Corporates Who Have Celebrated With Us</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <slick infinite=true slides-to-show=4 slides-to-scroll=4>
                <div> <img src="img/birthday-party/micro.png" /></div>
                <div> <img src="img/birthday-party/google.png" /></div>
                <div> <img src="img/birthday-party/delo.png" /></div>
                <div> <img src="img/birthday-party/acc.png" /> </div>
                <div> <img src="img/birthday-party/hdfc.png" /></div>
                <div> <img src="img/birthday-party/ae.png" /></div>
                <div> <img src="img/birthday-party/aditya.png" /></div>
            </slick>
        </div>
    </div>
</section>
<section id="corporate-section-3">
    <div class="container-fluid">
        <div class="row">
            <div class="first-banner" data-toggle="modal" data-target="#myModal">
                <img src="img/birthday-party/video.jpg" alt="" class="img-responsive img_video" style="width: 100%;">
            </div>
            <div class="modal fade bs-example-modal-lg" id="myModal" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;">
                <div class="modal-dialog modal-lg">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">×</button>
                        </div>
                        <div class="modal-body">
                            <iframe width="100%" height="400" src="https://www.youtube.com/embed/qpWI2kKFN5Q?autoplay=0" frameborder="0" allowfullscreen=""
                                autoplay=0></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="video">
       <div class="first-banner" data-toggle="modal" data-target="#myModal">
       <img src="img/birthday-party/video.jpg" class="img-responsive"  />
       </div>
     </div>-->
        </div>
    </div>
</section>
<section id="smaaash-footer-iamges">
    <div class="container-fluid for-footer-img">
        <div class="row">
            <div class="col-md-3 col-sm-6 smaaash-content">
                <img src="img/birthday-party/img-1.jpg" class="img-responsive">
            </div>
            <div class="col-md-3 col-sm-6 smaaash-content">
                <img src="img/birthday-party/img-2.jpg" class="img-responsive">
            </div>
            <div class="col-md-3 col-sm-6 smaaash-content">
                <img src="img/birthday-party/img-3.jpg" class="img-responsive">
            </div>
            <div class="col-md-3 col-sm-6 smaaash-content">
                <img src="img/birthday-party/img-4.jpg" class="img-responsive">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 smaaash-content1">
                <img src="img/birthday-party/img-5.jpg" class="img-responsive">
            </div>
            <div class="col-md-3 col-sm-6 smaaash-content1">
                <img src="img/birthday-party/img-6.jpg" class="img-responsive">
            </div>
            <div class="col-md-3 col-sm-6 smaaash-content1">
                <img src="img/birthday-party/img-7.jpg" class="img-responsive">
            </div>
            <div class="col-md-3 col-sm-6 smaaash-content1">
                <img src="img/birthday-party/img-8.jpg" class="img-responsive">
            </div>
        </div>
    </div>
</section>
<section id="mid-section-four">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="mid-section-four-text">
                    <h1>WORLD CLASS URBAN SPORTS PARK</h1>
                    <p>26 centres, 13 cities full-fledged thrill and chill zone for family and friends. Welcome to the next
                        level of incredible entertainment.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="footer-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="img/birthday-party/logo1.png">
            </div>
        </div>
        <!--<div class="row">
                <div class="col-md-6">
                    <div class="content">
                        <h4>BE THE FIRST ONE TO KNOW</h4>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="newsletter">
                    <form class="form-horizontal form-inline" action="https://crm.zoho.com/crm/WebToLeadForm" id="mform" name="WebToLeads2924822000000146013" method="POST" onsubmit="javascript:document.charset=&quot;UTF-8&quot;; return checkMandatory()" accept-charset="UTF-8" style="color: #fff;">
                     <input type="hidden" name="returnURL" id="returnURL" value="http://pro.smaaash.in/team-outing-corporate-party-bengaluru/thanks.html">
            <input id="00N6F00000GxzFA" maxlength="20" name="LEADCF17" size="20" type="hidden" class="leadid" value="1519899620015">
            <input type="text" style="display:none;" name="xnQsjsdp" value="b5c41eca6212277da0c42d63de8b032b17dda6164a184653ea8f2923743bbff5">
            <input type="hidden" name="zc_gad" id="zc_gad" value="">
            <input type="text" style="display:none;" name="xmIwtLD" value="2ebd540b525c91e7a3c44ae5071724137493dfdaf1400e7279ee184725531d0a">
            <input type="text" style="display:none;" name="actionType" value="TGVhZHM=">

            

            <select id="lead_source" name="Lead Source" style="display:none">
            <option value="Web 2 Lead">Web 2 Lead</option>
            <option selected="selected" value="Google">Google</option>
            </select>
                        
                             <input id="email" maxlength="80" name="Email" class="form-control bottom_border new-send" data-rule-required="true" placeholder="" size="20" type="email" required>
                            <button type="submit" class="btn btn-primary">Send</button>
                        </form>
                    </div>
                </div>
            </div>-->
        <div class="row line">
            <div class="col-md-6 col-xs-6">
                <div class="footer-left">
                    <a href="#">© 2017 SMAAASH</a>
                </div>
            </div>
            <div class="col-md-6 col-xs-6">
                <div class="footer-right">
                    <a href="http://ting.in" target="_blank"><span class="Designed-by">Designed by</span> <span class="logo_t"><img src="img/birthday-party/ting.png" height="30px"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>