
<section id="smaaash-emailer">
<div class="container-fluid">
<div class="row">
<div class="col-lg-7 col-md-6 col-xs-12 no-padd">
<div class="smaash-emailer-content">
<img src="img/team-management/smaaash-main-banner.jpg">
</div>
</div>

<div class="col-lg-5 col-md-6 col-xs-12 new-border">

<div class="smaash-emailer-form-1">
<div class="birthday-parties"><img src="img/team-management/smaaash-logo-footer.png"></div>
<div class="birthday-parties2"><h1>THANK YOU!</h1></div>
<div class="birthday-parties1"><p>We appreciate your keenness in hosting your bash at SMAAASH. We’ll get back to you within one working day for sure.</p></div>

</div>
</div>
</div>
</div>
</section>  
<section id="target-fun">
<div class="target-fun">
 <h2>Where the only target is fun!</h2>
 <div class="container">
 <div class="row">
 <div class="col-lg-12">
 <div class="target-fun-1">
 <p>SMAAASH will get you floored with its extravagant virtual reality games, simulative sport, food and drinks, packaged to perfection for your corporate event. We’ll see to it that every facet of your occasion is looked after with meticulous care, from start to finish. R.I.P. boring corporate parties, welcome to Smaaash!</p>
 </div>
 </div>
 <div class="col-lg-12">
  <div class="target-fun-6">
 <div class="panel-group" id="accordion">
   
    <div class="panel panel-default">
        <div class="panel-heading">
             <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#panel2"><i class="glyphicon glyphicon-plus"></i>CORPORATE/COMPANY PARTY</a>
            </h4>

        </div>
        <div id="panel2" class="panel-collapse collapse">
            <div class="panel-body">
            <p>Picnics are best enjoyed at gaming paradises, and what better place than SMAAASH to have a blast. Book in advance and enjoy special packages on games, food and drinks.
</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
             <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#panel3"><i class="glyphicon glyphicon-plus"></i>EMPLOYEE & APPRECIATION EVENT</a>
            </h4>

        </div>
        <div id="panel3" class="panel-collapse collapse">
            <div class="panel-body">
            <p>Picnics are best enjoyed at gaming paradises, and what better place than SMAAASH to have a blast. Book in advance and enjoy special packages on games, food and drinks.
</p>
            </div>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
             <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#panel4"><i class="glyphicon glyphicon-plus"></i>HAPPY HOURS & HAVE FUN EVENTS</a>
            </h4>

        </div>
        <div id="panel4" class="panel-collapse collapse">
            <div class="panel-body">
            <p>Picnics are best enjoyed at gaming paradises, and what better place than SMAAASH to have a blast. Book in advance and enjoy special packages on games, food and drinks.
</p>
            </div>
        </div>
    </div>
    
    
    <div class="panel panel-default">
        <div class="panel-heading">
             <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#panel5"><i class="glyphicon glyphicon-plus"></i>TEAM OUTING & PARTY EVENTS</a>
            </h4>

        </div>
        <div id="panel5" class="panel-collapse collapse">
            <div class="panel-body">
            <p>Picnics are best enjoyed at gaming paradises, and what better place than SMAAASH to have a blast. Book in advance and enjoy special packages on games, food and drinks.
</p>
            </div>
        </div>
    </div>
    
    
    
    <div class="panel panel-default">
        <div class="panel-heading">
             <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#panel6"><i class="glyphicon glyphicon-plus"></i>COMPANY PICNIC & STAFF RETREATS</a>
            </h4>

        </div>
        <div id="panel6" class="panel-collapse collapse">
            <div class="panel-body">
            <p>Picnics are best enjoyed at gaming paradises, and what better place than SMAAASH to have a blast. Book in advance and enjoy special packages on games, food and drinks.
</p>
            </div>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
             <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#panel7"><i class="glyphicon glyphicon-minus"></i>HOLIDAY PARTIES</a>
            </h4>

        </div>
        <div id="panel7" class="panel-collapse collapse in">
            <div class="panel-body">
            <p>Picnics are best enjoyed at gaming paradises, and what better place than SMAAASH to have a blast. Book in advance and enjoy special packages on games, food and drinks.
</p>
            </div>
        </div>
    </div>
    
</div>
</div>
 </div>
 </div>
 </div>
</div>
</section>
<section id="mid-section-two">
<div class="container-fluid">
<div class="row">
      
      <div class="col-lg-4 col-md-4 col-sm-4 feature feature-one">
        <img src="img/team-management/feast.jpg" alt="" class="img-responsive" style="width: 100%;">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 feature feature-two">
         <img src="img/team-management/play.jpg" alt="" class="img-responsive" style="width: 100%;">
      </div>
       <div class="col-lg-4 col-md-4 col-sm-4 feature feature-three">
         <img src="img/team-management/drink.jpg" alt="" class="img-responsive" style="width: 100%;">
      </div>
  
    </div>
</div>
</section>



<section id="corporate-section-3">
        <div class="container-fluid">
            <div class="row">
                <div class="first-banner" data-toggle="modal" data-target="#myModal">
                    <img src="img/team-management/video.jpg" alt="" class="img-responsive img_video" style="width: 100%;">
                </div>
                <div class="modal fade bs-example-modal-lg" id="myModal" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;">
                    <div class="modal-dialog modal-lg">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                            </div>
                            <div class="modal-body">
                                <iframe width="100%" height="400" src="https://www.youtube.com/embed/qpWI2kKFN5Q?autoplay=0"  frameborder="0" allowfullscreen="" autoplay=0></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="video">
       <div class="first-banner" data-toggle="modal" data-target="#myModal">
       <img src="img/team-management/video.jpg" class="img-responsive"  />
       </div>
     </div>-->
            </div>
        </div>
    </section>



<section id="corporate-section-4">
        <div class="section">
            <div class="container">
                <div class="row">
                    <h2>TOP GAMES &amp; ATTRACTIONS</h2>
                    <div class="top-games-attraction">
                    <div class="col-md-3 col-xs-4">
                        <ul>
                            <li>Go Karting</li>
                            <li>Cricket</li>
                            <li>Finger Coaster</li>
                            <li>Exterminator</li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-xs-4">
                        <ul>
                            <li>X1 Simulator</li>
                            <li>Super Keeper</li>
                            <li>Trampoline Park</li>
                            <li>Walk the Plank</li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-xs-4">
                        <ul>
                            <li>Bowling</li>
                            <li>Art Of Attack</li>
                            <li>Kids’ Indoor Play Area</li>
                            <li>Arcade Games</li>
                        </ul>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<section id="corporate-clients">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="corporate-clients">
<h1>Some Corporates Who Have Celebrated With Us</h1>
</div>
</div>
</div>
<div class="row">
                   <slick infinite=true slides-to-show=4 slides-to-scroll=4>
    <div> <img src="img/birthday-party/micro.png" /></div>
                            <div> <img src="img/birthday-party/google.png" /></div>
                            <div> <img src="img/birthday-party/delo.png" /></div>
                            <div> <img src="img/birthday-party/acc.png" /> </div>
                            <div> <img src="img/birthday-party/hdfc.png" /></div>
                            <div> <img src="img/birthday-party/ae.png" /></div>
                            <div> <img src="img/birthday-party/aditya.png" /></div>
    </slick>
                </div>
</div>
</section>
<div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img src="img/team-management/logo1.png">
                </div>
            </div>
            <!--<div class="row">
                <div class="col-md-6">
                    <div class="content">
                        <h4>BE THE FIRST ONE TO KNOW</h4>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="newsletter">
                    <form class="form-horizontal form-inline" action="https://crm.zoho.com/crm/WebToLeadForm" id="mform" name="WebToLeads2924822000000146013" method="POST" onsubmit="javascript:document.charset=&quot;UTF-8&quot;; return checkMandatory()" accept-charset="UTF-8" style="color: #fff;">
                     <input type="hidden" name="returnURL" id="returnURL" value="http://pro.smaaash.in/team-outing-corporate-party-bengaluru/thanks.html">
            <input id="00N6F00000GxzFA" maxlength="20" name="LEADCF17" size="20" type="hidden" class="leadid" value="1519899620015">
            <input type="text" style="display:none;" name="xnQsjsdp" value="b5c41eca6212277da0c42d63de8b032b17dda6164a184653ea8f2923743bbff5">
            <input type="hidden" name="zc_gad" id="zc_gad" value="">
            <input type="text" style="display:none;" name="xmIwtLD" value="2ebd540b525c91e7a3c44ae5071724137493dfdaf1400e7279ee184725531d0a">
            <input type="text" style="display:none;" name="actionType" value="TGVhZHM=">

            

            <select id="lead_source" name="Lead Source" style="display:none">
            <option value="Web 2 Lead">Web 2 Lead</option>
            <option selected="selected" value="Google">Google</option>
            </select>
                        
                             <input id="email1" maxlength="80" name="Email" class="form-control bottom_border new-send" data-rule-required="true" placeholder="" size="20" type="email" required>
                            <button type="submit" class="btn btn-primary">Send</button>
                        </form>
                    </div>
                </div>
            </div>-->
            
            
            <div class="row line">
                <div class="col-md-6 col-xs-6">
                    <div class="footer-left">
                        <a href="#">© 2017 SMAAASH</a>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="footer-right">
                        <a href="http://ting.in" target="_blank"><span class="Designed-by">Designed by</span> <span class="logo_t"><img src="img/team-management/ting.png" height="30px"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
