
    <section id="smaaash-emailer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-xs-12 no-pad-junior">
                    <div class="smaash-emailer-content">
                        <img src="img/party/banner-junior.jpg">
                    </div>
                </div>

                <div class="col-lg-5 col-md-6 col-xs-12 new-border">

                    <div class="smaash-emailer-form-junior">
                        <div class="birthday-parties"><img src="img/party/logo.png"></div>
                        <div class="birthday-parties1">
                            <h1>THANK YOU!</h1>
                        </div>
                        <div class="birthday-parties1"><p>We appreciate your keenness in hosting your bash at SMAAASH. We’ll get back to you within one working day for sure.</p></div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="mid-section-one-junior">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12">
                    <div class="mid-section-one-text">

                        <p>
                            Smaaash Junior is a fun-fuelled entertainment zone for your kids. Your child spent up energy will transform into creative playtime here, with a host of innovative rides and slides. A Special food and dessert menu for children, will have their lips smacking after all the exertion. Parties or casual outings with your little ones, we have it all covered here</p>
                        <p><b>
                            TUBULAR SLIDE | CANNON SHOOTING | NETTED TUNNEL | PADDED BRIDGE | SPINNING PALM TREE | SEE SAW CARS CAROUSEL | ROLLER SLIDE | TRAMPOLINE  </b></p>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="mid-section-three-junior">
        <div class="container-fluid">

            <div class="row">

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-pad-junior">
                    <div class="kids">
                        <img src="img/party/img1.jpg" alt="Special kids Menu" class="img-responsive">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-pad-junior">
                    <div class="kids">
                        <img src="img/party/img2.jpg" alt="kids favorite party place" class="img-responsive">
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section id="mid-section-four-junior">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 no-pad-junior">
                    <div class="mid-section-four-text">
                        <img src="img/party/img3.jpg" alt="kids favorite party place" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </section>

<div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img src="img/party/logo.png">
                </div>
            </div>
            <!--<div class="row">
                <div class="col-md-6">
                    <div class="content">
                        <h4>BE THE FIRST ONE TO KNOW</h4>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="newsletter">
                    <form class="form-horizontal form-inline" action="https://crm.zoho.com/crm/WebToLeadForm" id="mform" name="WebToLeads2924822000000146013" method="POST" onsubmit="javascript:document.charset=&quot;UTF-8&quot;; return checkMandatory()" accept-charset="UTF-8" style="color: #fff;">
                     <input type="hidden" name="returnURL" id="returnURL" value="http://pro.smaaash.in/team-outing-corporate-party-bengaluru/thanks.html">
            <input id="00N6F00000GxzFA" maxlength="20" name="LEADCF17" size="20" type="hidden" class="leadid" value="1520327926675">
            <input type="text" style="display:none;" name="xnQsjsdp" value="b5c41eca6212277da0c42d63de8b032b17dda6164a184653ea8f2923743bbff5">
            <input type="hidden" name="zc_gad" id="zc_gad" value="">
            <input type="text" style="display:none;" name="xmIwtLD" value="2ebd540b525c91e7a3c44ae5071724137493dfdaf1400e7279ee184725531d0a">
            <input type="text" style="display:none;" name="actionType" value="TGVhZHM=">

            

            <select id="lead_source" name="Lead Source" style="display:none">
            <option value="Web 2 Lead">Web 2 Lead</option>
            <option selected="selected" value="Google">Google</option>
            </select>
                        
                             <input id="email" maxlength="80" name="Email" class="form-control bottom_border new-send" data-rule-required="true" placeholder="" size="20" type="email" required>
                            <button type="submit" class="btn btn-primary">Send</button>
                        </form>
                    </div>
                </div>
            </div>-->
            
            
            <div class="row line">
                <div class="col-md-6 col-xs-6">
                    <div class="footer-left">
                        <a href="#">© 2017 SMAAASH</a>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="footer-right">
                        <a href="http://ting.in" target="_blank"><span class="Designed-by">Designed by</span> <span class="logo_t"><img src="img/party/ting.png" height="30px"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>